.input-full-width {
    width: 100%;
}

h5 {
    font-weight: bold;
}

.box {
    height: 60px;
}
::ng-deep .mat-input-element::placeholder {
    font-size: 9px; /* Your desired font size */
}
.mat-form-field label {
    font-size: 9px; /* When it is normal */
    font-family: 'Arial', sans-serif; /* Set your desired font family */
  }
  
  .mat-form-field.mat-form-field-should-float label {
    font-size: 10px; /* When it floats up and gets smaller */
  }
  
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

md-expansion-panel {
    margin: 0.5%;
}

ul li div i, ul li p {
    display: inline-block;
}

ul li div i {
    height: 15px;
    width: 15px;
}

.span {
    margin-left: 5px;
}

.button-status-disabled[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
    color: white;
    background-color: #336CFB !important;
  }

.full-width-status {
    margin-top: 5px;
    margin-bottom: 10px;
    height: 35px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.05em;
    margin-left: 5px;
  }
.abnormal {
    color: red
}
.custom-disabled-button {
    color: white;
    background-color: blue;
  }
.fontawesomesvg {
    width: 1em;
    height: 1em;
    vertical-align: -.125em;
  }
  .col-lg-4{
    width: 31.2%
  }
  .ng-tns-font{
    font-weight: 600 !important;
    font-family: SF-UI-Display-Regular, "Helvetica Neue", sans-serif;
    font-size: 15px !important;
    margin-bottom: -5px !important;
}