<div class="container-fluid">
  <div class="row m-t-10">
    <div class="col-xs-8 col-sm-6 col-md-4 fit_to_content">
      <div class="sw">
        <input
          type="search"
          class="search"
          autocomplete="off"
          placeholder="{{ current_language_set?.common?.inTableSearch }}"
          name="filterTerm"
          [(ngModel)]="filterTerm"
          (keyup)="filterBeneficiaryList(filterTerm)"
        />
        <button class="go" (click)="filterBeneficiaryList(filterTerm)">
          <span class="material-icons">search</span>
        </button>
      </div>
    </div>
    <div class="col-xs-4 col-sm-6 col-md-8 fit_to_content">
      <button
        mat-raised-button
        id="caseSheetButton"
        style="display: none"
        [disabled]="true"
        class="btn btn-link pull-right button-overall-disabled"
      >
        {{ current_language_set?.bendetails?.emergencyCaseSheet }}
      </button>
      <button
        mat-raised-button
        class="pull-right mat_blue"
        color="primary"
        id="refresh"
        (click)="loadWorklist()"
      >
        {{ current_language_set?.common?.refresh }}
      </button>
    </div>
  </div>

  <div class="row m-t-10 m-b-40">
    <div class="col-sm-12">
      <mat-card>
        <section class="" style="padding-bottom: 30px">
          <div class="">
            <table
              mat-table
              [dataSource]="dataSource"
              class="table table-striped"
              aria-describedby="EmergencyCaseSheetTbl"
            >
              <ng-container matColumnDef="sno">
                <th
                  mat-header-cell
                  style="border-bottom: none"
                  *matHeaderCellDef
                  mat-sort-header
                >
                  {{ current_language_set?.coreComponents?.sno }}
                </th>
                <td
                  mat-cell
                  *matCellDef="let element"
                  [ngClass]="{
                    visitStatus: true,
                    's-f-t-c ': element.statusCode === 1
                  }"
                >
                  {{ element.sno }}
                </td>
              </ng-container>
              <ng-container matColumnDef="beneficiaryID">
                <th
                  mat-header-cell
                  style="border-bottom: none"
                  *matHeaderCellDef
                  mat-sort-header
                >
                  {{ current_language_set?.bendetails?.beneficiaryID }}
                </th>
                <td
                  mat-cell
                  *matCellDef="let element"
                  (click)="getBeneficiryStatus(element)"
                >
                  {{ element?.beneficiaryID }}
                </td>
              </ng-container>
              <ng-container matColumnDef="beneficiaryName">
                <th
                  mat-header-cell
                  style="border-bottom: none"
                  *matHeaderCellDef
                  mat-sort-header
                >
                  {{ current_language_set?.bendetails?.beneficiaryName }}
                </th>
                <td
                  mat-cell
                  *matCellDef="let element"
                  (click)="getBeneficiryStatus(element)"
                >
                  {{ element?.benName | titlecase }}
                </td>
              </ng-container>
              <ng-container matColumnDef="gender">
                <th
                  mat-header-cell
                  style="border-bottom: none"
                  *matHeaderCellDef
                  mat-sort-header
                >
                  {{ current_language_set?.bendetails?.gender }}
                </th>
                <td
                  mat-cell
                  *matCellDef="let element"
                  (click)="getBeneficiryStatus(element)"
                >
                  {{ element.genderName | titlecase }}
                </td>
              </ng-container>
              <ng-container matColumnDef="age">
                <th
                  mat-header-cell
                  style="border-bottom: none"
                  *matHeaderCellDef
                  mat-sort-header
                >
                  {{ current_language_set?.bendetails?.age }}
                </th>
                <td
                  mat-cell
                  *matCellDef="let element"
                  (click)="getBeneficiryStatus(element)"
                >
                  {{ element.age }}
                </td>
              </ng-container>
              <ng-container matColumnDef="visitCategory">
                <th
                  mat-header-cell
                  style="border-bottom: none"
                  *matHeaderCellDef
                  mat-sort-header
                >
                  {{ current_language_set?.bendetails?.visitCategory }}
                </th>
                <td
                  mat-cell
                  *matCellDef="let element"
                  (click)="getBeneficiryStatus(element)"
                >
                  <span style="color: #a6a6a6"
                    >{{ element.VisitCategory }}
                  </span>
                  /
                  <span style="color: #a6a6a6">{{ element.benVisitNo }}</span>
                </td>
              </ng-container>
              <ng-container matColumnDef="district">
                <th
                  mat-header-cell
                  style="border-bottom: none"
                  *matHeaderCellDef
                  mat-sort-header
                >
                  {{ current_language_set?.bendetails?.district }}
                </th>
                <td
                  mat-cell
                  *matCellDef="let element"
                  (click)="getBeneficiryStatus(element)"
                >
                  {{ element.districtName | titlecase }} /
                  {{ element.villageName | titlecase }}
                </td>
              </ng-container>
              <ng-container matColumnDef="tcDate">
                <th
                  mat-header-cell
                  style="border-bottom: none"
                  *matHeaderCellDef
                  mat-sort-header
                >
                  {{ current_language_set?.bendetails?.tcDate }}
                </th>
                <td
                  mat-cell
                  *matCellDef="let element"
                  (click)="getBeneficiryStatus(element)"
                >
                  {{ element.tCRequestDate }}
                </td>
              </ng-container>
              <ng-container matColumnDef="image">
                <th
                  mat-header-cell
                  style="border-bottom: none"
                  *matHeaderCellDef
                  mat-sort-header
                >
                  {{ current_language_set?.bendetails?.image }}
                </th>
                <td
                  mat-cell
                  *matCellDef="let element"
                  (click)="patientImageView(element.beneficiaryRegID)"
                  matTooltip="{{ current_language_set?.tc?.image }}"
                >
                  <img
                    src="assets/images/Avatar-Profile_30X30.png "
                    alt="profile"
                  />
                </td>
              </ng-container>

              <td colspan="2">
                <div class="totalCount" *ngIf="dataSource.data.length > 0">
                  {{ current_language_set?.common?.totalCount }} :
                  {{ dataSource.data.length }}
                </div>
              </td>
              <td mat-cell *matCellDef="let element">
                <button
                  mat-raised-button
                  (click)="cancelTCRequest(element)"
                  matTooltip="{{ current_language_set?.tc?.cancelTc }}"
                  color="warn"
                  [disabled]="element.specialist_flag !== 1"
                >
                  {{ current_language_set?.common?.cancel }}
                </button>
                <button
                  mat-raised-button
                  (click)="reSchedule(element)"
                  matTooltip="{{ current_language_set?.tc?.reschedule }}"
                  color="primary"
                  [disabled]="element.specialist_flag !== 4"
                >
                  {{ current_language_set?.tc?.schedule }}
                </button>
              </td>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
          </div>
          <div
            class="pull-center"
            style="margin-top: 35px; text-align: center"
            [hidden]="dataSource.data.length > 0"
          >
            <strong>{{ current_language_set?.common?.noRecordsFound }}</strong>
          </div>
          <div class="col-12 row">
            <div class="col-6">
              <ul class="description" *ngIf="dataSource.data.length > 0">
                <li>
                  <div class="marker-s-f-t-c"></div>
                  <p>{{ current_language_set?.common?.scheduledTC }}</p>
                </li>
              </ul>
            </div>
            <div class="col-6">
              <mat-paginator
                style="display: unset"
                [hidden]="dataSource.data.length === 0"
                [pageSizeOptions]="[5, 10, 20]"
                [pageSize]="5"
                showFirstLastButtons
                aria-label="Select patient in tmFutureWorklist"
              >
              </mat-paginator>
            </div>
          </div>
        </section>
      </mat-card>
    </div>
  </div>
</div>
