<div class="row m-t-20" [formGroup]="developmentHistoryForm">
  <button
    type="button"
    class="history-label col-12 mat-icon-button mat_icon_blue"
    id="previousDevelopmentalHistory"
    color="primary"
    matTooltip="{{ currentLanguageSet?.DurationData?.previousDetails }}"
    (click)="getPreviousDevelopmentalHistory()"
    (keydown.enter)="getPreviousDevelopmentalHistory()"
    (keydown.space)="getPreviousDevelopmentalHistory()"
  >
    <mat-icon class="md-18 ms-2">history</mat-icon>
    <span class="previousHistory">
      {{
        currentLanguageSet?.historyData?.opd_NCD_PNCHistory?.development
          ?.previousDevelopmentalHistory
      }}
    </span>
  </button>
  <div>
    <div class="row" style="margin-left: 0px">
      <div class="col-xs-12 col-sm-6 col-md-6 box">
        <mat-form-field [style.width]="'100%'">
          <mat-label class="mat-label-text">{{
            currentLanguageSet?.historyData?.opd_NCD_PNCHistory?.development
              ?.grossMotorMilestone
          }}</mat-label>
          <mat-select
            multiple
            class="select-full-width"
            name="grossMotorMilestone"
            formControlName="grossMotorMilestones"
            (change)="resetGrossMotorMilestoneAttaintedStatus()"
          >
            <mat-option
              *ngFor="
                let grossMotorMilestone of masterData?.grossMotorMilestones
              "
              [value]="grossMotorMilestone.gMMilestone"
              >{{ grossMotorMilestone.gMMilestone }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>

      <div
        class="col-xs-12 col-sm-6 col-md-6 box"
        *ngIf="
          developmentHistoryForm.controls['grossMotorMilestones'].value !==
            undefined &&
          developmentHistoryForm.controls['grossMotorMilestones'].value !==
            null &&
          developmentHistoryForm.controls['grossMotorMilestones'].value.length >
            0
        "
      >
        <mat-radio-group
          name="isGrossMotorMilestones"
          formControlName="isGrossMotorMilestones"
          style="margin-top: 25px; display: block; text-align: center"
        >
          <mat-radio-button color="primary" [value]="true">{{
            currentLanguageSet?.attained
          }}</mat-radio-button>
          <mat-radio-button color="primary" [value]="false" class="radio-btn">{{
            currentLanguageSet?.notAttained
          }}</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="row" style="margin-left: 0px">
      <div class="col-xs-12 col-sm-6 col-md-6 box">
        <mat-form-field [style.width]="'100%'">
          <mat-label class="mat-label-text">{{
            currentLanguageSet?.historyData?.opd_NCD_PNCHistory?.development
              ?.fineMotorMilestone
          }}</mat-label>
          <mat-select
            multiple
            class="select-full-width"
            name="fineMotorMilestone"
            formControlName="fineMotorMilestones"
            (change)="resetfineMotorMilestonesAttaintedStatus()"
          >
            <mat-option value="Changes object from one to another hand"
              >Changes object from one to another hand</mat-option
            >
            <mat-option value="Holding object with Palm"
              >Holding object with Palm</mat-option
            >
            <mat-option value="Pincer's Grasp">Pincer's Grasp</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div
        class="col-xs-12 col-sm-6 col-md-6 box"
        *ngIf="
          developmentHistoryForm.controls['fineMotorMilestones'].value !==
            undefined &&
          developmentHistoryForm.controls['fineMotorMilestones'].value !==
            null &&
          developmentHistoryForm.controls['fineMotorMilestones'].value.length >
            0
        "
      >
        <mat-radio-group
          name="isFineMotorMilestones"
          formControlName="isFineMotorMilestones"
          style="margin-top: 25px; display: block; text-align: center"
        >
          <mat-radio-button color="primary" [value]="true">{{
            currentLanguageSet?.attained
          }}</mat-radio-button>
          <mat-radio-button color="primary" [value]="false" class="radio-btn">{{
            currentLanguageSet?.notAttained
          }}</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="row" style="margin-left: 0px">
      <div class="col-xs-12 col-sm-6 col-md-6 box">
        <mat-form-field [style.width]="'100%'">
          <mat-label class="mat-label-text">{{
            currentLanguageSet?.historyData?.opd_NCD_PNCHistory?.development
              ?.socialMilestone
          }}</mat-label>
          <mat-select
            multiple
            class="select-full-width"
            name="socialMilestone"
            formControlName="socialMilestones"
            (change)="resetsocialMilestonesAttaintedStatus()"
          >
            <mat-option value="Social smile">Social smile</mat-option>
            <mat-option value="Cooing">Cooing</mat-option>
            <mat-option value="Stranger Anxiety">Stranger Anxiety</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div
        class="col-xs-12 col-sm-6 col-md-6 box"
        *ngIf="
          developmentHistoryForm.controls['socialMilestones'].value !==
            undefined &&
          developmentHistoryForm.controls['socialMilestones'].value !== null &&
          developmentHistoryForm.controls['socialMilestones'].value.length > 0
        "
      >
        <mat-radio-group
          name="isSocialMilestones"
          formControlName="isSocialMilestones"
          style="margin-top: 25px; display: block; text-align: center"
        >
          <mat-radio-button color="primary" [value]="true">{{
            currentLanguageSet?.attained
          }}</mat-radio-button>
          <mat-radio-button color="primary" [value]="false" class="radio-btn">{{
            currentLanguageSet?.notAttained
          }}</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="row" style="margin-left: 0px">
      <div class="col-xs-12 col-sm-6 col-md-6 box">
        <mat-form-field [style.width]="'100%'">
          <mat-label class="mat-label-text">{{
            currentLanguageSet?.historyData?.opd_NCD_PNCHistory?.development
              ?.languageMilestone
          }}</mat-label>
          <mat-select
            multiple
            class="select-full-width"
            name="languageMilestone"
            formControlName="languageMilestones"
            (change)="resetlanguageMilestonesAttaintedStatus()"
          >
            <mat-option value="Monosyllables">Monosyllables</mat-option>
            <mat-option value="Bi syllables">Bi syllables</mat-option>
            <mat-option value="Words">Words</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div
        class="col-xs-12 col-sm-6 col-md-6 box"
        *ngIf="
          developmentHistoryForm.controls['languageMilestones'].value !==
            undefined &&
          developmentHistoryForm.controls['languageMilestones'].value !==
            null &&
          developmentHistoryForm.controls['languageMilestones'].value.length > 0
        "
      >
        <mat-radio-group
          name="isLanguageMilestones"
          formControlName="isLanguageMilestones"
          style="margin-top: 25px; display: block; text-align: center"
        >
          <mat-radio-button color="primary" [value]="true">{{
            currentLanguageSet?.attained
          }}</mat-radio-button>
          <mat-radio-button color="primary" [value]="false" class="radio-btn">{{
            currentLanguageSet?.notAttained
          }}</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 box">
      <mat-form-field [style.width]="'100%'">
        <mat-label class="mat-label-text">{{
          currentLanguageSet?.historyData?.opd_NCD_PNCHistory?.development
            ?.developmentalProblems
        }}</mat-label>
        <mat-select
          multiple
          class="select-full-width"
          name="developmentalProblems"
          formControlName="developmentProblems"
        >
          <mat-option value="Nil">Nil</mat-option>
          <mat-option value="Cerebral Palsy">Cerebral Palsy</mat-option>
          <mat-option value="ADHD">ADHD</mat-option>
          <mat-option value="Autism">Autism</mat-option>
          <mat-option value="Learning Disorders">Learning Disorders</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
