<mat-card class="m-t-10 m-b-5">
  <div
    class="row"
    [formGroup]="cervicalScreeningForm"
    [hidden]="hideCervicalForm"
  >
    <div
      class="pull-right"
      style="text-align: end"
      [hidden]="hideRemoveFunctionalityInDoctorIfSuspected"
    >
      <button
        mat-icon-button
        (click)="hideCervicalScreeningForm()"
        style="border: unset; background-color: unset"
      >
        <mat-icon
          matTooltip="Remove"
          class="md-24 matIcon-button-style mat_icon_blue"
          >close</mat-icon
        >
      </button>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <h5>
        <strong>{{ currentLanguageSet?.cervicalCancer }}</strong>
      </h5>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pull-right">
      <mat-checkbox
        [disabled]="disableCheckbox"
        [checked]="visualExaminationSuspected"
        (change)="markAsUnsuspected($event.checked)"
      ></mat-checkbox>
      <mat-label class="ng-tns-font" style="color: grey; margin-bottom: 15px">{{
        currentLanguageSet?.MarkAsSuspected
      }}</mat-label>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <mat-label
        class="ng-tns-font"
        *ngIf="visualExaminationSuspected"
        style="color: red; margin-bottom: 15px"
        >* {{ currentLanguageSet?.cervicalCancerScreeningSuspected }}</mat-label
      >
    </div>
    <div class="m-t-10">
      <div
        class="row col-xs-12 col-sm-6 col-md-6 col-lg-5 box"
        style="white-space: nowrap"
      >
        <mat-form-field>
          <mat-label class="ng-tns-font">
            {{ currentLanguageSet?.visualExamination }}
          </mat-label>
          <mat-select
            class="input-full-width"
            formControlName="visualExaminationId"
            (selectionChange)="checkCervicalCancerSuspect()"
            required
          >
            <mat-option
              *ngFor="let visualExamination of visualExaminations"
              [value]="visualExamination.id"
            >
              {{ visualExamination.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
</mat-card>
