
.helpAlign {
    font-size: 24px;
    vertical-align: middle;
    text-align: center;
    padding: 0px;
    margin-top:5px !important;
    color: white
}
.white-icon { 
    color: white; /* Set the color to white */
  }
.w85 { 
    width : 85%;
}
.nav-btn{
    background-color: white !important;
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 88px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 30px;
    font-weight: bold;
    color: #808080;
    font-size: 15px;
    letter-spacing: unset;
}
.menu-font{
    font-size: 14px !important;
}
.navbar-iemr {
    height: 50px;
    background-color: #336CFB;
    color: white;
    border-radius: 0px;
    margin-bottom: 5px;
    min-height: unset;
    padding: 3px 0px;
}
 
.icon-bar {
    background-color: white;
}

.navbar-brand {
    padding: 0px 15px;
    height: unset;
}

li a {
    outline: none;
}
.navbar-nav{
    margin: 20px 10px 20px 0;
}
.navbar-iemr li {
    float: right !important;
}

.navbar-iemr li a:hover {
    background: unset;
}

.navbar-iemr .nav li a {
    padding: 6px 8px;
}

li.telemed a img {
    height: 24px;
    width: 24px;
}

li.logout a span.logoutIcon:hover {
    background-position-y: -21px;
}

/* #main-navbar {
    padding: 5px 15px;
    font-weight: bold;
    background-color: rgba(37, 55, 70, 0.2);
    box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
} */
#main-navbar {
    padding: 5px 15px;
    font-weight: bold;
    background-color: transparent;
    justify-content: center;
    box-shadow: none;
   
}

.active {
    background: #336CFB !important;
    border-radius: 30px;
    color: white;

}

button.mat-button {
    font-weight: bold;
    width: 100%;
}

mat-menu {
    width: 100%;
}

@media (max-width: 760px) {
    .navbar-brand {
        padding: 5px 15px;
    }
}


.iot {
    font-size: 26px;
    vertical-align: middle;
    text-align: center;
    padding: 0px;
    color: rgba(245, 245, 245, 0.877);
    margin-top: 4px;
}

.connected{
    color:green;
    }
    
.alignDropDown {
    margin-top: 3px;
}
.alignWord {
    margin: 8px 10px;

}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
  }

  .svg{
    filter: brightness(0) invert(1);
    height: 35px;
    width: 35px;
  }

  .svg-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.svg-button:focus-visible {
  outline: 2px solid #ffffff;
  outline-offset: 2px;
}

  @media screen  and (min-width:768px) and (max-width:1024px) {
    
  }
  @media screen  and (min-width:360px) and (max-width:430px) {
    
    .nav-btn{
        background-color: unset !important;
        box-sizing: border-box;        
        border: none;
        display: inline-block;
        min-width: 100%;
        line-height: 36px;
        border-radius: 30px;
        font-weight: bold;
        color: black;
        font-size: 15px;
        letter-spacing: unset;
    }
    .active {
        background: #336CFB !important;
        border-radius: 30px;
        color: white;
    }
    .navbar-nav {
        margin: 5px 10px 0px 0px !important;
    }
  }


