<mat-accordion [formGroup]="generalCaseRecordForm">
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <h5>
        {{
          current_language_set?.Significantfindingsdetails
            ?.previoussignificantfindings
        }}
      </h5>
    </mat-expansion-panel-header>
    <app-previous-significiant-findings></app-previous-significiant-findings>
  </mat-expansion-panel>

  <!-- <mat-expansion-panel>
    <mat-expansion-panel-header>
      <h5>{{ current_language_set?.previousvisit?.Previousvisitdetails }}</h5>
    </mat-expansion-panel-header>
    <app-previous-visit-details
      [vitals]="currentVitals"
    ></app-previous-visit-details>
  </mat-expansion-panel> -->

  <!-- <mat-expansion-panel>
    <mat-expansion-panel-header>
      <h5>{{ current_language_set?.Find?.findings }}</h5>
    </mat-expansion-panel-header>
    <app-findings
      [caseRecordMode]="caseRecordMode"
      [generalFindingsForm]="generalFindingsForm"
    ></app-findings>
  </mat-expansion-panel> -->

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <h5>{{ current_language_set?.casesheet?.diagnosis }}</h5>
    </mat-expansion-panel-header>
    <app-diagnosis
      [caseRecordMode]="caseRecordMode"
      [generalDiagnosisForm]="generalDiagnosisForm"
      [visitCategory]="visitCategory"
    ></app-diagnosis>
  </mat-expansion-panel>

  <!-- <mat-expansion-panel
    *ngIf="
      visitReason === 'Follow Up' &&
      visitCategory === 'FP & Contraceptive Services'
    "
  >
    <mat-expansion-panel-header>
      <h5>{{ current_language_set?.treatmentOnSideEffects }}</h5>
    </mat-expansion-panel-header>
    <app-treatments-on-side-effects
      [caseRecordMode]="caseRecordMode"
      [treatmentsOnSideEffectsForm]="treatmentsOnSideEffectsFormData"
    ></app-treatments-on-side-effects>
  </mat-expansion-panel> -->

  <!-- <mat-expansion-panel>
    <mat-expansion-panel-header>
      <h5>
        {{
          current_language_set?.nurseData?.investigationsDetails?.investigations
        }}
      </h5>
    </mat-expansion-panel-header>
    <app-doctor-investigations
      [caseRecordMode]="caseRecordMode"
      [visit]="visitCategory"
      [generalDoctorInvestigationForm]="generalDoctorInvestigationForm"
    ></app-doctor-investigations>
  </mat-expansion-panel> -->

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <h5>{{ current_language_set?.casesheet?.prescribe }}</h5>
    </mat-expansion-panel-header>
    <app-prescription
      [caseRecordMode]="caseRecordMode"
      [drugPrescriptionForm]="drugPrescriptionForm"
      [prescriptionCounsellingForm]="provideCounselling"
    ></app-prescription>
  </mat-expansion-panel>

  <!-- <mat-expansion-panel>
    <mat-expansion-panel-header>
      <h5>{{ current_language_set?.common?.report }}</h5>
    </mat-expansion-panel-header>
    <app-test-and-radiology></app-test-and-radiology>
  </mat-expansion-panel> -->
</mat-accordion>
