h5 {
  font-weight: bold;
}

.mat-expansion-panel-header {
  background: rgba(37, 55, 70, 0.2);
}

.view-link {
  text-align: center;
}

.table {
  margin-bottom: 0px;
}

.graph tr td {
  border: none;
}

.textarea-full-width {
  width: 100%;
}

.no_records {
  border: 0.2px solid gray;
  display: block;
  padding: 50px;
  text-align: center;
}

.abnormal {
  color: red
}

img {
  border: 1px solid black;
}

.firstHalf {
  float: left;
  width: 50%;
}

.secondHalf {
  float: right;
  width: 50%;
}

.norecord {
  text-align: center;
}

.example-container {
  height: 200px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

mat-form-field >>>.mat-mdc-text-field-wrapper {
  width: 30% !important;
}
table, th, td {
  border: 1px solid;
  }

  tr >>>.mat-mdc-row:hover {
    color:unset !important;
  }
   table >>>.mdc-data-table__table {
    min-width: 98% !important;
    margin-left: 13px !important;
}