.select-full-width {
    width: 100%;
}

.input-full-width {
    width: 100%;
}

.mat-form-field {
    line-height: unset;
}

.mat-card-header {
    justify-content: space-between;
}

.box {
    height: 60px;
}

.radio-button {
    margin-left: 15px;
}

.previous-history{
    display: flex;
    align-items: baseline;
}

::ng-deep.mat-select-placeholder {
    font-size: 2em;
 }

 .m-b-10{
     margin-bottom: 10px;
 }

 .mat_form_field  >>>
.mdc-text-field--filled, .mdc-text-field--focused {
    background-color: #f0f5f5 !important;
}
.mat_form_field >>> .mat-mdc-text-field-wrapper {
    height:unset !important;
}

.mat_form_field_length >>> .input-full-width[_ngcontent-ng-c1820935159] {
    width: 75% !important;
}

.mat_form_field_length >>> .mdc-text-field__input {
    width: 51% !important;
    
}