.select-full-width {
    width: 100%;
}

.input-full-width {
    width: 100%;
}

.mat-form-field {
    line-height: unset;
}

.mat-card-header {
    justify-content: space-between;
}

.box {
    height: 75px;
}

.radio-button {
    margin-left: 0px;
}

.previous-history{
    display: flex;
    align-items:center; 
    text-align: start;
}

:host /deep/ .mat-select-placeholder {
    font-size: 2em;
 }

 .m-b-10{
     margin-bottom: 10px;
 }

 .lineheight {
    line-height: 15px;
 }

button#previousAllergyHistory .mat-icon.material-icons {
    color: #52575C !important;
}

button#previousAlcoholHistory .mat-icon.material-icons {
    color: #52575C !important;
}

button#previousTobaccoHistory .mat-icon.material-icons {
    color: #52575C !important;
}

md-icon.search-btn {
    color: #52575C !important;
}
