<section [formGroup]="patientVitalsForm">
  <mat-accordion>
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <h5>
          {{
            currentLanguageSet?.vitalsDetails?.AnthropometryDataANC_OPD_NCD_PNC
              ?.anthropometry
          }}
        </h5>
      </mat-expansion-panel-header>
      <div class="row m-t-10">
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <mat-form-field class="input-full-width">
            <mat-label>{{
              currentLanguageSet?.vitalsDetails
                ?.AnthropometryDataANC_OPD_NCD_PNC?.height
            }}</mat-label>
            <input
              autocomplete="off"
              matInput
              defaultNull
              allowText="decimal"
              id="height_cm"
              name="height_cm"
              formControlName="height_cm"
              (change)="checkHeight(height_cm)"
              defaultNull
              maxlength="6"
              allowMax="350"
              (blur)="calculateBMI()"
              [required]="
                visitCategory !== 'FP & Contraceptive Services' &&
                visitCategory !== 'General OPD'
              "
            />
          </mat-form-field>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <mat-form-field class="input-full-width">
            <mat-label>{{
              currentLanguageSet?.vitalsDetails
                ?.AnthropometryDataANC_OPD_NCD_PNC?.weight
            }}</mat-label>
            <input
              autocomplete="off"
              matInput
              defaultNull
              (change)="checkWeight(weight_Kg)"
              (blur)="calculateBMI()"
              allowText="decimal"
              name="weight_Kg"
              id="weight_Kg"
              formControlName="weight_Kg"
              maxlength="6"
              allowMax="500"
              [required]="
                visitCategory !== 'FP & Contraceptive Services' &&
                visitCategory !== 'General OPD'
              "
            />
            <svg
              class="fontawesomesvg"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
              matTooltip="{{ currentLanguageSet?.common?.startTest }}"
              matSuffix
              (click)="openIOTWeightModel()"
              onkeydown="openIOTWeightModel()"
              tabindex="{0}"
            >
              <path
                d="M384 176c0 70.7-57.3 128-128 128s-128-57.3-128-128s57.3-128 128-128s128 57.3 128 128zm7.8-112C359.5 24.9 310.7 0 256 0S152.5 24.9 120.2 64H64C28.7 64 0 92.7 0 128V448c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V128c0-35.3-28.7-64-64-64H391.8zM296 224c0-10.6-4.1-20.2-10.9-27.4l33.6-78.3c3.5-8.1-.3-17.5-8.4-21s-17.5 .3-21 8.4L255.7 184c-22 .1-39.7 18-39.7 40c0 22.1 17.9 40 40 40s40-17.9 40-40z"
              />
            </svg>
          </mat-form-field>
        </div>

        <div
          class="col-xs-12 col-sm-6 col-md-3 col-lg-3"
          *ngIf="totalMonths > 60"
        >
          <mat-form-field class="input-full-width">
            <mat-label>{{
              currentLanguageSet?.vitalsDetails
                ?.AnthropometryDataANC_OPD_NCD_PNC?.BMI
            }}</mat-label>
            <input
              autocomplete="off"
              matInput
              defaultNull
              allowText="decimal"
              [readonly]="true"
              [ngClass]="{ abnormal: !normalBMI }"
              name="bMI"
              formControlName="bMI"
            />
          </mat-form-field>
        </div>

        <div
          class="col-xs-12 col-sm-6 col-md-3 col-lg-3"
          *ngIf="totalMonths > 60 && totalMonths <= 228"
        >
          <div
            class="marker"
            *ngIf="bmiStatusMinor === 'mild malnourished'"
            style="color: rgb(255, 200, 0)"
          >
            <span class="material-icons">brightness_1</span>
            <span>{{ currentLanguageSet?.mildMalnourished }}</span>
          </div>
          <div
            class="marker"
            *ngIf="bmiStatusMinor === 'moderately malnourished'"
            style="color: rgba(255, 102, 0, 0.938)"
          >
            <span class="material-icons">brightness_1</span>
            <span>{{ currentLanguageSet?.moderatelyMalnourished }}</span>
          </div>

          <div
            class="marker"
            *ngIf="bmiStatusMinor === 'severely malnourished'"
            style="color: red"
          >
            <span class="material-icons">brightness_1</span>
            <span>{{ currentLanguageSet?.severelyMalnourished }}</span>
          </div>

          <div
            class="marker"
            *ngIf="bmiStatusMinor === 'normal'"
            style="color: green"
          >
            <span class="material-icons">brightness_1</span>
            <span>{{ currentLanguageSet?.normal }}</span>
          </div>

          <div
            class="marker"
            *ngIf="bmiStatusMinor === 'overweight'"
            style="color: rgb(255, 200, 0)"
          >
            <span class="material-icons">brightness_1</span>
            <span>{{ currentLanguageSet?.overweight }}</span>
          </div>

          <div
            class="marker"
            *ngIf="bmiStatusMinor === 'obese'"
            style="color: rgb(255, 102, 0)"
          >
            <span class="material-icons">brightness_1</span>
            <span>{{ currentLanguageSet?.obese }}</span>
          </div>

          <div
            class="marker"
            *ngIf="bmiStatusMinor === 'severely obese'"
            style="color: red"
          >
            <span class="material-icons">brightness_1</span>
            <span>{{ currentLanguageSet?.severelyObese }}</span>
          </div>
        </div>

        <ng-template
          [ngIf]="
            totalMonths !== undefined &&
            totalMonths > 60 &&
            totalMonths <= 228 &&
            !male &&
            !female
          "
        >
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <div
              class="marker"
              *ngIf="bMI !== null && bMI < 18.5"
              style="color: red"
            >
              <span class="material-icons">brightness_1</span>
              <span>{{
                currentLanguageSet?.vitalsDetails
                  ?.AnthropometryDataANC_OPD_NCD_PNC?.underweight
              }}</span>
            </div>
            <div
              class="marker"
              *ngIf="bMI !== null && bMI >= 18.5 && bMI < 25"
              style="color: green"
            >
              <span class="material-icons">brightness_1</span>
              <span>{{
                currentLanguageSet?.vitalsDetails
                  ?.AnthropometryDataANC_OPD_NCD_PNC?.normalWeight
              }}</span>
            </div>
            <div
              class="marker"
              *ngIf="bMI !== null && bMI >= 25 && bMI < 30"
              style="color: darkorange"
            >
              <span class="material-icons">brightness_1</span>
              <span>{{
                currentLanguageSet?.vitalsDetails
                  ?.AnthropometryDataANC_OPD_NCD_PNC?.overweight
              }}</span>
            </div>
            <div
              class="marker"
              *ngIf="bMI !== null && bMI >= 30"
              style="color: red"
            >
              <span class="material-icons">brightness_1</span>
              <span>{{
                currentLanguageSet?.vitalsDetails
                  ?.AnthropometryDataANC_OPD_NCD_PNC?.obesity
              }}</span>
            </div>
            <span
              *ngIf="
                BMI !== null &&
                BMI !== undefined &&
                totalMonths !== undefined &&
                totalMonths > 60 &&
                totalMonths <= 228 &&
                !male &&
                !female
              "
            >
              <p style="padding: 8px; color: #b3b3b3; font-size: 12px">
                {{ currentLanguageSet?.pleaseConfirmClinically }}
              </p>
            </span>
          </div>
        </ng-template>

        <ng-template [ngIf]="totalMonths !== undefined && totalMonths > 228">
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <div
              class="marker"
              *ngIf="bMI !== null && bMI < 18.5"
              style="color: red"
            >
              <span class="material-icons">brightness_1</span>
              <span>{{
                currentLanguageSet?.vitalsDetails
                  ?.AnthropometryDataANC_OPD_NCD_PNC?.underweight
              }}</span>
            </div>
            <div
              class="marker"
              *ngIf="bMI !== null && bMI >= 18.5 && bMI < 25"
              style="color: green"
            >
              <span class="material-icons">brightness_1</span>
              <span>{{
                currentLanguageSet?.vitalsDetails
                  ?.AnthropometryDataANC_OPD_NCD_PNC?.normalWeight
              }}</span>
            </div>
            <div
              class="marker"
              *ngIf="bMI !== null && bMI >= 25.0 && bMI < 30.0"
              style="color: darkorange"
            >
              <span class="material-icons">brightness_1</span>
              <span>{{
                currentLanguageSet?.vitalsDetails
                  ?.AnthropometryDataANC_OPD_NCD_PNC?.overweight
              }}</span>
            </div>
            <div
              class="marker"
              *ngIf="bMI !== null && bMI >= 30.0 && bMI <= 34.9"
              style="color: red"
            >
              <span class="material-icons">brightness_1</span>
              <span>{{ currentLanguageSet?.obesityClassOne }}</span>
            </div>

            <div
              class="marker"
              *ngIf="bMI !== null && bMI >= 35.0 && bMI <= 39.9"
              style="color: red"
            >
              <span class="material-icons">brightness_1</span>
              <span>{{ currentLanguageSet?.obesityClassTwo }}</span>
            </div>

            <div
              class="marker"
              *ngIf="bMI !== null && bMI > 39.9"
              style="color: red"
            >
              <span class="material-icons">brightness_1</span>
              <span>{{ currentLanguageSet?.extremeObesity }}</span>
            </div>

            <span
              *ngIf="
                BMI !== null &&
                BMI !== undefined &&
                totalMonths !== undefined &&
                totalMonths > 60 &&
                totalMonths <= 228 &&
                !male &&
                !female
              "
            >
              <p style="padding: 8px; color: #b3b3b3; font-size: 12px">
                {{ currentLanguageSet?.pleaseConfirmClinically }}
              </p>
            </span>
          </div>
        </ng-template>

        <div class="clearfix"></div>

        <!-- added conditon for waist circumference to be non-mandatory in cbac -->
        <div *ngIf="hideForANCAndQC && benAge > 20" style="display: contents">
          <div
            class="col-xs-12 col-sm-6 col-md-3 col-lg-3"
            style="padding: 5px"
          >
            <mat-form-field class="input-full-width">
              <mat-label>{{
                currentLanguageSet?.vitalsDetails?.vitalsCancerscreening_QC
                  ?.waistCircumference
              }}</mat-label>
              <input
                autocomplete="off"
                matInput
                defaultNull
                allowText="decimal"
                [ngClass]="{
                  abnormal:
                    waistCircumference_cm < 50 || waistCircumference_cm > 150
                }"
                (change)="checkIDRSForWaist(waistCircumference_cm)"
                (blur)="hipWaistRatio()"
                id="waistCircumference_cm"
                name="waistCircumference_cm"
                formControlName="waistCircumference_cm"
                maxlength="6"
                allowMax="350"
                [required]="
                  benAge >= 30 &&
                  visitCategory === 'NCD screening' &&
                  enableCBACForm
                "
              />
            </mat-form-field>
          </div>

          <div
            class="col-xs-12 col-sm-6 col-md-3 col-lg-3"
            *ngIf="visitCategory !== 'NCD screening'"
            style="padding: 5px"
          >
            <mat-form-field class="input-full-width">
              <mat-label>{{
                currentLanguageSet?.vitalsDetails
                  ?.AnthropometryDataANC_OPD_NCD_PNC?.hipCircumference
              }}</mat-label>
              <input
                autocomplete="off"
                matInput
                defaultNull
                allowText="decimal"
                (change)="checkHip(hipCircumference_cm)"
                (blur)="hipWaistRatio()"
                name="hipCircumference_cm"
                id="hipCircumference_cm"
                formControlName="hipCircumference_cm"
                maxlength="6"
                allowMax="300"
              />
            </mat-form-field>
          </div>

          <div
            class="col-xs-12 col-sm-6 col-md-3 col-lg-3"
            *ngIf="visitCategory !== 'NCD screening'"
            style="padding: 5px"
          >
            <mat-form-field class="input-full-width">
              <mat-label>{{
                currentLanguageSet?.vitalsDetails
                  ?.AnthropometryDataANC_OPD_NCD_PNC?.waisttoHipRatio
              }}</mat-label>
              <input
                autocomplete="off"
                matInput
                defaultNull
                [ngClass]="{ abnormal: !normalWaistHipRatio }"
                allowText="decimal"
                [readonly]="true"
                name="waistHipRatio"
                formControlName="waistHipRatio"
                id="waistHipRatio"
              />
            </mat-form-field>
          </div>

          <div
            class="col-xs-12 col-sm-6 col-md-3 col-lg-3"
            *ngIf="visitCategory !== 'NCD screening'"
          >
            <div
              class="marker"
              *ngIf="
                waistHipRatio !== null &&
                female !== true &&
                waistHipRatio < 0.91
              "
              style="color: #43760f"
            >
              <span class="material-icons">brightness_1</span>
              <span>{{ currentLanguageSet?.lowRisk }}</span>
            </div>
            <div
              class="marker"
              *ngIf="
                waistHipRatio !== null &&
                female === true &&
                waistHipRatio < 0.81
              "
              style="color: #43760f"
            >
              <span class="material-icons">brightness_1</span>
              <span>{{ currentLanguageSet?.lowRisk }}</span>
            </div>
            <div
              class="marker"
              *ngIf="
                waistHipRatio > 0.9 &&
                waistHipRatio !== null &&
                female !== true &&
                waistHipRatio !== null &&
                female !== true &&
                waistHipRatio <= 0.99
              "
              style="color: #eaaa26"
            >
              <span class="material-icons">brightness_1</span>
              <span>{{ currentLanguageSet?.moderateRisk }}</span>
            </div>
            <div
              class="marker"
              *ngIf="
                waistHipRatio > 0.8 &&
                waistHipRatio !== null &&
                female === true &&
                waistHipRatio !== null &&
                female === true &&
                waistHipRatio <= 0.84
              "
              style="color: #eaaa26"
            >
              <span class="material-icons">brightness_1</span>
              <span>{{ currentLanguageSet?.moderateRisk }}</span>
            </div>
            <div
              class="marker"
              *ngIf="
                waistHipRatio !== null &&
                female !== true &&
                waistHipRatio > 0.99
              "
              style="color: red"
            >
              <span class="material-icons">brightness_1</span>
              <span>{{ currentLanguageSet?.highRisk }}</span>
            </div>
            <div
              class="marker"
              *ngIf="
                waistHipRatio !== null &&
                female === true &&
                waistHipRatio > 0.84
              "
              style="color: red"
            >
              <span class="material-icons">brightness_1</span>
              <span>{{ currentLanguageSet?.highRisk }}</span>
            </div>
          </div>
        </div>

        <div class="clearfix"></div>

        <div
          class="col-xs-12 col-sm-6 col-md-3 col-lg-3"
          *ngIf="
            benAge <= 2 &&
            visitCategory !== 'ANC' &&
            visitCategory !== 'NCD screening'
          "
          style="padding: 5px"
        >
          <mat-form-field class="input-full-width">
            <mat-label>{{
              currentLanguageSet?.vitalsDetails
                ?.AnthropometryDataANC_OPD_NCD_PNC?.headCircumference
            }}</mat-label>
            <input
              autocomplete="off"
              matInput
              defaultNull
              allowText="decimal"
              (change)="checkHeadCircumference(headCircumference_cm)"
              [ngClass]="{
                abnormal: headCircumference_cm < 25 || headCircumference_cm > 75
              }"
              id="headCircumference_cm"
              name="headCircumference_cm"
              formControlName="headCircumference_cm"
              maxlength="6"
              allowMax="150"
            />
          </mat-form-field>
        </div>

        <div
          class="col-xs-12 col-sm-6 col-md-3 col-lg-3"
          *ngIf="
            benAge <= 6 &&
            visitCategory !== 'ANC' &&
            visitCategory !== 'NCD screening'
          "
          style="padding: 5px"
        >
          <mat-form-field class="input-full-width">
            <mat-label>{{
              currentLanguageSet?.vitalsDetails
                ?.AnthropometryDataANC_OPD_NCD_PNC?.midUpperArmCircumference
            }}</mat-label>
            <input
              autocomplete="off"
              matInput
              defaultNull
              allowText="decimal"
              (change)="
                checkMidUpperArmCircumference(midUpperArmCircumference_MUAC_cm)
              "
              [ngClass]="{
                abnormal:
                  midUpperArmCircumference_MUAC_cm < 5 ||
                  midUpperArmCircumference_MUAC_cm > 31
              }"
              name="midUpperArmCircumference_MUAC_cm"
              formControlName="midUpperArmCircumference_MUAC_cm"
              id="midUpperArmCircumference_MUAC_cm"
              maxlength="5"
              allowMax="60"
            />
          </mat-form-field>
        </div>

        <div
          class="col-xs-12 col-sm-6 col-md-3 col-lg-3"
          *ngIf="visitCategory !== 'ANC' && visitCategory !== 'NCD screening'"
        >
          <div
            class="marker"
            *ngIf="
              midUpperArmCircumference_MUAC_cm !== null &&
              midUpperArmCircumference_MUAC_cm < 5
            "
            style="color: #eb7a7a"
          >
            <span class="material-icons">brightness_1</span>
            <span>{{ currentLanguageSet?.common?.lower }}</span>
          </div>
          <div
            class="marker"
            *ngIf="
              midUpperArmCircumference_MUAC_cm !== null &&
              midUpperArmCircumference_MUAC_cm > 5 &&
              midUpperArmCircumference_MUAC_cm !== null &&
              midUpperArmCircumference_MUAC_cm < 30
            "
            style="color: #43760f"
          >
            <span class="material-icons">brightness_1</span>
            <span>{{ currentLanguageSet?.common?.normal }}</span>
          </div>
          <div
            class="marker"
            *ngIf="
              midUpperArmCircumference_MUAC_cm !== null &&
              midUpperArmCircumference_MUAC_cm > 30
            "
            style="color: red"
          >
            <span class="material-icons">brightness_1</span>
            <span>{{ currentLanguageSet?.common?.higher }}</span>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel *ngIf="hideVitalsFormForNcdScreening">
      <mat-expansion-panel-header>
        <h5>
          {{
            currentLanguageSet?.vitalsDetails?.vitalsDataANC_OPD_NCD_PNC?.vitals
          }}
        </h5>
      </mat-expansion-panel-header>

      <div class="row m-t-20">
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <mat-form-field class="input-full-width">
            <mat-label>{{
              currentLanguageSet?.vitalsDetails?.vitalsDataANC_OPD_NCD_PNC
                ?.temperature
            }}</mat-label>
            <input
              autocomplete="off"
              matInput
              defaultNull
              allowText="tempDecimal"
              [ngClass]="{ abnormal: temperature < 96 || temperature > 100 }"
              name="temperature"
              id="temperature"
              formControlName="temperature"
              (change)="checkTemperature(temperature)"
              maxlength="5"
              allowMax="150"
              [required]="
                visitCategory === 'ANC' ||
                visitCategory === 'PNC' ||
                ncdTemperature
              "
            />
            <svg
              class="fontawesomesvg"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
              matTooltip="{{ currentLanguageSet?.common?.startTest }}"
              matSuffix
              (click)="openIOTTempModel()"
              onkeydown="openIOTTempModel()"
              tabindex="{0}"
            >
              <path
                d="M384 176c0 70.7-57.3 128-128 128s-128-57.3-128-128s57.3-128 128-128s128 57.3 128 128zm7.8-112C359.5 24.9 310.7 0 256 0S152.5 24.9 120.2 64H64C28.7 64 0 92.7 0 128V448c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V128c0-35.3-28.7-64-64-64H391.8zM296 224c0-10.6-4.1-20.2-10.9-27.4l33.6-78.3c3.5-8.1-.3-17.5-8.4-21s-17.5 .3-21 8.4L255.7 184c-22 .1-39.7 18-39.7 40c0 22.1 17.9 40 40 40s40-17.9 40-40z"
              />
            </svg>
          </mat-form-field>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <mat-form-field class="input-full-width">
            <mat-label>{{
              currentLanguageSet?.vitalsDetails?.vitalsDataANC_OPD_NCD_PNC
                ?.pulseRate
            }}</mat-label>
            <input
              autocomplete="off"
              matInput
              defaultNull
              [ngClass]="{ abnormal: pulseRate < 50 || pulseRate > 200 }"
              allowText="number"
              maxlength="3"
              allowMax="250"
              name="pulseRate"
              id="pulseRate"
              formControlName="pulseRate"
              (change)="checkPulseRate(pulseRate)"
              [required]="
                (visitCategory !== 'NCD screening' &&
                  visitCategory !== 'ANC' &&
                  visitCategory !== 'General OPD' &&
                  visitCategory !== 'PNC' &&
                  visitCategory !== 'FP & Contraceptive Services' &&
                  visitCategory !== 'General OPD (QC)') ||
                (visitCategory === 'NCD screening' && doctorScreen === true)
              "
            />
            <svg
              class="fontawesomesvg"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
              matTooltip="{{ currentLanguageSet?.common?.startTest }}"
              matSuffix
              (click)="openIOTPulseRateModel()"
              onkeydown="openIOTPulseRateModel()"
              tabindex="{0}"
            >
              <path
                d="M384 176c0 70.7-57.3 128-128 128s-128-57.3-128-128s57.3-128 128-128s128 57.3 128 128zm7.8-112C359.5 24.9 310.7 0 256 0S152.5 24.9 120.2 64H64C28.7 64 0 92.7 0 128V448c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V128c0-35.3-28.7-64-64-64H391.8zM296 224c0-10.6-4.1-20.2-10.9-27.4l33.6-78.3c3.5-8.1-.3-17.5-8.4-21s-17.5 .3-21 8.4L255.7 184c-22 .1-39.7 18-39.7 40c0 22.1 17.9 40 40 40s40-17.9 40-40z"
              />
            </svg>
          </mat-form-field>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <mat-form-field class="input-full-width">
            <mat-label>{{ currentLanguageSet?.sPOTwoWithUnit }}</mat-label>
            <input
              autocomplete="off"
              matInput
              defaultNull
              allowText="number"
              maxlength="3"
              name="sPO2"
              id="sPO2"
              formControlName="sPO2"
              [ngClass]="{ abnormal: sPO2 < 1 || sPO2 > 100 }"
              (change)="checkSpo2()"
            />
            <svg
              class="fontawesomesvg"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
              matTooltip="{{ currentLanguageSet?.common?.startTest }}"
              matSuffix
              (click)="openIOTSPO2Model()"
              onkeydown="openIOTSPO2Model()"
              tabindex="{0}"
            >
              <path
                d="M384 176c0 70.7-57.3 128-128 128s-128-57.3-128-128s57.3-128 128-128s128 57.3 128 128zm7.8-112C359.5 24.9 310.7 0 256 0S152.5 24.9 120.2 64H64C28.7 64 0 92.7 0 128V448c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V128c0-35.3-28.7-64-64-64H391.8zM296 224c0-10.6-4.1-20.2-10.9-27.4l33.6-78.3c3.5-8.1-.3-17.5-8.4-21s-17.5 .3-21 8.4L255.7 184c-22 .1-39.7 18-39.7 40c0 22.1 17.9 40 40 40s40-17.9 40-40z"
              />
            </svg>
          </mat-form-field>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <mat-form-field class="input-full-width">
            <mat-label>{{
              currentLanguageSet?.vitalsDetails?.vitalsDataANC_OPD_NCD_PNC
                ?.systolicBP
            }}</mat-label>
            <input
              autocomplete="off"
              matInput
              defaultNull
              [ngClass]="{
                abnormal:
                  systolicBP_1stReading < 110 || systolicBP_1stReading > 140
              }"
              (change)="checkSystolic(systolicBP_1stReading)"
              allowText="number"
              id="systolicBP_1stReading"
              name="systolicBP_1stReading"
              allowMax="400"
              maxlength="3"
              formControlName="systolicBP_1stReading"
              (blur)="
                checkSystolicGreater(
                  systolicBP_1stReading,
                  diastolicBP_1stReading
                )
              "
              [required]="
                (benAge > 30 &&
                  visitCategory !== 'FP & Contraceptive Services' &&
                  visitCategory !== 'General OPD') ||
                visitCategory === 'ANC'
              "
            />
            <svg
              class="fontawesomesvg"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
              matTooltip="{{ currentLanguageSet?.common?.startTest }}"
              matSuffix
              (click)="openIOTBPModel()"
              onkeydown="openIOTBPModel()"
              tabindex="{0}"
            >
              <path
                d="M384 176c0 70.7-57.3 128-128 128s-128-57.3-128-128s57.3-128 128-128s128 57.3 128 128zm7.8-112C359.5 24.9 310.7 0 256 0S152.5 24.9 120.2 64H64C28.7 64 0 92.7 0 128V448c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V128c0-35.3-28.7-64-64-64H391.8zM296 224c0-10.6-4.1-20.2-10.9-27.4l33.6-78.3c3.5-8.1-.3-17.5-8.4-21s-17.5 .3-21 8.4L255.7 184c-22 .1-39.7 18-39.7 40c0 22.1 17.9 40 40 40s40-17.9 40-40z"
              />
            </svg>
          </mat-form-field>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <mat-form-field class="input-full-width">
            <mat-label>{{
              currentLanguageSet?.vitalsDetails?.vitalsDataANC_OPD_NCD_PNC
                ?.diastolicBP
            }}</mat-label>
            <input
              autocomplete="off"
              matInput
              defaultNull
              [ngClass]="{
                abnormal:
                  diastolicBP_1stReading < 60 || diastolicBP_1stReading > 90
              }"
              (change)="checkDiastolic(diastolicBP_1stReading)"
              allowText="number"
              id="diastolicBP_1stReading"
              name="diastolicBP_1stReading"
              allowMax="240"
              maxlength="3"
              formControlName="diastolicBP_1stReading"
              (blur)="
                checkDiastolicLower(
                  systolicBP_1stReading,
                  diastolicBP_1stReading
                )
              "
              [required]="
                (benAge > 30 &&
                  visitCategory !== 'FP & Contraceptive Services' &&
                  visitCategory !== 'General OPD') ||
                visitCategory === 'ANC'
              "
            />
            <svg
              class="fontawesomesvg"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
              matTooltip="{{ currentLanguageSet?.common?.startTest }}"
              matSuffix
              (click)="openIOTBPModel()"
              onkeydown="openIOTBPModel()"
              tabindex="{0}"
            >
              <path
                d="M384 176c0 70.7-57.3 128-128 128s-128-57.3-128-128s57.3-128 128-128s128 57.3 128 128zm7.8-112C359.5 24.9 310.7 0 256 0S152.5 24.9 120.2 64H64C28.7 64 0 92.7 0 128V448c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V128c0-35.3-28.7-64-64-64H391.8zM296 224c0-10.6-4.1-20.2-10.9-27.4l33.6-78.3c3.5-8.1-.3-17.5-8.4-21s-17.5 .3-21 8.4L255.7 184c-22 .1-39.7 18-39.7 40c0 22.1 17.9 40 40 40s40-17.9 40-40z"
              />
            </svg>
          </mat-form-field>
        </div>

        <div
          class="col-xs-12 col-sm-6 col-md-3 col-lg-3"
          *ngIf="visitCategory !== 'NCD screening'"
        >
          <mat-form-field class="input-full-width">
            <mat-label>{{
              currentLanguageSet?.vitalsDetails?.vitalsDataANC_OPD_NCD_PNC
                ?.respiratoryRate
            }}</mat-label>
            <input
              autocomplete="off"
              matInput
              defaultNull
              allowText="number"
              [ngClass]="{
                abnormal: respiratoryRate < 11 || respiratoryRate > 23
              }"
              name="respiratoryRate"
              id="respiratoryRate"
              formControlName="respiratoryRate"
              (change)="checkRespiratoryRate(respiratoryRate)"
              allowMax="150"
              maxlength="3"
            />
          </mat-form-field>
        </div>

        <div
          *ngIf="showGlucoseQC && visitCategory !== 'NCD screening'"
          class="col-xs-12 col-sm-12 m-t-10"
        >
          <strong>{{
            currentLanguageSet?.vitalsDetails?.vitalsCancerscreening_QC
              ?.bloodGlucose
          }}</strong>
          <div class="row col-xs-12 col-sm-12 m-t-10">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 m-t-10">
              <mat-form-field class="input-full-width">
                <mat-label>{{
                  currentLanguageSet?.vitalsDetails?.vitalsCancerscreening_QC
                    ?.fasting
                }}</mat-label>
                <input
                  autocomplete="off"
                  matInput
                  defaultNull
                  allowText="number"
                  allowMax="900"
                  maxlength="3"
                  name="bloodGlucose_Fasting"
                  id="bloodGlucose_Fasting"
                  formControlName="bloodGlucose_Fasting"
                  [ngClass]="{
                    abnormal:
                      bloodGlucose_Fasting < 50 || bloodGlucose_Fasting > 700
                  }"
                  (change)="checkBloodSugarFasting(bloodGlucose_Fasting)"
                />
                <svg
                  class="fontawesomesvg"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 512 512"
                  matTooltip="{{ currentLanguageSet?.common?.startTest }}"
                  matSuffix
                  (click)="openIOTBGFastingModel()"
                  onkeydown="openIOTBGFastingModel()"
                  tabindex="{0}"
                >
                  <path
                    d="M384 176c0 70.7-57.3 128-128 128s-128-57.3-128-128s57.3-128 128-128s128 57.3 128 128zm7.8-112C359.5 24.9 310.7 0 256 0S152.5 24.9 120.2 64H64C28.7 64 0 92.7 0 128V448c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V128c0-35.3-28.7-64-64-64H391.8zM296 224c0-10.6-4.1-20.2-10.9-27.4l33.6-78.3c3.5-8.1-.3-17.5-8.4-21s-17.5 .3-21 8.4L255.7 184c-22 .1-39.7 18-39.7 40c0 22.1 17.9 40 40 40s40-17.9 40-40z"
                  />
                </svg>
              </mat-form-field>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 m-t-10">
              <mat-form-field class="input-full-width">
                <mat-label>{{
                  currentLanguageSet?.vitalsDetails?.vitalsCancerscreening_QC
                    ?.random
                }}</mat-label>
                <input
                  autocomplete="off"
                  matInput
                  defaultNull
                  allowText="number"
                  allowMax="900"
                  maxlength="3"
                  name="bloodGlucose_Random"
                  id="bloodGlucose_Random"
                  formControlName="bloodGlucose_Random"
                  [ngClass]="{ abnormal: bloodGlucose_Random < 140 }"
                  (change)="checkBloodSugarRandom(bloodGlucose_Random)"
                />
                <svg
                  class="fontawesomesvg"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 512 512"
                  matTooltip="{{ currentLanguageSet?.common?.startTest }}"
                  matSuffix
                  (click)="openIOTBGRandomModel()"
                  onkeydown="openIOTBGRandomModel()"
                  tabindex="{0}"
                >
                  <path
                    d="M384 176c0 70.7-57.3 128-128 128s-128-57.3-128-128s57.3-128 128-128s128 57.3 128 128zm7.8-112C359.5 24.9 310.7 0 256 0S152.5 24.9 120.2 64H64C28.7 64 0 92.7 0 128V448c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V128c0-35.3-28.7-64-64-64H391.8zM296 224c0-10.6-4.1-20.2-10.9-27.4l33.6-78.3c3.5-8.1-.3-17.5-8.4-21s-17.5 .3-21 8.4L255.7 184c-22 .1-39.7 18-39.7 40c0 22.1 17.9 40 40 40s40-17.9 40-40z"
                  />
                </svg>
              </mat-form-field>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 m-t-10">
              <mat-form-field class="input-full-width">
                <mat-label>{{
                  currentLanguageSet?.vitalsDetails?.vitalsCancerscreening_QC
                    ?.postPrandial
                }}</mat-label>
                <input
                  autocomplete="off"
                  matInput
                  defaultNull
                  name="bloodGlucose_2hr_PP"
                  id="bloodGlucose_2hr_PP"
                  formControlName="bloodGlucose_2hr_PP"
                  allowText="number"
                  allowMax="900"
                  maxlength="3"
                  [ngClass]="{ abnormal: bloodGlucose_2hr_PP < 140 }"
                  (change)="checkBloodSugar2HrPostPrandial(bloodGlucose_2hr_PP)"
                />
                <svg
                  class="fontawesomesvg"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 512 512"
                  matTooltip="{{ currentLanguageSet?.common?.startTest }}"
                  matSuffix
                  (click)="openIOTBGPostPrandialModel()"
                  onkeydown="openIOTBGPostPrandialModel()"
                  tabindex="{0}"
                >
                  <path
                    d="M384 176c0 70.7-57.3 128-128 128s-128-57.3-128-128s57.3-128 128-128s128 57.3 128 128zm7.8-112C359.5 24.9 310.7 0 256 0S152.5 24.9 120.2 64H64C28.7 64 0 92.7 0 128V448c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V128c0-35.3-28.7-64-64-64H391.8zM296 224c0-10.6-4.1-20.2-10.9-27.4l33.6-78.3c3.5-8.1-.3-17.5-8.4-21s-17.5 .3-21 8.4L255.7 184c-22 .1-39.7 18-39.7 40c0 22.1 17.9 40 40 40s40-17.9 40-40z"
                  />
                </svg>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div
          *ngIf="visitCategory === 'ANC'"
          class="col-xs-12 col-sm-6 col-md-3 col-lg-3"
        >
          <mat-form-field class="input-full-width">
            <mat-label>{{ currentLanguageSet?.hemoglobin }}</mat-label>
            <input
              autocomplete="off"
              matInput
              defaultNull
              allowText="tempDecimal"
              [ngClass]="{ abnormal: hemoglobin < 11 || hemoglobin > 15.1 }"
              (change)="checkHemoglobin()"
              name="hemoglobin"
              id="hemoglobin"
              formControlName="hemoglobin"
              allowMax="150"
              maxlength="4"
            />
          </mat-form-field>
        </div>

        <div class="col-xs-12 col-sm-12 m-t-10">
          <strong>Random Glucose Test</strong>
        </div>
        <div
          class="col-xs-12 col-sm-12 text-right m-t-10"
          *ngIf="
            referredVisitcode !== 'undefined' &&
            referredVisitcode !== undefined &&
            referredVisitcode !== null
          "
        >
          <p class="font-history-label m-t-10">
            {{ currentLanguageSet?.loadMMURBS }}
          </p>
          <button
            type="button"
            style="margin-right: 15px"
            mat-icon-button
            matTooltip="{{ currentLanguageSet?.loadMMURBS }}"
            id="PreviousRbsHistory"
            class="pull-right"
            color="primary"
            (click)="loadMMURBS()"
          >
            <mat-icon class="md-18">history</mat-icon>
          </button>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <div class="col-xs-2 col-sm-2 m-t-15" *ngIf="diabetesSelected === 1">
            <mat-checkbox
              color="accent"
              formControlName="rbsCheckBox"
              (change)="onRbsCheckBox($event)"
            >
            </mat-checkbox>
          </div>
          <div class="col-xs-10 col-sm-10 col-lg-12">
            <mat-form-field class="input-full-width">
              <mat-label>{{ currentLanguageSet?.rbsTestResult }}</mat-label>
              <input
                autocomplete="off"
                matInput
                defaultNull
                allowText="number"
                [disabled]="rbsResultChange()"
                name="rbsTestResult"
                id="rbsTestResult"
                [required]="diabetesSelected === 1 ? rbsCheckBox : false"
                formControlName="rbsTestResult"
                maxlength="4"
                (blur)="checkForRange()"
                (change)="rbsResultChange()"
                [ngClass]="{
                  abnormal: rbsTestResult < 0 || rbsTestResult > 1000
                }"
              />
              <svg
                class="fontawesomesvg"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 512 512"
                matTooltip="{{ currentLanguageSet?.common?.startTest }}"
                matSuffix
                (click)="openIOTRBSModel()"
                onkeydown="openIOTRBSModel()"
                tabindex="{0}"
              >
                <path
                  d="M384 176c0 70.7-57.3 128-128 128s-128-57.3-128-128s57.3-128 128-128s128 57.3 128 128zm7.8-112C359.5 24.9 310.7 0 256 0S152.5 24.9 120.2 64H64C28.7 64 0 92.7 0 128V448c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V128c0-35.3-28.7-64-64-64H391.8zM296 224c0-10.6-4.1-20.2-10.9-27.4l33.6-78.3c3.5-8.1-.3-17.5-8.4-21s-17.5 .3-21 8.4L255.7 184c-22 .1-39.7 18-39.7 40c0 22.1 17.9 40 40 40s40-17.9 40-40z"
                />
              </svg>
            </mat-form-field>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <mat-form-field class="input-full-width">
            <mat-label>{{ currentLanguageSet?.rbsTestRemarks }}</mat-label>
            <input
              autocomplete="off"
              matInput
              allowText="textAreaValidator"
              defaultNull
              name="rbsTestRemarks"
              id="rbsTestRemarks"
              formControlName="rbsTestRemarks"
              maxlength="300"
              [disabled]="rbsResultChange()"
            />
          </mat-form-field>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</section>
