<div class="row m-t-20" [formGroup]="covidVaccineStatusForm">
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
    <mat-select
      class="input-full-width"
      placeholder="{{ currentLanguageSet?.ageGroup }}"
      formControlName="ageGroup"
      name="ageGroup"
      (change)="setIsApplicable()"
    >
      <mat-option *ngFor="let ageGroups of ageGroupsList" [value]="ageGroups">
        {{ ageGroups }}
      </mat-option>
    </mat-select>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
    <mat-select
      class="input-full-width"
      placeholder="{{ currentLanguageSet?.isApplicableForVaccine }}"
      formControlName="isApplicableForVaccine"
      name="isApplicableForVaccine"
    >
      <mat-option
        *ngFor="
          let applicableForVaccineStatus of applicableForVaccineStatusList
        "
        [value]="applicableForVaccineStatus"
      >
        {{ applicableForVaccineStatus }}
      </mat-option>
    </mat-select>
  </div>

  <div
    class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box"
    *ngIf="enableVaccinationStatusFields"
  >
    <mat-select
      class="input-full-width"
      placeholder="{{ currentLanguageSet?.vaccineStatus }}"
      formControlName="vaccineStatus"
      name="vaccineStatus"
      (change)="enableVaccineTypeAndDoseTaken()"
      [required]="enableVaccinationStatusFields === true"
    >
      <mat-option value="YES">YES</mat-option>
      <mat-option value="NO">NO</mat-option>
    </mat-select>
  </div>
  <div
    class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box"
    *ngIf="enableVaccineTypeAndDoseTakenFlag"
  >
    <mat-select
      class="input-full-width"
      placeholder="{{ currentLanguageSet?.vaccineTypes }}"
      formControlName="vaccineTypes"
      name="vaccineTypes"
      [required]="enableVaccineTypeAndDoseTakenFlag === true"
      (change)="enableSaveButtonInForm()"
    >
      <mat-option
        *ngFor="let vaccineType of vaccineTypeList"
        [value]="vaccineType.covidVaccineTypeID"
      >
        {{ vaccineType.vaccineType }}
      </mat-option>
    </mat-select>
  </div>
  <div
    class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box"
    *ngIf="enableVaccineTypeAndDoseTakenFlag"
  >
    <mat-select
      class="input-full-width"
      placeholder="{{ currentLanguageSet?.doseTaken }}"
      formControlName="doseTaken"
      name="doseTaken"
      [required]="enableVaccineTypeAndDoseTakenFlag === true"
      (change)="enableSaveButtonInForm()"
    >
      <mat-option
        *ngFor="let doseType of doseTypeList"
        [value]="doseType.covidDoseTypeID"
      >
        {{ doseType.doseType }}
      </mat-option>
    </mat-select>
  </div>

  <div class="col-xs-12">
    <button
      mat-raised-button
      class="pull-right button-overall-disabled"
      (click)="saveBenCovidVaccinationDetails()"
      [disabled]="enableSaveButton"
      color="primary"
    >
      {{ currentLanguageSet?.coreComponents?.save }}
    </button>
  </div>
</div>
