.input-full-width {
    width: 100%;
}

.box {
    height: 60px;
}

.btn-save {
    background-color: #f0f0f0 !important;
    border-color: unset !important;
    color: white;
    border: unset;
    border-radius: 3px;
    margin-bottom: 10px;
}