h5{
    font-weight: bold;
}

.mat-expansion-panel-header{
    background: rgba(37,55,70,0.2);
}

.input-full-width {
    width: 100%;
}

.radio-button{
    margin-right : 25px;
}

.control-label{
    font-weight: normal;
}

.mat-form-field {
    line-height: unset;
}

mat-form-field >>> .mat-mdc-text-field-wrapper {
    width: 135% !important;
}
mat-form-field >>> .mdc-text-field__input {
    width: 54% !important;
}