<form [formGroup]="DiseaseSummaryForm" autocomplete="off">
  <div class="row m-t-20">
    <div
      class="col-xs-12 col-sm-6 col-md-4"
      style="margin-top: 25px"
      *ngIf="!viewMode"
    >
      <mat-form-field [style.width]="'100%'" #diseaseAutocompleteField>
        <mat-label class="mat-label-text">
          {{
            currentLanguageSet?.nurseData?.chiefComplaintsDetails
              ?.diseaseSummary
          }}
        </mat-label>
        <input
          [matAutocomplete]="auto"
          #diseaseElementInput
          type="text"
          matInput
          name="diseaseSummary"
          formControlName="diseaseSummary"
          (input)="
            showDiseaseSummary(
              DiseaseSummaryForm.controls['diseaseSummary'].value,
              diseaseAutocompleteField,
              diseaseElementInput
            )
          "
          (keyup.enter)="
            showDiseaseSummary(
              DiseaseSummaryForm.controls['diseaseSummary'].value,
              diseaseAutocompleteField,
              diseaseElementInput
            )
          "
        />
        <mat-autocomplete
          #auto="matAutocomplete"
          (optionSelected)="
            showDiseaseSummary(
              DiseaseSummaryForm.controls['diseaseSummary'].value,
              diseaseAutocompleteField,
              diseaseElementInput
            )
          "
        >
          <mat-option
            *ngFor="let compl of filteredOptions | async"
            [value]="compl"
          >
            {{ compl }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4" *ngIf="viewMode">
      <mat-form-field [style.width]="'100%'">
        <mat-label>
          {{
            currentLanguageSet?.nurseData?.chiefComplaintsDetails
              ?.diseaseSummary
          }}
        </mat-label>
        <textarea
          matInput
          textAreaValidator
          formControlName="diseaseSummaryView"
          [readonly]="viewMode"
        ></textarea>
      </mat-form-field>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <mat-form-field [style.width]="'100%'">
        <mat-label>
          {{ currentLanguageSet?.infoGiven }}
        </mat-label>
        <textarea
          matInput
          textAreaValidator
          rows="2"
          [style.width]="'100%'"
          formControlName="informationGiven"
          name="informationGiven"
          minlength="4"
          maxlength="100"
          readonly
          [readonly]="viewMode"
        ></textarea>
      </mat-form-field>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <mat-form-field [style.width]="'100%'">
        <mat-label>
          {{ currentLanguageSet?.recommendedAction }}
        </mat-label>
        <textarea
          matInput
          textAreaValidator
          rows="2"
          name="recommendedAction"
          formControlName="recommendedAction"
          [readonly]="viewMode"
        ></textarea>
      </mat-form-field>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 m-t-10">
    <mat-form-field appName [style.width]="'100%'">
      <mat-label>
        {{ currentLanguageSet?.common?.remarks }}
      </mat-label>
      <textarea
        matInput
        maxlength="300"
        minlength="3"
        name="remarks"
        formControlName="remarks"
        [readonly]="viewMode"
      ></textarea>
    </mat-form-field>
  </div>
</form>
