<div class="title info">
  <h4>{{ currentLanguageSet?.setPasswordForAbha }}</h4>
  <mat-icon
    class="pull-right close-btn md-24"
    matDialogClose
    (click)="closeDialog()"
    mat-icon-button
    >close</mat-icon
  >
</div>

<br />

<div class="col-xs-12 col-sm-12">
  <div class="row buttonSubmit" style="padding: left 25px">
    <form #passwordFields="ngForm">
      <div fxLayoutAlign="start end">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 fieldPadding">
          <mat-form-field class="full-width">
            <mat-label>
              {{ currentLanguageSet?.newPassword }}
            </mat-label>
            <input
              autocomplete="off"
              matInput
              type="{{ dynamictype }}"
              id="password"
              [(ngModel)]="newpwd"
              name="newpwd"
              #newPswd="ngModel"
              minlength="8"
            />

            <mat-icon
              matSuffix
              class="mat-icon material-icons cursorPointer"
              role="img"
              aria-hidden="true"
              matTooltip="Show Password"
              (mousedown)="showPWD()"
              (mouseup)="hidePWD()"
              style="color: gray"
            >
              visibility
            </mat-icon>
            <mat-error *ngIf="newPswd?.errors?.['minlength']">
              {{ currentLanguageSet?.minCharPassRequired }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div fxLayoutAlign="start end">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 fieldPadding">
          <mat-form-field class="full-width">
            <mat-label>
              {{ currentLanguageSet?.confirmPassword }}
            </mat-label>
            <input
              autocomplete="off"
              matInput
              type="{{ dynamictypeConfirm }}"
              id="password"
              [(ngModel)]="confirmpwd"
              name="confirmpwd"
              #confirmPswd="ngModel"
              minlength="8"
            />

            <mat-icon
              matSuffix
              class="mat-icon material-icons cursorPointer"
              role="img"
              aria-hidden="true"
              matTooltip="Show Password"
              (mousedown)="showPWDConfirm()"
              (mouseup)="hidePWDConfirm()"
              style="color: gray"
            >
              visibility
            </mat-icon>
            <mat-error *ngIf="confirmPswd?.errors?.['minlength']">
              {{ currentLanguageSet?.minCharPassRequired }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </form>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 fieldPadding">
      <button
        type="button"
        mat-raised-button
        style="width: 98%"
        color="accent"
        [disabled]="!passwordFields.valid"
        class="full-width largeBtn buttonSubmit mat_green"
        (click)="updatePass()"
      >
        {{ currentLanguageSet?.common?.submit }}
      </button>
    </div>
  </div>
</div>
