<div class="row m-t-10" [formGroup]="feedingHistoryForm">
  <button
    type="button"
    class="history-label col-12 mat-icon-button mat_icon_blue"
    id="previousFeedingHistory"
    color="primary"
    matTooltip="{{ currentLanguageSet?.DurationData?.previousDetails }}"
    (click)="getPreviousFeedingHistory()"
    (keydown.enter)="getPreviousFeedingHistory()"
    (keydown.space)="getPreviousFeedingHistory()"
  >
    <mat-icon class="md-18 ms-2">history</mat-icon>
    <span class="previousHistory">
      {{
        currentLanguageSet?.historyData?.Feedinghistorydetails
          ?.previousfeedinghistory
      }}
    </span>
  </button>
  <div>
    <div class="box col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <mat-form-field [style.width]="'100%'">
        <mat-label class="mat-label-text">{{
          currentLanguageSet?.historyData?.opd_NCD_PNCHistory?.feeding
            ?.typeofFeeds
        }}</mat-label>
        <mat-select
          class="select-full-width"
          name="typeOfFeedsDuringFirst6Months"
          formControlName="typeOfFeed"
        >
          <mat-option
            *ngFor="let feedsAge of masterData?.feedTypes"
            [value]="feedsAge.value"
            >{{ feedsAge.value }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>

    <div class="clearfix"></div>

    <div class="box col-xs-12 col-sm-6 col-md-6 col-lg-6" *ngIf="age > 6">
      <mat-form-field [style.width]="'100%'">
        <mat-label class="mat-label-text">{{
          currentLanguageSet?.historyData?.opd_NCD_PNCHistory?.feeding
            ?.ageatweaning
        }}</mat-label>
        <mat-select
          class="select-full-width"
          name="ageAtWeaningFeedIntroduced"
          formControlName="compFeedStartAge"
          (change)="resetNoOfCompFeedPerDay()"
        >
          <mat-option
            *ngFor="let feedType of masterData?.compFeedAges"
            [value]="feedType.value"
            >{{ feedType.value }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>

    <div
      class="box col-xs-12 col-sm-6 col-md-6 col-lg-6"
      *ngIf="compFeedStartAge"
    >
      <mat-form-field [style.width]="'100%'">
        <mat-label class="mat-label-text">{{
          currentLanguageSet?.historyData?.opd_NCD_PNCHistory?.feeding
            ?.numberofComplimentaryfoodservings
        }}</mat-label>
        <mat-select
          class="select-full-width"
          name="complimentaryFoodNumber"
          formControlName="noOfCompFeedPerDay"
        >
          <mat-option
            *ngFor="let feedsNumber of masterData?.compFeedServings"
            [value]="feedsNumber.value"
            >{{ feedsNumber.value }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>

    <div class="clearfix"></div>

    <div class="box col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <label class="control-label" for="foodIntoleranceStatus">{{
        currentLanguageSet?.historyData?.opd_NCD_PNCHistory?.feeding
          ?.foodIntoleranceStatus
      }}</label>
      <div class="clearfix"></div>
      <mat-radio-group
        name="foodIntoleranceStatus"
        formControlName="foodIntoleranceStatus"
        (change)="resetTypeofFoodIntolerance()"
      >
        <mat-radio-button color="primary" [value]="true">{{
          currentLanguageSet?.common?.yes
        }}</mat-radio-button>
        <mat-radio-button color="primary" [value]="false" class="radio-btn">{{
          currentLanguageSet?.common?.no
        }}</mat-radio-button>
      </mat-radio-group>
    </div>
    <div
      class="box col-xs-12 col-sm-6 col-md-3 col-lg-3"
      *ngIf="foodIntoleranceStatus === true || foodIntoleranceStatus === 1"
    >
      <mat-form-field [style.width]="'100%'">
        <mat-label class="mat-label-text">{{
          currentLanguageSet?.historyData?.opd_NCD_PNCHistory?.feeding
            ?.typeofFoodIntolerance
        }}</mat-label>
        <mat-select
          multiple
          class="select-full-width"
          formControlName="typeOfFoodIntolerances"
          name="typeOfFoodIntolerances"
          (change)="
            checkForOthersOption(
              feedingHistoryForm.controls['typeOfFoodIntolerances'].value
            )
          "
        >
          <mat-option
            *ngFor="let foodType of foodIntoleranceTypes"
            [value]="foodType.intoleranceStatus"
          >
            {{ foodType.intoleranceStatus }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div
      class="box col-xs-12 col-sm-6 col-md-3 col-lg-3"
      *ngIf="enableOthersTextField"
    >
      <mat-form-field class="input-full-width">
        <mat-label class="mat-label-text">{{
          currentLanguageSet?.others
        }}</mat-label>
        <input
          autocomplete="off"
          matInput
          defaultNull
          maxlength="50"
          allowText="alphaspace"
          formControlName="otherFoodIntolerance"
          name="otherFoodIntolerance"
        />
      </mat-form-field>
    </div>
  </div>
</div>
