<div class="" [formGroup]="familyHistoryForm">
  <div class="col-12" formArrayName="familyDiseaseList">
    <div class="col-12" style="text-align: end">
      <span class="font-history-label">{{
        currentLanguageSet?.historyData?.ancHistory
          ?.familyHistoryDataANC_OPD_NCD_PNC?.previousFamilyHistory
      }}</span>
      <button
        type="button"
        mat-icon-button
        matTooltip="{{ currentLanguageSet?.DurationData?.previousDetails }}"
        id="previousANCFamilyHistory"
        class="mat_icon_blue"
        color="primary"
        (click)="getPreviousFamilyHistory()"
      >
        <mat-icon class="md-18">history</mat-icon>
      </button>
    </div>
    <div
      class="col-12 row multi_row_select"
      style="margin: 15px 0px 15px 0px; background-color: #f0f5f5"
      *ngFor="
        let familyDisease of getFamilyDiseases();
        let i = index;
        let isLast = last;
        let isOdd = odd
      "
      [ngClass]="{ odd: !isOdd }"
    >
      <ng-container [formGroupName]="i">
        <div class="col-3 box">
          <mat-label class="mat-label-text">{{
            currentLanguageSet?.historyData?.ancHistory
              ?.familyHistoryDataANC_OPD_NCD_PNC?.diseaseType
          }}</mat-label>
          <mat-select
            class="select-full-width"
            name="diseaseType"
            formControlName="diseaseType"
            (change)="filterFamilyDiseaseList($event, i, familyDisease)"
          >
            <mat-option
              *ngFor="let disease of diseaseSelectList[i]"
              [value]="disease"
            >
              {{ disease.diseaseType }}
            </mat-option>
          </mat-select>
        </div>

        <div
          class="col-3 box"
          *ngIf="familyDisease.value.diseaseType?.diseaseType === 'Other'"
        >
          <mat-form-field class="input-full-width">
            <mat-label class="mat-label-text">{{
              currentLanguageSet?.pncData?.others
            }}</mat-label>
            <input
              autocomplete="off"
              matInput
              appDefaultNull
              maxlength="50"
              allowText="alphaspace"
              name="otherDiseaseType"
              formControlName="otherDiseaseType"
            />
          </mat-form-field>
        </div>

        <div class="col-3 box" [hidden]="true">
          <mat-form-field class="input-full-width">
            <mat-label class="mat-label-text">{{
              currentLanguageSet?.historyData?.opdNCDPNCHistory?.otherVaccine
                ?.sctCode
            }}</mat-label>
            <input
              maxlength="100"
              matInput
              [style.width]="'100%'"
              formControlName="snomedCode"
              readonly
            />
          </mat-form-field>
        </div>

        <div
          class="col-3 box"
          *ngIf="
            (familyDisease?.value?.diseaseType !== null &&
              familyDisease?.value?.diseaseType !== '') ||
            familyDisease?.value?.diseaseType?.diseaseType === 'None'
          "
        >
          <mat-form-field class="input-full-width">
            <mat-label class="mat-label-text">{{
              currentLanguageSet?.historyData?.ancHistory
                ?.familyHistoryDataANC_OPD_NCD_PNC?.familyMember
            }}</mat-label>
            <mat-select
              class="select-full-width"
              multiple
              name="familyMembers"
              formControlName="familyMembers"
            >
              <mat-option
                *ngFor="let member of familyMemeberMasterData"
                [value]="member.benRelationshipType"
              >
                {{ member.benRelationshipType }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-3 box action-btn-container" style="text-align: end">
          <button
            md-mini-fab
            color="warn"
            class="mat_warn_circle"
            style="margin-right: 5px"
            id="removeFamilyDisease"
            *ngIf="i !== 0 || (i === 0 && familyDisease.touched)"
            (click)="removeFamilyDisease(i, familyDisease)"
          >
            <mat-icon class="md-18">close</mat-icon>
          </button>
          <button
            md-mini-fab
            color="primary"
            class="mat_blue_circle"
            *ngIf="isLast"
            [disabled]="checkValidity(familyDisease)"
            id="addFamilyDisease"
            (click)="addFamilyDisease()"
          >
            <mat-icon class="md-18">add</mat-icon>
          </button>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="col-xs-12">
    <div class="row m-t-10">
      <div class="col-xs-12 col-sm-6 col-md-3 box">
        <label class="control-label" for="geneticDisorders">{{
          currentLanguageSet?.historyData?.ancHistory
            ?.familyHistoryDataANC_OPD_NCD_PNC?.H_geneticDisorders
        }}</label>
        <div class="clearfix"></div>
        <mat-radio-group
          name="isGeneticDisorder"
          formControlName="isGeneticDisorder"
          (change)="resetOtherGeneticOrder()"
        >
          <mat-radio-button color="primary" [value]="true">{{
            currentLanguageSet?.common?.yes
          }}</mat-radio-button>
          <mat-radio-button color="primary" [value]="false">{{
            currentLanguageSet?.common?.no
          }}</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3 box" *ngIf="isGeneticDisorder">
        <mat-form-field>
          <mat-label class="mat-label-text">{{
            currentLanguageSet?.historyData?.ancHistory
              ?.familyHistoryDataANC_OPD_NCD_PNC?.geneticDisorders
          }}</mat-label>
          <input
            autocomplete="off"
            allowText="inputFieldValidator"
            matInput
            appDefaultNull
            maxlength="50"
            name="geneticDisorder"
            formControlName="geneticDisorder"
          />
        </mat-form-field>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3 box">
        <label class="control-label" for="consanguineousMarriage">{{
          currentLanguageSet?.historyData?.ancHistory
            ?.familyHistoryDataANC_OPD_NCD_PNC?.consanguineousMarriage
        }}</label>
        <div class="clearfix"></div>
        <mat-radio-group
          name="isConsanguineousMarrige"
          formControlName="isConsanguineousMarrige"
        >
          <mat-radio-button color="primary" [value]="true">{{
            currentLanguageSet?.common?.yes
          }}</mat-radio-button>
          <mat-radio-button color="primary" [value]="false">{{
            currentLanguageSet?.common?.no
          }}</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </div>
</div>
