<div class="title info">
  <h4>{{ currentLanguageSet?.generateABHA }}</h4>
  <button
    class="pull-right close-btn"
    matDialogClose
    (click)="closeDialog()"
    mat-icon-button
  >
    <mat-icon class="md-24">close</mat-icon>
  </button>
</div>
<br />

<div class="overlay" *ngIf="showProgressBar">
  <div class="overlay-content">
    <mat-spinner></mat-spinner>
  </div>
</div>
<br />

<div class="col-xs-12 col-sm-12" [formGroup]="generateMobileOTPForm" novalidate>
  <div class="row">
    <div
      class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
      *ngIf="!enableMobileOTPForm"
    >
      <mat-form-field [style.width]="'100%'">
        <input
          defaultNull
          autocomplete="off"
          allowText="number"
          required
          matInput
          minlength="10"
          maxlength="10"
          [min]="10"
          placeholder="{{ currentLanguageSet?.enterMobileNo }}"
          formControlName="mobileNo"
        />
        <mat-error
          *ngIf="
            generateMobileOTPForm.controls['mobileNo'].errors?.['required']
          "
        >
          {{ currentLanguageSet?.benDetailsAlert?.mobNoMandatory }}</mat-error
        >
        <mat-error
          *ngIf="
            generateMobileOTPForm.controls['mobileNo'].errors?.['minlength']
          "
        >
          {{
            currentLanguageSet?.benDetailsAlert?.minDigitsRequired
          }}</mat-error
        >
      </mat-form-field>
    </div>

    <div
      class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
      *ngIf="enableMobileOTPForm"
    >
      <mat-form-field [style.width]="'100%'">
        <input
          defaultNull
          autocomplete="off"
          type="text"
          required
          matInput
          minlength="6"
          maxlength="6"
          placeholder="{{ currentLanguageSet?.enterOTP }}"
          (keypress)="numberOnly($event)"
          formControlName="mobileOtp"
        />
      </mat-form-field>
    </div>
    <div class="col-sm-12 step-btn m-b-20" style="text-align: right">
      <button
        id="submitButton"
        mat-raised-button
        type="accent"
        color="accent"
        [disabled]="!generateMobileOTPForm.valid"
        (click)="onSubmitOfMobileNo(); verifyMobileOtp()"
      >
        {{ currentLanguageSet?.common?.submit }}
      </button>
    </div>
  </div>
</div>
