h5 {
    font-weight: bold;
}

.textarea-full-width {
    width: 100%;
}

.input-full-width {
    width: 100%;
}

.input-full-width-chief {
    width: 100%;
}

.mat-form-field {
    line-height: unset;
}

.box {
    height: 60px;
}

.autocomplete {
    padding: 0px 16px;
    width: 100%;
    border-bottom: 1px solid lightgray;
}

.input-full-width>>>.mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #f0f5f5 !important;
    margin-left: unset;
}

.input_style>>>.mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #f0f5f5 !important;
    margin-left: unset;
}

.input_style>>>.mdc-text-field {
    padding: unset !important;
}

.input-full-width>>>.mdc-text-field {
    padding: unset !important;
}

.input-full-width>>>.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
    border-bottom-style: dotted !important;
}

.btn-warn {
    background-color: red;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
    min-width: 0;
    border-radius: 50%;
    border-color: unset !important;
    color: white;
    border: unset;
    width: 40px;
    height: 40px;
    padding: 0;
    z-index: 3;
}

.btn-add {
    width: 40px;
    height: 40px;
}
.input-full-width >>> .mat-mdc-form-field:not(.mat-form-field-no-animations) .mdc-text-field__input {
    border-bottom-style: unset !important;
}

.input-full-width>>>.mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined) .mat-mdc-form-field-infix {

    background-color: #f0f5f5 !important;
}