<div
  class="row m-t-20"
  *ngIf="!benChiefComplaints"
  [formGroup]="patientChiefComplaintsForm"
>
  <div class="col-xs-12" formArrayName="complaints">
    <div
      class="row multi-row-select"
      *ngFor="
        let complaint of getCheifComplaints();
        let i = index;
        let isLast = last;
        let isOdd = odd
      "
      [ngClass]="{ odd: !isOdd }"
    >
      <div [formGroupName]="i">
        <div class="col-12 row">
          <div class="col-md-4">
            <mat-form-field class="input-full-width">
              <mat-label class="mat-label-text">{{
                currentLanguageSet?.nurseData?.chiefComplaintsDetails
                  ?.chiefComplaints
              }}</mat-label>
              <input
                autocomplete="off"
                type="text"
                matInput
                name="chiefComplaint"
                formControlName="chiefComplaint"
                #complaintType
                (keyup)="suggestChiefComplaintList(complaint, i)"
                (blur)="reEnterChiefComplaint(complaint)"
                [matAutocomplete]="auto"
              />
            </mat-form-field>

            <mat-autocomplete
              #auto="matAutocomplete"
              [displayWith]="displayChiefComplaint"
              (optionSelected)="
                filterComplaints($event.option.value, i);
                getSCTid($event.option.value, i)
              "
            >
              <mat-option
                *ngFor="let compl of suggestedChiefComplaintList[i]"
                [value]="compl"
              >
                {{ compl.chiefComplaint }}
              </mat-option>
            </mat-autocomplete>
          </div>
          <div class="col-md-4 box" [hidden]="true">
            <mat-form-field class="input-full-width">
              <mat-label class="mat-label-text">{{
                currentLanguageSet?.nurseData?.chiefComplaintsDetails?.SCTID
              }}</mat-label>
              <input
                autocomplete="off"
                matInput
                defaultNull
                readonly="true"
                name="SCTID"
                formControlName="conceptID"
              />
            </mat-form-field>
          </div>
          <div class="col-md-4 box">
            <mat-form-field class="input-full-width">
              <mat-label class="mat-label-text">{{
                currentLanguageSet?.nurseData?.chiefComplaintsDetails?.duration
              }}</mat-label>
              <input
                autocomplete="off"
                matInput
                defaultNull
                allowText="number"
                maxlength="2"
                name="duration"
                formControlName="duration"
                (input)="onInputDuration(complaint)"
                (selectionChange)="validateDuration(complaint)"
              />
            </mat-form-field>
          </div>

          <div class="col-md-4 box">
            <mat-form-field [style.width]="'100%'">
              <mat-label class="mat-label-text">{{
                currentLanguageSet?.nurseData?.chiefComplaintsDetails
                  ?.unitOfDuration
              }}</mat-label>
              <mat-select
                class="input-full-width"
                name="unitOfDuration"
                formControlName="unitOfDuration"
                [disabled]="!complaint.value.duration"
                (selectionChange)="validateDuration(complaint)"
              >
                <mat-option value="Hours">Hour(s)</mat-option>
                <mat-option value="Days">Day(s)</mat-option>
                <mat-option value="Weeks">Week(s)</mat-option>
                <mat-option value="Months">Month(s)</mat-option>
                <mat-option value="Years">Year(s)</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-12 row">
          <div class="col-md-4">
            <mat-form-field class="textarea-full-width">
              <mat-label class="mat-label-text">{{
                currentLanguageSet?.nurseData?.chiefComplaintsDetails
                  ?.description
              }}</mat-label>
              <textarea
                matInput
                allowText="textAreaValidator"
                defaultNull
                matTextareaAutosize
                maxRows="3"
                minRows="6"
                name="description"
                formControlName="description"
                maxlength="300"
                [disabled]="!complaint.value.chiefComplaint"
              ></textarea>
            </mat-form-field>
          </div>

          <div class="col-xs-4 col-sm-2 col-md-4">
            <button
              type="button"
              mat-mini-fab
              class="mat-add-btn"
              type="button"
              style="margin-top: 25px"
              [id]="'addBtn' + i"
              *ngIf="isLast"
              [disabled]="checkComplaintFormValidity(complaint)"
              (click)="addCheifComplaint()"
              color="primary"
            >
              {{ currentLanguageSet?.common?.add }}
            </button>

            <button
              type="button"
              mat-mini-fab
              class="mat-remove-btn"
              style="margin-left: 3px; margin-top: 25px"
              [id]="'removeBtn' + i"
              *ngIf="i !== 0 || (i === 0 && complaint.touched)"
              (click)="removeCheifComplaint(i, complaint)"
              color="warn"
            >
              {{ currentLanguageSet?.common?.remove }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row m-t-10" *ngIf="benChiefComplaints">
  <div class="col-xs-12">
    <table
      class="table table-bordered"
      mat-table
      [dataSource]="dataSource"
      aria-describedby="benChiefComplaintsTbl"
    >
      <ng-container matColumnDef="chiefComplaint">
        <th
          mat-header-cell
          style="border-bottom: none"
          *matHeaderCellDef
          mat-sort-header
        >
          {{
            currentLanguageSet?.nurseData?.chiefComplaintsDetails
              ?.chiefComplaints
          }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element?.chiefComplaint }}
        </td>
      </ng-container>
      <ng-container matColumnDef="duration">
        <th
          mat-header-cell
          style="border-bottom: none"
          *matHeaderCellDef
          mat-sort-header
        >
          {{ currentLanguageSet?.nurseData?.chiefComplaintsDetails?.duration }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element?.duration }}
        </td>
      </ng-container>
      <ng-container matColumnDef="unitOfDuration">
        <th
          mat-header-cell
          style="border-bottom: none"
          *matHeaderCellDef
          mat-sort-header
        >
          {{
            currentLanguageSet?.nurseData?.chiefComplaintsDetails
              ?.unitOfDuration
          }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{
            element.unitOfDuration === "Hours"
              ? "Hour(s)"
              : element.unitOfDuration === "Days"
                ? "Day(s)"
                : element.unitOfDuration === "Weeks"
                  ? "Week(s)"
                  : element.unitOfDuration === "Months"
                    ? "Month(s)"
                    : element.unitOfDuration === "Years"
                      ? "Year(s)"
                      : element.unitOfDuration
          }}
        </td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th
          mat-header-cell
          style="border-bottom: none"
          *matHeaderCellDef
          mat-sort-header
        >
          {{
            currentLanguageSet?.nurseData?.chiefComplaintsDetails?.description
          }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.description }}
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <div
      class="pull-center"
      style="margin-top: 5px; text-align: center"
      *ngIf="dataSource.data.length === 0"
    >
      <strong>{{
        currentLanguageSet?.nurseData?.chiefComplaintsDetails?.noCheifComplaint
      }}</strong>
    </div>
  </div>
</div>
