<div class="container-fluid dialog" *ngIf="capture">
  <mat-dialog-content>
    <div class="row">
      <webcam
        *ngIf="!captured"
        [width]="options.width"
        [height]="options.height"
        #workarea
        [trigger]="triggerObservable"
        (imageCapture)="captureImg($event)"
      ></webcam>

      <img
        *ngIf="webcamImage"
        [src]="webcamImage.imageAsDataUrl"
        alt="sys"
        height="400px"
      />
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <h3 mat-dialog-title>
      <div class="row">
        <button
          mat-raised-button
          color="primary"
          class="mat_blue col-2"
          style="width: 12%; margin-right: 5px"
          (click)="dialogRef.close(false)"
        >
          {{ current_language_set?.common?.cancel }}
        </button>
        <button
          mat-raised-button
          color="primary"
          class="mat_blue col-2"
          style="width: 12%; margin-right: 5px"
          (click)="getSnapshot()"
        >
          {{ status }}
        </button>
        <button
          mat-raised-button
          color="primary"
          class="mat_blue col-2"
          style="width: 32%; margin-right: 5px"
          [disabled]="!captured"
          [mat-dialog-close]="sysImage"
        >
          {{ current_language_set?.common?.proceed }}
        </button>
      </div>
    </h3>
  </mat-dialog-actions>
</div>

<div class="container-fluid dialog" *ngIf="imageCode">
  <mat-dialog-content>
    <div class="row">
      <img
        *ngIf="webcamImage"
        [src]="webcamImage.imageAsDataUrl"
        alt="sys"
        height="400px"
      />
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <div class="row">
      <button
        mat-raised-button
        color="primary"
        class="mat_blue"
        mat-dialog-close
      >
        {{ current_language_set?.coreComponents?.close }}
      </button>
    </div>
  </mat-dialog-actions>
</div>

<div
  class="container-fluid dialog"
  *ngIf="!imageCode && !capture && !annotate && !graph"
>
  <mat-dialog-content>
    <div class="row">
      <h3>
        {{
          current_language_set?.coreComponents
            ?.noDataAvailableForThisBeneficiary
        }}
      </h3>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <div class="row">
      <button
        mat-raised-button
        color="primary"
        class="mat_blue"
        mat-dialog-close
      >
        {{ current_language_set?.coreComponents?.close }}
      </button>
    </div>
  </mat-dialog-actions>
</div>

<div class="container-fluid dialog" *ngIf="annotate">
  <mat-dialog-content>
    <div class="row">
      <div class="col-md-5 col-sm-5 text-center">
        <div [hidden]="true">
          <img #myImg [src]="annotate" alt="annotate" />
        </div>
        <canvas
          width="250"
          height="250"
          (click)="pointMark($event)"
          #myCanvas
          style="border: 1px solid #d3d3d3"
        ></canvas>
      </div>

      <div class="col-md-7 overflown col-sm-7">
        <h4>{{ current_language_set?.coreComponents?.markDescriptions }}</h4>
        <div *ngFor="let mark of markers">
          <mat-form-field [style.width]="'100%'">
            <input
              autocomplete="off"
              matInput
              placeholder="{{ mark.point }}."
              maxlength="30"
              [(ngModel)]="mark.description"
            />
          </mat-form-field>
        </div>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="center">
    <div class="col-12 row">
      <button
        mat-raised-button
        color="primary"
        class="mat_blue col-2"
        style="width: 12%; margin-right: 5px"
        mat-dialog-close
      >
        {{ current_language_set?.coreComponents?.close }}
      </button>
      <button
        mat-raised-button
        color="primary"
        style="width: 12%; margin-right: 5px"
        class="mat_blue col-2"
        [disabled]="!markers.length"
        (click)="clearPointers()"
      >
        {{ current_language_set?.coreComponents?.reset }}
      </button>
      <button
        mat-raised-button
        color="primary"
        class="mat_blue col-2"
        style="width: 12%; margin-right: 5px"
        [disabled]="!markers.length"
        [mat-dialog-close]="getMarkers()"
      >
        {{ current_language_set?.coreComponents?.save }}
      </button>
    </div>
  </mat-dialog-actions>
</div>

<div class="container-fluid dialog" *ngIf="graph">
  <mat-dialog-content
    id="container-dialog"
    style="max-height: unset !important"
  >
    <h4 *ngIf="graph?.type === 'bw'">
      {{ current_language_set?.previousvisit?.bodyweighttrends }}
    </h4>
    <h4 *ngIf="graph?.type === 'bg'">
      {{ current_language_set?.previousvisit?.bloodGlucoseTrends }}
    </h4>
    <h4 *ngIf="graph?.type === 'bp'">
      {{ current_language_set?.previousvisit?.bloodPressureTrends }}
    </h4>
    <canvas
      baseChart
      [datasets]="graph?.chartData"
      [labels]="graph?.chartLabels"
      [options]="graph?.lineChartOptions"
      [legend]="graph?.chartLegend"
      [data]="barChartData"
      [type]="barChartType"
    ></canvas>
  </mat-dialog-content>

  <mat-dialog-actions align="center">
    <div class="row">
      <button mat-raised-button mat-dialog-close>
        {{ current_language_set?.coreComponents?.close }}
      </button>
      <button
        mat-raised-button
        color="primary"
        class="mat_blue"
        (click)="downloadGraph()"
      >
        {{ current_language_set?.coreComponents?.download }}
      </button>
    </div>
  </mat-dialog-actions>
</div>
