<div [formGroup]="otherDetailsForm">
  <div class="panel-body">
    <div
      class="col-xs-2 col-sm-2 m-t-15"
      style="padding-top: 7px; margin-left: -18px; margin-top: 30px"
    >
      <mat-checkbox
        checked="checked"
        formControlName="checked"
        (change)="checkMandatoryIsRequired($event)"
      >
        <mat-label class="labelFont">{{
          currentLanguageSet?.deactivateMandatoryFields
        }}</mat-label>
      </mat-checkbox>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 mtop20">
        <mat-form-field [style.width]="'100%'">
          <mat-label class="mat-label-text">{{
            currentLanguageSet?.ro?.otherInfo?.fatherName
          }}</mat-label>
          <input
            autocomplete="off"
            matInput
            allowText="alphaspace"
            formControlName="fatherName"
            maxlength="50"
            [required]="isFatherRequired"
          />
          <mat-error
            *ngIf="otherDetailsForm.controls['fatherName'].errors?.['required']"
          >
            {{
              currentLanguageSet?.benDetailsAlert?.fatherNameMandatory
            }}</mat-error
          >
        </mat-form-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 mtop20">
        <mat-form-field [style.width]="'100%'">
          <mat-label class="mat-label-text">{{
            currentLanguageSet?.ro?.otherInfo?.motherName
          }}</mat-label>
          <input
            autocomplete="off"
            matInput
            allowText="alphaspace"
            formControlName="motherName"
            maxlength="50"
          />
        </mat-form-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 mtop20">
        <mat-form-field [style.width]="'100%'">
          <mat-label class="mat-label-text">{{
            currentLanguageSet?.ro?.otherInfo?.emailID
          }}</mat-label>
          <input
            autocomplete="off"
            matInput
            appValidateEmail
            formControlName="emailID"
          />
          <mat-error *ngIf="!otherDetailsForm.controls['emailID'].valid">{{
            currentLanguageSet?.invalidEmail
          }}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 mtop20">
        <mat-form-field [style.width]="'100%'">
          <mat-label class="mat-label-text">{{
            currentLanguageSet?.ro?.otherInfo?.community
          }}</mat-label>
          <mat-select
            [style.width]="'100%'"
            formControlName="community"
            [required]="isCommunityRequired"
            (selectionChange)="onCommunityChanged()"
          >
            <mat-option
              *ngFor="let community of masterData?.communityMaster"
              [value]="community.communityID"
              >{{ community.communityType }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
      <div class="clearfix"></div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <mat-form-field [style.width]="'100%'">
          <mat-label class="mat-label-text">{{
            currentLanguageSet?.ro?.otherInfo?.bankName
          }}</mat-label>
          <input
            autocomplete="off"
            matInput
            allowText="alphaspace"
            maxLength="100"
            formControlName="bankName"
          />
        </mat-form-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <mat-form-field [style.width]="'100%'">
          <mat-label class="mat-label-text">{{
            currentLanguageSet?.ro?.otherInfo?.branchName
          }}</mat-label>
          <input
            autocomplete="off"
            matInput
            allowText="alphanumericspace"
            maxLength="100"
            formControlName="branchName"
          />
        </mat-form-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <mat-form-field [style.width]="'100%'">
          <mat-label class="mat-label-text">{{
            currentLanguageSet?.ro?.otherInfo?.accountNo
          }}</mat-label>
          <input
            autocomplete="off"
            matInput
            allowText="number"
            maxLength="20"
            formControlName="accountNo"
          />
        </mat-form-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <mat-form-field [style.width]="'100%'">
          <mat-label class="mat-label-text">{{
            currentLanguageSet?.ro?.otherInfo?.ifscCode
          }}</mat-label>
          <input
            autocomplete="off"
            matInput
            maxLength="15"
            allowText="alphanumeric"
            formControlName="ifscCode"
          />
        </mat-form-field>
      </div>
      <div class="clearfix"></div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <mat-form-field [style.width]="'100%'">
          <mat-label class="mat-label-text">{{
            currentLanguageSet?.ro?.otherInfo?.religion
          }}</mat-label>
          <mat-select
            [style.width]="'100%'"
            formControlName="religion"
            (selectionChange)="getReligionName()"
          >
            <mat-option
              *ngFor="let religion of masterData?.religionMaster"
              [value]="religion.religionID"
              >{{ religion.religionType | titlecase }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div
        *ngIf="otherDetailsForm.value.religion === '7'"
        class="col-xs-12 col-sm-6 col-md-3 col-lg-3"
      >
        <mat-form-field [style.width]="'100%'">
          <mat-label class="mat-label-text">{{
            currentLanguageSet?.ro?.otherInfo?.otherReligion
          }}</mat-label>
          <input
            autocomplete="off"
            matInput
            allowText="alphaspace"
            formControlName="religionOther"
            maxlength="50"
          />
        </mat-form-field>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <mat-form-field
          [style.width]="'100%'"
          class="fieldStyleDisabled"
          myHealthId
        >
          <mat-label class="mat-label-text">{{
            currentLanguageSet?.aBHA
          }}</mat-label>
          <input
            autocomplete="off"
            readonly
            matInput
            formControlName="healthId"
            minlength="4"
            maxlength="32"
            [class.change]="disableGenerateOTP"
          />
        </mat-form-field>
      </div>

      <div class="clearfix"></div>
      <!-- NEW ID DETAILS for BENEFICIARY -->
      <div class="row col-12">
        <section class="col-5 row" formArrayName="govID">
          <!-- Gov IDs-->
          <section
            *ngFor="
              let id of getGovIDControls();
              let i = index;
              let isLast = last
            "
          >
            <ng-container [formGroupName]="i">
              <mat-form-field
                [style.width]="'40%'"
                style="line-height: unset; margin: 5px"
              >
                <mat-label class="mat-label-text">{{
                  currentLanguageSet?.ro?.otherInfo?.govtIDType
                }}</mat-label>
                <mat-select
                  (selectionChange)="filtergovIDs(id.value.type, i)"
                  formControlName="type"
                  [required]="isGidRequired"
                  style="line-height: unset"
                >
                  <mat-option
                    *ngFor="let govIDType of govIDMaster[i]?.govIdEntityMaster"
                    [value]="govIDType.govtIdentityTypeID"
                    >{{ govIDType.identityType }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field
                id="govtID"
                [style.width]="'33%'"
                style="line-height: unset; margin: 5px"
              >
                <mat-label class="mat-label-text">{{
                  currentLanguageSet?.ro?.otherInfo?.govtIDNumber
                }}</mat-label>
                <input
                  autocomplete="off"
                  matInput
                  [pattern]="
                    otherDetailsForm.controls['govID'].value[i].pattern
                  "
                  allow="otherDetailsForm.controls['govID'].value[i].allow"
                  formControlName="idValue"
                  [minlength]="
                    otherDetailsForm.controls['govID'].value[i].minLength
                  "
                  [maxlength]="
                    otherDetailsForm.controls['govID'].value[i].maxLength || 20
                  "
                  [readonly]="
                    otherDetailsForm.controls['govID'].value[i].type === null
                  "
                  [required]="
                    otherDetailsForm.controls['govID'].value[i].type !== null
                  "
                  (blur)="
                    checkPattern(i, otherDetailsForm.controls['govID'].value[i])
                  "
                />
              </mat-form-field>
              <button
                mat-mini-fab
                *ngIf="
                  otherDetailsForm.get('govID')?.value.length > 1 ||
                  otherDetailsForm.controls['govID']?.value[i].type
                "
                color="warn"
                class="mat_warn_circle"
                (click)="removeID(1, i)"
              >
                <mat-icon
                  class="md-18"
                  matTooltip="{{ currentLanguageSet?.removeID }}"
                  >close</mat-icon
                >
              </button>
              <span *ngIf="i < govLength - 1">
                <button
                  mat-mini-fab
                  style="margin-left: 3px"
                  color="primary"
                  class="mat_blue_circle"
                  *ngIf="isLast"
                  [disabled]="
                    !otherDetailsForm.controls['govID'].value[i].idValue
                  "
                  (click)="addID(1, i)"
                >
                  <mat-icon
                    class="md-18"
                    matTooltip="{{ currentLanguageSet?.addID }}"
                    >add</mat-icon
                  >
                </button>
              </span>
              <div style="float: right; width: 55%">
                <mat-error
                  class="govid-msg"
                  *ngIf="
                    id.value.type === 3 &&
                    (otherDetailsForm.get('govID')?.value[i]?.idValue?.length <
                      otherDetailsForm.get('govID')?.value[i]?.minLength ||
                      otherDetailsForm.get('govID')?.value[i]?.idValue?.invalid)
                  "
                >
                  {{
                    otherDetailsForm.get("govID")?.value[i]?.error
                  }}</mat-error
                >
                <mat-error
                  class="govid-msg"
                  *ngIf="
                    id.value.type !== 3 &&
                    (otherDetailsForm.get('govID')?.value[i]?.idValue?.length <
                      otherDetailsForm.get('govID')?.value[i]?.minLength ||
                      otherDetailsForm.get('govID')?.value[i]?.idValue?.invalid)
                  "
                >
                  {{
                    otherDetailsForm.get("govID")?.value[i]?.error
                  }}</mat-error
                >
              </div>
            </ng-container>
          </section>
        </section>

        <section class="col-6 row" formArrayName="otherGovID">
          <!-- Other Gov IDs-->
          <section
            *ngFor="
              let id of getOtherGovIDControls();
              let i = index;
              let isLast = last
            "
          >
            <ng-container [formGroupName]="i">
              <mat-form-field [style.width]="'43%'">
                <mat-label class="mat-label-text">
                  {{ currentLanguageSet?.ro?.otherInfo?.govtHealthProgramType }}
                </mat-label>
                <mat-select
                  formControlName="type"
                  (selectionChange)="filterOtherGovIDs(id.value.type, i)"
                >
                  <mat-option
                    *ngFor="
                      let govIDType of otherGovIDMaster[i]
                        ?.otherGovIdEntityMaster
                    "
                    [value]="govIDType.govtIdentityTypeID"
                    >{{ govIDType.identityType }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field
                id="govtID"
                [style.width]="'40%'"
                style="line-height: unset; margin: 5px"
              >
                <mat-label class="mat-label-text">
                  {{
                    currentLanguageSet?.ro?.otherInfo?.govtHealthProgramIDNumber
                  }}</mat-label
                >
                <input
                  autocomplete="off"
                  matInput
                  [readonly]="
                    otherDetailsForm.controls['otherGovID'].value[i].type ===
                    null
                  "
                  formControlName="idValue"
                  [required]="
                    otherDetailsForm.controls['otherGovID'].value[i].type !==
                    null
                  "
                  maxlength="20"
                />
              </mat-form-field>
              <button
                style="text-align: center"
                mat-mini-fab
                color="warn"
                class="mat_warn_circle"
                *ngIf="
                  otherDetailsForm.get('otherGovID')?.value[i]?.idValue
                    ?.length > 1 ||
                  otherDetailsForm.controls['otherGovID'].value[i].type
                "
                (click)="removeID(0, i)"
              >
                <mat-icon
                  class="md-18"
                  aria-label="Example icon-button with a heart icon"
                  >close</mat-icon
                >
              </button>
              <span *ngIf="i < otherGovLength - 1">
                <button
                  mat-mini-fab
                  style="margin-left: 3px; text-align: center"
                  color="primary"
                  class="mat_blue_circle"
                  *ngIf="isLast"
                  [disabled]="
                    !otherDetailsForm.controls['otherGovID'].value[i].idValue
                  "
                  (click)="addID(0, i)"
                >
                  <mat-icon
                    class="md-18"
                    aria-label="Example icon-button with a heart icon"
                    >add</mat-icon
                  >
                </button>
              </span>
            </ng-container>
          </section>
        </section>
      </div>
      <!--ENDS-> NEW ID DETAILS for BENEFICIARY -->
    </div>
  </div>
</div>
