<div [formGroup]="patientANCDetailsForm" class="row m-t-20">
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box m-t-10">
    <label class="control-label" for="pregnancyStatus"
      >{{ current_language_set?.ancData?.ancDataDetails?.primiGravida }}*</label
    >
    <div class="clearfix"></div>
    <mat-radio-group
      name="primiGravida"
      formControlName="primiGravida"
      required
      style="margin-left: -13px"
    >
      <mat-radio-button color="primary" [value]="true">{{
        current_language_set?.common?.yes
      }}</mat-radio-button>
      <mat-radio-button color="primary" class="radio-btn" [value]="false">{{
        current_language_set?.common?.no
      }}</mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box m-t-10">
    <mat-form-field class="fieldAlignment">
      <mat-label class="mat-label-text">{{
        current_language_set?.ancData?.ancDataDetails?.lastMenstrualPeriod
      }}</mat-label>
      <input
        matInput
        style="width: 100%"
        name="lmpDate"
        formControlName="lmpDate"
        [min]="dob"
        [max]="today"
        [matDatepicker]="lmpPicker"
        required
        ng-readonly="true"
        (dateChange)="checkupLMP(lmpDate)"
      />
      <mat-datepicker-toggle
        matPrefix
        [for]="lmpPicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #lmpPicker></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box m-t-10">
    <mat-form-field class="input-full-width">
      <mat-label class="mat-label-text">{{
        current_language_set?.ancData?.ancDataDetails?.currentGestationalAge
      }}</mat-label>
      <input
        autocomplete="off"
        matInput
        defaultNull
        name="gestationalAgeOrPeriodofAmenorrhea_POA"
        formControlName="gestationalAgeOrPeriodofAmenorrhea_POA"
        [readonly]="true"
      />
    </mat-form-field>
  </div>

  <div
    class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box m-t-10"
    style="margin-top: 10px"
  >
    <mat-form-field class="fieldAlignment" style="width: 270px">
      <mat-label class="mat-label-text">{{
        current_language_set?.ancData?.ancDataDetails?.eDD
      }}</mat-label>
      <input
        matInput
        style="width: 100%"
        name="expDelDt"
        formControlName="expDelDt"
        [matDatepicker]="eddPicker"
        disbaled
      />
      <mat-datepicker-toggle
        matPrefix
        [for]="eddPicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #eddPicker></mat-datepicker>
    </mat-form-field>
  </div>

  <div
    class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box m-t-10"
    style="margin-top: 10px"
  >
    <mat-form-field class="input-full-width">
      <mat-label class="mat-label-text">{{
        current_language_set?.ancData?.ancDataDetails?.periodofPregnancy
      }}</mat-label>
      <input
        autocomplete="off"
        matInput
        defaultNull
        name="duration"
        formControlName="duration"
        allowText="number"
        allowMax="10"
        (change)="checkPeriodOfPregnancy(patientANCDetailsForm.value.duration)"
      />
    </mat-form-field>
  </div>

  <div
    class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box m-t-10"
    style="margin-top: 10px"
  >
    <mat-form-field class="input-full-width">
      <mat-label class="mat-label-text">{{
        current_language_set?.ancData?.ancDataDetails?.trimesterNumber
      }}</mat-label>
      <input
        autocomplete="off"
        matInput
        defaultNull
        name="trimesterNumber"
        formControlName="trimesterNumber"
        [readonly]="true"
      />
    </mat-form-field>
  </div>
</div>
