<!-- {{ generalDoctorInvestigationForm.value | json}} -->
<div *ngIf="visit === 'NCD screening'">
  <mat-label
    *ngIf="
      diabetesSelected > 0 &&
      RBSTestDoneInVitals === false &&
      !rbsSelectedInInvestigation &&
      !rbsTestDoneMMU
    "
    style="color: red"
  >
    * {{ current_language_set?.pleaseSelectRBSTest }}
  </mat-label>
  <br />
  <mat-label
    *ngIf="
      VisualAcuityMandatory && !VisualAcuityTestDone && !VisualAcuityTestDoneMMU
    "
    style="color: red"
  >
    * {{ current_language_set?.pleaseSelectVisualAcuityTest }}
  </mat-label>
</div>
<div *ngIf="visit === 'ANC'">
  <mat-label *ngIf="!hemoglobbinSelected" style="color: red">
    * {{ current_language_set?.pleaseSelectHaemoglobinTest }}
  </mat-label>
</div>
<div
  class="row"
  *ngIf="
    referredVisitcode !== 'undefined' &&
    referredVisitcode !== undefined &&
    referredVisitcode !== null
  "
>
  <div class="col-sm-12 step-btn m-b-10">
    <button
      mat-raised-button
      color="primary"
      class="pull-right"
      (click)="loadMMUInvestigation()"
    >
      {{ current_language_set?.mmuInvestigationDetails }}
    </button>
  </div>
</div>

<div class="row" [formGroup]="generalDoctorInvestigationForm">
  <div class="col-xs-12 col-sm-6" style="margin-top: 7px">
    <mat-form-field style="width: 100%">
      <mat-label class="mat-label-text">{{
        current_language_set?.labTechnicianData?.testName
      }}</mat-label>
      <mat-select
        class="input-full-width"
        multiple
        name="labTest"
        formControlName="labTest"
        (selectionChange)="checkTestName($event)"
      >
        <mat-option
          *ngFor="let nonRadiology of nonRadiologyMaster"
          [value]="nonRadiology"
          [disabled]="canDisable(nonRadiology)"
        >
          {{ nonRadiology.procedureName }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-xs-12 col-sm-6" style="margin-top: 7px">
    <mat-form-field style="width: 100%">
      <mat-label class="mat-label-text">{{
        current_language_set?.labTechnicianData?.radiologyimaging
      }}</mat-label>
      <mat-select
        class="input-full-width"
        multiple
        name="radiologyTest"
        formControlName="radiologyTest"
      >
        <mat-option
          *ngFor="let radiology of radiologyMaster"
          [value]="radiology"
          [disabled]="canDisable(radiology)"
        >
          {{ radiology.procedureName }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-xs-12 m-t-20">
    <mat-form-field class="input-full-width">
      <mat-label class="mat-label-text">{{
        current_language_set?.Investigationdetails?.externalinvestigations
      }}</mat-label>
      <textarea
        matInput
        allowText="textAreaValidator"
        defaultNull
        mdTextareaAutosize
        name="externalInvestigation"
        formControlName="externalInvestigations"
        maxlength="300"
      >
      </textarea>
    </mat-form-field>
  </div>
</div>
