<div class="m-t-10" [formGroup]="generalDiagnosisForm">
  <div class="col-xs-12 text-right" *ngIf="visitCategory === 'ANC'">
    <mat-label
      *ngIf="showHRP === 'true' || complicationPregHRP === 'true'"
      style="color: red"
    >
      <h5>
        <strong>** {{ current_language_set?.highRiskPregnancy }} **</strong>
      </h5>
    </mat-label>
    <br />
  </div>

  <section>
    <!-- First Row -->

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
        <mat-form-field class="input-full-width">
          <mat-label class="mat-label-text">
            {{ current_language_set?.casesheet?.gravida }}</mat-label
          >
          <input
            autocomplete="off"
            matInput
            defaultNull
            allowText="number"
            maxlength="2"
            name="gravida_G"
            formControlName="gravida_G"
            [readonly]="true"
          />
        </mat-form-field>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
        <mat-form-field class="input-full-width">
          <mat-label class="mat-label-text">{{
            current_language_set?.casesheet?.periodPreg
          }}</mat-label>
          <input
            autocomplete="off"
            matInput
            defaultNull
            name="duration"
            formControlName="duration"
            allowText="number"
            allowMax="10"
            [readonly]="true"
          />
        </mat-form-field>
      </div>
      <div
        class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box"
        style="white-space: nowrap"
      >
        <mat-form-field [style.width]="'100%'">
          <mat-label class="mat-label-text">{{
            current_language_set?.casesheet?.complications
          }}</mat-label>
          <mat-select
            class="input-full-width-complication"
            name="complicationOfCurrentPregnancyList"
            formControlName="complicationOfCurrentPregnancyList"
            multiple
            (change)="
              resetOtherPregnancyComplication(
                complicationOfCurrentPregnancyList,
                0
              );
              displayPositive(complicationOfCurrentPregnancyList)
            "
          >
            <mat-option
              *ngFor="let complication of masterData?.pregComplicationTypes"
              [value]="complication"
              [disabled]="
                !showAllPregComplication &&
                ((disableNonePregnancyComplication &&
                  complication.pregComplicationType === 'None') ||
                  (!disableNonePregnancyComplication &&
                    complication.pregComplicationType !== 'None'))
              "
            >
              {{ complication.pregComplicationType }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div
        class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box"
        *ngIf="showOtherPregnancyComplication"
      >
        <mat-form-field class="input-full-width">
          <mat-label class="mat-label-text">{{
            current_language_set?.common?.otherComplication
          }}</mat-label>
          <input
            autocomplete="off"
            matInput
            defaultNull
            allowText="alphaspace"
            maxlength="50"
            name="otherCurrPregComplication"
            formControlName="otherCurrPregComplication"
          />
        </mat-form-field>
      </div>
    </div>
    <!-- otherCurrPregComplication -->
    <!-- Second Row -->

    <div class="row">
      <div class="col-xs-6 m-t-20">
        <mat-form-field class="input-full-width">
          <mat-label class="mat-label-text">{{
            current_language_set?.casesheet?.highStatus
          }}</mat-label>
          <textarea
            matTextareaAutosize
            matInput
            allowText="textAreaValidator"
            defaultNull
            maxlength="300"
            name="highRiskStatus"
            formControlName="highRiskStatus"
          >
          </textarea>
        </mat-form-field>
      </div>

      <div class="col-xs-6 m-t-20">
        <mat-form-field class="input-full-width">
          <mat-label class="mat-label-text">{{
            current_language_set?.casesheet?.highCondition
          }}</mat-label>
          <textarea
            matTextareaAutosize
            matInput
            allowText="textAreaValidator"
            defaultNull
            maxlength="300"
            name="highRiskCondition"
            formControlName="highRiskCondition"
          >
          </textarea>
        </mat-form-field>
      </div>
    </div>

    <!-- Third Row -->

    <!-- <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <header class="mat-expansion-panel-header tabcolor">
          <h4>
            {{ current_language_set?.DiagnosisDetails?.specialistdignosis }}
          </h4>
        </header>
        <mat-form-field class="input-full-width">
          <textarea
            matInput
            allowText="textAreaValidator"
            defaultNull
            matTextareaAutosize
            #notEditAble
            maxlength="300"
            name="specialistAdvice"
            formControlName="specialistDiagnosis"
            [readonly]="!specialist"
            required
          >
          </textarea>
        </mat-form-field>
      </div>
    </div> -->
  </section>
</div>
