<!-- {{ generalDiagnosisForm.value | json}} -->
<div class="m-t-10" [formGroup]="generalDiagnosisForm">
  <div class="col-xs-12 text-right" *ngIf="visitCategory === 'ANC'">
    <mat-label
      *ngIf="showHRP === 'true' || complicationPregHRP === 'true'"
      style="color: red"
    >
      <h5>
        <strong>** {{ current_language_set?.highRiskPregnancy }} **</strong>
      </h5>
    </mat-label>
    <br />
  </div>

  <section>
    <!-- First Row -->

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
        <mat-form-field class="input-full-width">
          <input
            autocomplete="off"
            matInput
            defaultNull
            allowText="number"
            maxlength="2"
            name="gravida_G"
            formControlName="gravida_G"
            placeholder="{{ current_language_set?.casesheet?.gravida }}"
            [readonly]="true"
          />
        </mat-form-field>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
        <mat-form-field class="input-full-width">
          <input
            autocomplete="off"
            matInput
            defaultNull
            name="duration"
            formControlName="duration"
            allowText="number"
            placeholder="{{ current_language_set?.casesheet?.periodPreg }}"
            allowMax="10"
            [readonly]="true"
          />
        </mat-form-field>
      </div>
      <div
        class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box"
        style="white-space: nowrap"
      >
        <mat-select
          class="input-full-width-complication"
          name="complicationOfCurrentPregnancyList"
          formControlName="complicationOfCurrentPregnancyList"
          placeholder="{{ current_language_set?.casesheet?.complications }}"
          multiple
          (change)="
            resetOtherPregnancyComplication(
              complicationOfCurrentPregnancyList,
              0
            );
            displayPositive(complicationOfCurrentPregnancyList)
          "
        >
          <mat-option
            *ngFor="let complication of masterData?.pregComplicationTypes"
            [value]="complication"
            [disabled]="
              !showAllPregComplication &&
              ((disableNonePregnancyComplication &&
                complication.pregComplicationType === 'None') ||
             (!disableNonePregnancyComplication &&
                  complication.pregComplicationType !== 'None'))
     =       "
          >
            {{ complication.pregComplicationType }}
          </mat-option>
        </mat-select>
      </div>
      <div
        class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box"
        *ngIf="showOtherPregnancyComplication"
      >
        <mat-form-field class="input-full-width">
          <input
            autocomplete="off"
            matInput
            defaultNull
            placeholder="{{ current_language_set?.common?.otherComplication }}"
            allowText="alphaspace"
            maxlength="50"
            name="otherCurrPregComplication"
            formControlName="otherCurrPregComplication"
          />
        </mat-form-field>
      </div>
    </div>
    <!-- otherCurrPregComplication -->
    <!-- Second Row -->

    <div class="row">
      <div class="col-xs-6 m-t-20">
        <mat-form-field class="input-full-width">
          <textarea
            matTextareaAutosize
            matInput
            allowText="textAreaValidator"
            defaultNull
            maxlength="300"
            name="highRiskStatus"
            formControlName="highRiskStatus"
            placeholder="{{ current_language_set?.casesheet?.highStatus }}"
          >
          </textarea>
        </mat-form-field>
      </div>

      <div class="col-xs-6 m-t-20">
        <mat-form-field class="input-full-width">
          <textarea
            matTextareaAutosize
            matInput
            allowText="textAreaValidator"
            defaultNull
            maxlength="300"
            name="highRiskCondition"
            formControlName="highRiskCondition"
            placeholder="{{ current_language_set?.casesheet?.highCondition }}"
          >
          </textarea>
        </mat-form-field>
      </div>
    </div>

    <!-- Third Row -->

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <header class="mat-expansion-panel-header tabcolor">
          <h4>
            {{ current_language_set?.DiagnosisDetails?.specialistdignosis }}
          </h4>
        </header>
        <mat-form-field class="input-full-width">
          <textarea
            matInput
            allowText="textAreaValidator"
            defaultNull
            matTextareaAutosize
            #notEditAble
            maxlength="300"
            name="specialistAdvice"
            formControlName="specialistDiagnosis"
            [readonly]="!specialist"
            required
          >
          </textarea>
        </mat-form-field>
      </div>
    </div>
  </section>
</div>
