<div class="row">
  <div class="col-xs-12" *ngIf="benFlowStatus">
    <img
      *ngIf="!beneficiary?.benImage"
      src="assets/images/default-avatar.gif"
      alt="Default Patient Image"
    />
    <img
      *ngIf="beneficiary?.benImage"
      [src]="beneficiary?.benImage"
      alt="Patient Image"
    />
    <div class="horizontal-scroll-except-first-column">
      <table mat-table [dataSource]="dataSource1" class="mat-elevation-z8">
        <!-- beneficiaryName Column -->
        <ng-container matColumnDef="beneficiaryName">
          <th mat-header-cell *matHeaderCellDef>
            {{ current_language_set?.bendetails?.beneficiaryName }}:
          </th>
          <td mat-cell *matCellDef="let element">{{ element.benName }}</td>
        </ng-container>

        <!-- gender age Column -->
        <ng-container matColumnDef="genderAge">
          <th mat-header-cell *matHeaderCellDef>
            {{ current_language_set?.bendetails?.gender }} /
            {{ current_language_set?.bendetails?.age }}:
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element?.genderName }} / {{ element?.age }} &nbsp;{{
              element?.ageUnit
            }}
          </td>
        </ng-container>

        <!-- beneficiaryID Column -->
        <ng-container matColumnDef="beneficiaryID">
          <th mat-header-cell *matHeaderCellDef>
            {{ current_language_set?.bendetails?.beneficiaryID }}:
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element?.beneficiaryID }}
          </td>
        </ng-container>

        <!-- aBHA Column -->
        <ng-container matColumnDef="aBHA">
          <th mat-header-cell *matHeaderCellDef>
            {{ current_language_set?.aBHA }}:
          </th>
          <td mat-cell *matCellDef="let element">
            <ng-container
              *ngIf="
                healthIDArray !== undefined &&
                healthIDArray !== null &&
                healthIDArray.length > 0
              "
            >
              <tr
                style="color: #595959; font-size: 14px"
                *ngFor="let healthIDValue of healthIDArray"
              >
                <td>{{ healthIDValue }}</td>
              </tr>
            </ng-container>
          </td>
        </ng-container>

        <!-- registrationDate Column -->
        <ng-container matColumnDef="registrationDate">
          <th mat-header-cell *matHeaderCellDef>
            {{ current_language_set?.bendetails?.registrationDate }}:
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element?.registrationDate | date: "dd/MM/yyyy, h:mm a" }}
          </td>
        </ng-container>

        <!-- visitDate Column -->
        <ng-container matColumnDef="visitDate">
          <th mat-header-cell *matHeaderCellDef>
            {{ current_language_set?.bendetails?.visitDate }}:
          </th>
          <td mat-cell *matCellDef="let element">
            {{ today | date: "dd/MM/yyyy, h:mm a" }}
          </td>
        </ng-container>

        <!-- district Column -->
        <ng-container matColumnDef="district">
          <th mat-header-cell *matHeaderCellDef>
            {{ current_language_set?.bendetails?.district }}:
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element?.districtName }} / {{ element?.villageName }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns1"></tr>
      </table>
      <mat-paginator
        [hidden]="dataSource1.data.length === 0"
        [pageSizeOptions]="[5, 10, 25]"
        [pageSize]="5"
        showFirstLastButtons
      ></mat-paginator>
      <!-- <table class="table profileData" aria-describedby="benDetails">
                <tr style="font-size:14px; color:#000000">
                    <th id="beneficiaryName">{{current_language_set?.bendetails?.beneficiaryName}}: </th>
                </tr>
                <tr style="color:#595959;  font-size:14px">
                    <td>{{beneficiary?.benName}} </td>
                </tr>
                <tr style="font-size:14px; color:#000000">
                    <th id="gender">{{current_language_set?.bendetails?.gender}} /
                        {{current_language_set?.bendetails?.age}}: </th>
                </tr>
                <tr style="color:#595959;  font-size:14px">
                    <td>{{beneficiary?.genderName}} / {{beneficiary?.age}} &nbsp;{{ beneficiary?.ageUnit}}</td>
                </tr>
                <tr style="font-size:14px; color:#000000">
                    <th id="beneficiaryID">{{current_language_set?.bendetails?.beneficiaryID}}:</th>
                </tr>
                <tr style="color:#595959;  font-size:14px">
                    <td>{{beneficiary?.beneficiaryID}} </td>
                </tr>
                <tr *ngIf="healthIDValue !=undefined && healthIDValue !=null && healthIDValue !='' && healthIDValue.length >0"
                    style="font-size:14px; color:#000000">
                    <th id="healthId">{{current_language_set?.aBHA}}: </th>
                </tr>
                <ng-container *ngIf="healthIDArray !=undefined && healthIDArray !=null && healthIDArray.length >0">
                    <tr style="color:#595959;  font-size:14px" *ngFor="let healthIDValue of healthIDArray">
                        <td>{{healthIDValue}} </td>
                    </tr>
                </ng-container>
                <tr style="font-size:14px; color:#000000">
                    <th id="registrationDate">{{current_language_set?.bendetails?.registrationDate}}: </th>
                </tr>
                <tr style="color:#595959;  font-size:14px">
                    <td>{{beneficiary?.registrationDate | date: 'dd/MM/yyyy, h:mm a'}} </td>
                </tr>
                <tr style="font-size:14px; color:#000000">
                    <th id="visitDate">{{current_language_set?.bendetails?.visitDate}}: </th>
                </tr>
                <tr style="color:#595959;  font-size:14px">
                    <td>{{ today | date: 'dd/MM/yyyy, h:mm a'}} </td>
                </tr>
                <tr style="font-size:14px; color:#000000">
                    <th id="district">{{current_language_set?.bendetails?.district}}: </th>
                </tr>
                <tr style="color:#595959;  font-size:14px">
                    <td>{{beneficiary?.districtName}} / {{beneficiary?.villageName}} </td>
                </tr>
            </table> -->
    </div>
  </div>

  <div class="col-xs-12" *ngIf="!benFlowStatus">
    <img
      *ngIf="!beneficiary?.benImage"
      src="assets/images/default-avatar.gif"
      alt="Default Patient Image"
    />
    <img
      *ngIf="beneficiary?.benImage"
      [src]="beneficiary?.benImage"
      alt="Patient Image"
    />
    <div class="horizontal-scroll-except-first-column">
      <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">
        <!-- beneficiaryName Column -->
        <ng-container matColumnDef="beneficiaryName">
          <th mat-header-cell *matHeaderCellDef>
            {{ current_language_set?.bendetails?.beneficiaryName }}:
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.benName }}
            <!-- {{beneficiaryName | titlecase}} -->
          </td>
        </ng-container>

        <!-- familyId Column -->
        <ng-container matColumnDef="familyId">
          <th mat-header-cell *matHeaderCellDef>
            {{ current_language_set?.familyId }}:
          </th>
          <td mat-cell *matCellDef="let element">
            {{
              benFamilyId !== null && benFamilyId !== undefined
                ? benFamilyId
                : "NA"
            }}
          </td>
        </ng-container>

        <!-- genderAge Column -->
        <ng-container matColumnDef="genderAge">
          <th mat-header-cell *matHeaderCellDef>
            {{ current_language_set?.bendetails?.gender }} /
            {{ current_language_set?.bendetails?.age }}:
          </th>
          <td mat-cell *matCellDef="let element">
            {{ beneficiary?.m_gender?.genderName }} /
            {{ beneficiary?.age }} &nbsp;{{ beneficiary?.ageUnit }}
          </td>
        </ng-container>

        <!-- beneficiaryID Column -->
        <ng-container matColumnDef="beneficiaryID">
          <th mat-header-cell *matHeaderCellDef>
            {{ current_language_set?.bendetails?.beneficiaryID }}:
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element?.beneficiaryID }}
          </td>
        </ng-container>

        <!-- aBHA Column -->
        <ng-container matColumnDef="aBHA">
          <th mat-header-cell *matHeaderCellDef>
            {{ current_language_set?.aBHA }}:
          </th>
          <td mat-cell *matCellDef="let element">
            <ng-container
              *ngIf="
                healthIDArray !== undefined &&
                healthIDArray !== null &&
                healthIDArray.length > 0
              "
            >
              <tr
                style="color: #595959; font-size: 14px"
                *ngFor="let healthIDValue of healthIDArray"
              >
                <td>{{ healthIDValue }}</td>
              </tr>
            </ng-container>
          </td>
        </ng-container>

        <!-- registrationDate Column -->
        <ng-container matColumnDef="registrationDate">
          <th mat-header-cell *matHeaderCellDef>
            {{ current_language_set?.bendetails?.registrationDate }}:
          </th>
          <td mat-cell *matCellDef="let element">
            {{ regDate }}
            <!-- {{element?.registrationDate | date: 'dd/MM/yyyy, h:mm a'}} -->
          </td>
        </ng-container>

        <!-- district Column -->
        <ng-container matColumnDef="district">
          <th mat-header-cell *matHeaderCellDef>
            {{ current_language_set?.bendetails?.district }}:
          </th>
          <td mat-cell *matCellDef="let element">
            {{ beneficiary?.i_bendemographics?.m_district?.districtName }} /
            {{ beneficiary?.i_bendemographics?.m_districtblock?.blockName }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns2"></tr>
      </table>
      <mat-paginator
        [hidden]="dataSource2.data.length === 0"
        [pageSizeOptions]="[5, 10, 25]"
        [pageSize]="5"
        showFirstLastButtons
      ></mat-paginator>
      <!-- <table class="table profileData" aria-describedby="benDetails">
                <tr style="font-size:14px; color:#000000">
                    <th id="beneficiaryName">{{current_language_set?.bendetails?.beneficiaryName}}: </th>
                </tr>
                <tr style="color:#595959;  font-size:14px">
                    <td>{{beneficiaryName | titlecase}} </td>
                </tr>

                <tr style="font-size:14px; color:#000000">
                    <th id="beneficiaryName">{{current_language_set?.familyId}}: </th>
                </tr>
                <tr style="color:#595959;  font-size:14px">
                    <td>{{(benFamilyId !== null && benFamilyId !== undefined) ? benFamilyId : "NA" }} </td>
                </tr>
                <tr style="font-size:14px; color:#000000">
                    <th id="gender">{{current_language_set?.bendetails?.gender}} /
                        {{current_language_set?.bendetails?.age}}: </th>
                </tr>
                <tr style="color:#595959;  font-size:14px">
                    <td>{{beneficiary?.m_gender?.genderName}} / {{beneficiary?.age}} &nbsp;{{ beneficiary?.ageUnit}}
                    </td>
                </tr>
                <tr style="font-size:14px; color:#000000">
                    <th id="beneficiaryID">{{current_language_set?.bendetails?.beneficiaryID}}:</th>
                </tr>
                <tr style="color:#595959;  font-size:14px">
                    <td>{{beneficiary?.beneficiaryID}} </td>
                </tr>
                <tr *ngIf="healthIDValue !=undefined && healthIDValue !=null && healthIDValue !='' && healthIDValue.length >0"
                    style="font-size:14px; color:#000000">
                    <th id="healthId">{{current_language_set?.aBHA}}: </th>
                </tr>
                <ng-container *ngIf="healthIDArray !=undefined && healthIDArray !=null && healthIDArray.length >0">
                    <tr style="color:#595959;  font-size:14px" *ngFor="let healthIDValue of healthIDArray">
                        <td>{{healthIDValue}} </td>
                    </tr>
                </ng-container>
                <tr style="font-size:14px; color:#000000">
                    <th id="registrationDate">{{current_language_set?.bendetails?.registrationDate}}: </th>
                </tr>
                <tr style="color:#595959;  font-size:14px">
                    <td>{{regDate}} </td>
                </tr>
                <tr style="font-size:14px; color:#000000">
                    <th id="district">{{current_language_set?.bendetails?.district}}: </th>
                </tr>
                <tr style="color:#595959;  font-size:14px">
                    <td>{{beneficiary?.i_bendemographics?.m_district?.districtName}} /
                        {{beneficiary?.i_bendemographics?.m_districtblock?.blockName}} </td>
                </tr>


            </table> -->
    </div>
  </div>
</div>
