<div class="row m-t-20" [formGroup]="generalExaminationForm">
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
    <div class="form-group">
      <mat-form-field [style.width]="'100%'">
        <mat-label>{{
          current_language_set?.ExaminationData?.ANC_OPD_PNCExamination
            ?.genExamination?.consciousness
        }}</mat-label>
        <mat-select
          class="select-full-width"
          id="consciousness"
          name="consciousness"
          formControlName="consciousness"
        >
          <mat-option
            *ngFor="let consciousness of selectConsciousness"
            [value]="consciousness.name"
          >
            {{ consciousness.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
    <div class="form-group">
      <mat-form-field [style.width]="'100%'">
        <mat-label>{{
          current_language_set?.ExaminationData?.ANC_OPD_PNCExamination
            ?.genExamination?.cooperation
        }}</mat-label>
        <mat-select
          class="select-full-width"
          id="cooperation"
          name="cooperation"
          formControlName="cooperation"
        >
          <mat-option
            *ngFor="let cooperation of selectCooperation"
            [value]="cooperation.name"
          >
            {{ cooperation.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
    <div class="form-group">
      <mat-form-field [style.width]="'100%'">
        <mat-label>{{
          current_language_set?.ExaminationData?.ANC_OPD_PNCExamination
            ?.genExamination?.built
        }}</mat-label>
        <mat-select
          class="select-full-width"
          id="builtAndAppearance"
          name="builtAndAppearance"
          formControlName="builtAndAppearance"
        >
          <mat-option *ngFor="let built of selectBuilt" [value]="built.name">
            {{ built.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
    <div class="form-group">
      <label class="control-label" for="coherence">{{
        current_language_set?.common?.coherent
      }}</label>
      <div class="clearfix"></div>
      <mat-radio-group
        id="coherence"
        name="coherence"
        formControlName="coherence"
      >
        <mat-radio-button color="primary" class="radio-btn" value="Coherent">{{
          current_language_set?.common?.yes
        }}</mat-radio-button>
        <mat-radio-button
          color="primary"
          class="radio-btn"
          value="Incoherent"
          >{{ current_language_set?.common?.no }}</mat-radio-button
        >
      </mat-radio-group>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
    <div class="form-group">
      <mat-label class="control-label">{{
        current_language_set?.common?.comfort
      }}</mat-label>
      <div class="clearfix"></div>
      <mat-radio-group
        id="comfortness"
        name="comfortness"
        formControlName="comfortness"
      >
        <mat-radio-button
          color="primary"
          class="radio-btn"
          value="Comfortable"
          >{{ current_language_set?.common?.comfortable }}</mat-radio-button
        >
        <mat-radio-button
          color="primary"
          class="radio-btn"
          value="Uncomfortable"
          >{{ current_language_set?.common?.uncomfortable }}</mat-radio-button
        >
      </mat-radio-group>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
    <div class="form-group">
      <label class="control-label" for="gait">{{
        current_language_set?.ExaminationData?.ANC_OPD_PNCExamination
          ?.genExamination?.gait
      }}</label>
      <div class="clearfix"></div>
      <mat-radio-group id="gait" name="gait" formControlName="gait">
        <mat-radio-button color="primary" class="radio-btn" value="Normal">{{
          current_language_set?.common?.normal
        }}</mat-radio-button>
        <mat-radio-button color="primary" class="radio-btn" value="Limping">{{
          current_language_set?.common?.limping
        }}</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>

  <div
    class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box"
    style="margin-top: 20px"
  >
    <div class="form-group">
      <label class="control-label" for="dangerSigns">{{
        current_language_set?.ExaminationData?.ANC_OPD_PNCExamination
          ?.genExamination?.dangersigns
      }}</label>
      <div class="clearfix"></div>
      <mat-radio-group
        id="dangerSigns"
        name="dangerSigns"
        formControlName="dangerSigns"
        (change)="checkWithDangerSign()"
      >
        <mat-radio-button color="primary" class="radio-btn" value="Yes">{{
          current_language_set?.common?.yes
        }}</mat-radio-button>
        <mat-radio-button color="primary" class="radio-btn" value="No">{{
          current_language_set?.common?.no
        }}</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <div
    class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box"
    [hidden]="dangerSigns !== 'Yes'"
    style="margin-top: 20px"
  >
    <div class="form-group">
      <mat-form-field [style.width]="'100%'">
        <mat-label>{{
          current_language_set?.ExaminationData?.ANC_OPD_PNCExamination
            ?.genExamination?.dangersigns
        }}</mat-label>
        <mat-select
          multiple
          class="select-full-width"
          id="typeOfDangerSigns"
          name="typeOfDangerSigns"
          formControlName="typeOfDangerSigns"
          [required]="dangerSigns === 'Yes'"
        >
          <mat-option
            *ngFor="let signs of selectDangerSigns"
            [value]="signs.name"
          >
            {{ signs.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div
    class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box"
    style="margin-top: 20px"
  >
    <div class="form-group">
      <label class="control-label" for="pallor">{{
        current_language_set?.ExaminationData?.ANC_OPD_PNCExamination
          ?.genExamination?.pallor
      }}</label>
      <div class="clearfix"></div>
      <mat-radio-group id="pallor" name="pallor" formControlName="pallor">
        <mat-radio-button color="primary" class="radio-btn" value="Present">{{
          current_language_set?.common?.present
        }}</mat-radio-button>
        <mat-radio-button color="primary" class="radio-btn" value="Absent">{{
          current_language_set?.common?.absent
        }}</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>

  <div
    class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box"
    style="margin-top: 20px"
  >
    <div class="form-group">
      <label class="control-label" for="jaundice">{{
        current_language_set?.ExaminationData?.ANC_OPD_PNCExamination
          ?.genExamination?.jaundice
      }}</label>
      <div class="clearfix"></div>
      <mat-radio-group id="jaundice" name="jaundice" formControlName="jaundice">
        <mat-radio-button color="primary" class="radio-btn" value="Present">{{
          current_language_set?.common?.present
        }}</mat-radio-button>
        <mat-radio-button color="primary" class="radio-btn" value="Absent">{{
          current_language_set?.common?.absent
        }}</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>

  <div
    class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box"
    style="margin-top: 20px"
  >
    <div class="form-group">
      <label class="control-label" for="cyanosis">{{
        current_language_set?.ExaminationData?.ANC_OPD_PNCExamination
          ?.genExamination?.cyanosis
      }}</label>
      <div class="clearfix"></div>
      <mat-radio-group id="cyanosis" name="cyanosis" formControlName="cyanosis">
        <mat-radio-button color="primary" class="radio-btn" value="Present">{{
          current_language_set?.common?.present
        }}</mat-radio-button>
        <mat-radio-button color="primary" class="radio-btn" value="Absent">{{
          current_language_set?.common?.absent
        }}</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>

  <div
    class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box"
    style="margin-top: 20px"
  >
    <div class="form-group">
      <label class="control-label" for="clubbing">{{
        current_language_set?.ExaminationData?.ANC_OPD_PNCExamination
          ?.genExamination?.clubbing
      }}</label>
      <div class="clearfix"></div>
      <mat-radio-group id="clubbing" name="clubbing" formControlName="clubbing">
        <mat-radio-button color="primary" class="radio-btn" value="Present">{{
          current_language_set?.common?.present
        }}</mat-radio-button>
        <mat-radio-button color="primary" class="radio-btn" value="Absent">{{
          current_language_set?.common?.absent
        }}</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>

  <div
    class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box"
    style="margin-top: 20px"
  >
    <div class="form-group">
      <label class="control-label" for="lymphadenopathy">{{
        current_language_set?.ExaminationData?.ANC_OPD_PNCExamination
          ?.genExamination?.lymphadenopathy
      }}</label>
      <div class="clearfix"></div>
      <mat-radio-group
        id="lymphadenopathy"
        name="lymphadenopathy"
        formControlName="lymphadenopathy"
        (change)="checkWithLymphadenopathy()"
      >
        <mat-radio-button color="primary" class="radio-btn" value="Present">{{
          current_language_set?.common?.present
        }}</mat-radio-button>
        <mat-radio-button color="primary" class="radio-btn" value="Absent">{{
          current_language_set?.common?.absent
        }}</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>

  <div
    class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box"
    [hidden]="lymphadenopathy !== 'Present'"
    style="margin-top: 20px"
  >
    <div class="form-group">
      <mat-form-field [style.width]="'100%'">
        <mat-label>{{
          current_language_set?.ExaminationData?.ANC_OPD_PNCExamination
            ?.genExamination?.lymph
        }}</mat-label>
        <mat-select
          class="select-full-width"
          id="lymphnodesInvolved"
          name="lymphnodesInvolved"
          formControlName="lymphnodesInvolved"
          [required]="lymphadenopathy === 'Present'"
        >
          <mat-option
            *ngFor="let lymphNodes of selectLymphNodes"
            [value]="lymphNodes.name"
          >
            {{ lymphNodes.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div
    class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box"
    [hidden]="lymphadenopathy !== 'Present'"
    style="margin-top: 20px"
  >
    <div class="form-group">
      <mat-form-field [style.width]="'100%'">
        <mat-label>{{
          current_language_set?.ExaminationData?.ANC_OPD_PNCExamination
            ?.genExamination?.typeofLymphadenopathy
        }}</mat-label>
        <mat-select
          class="select-full-width"
          id="typeOfLymphadenopathy"
          name="typeOfLymphadenopathy"
          formControlName="typeOfLymphadenopathy"
          [required]="lymphadenopathy === 'Present'"
        >
          <mat-option
            *ngFor="let typeOfLymphadenopathy of selectTypeOfLymphadenopathy"
            [value]="typeOfLymphadenopathy.name"
          >
            {{ typeOfLymphadenopathy.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div
    class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box"
    style="margin-top: 20px"
  >
    <div class="form-group">
      <label class="control-label" for="edema">{{
        current_language_set?.ExaminationData?.ANC_OPD_PNCExamination
          ?.genExamination?.edema
      }}</label>
      <div class="clearfix"></div>
      <mat-radio-group
        id="edema"
        name="edema"
        formControlName="edema"
        (change)="checkWithEdema()"
      >
        <mat-radio-button color="primary" class="radio-btn" value="Present">{{
          current_language_set?.common?.present
        }}</mat-radio-button>
        <mat-radio-button color="primary" class="radio-btn" value="Absent">{{
          current_language_set?.common?.absent
        }}</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <div
    class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box"
    [hidden]="edema !== 'Present'"
    style="margin-top: 20px"
  >
    <div class="form-group">
      <mat-form-field [style.width]="'100%'">
        <mat-label>{{
          current_language_set?.ExaminationData?.ANC_OPD_PNCExamination
            ?.genExamination?.extentofEdema
        }}</mat-label>
        <mat-select
          class="select-full-width"
          id="extentOfEdema"
          name="extentOfEdema"
          formControlName="extentOfEdema"
          [required]="edema === 'Present'"
        >
          <mat-option
            *ngFor="let extentOfEdema of selectExtentOfEdema"
            [value]="extentOfEdema.name"
          >
            {{ extentOfEdema.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div
    class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box"
    [hidden]="edema !== 'Present'"
    style="margin-top: 20px"
  >
    <div class="form-group">
      <label class="control-label" for="typeOfEdema">{{
        current_language_set?.ExaminationData?.ANC_OPD_PNCExamination
          ?.genExamination?.typeofEdema
      }}</label>
      <div class="clearfix"></div>
      <mat-radio-group
        id="edemaType"
        name="edemaType"
        formControlName="edemaType"
        [required]="edema === 'Present'"
      >
        <mat-radio-button color="primary" class="radio-btn" value="Pitting">{{
          current_language_set?.ExaminationData?.ANC_OPD_PNCExamination
            ?.genExamination?.pitting
        }}</mat-radio-button>
        <mat-radio-button
          color="primary"
          class="radio-btn"
          value="Non-Pitting"
          >{{
            current_language_set?.ExaminationData?.ANC_OPD_PNCExamination
              ?.genExamination?.nonPitting
          }}</mat-radio-button
        >
      </mat-radio-group>
    </div>
  </div>
  <div
    class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box"
    *ngIf="hideForANCAndQC"
    style="margin-top: 20px"
  >
    <div class="form-group">
      <mat-label class="control-label">{{
        current_language_set?.ExaminationData?.ANC_OPD_PNCExamination
          ?.genExamination?.quickening
      }}</mat-label>
      <div class="clearfix"></div>
      <mat-radio-group
        id="quickening"
        name="quickening"
        formControlName="quickening"
      >
        <mat-radio-button color="primary" class="radio-btn" value="Present">{{
          current_language_set?.common?.present
        }}</mat-radio-button>
        <mat-radio-button color="primary" class="radio-btn" value="Absent">{{
          current_language_set?.common?.absent
        }}</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>

  <div
    class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box"
    *ngIf="hideForANCAndQC"
    style="margin-top: 20px"
  >
    <div class="form-group">
      <mat-label class="control-label">{{
        current_language_set?.ExaminationData?.ANC_OPD_PNCExamination
          ?.genExamination?.foetalmovements
      }}</mat-label>
      <div class="clearfix"></div>
      <mat-radio-group
        id="foetalMovements"
        name="foetalMovements"
        formControlName="foetalMovements"
      >
        <mat-radio-button color="primary" class="radio-btn" value="Present">{{
          current_language_set?.common?.present
        }}</mat-radio-button>
        <mat-radio-button color="primary" class="radio-btn" value="Absent">{{
          current_language_set?.common?.absent
        }}</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
</div>
