.title .exit {
  cursor: pointer;
}

.title {
  padding: 10px 24px 10px;
  color: white;
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  background: #336CFB;
}

.title h4 {
  display: inline-block;
}

.slots-container {
  max-height: 200px;
  overflow-y: auto;
}

.box {
  height: 60px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.input-full-width {
  width: 100%;
}

.available {
  background: white !important;
  border: 1px solid green;
}

.booked {
  background: red;
}

.mat-chip-option:not(.mat-basic-chip)+.mat-chip-option:not(.mat-basic-chip) {
  margin: unset;
}

.mat-chip-option:not(.mat-basic-chip) {
  margin: 4px !important;
  width: 150px;
  text-align: center;
}

.step-btn button {
  float: right;
  margin-left: 5px;
}

.mat-chip-option.mat-chip-option-selected.mat-primary {
  background-color: #336CFB !important;
  color: white !important;
}