<section [formGroup]="neonatalVitalsForm">
  <mat-accordion>
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <h5>
          {{
            currentLanguageSet?.vitalsDetails?.vitalsDataANC_OPD_NCD_PNC?.vitals
          }}
        </h5>
      </mat-expansion-panel-header>
      <div class="row m-t-10">
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <mat-form-field class="input-full-width">
            <mat-label>{{
              currentLanguageSet?.vitalsDetails
                ?.AnthropometryDataANC_OPD_NCD_PNC?.height
            }}</mat-label>
            <input
              autocomplete="off"
              matInput
              defaultNull
              allowText="decimal"
              id="height_cm"
              name="height_cm"
              formControlName="height_cm"
              (change)="checkHeight(height_cm)"
              defaultNull
              allowMax="190"
            />
          </mat-form-field>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <mat-form-field class="input-full-width">
            <mat-label>{{
              currentLanguageSet?.vitalsDetails
                ?.AnthropometryDataANC_OPD_NCD_PNC?.weight
            }}</mat-label>
            <input
              autocomplete="off"
              matInput
              defaultNull
              (change)="checkWeight(weight_Kg)"
              allowText="decimal"
              name="weight_Kg"
              id="weight_Kg"
              formControlName="weight_Kg"
              allowMax="99"
            />
            <svg
              class="fontawesomesvg"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
              matTooltip="{{ currentLanguageSet?.common?.startTest }}"
              matSuffix
              (click)="openIOTWeightModel()"
              onkeydown="openIOTWeightModel()"
              tabindex="{0}"
            >
              <path
                d="M384 176c0 70.7-57.3 128-128 128s-128-57.3-128-128s57.3-128 128-128s128 57.3 128 128zm7.8-112C359.5 24.9 310.7 0 256 0S152.5 24.9 120.2 64H64C28.7 64 0 92.7 0 128V448c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V128c0-35.3-28.7-64-64-64H391.8zM296 224c0-10.6-4.1-20.2-10.9-27.4l33.6-78.3c3.5-8.1-.3-17.5-8.4-21s-17.5 .3-21 8.4L255.7 184c-22 .1-39.7 18-39.7 40c0 22.1 17.9 40 40 40s40-17.9 40-40z"
              />
            </svg>
          </mat-form-field>
        </div>

        <div class="clearfix"></div>

        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <mat-form-field class="input-full-width">
            <mat-label>{{
              currentLanguageSet?.vitalsDetails
                ?.AnthropometryDataANC_OPD_NCD_PNC?.headCircumference
            }}</mat-label>
            <input
              autocomplete="off"
              matInput
              defaultNull
              allowText="decimal"
              (change)="checkHeadCircumference(headCircumference_cm)"
              name="headCircumference_cm"
              id="headCircumference_cm"
              formControlName="headCircumference_cm"
              allowMax="60"
            />
          </mat-form-field>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <mat-form-field class="input-full-width">
            <mat-label>{{
              currentLanguageSet?.vitalsDetails?.vitalsDataANC_OPD_NCD_PNC
                ?.temperature
            }}</mat-label>
            <input
              autocomplete="off"
              matInput
              defaultNull
              allowText="tempDecimal"
              name="temperature"
              id="temperature"
              formControlName="temperature"
              (change)="checkTemperature(temperature)"
              allowMax="106"
            />
            <svg
              class="fontawesomesvg"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
              matTooltip="{{ currentLanguageSet?.common?.startTest }}"
              matSuffix
              (click)="openIOTTempModel()"
              onkeydown="openIOTTempModel()"
              tabindex="{0}"
            >
              <path
                d="M384 176c0 70.7-57.3 128-128 128s-128-57.3-128-128s57.3-128 128-128s128 57.3 128 128zm7.8-112C359.5 24.9 310.7 0 256 0S152.5 24.9 120.2 64H64C28.7 64 0 92.7 0 128V448c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V128c0-35.3-28.7-64-64-64H391.8zM296 224c0-10.6-4.1-20.2-10.9-27.4l33.6-78.3c3.5-8.1-.3-17.5-8.4-21s-17.5 .3-21 8.4L255.7 184c-22 .1-39.7 18-39.7 40c0 22.1 17.9 40 40 40s40-17.9 40-40z"
              />
            </svg>
          </mat-form-field>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</section>
