<mat-expansion-panel expanded="true">
  <mat-expansion-panel-header>
    <h5>{{ currentLanguageSet?.pncData?.pnc }}</h5>
  </mat-expansion-panel-header>
  <div [formGroup]="patientPNCForm" class="row m-t-20">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
      <mat-form-field [style.width]="'100%'">
        <mat-label class="mat-label-text">{{
          currentLanguageSet?.pncData?.placeofDelivery
        }}</mat-label>
        <mat-select
          class="select-full-width"
          name="placeOfDelivery"
          formControlName="deliveryPlace"
          (selectionChange)="resetOtherPlaceOfDelivery()"
          required
        >
          <mat-option
            *ngFor="let place of masterData?.deliveryPlaces"
            [value]="place"
            >{{ place.deliveryPlace }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>

    <div
      class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box"
      *ngIf="deliveryPlace?.deliveryPlace === 'Other'"
    >
      <mat-form-field class="input-full-width">
        <mat-label class="mat-label-text">{{
          currentLanguageSet?.pncData?.others
        }}</mat-label>
        <input
          autocomplete="off"
          matInput
          defaultNull
          maxlength="50"
          formControlName="otherDeliveryPlace"
          name="otherPlaceOfDelivery"
        />
      </mat-form-field>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
      <mat-form-field [style.width]="'100%'">
        <mat-label class="mat-label-text">{{
          currentLanguageSet?.pncData?.typeofDelivery
        }}</mat-label>
        <mat-select
          class="select-full-width"
          name="typeOfDelivery"
          formControlName="deliveryType"
          [disabled]="!patientPNCForm.value.deliveryPlace"
          [required]="patientPNCForm.value.deliveryPlace"
        >
          <mat-option *ngFor="let type of selectDeliveryTypes" [value]="type">
            {{ type.deliveryType }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
      <mat-form-field [style.width]="'100%'">
        <mat-label class="mat-label-text">{{
          currentLanguageSet?.pncData?.deliveryConducted
        }}</mat-label>
        <mat-select
          class="select-full-width"
          name="deliveryConductedBy"
          formControlName="deliveryConductedBy"
        >
          <mat-option
            *ngFor="
              let deliveryConduct of masterData?.deliveryConductedByMaster
            "
            [value]="deliveryConduct"
          >
            {{ deliveryConduct.deliveryConductedBy }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div
      class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box"
      style="margin-bottom: 10px"
    >
      <mat-form-field class="fieldAlignment fontStyle">
        <mat-label class="mat-label-text" class="fontStyle">{{
          currentLanguageSet?.pncData?.dateofDelivery
        }}</mat-label>
        <input
          matInput
          style="width: 100%"
          name="dateOfDelivery"
          formControlName="dDate"
          [max]="today"
          [min]="minimumDeliveryDate"
          [matDatepicker]="dodicker"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="dodicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #dodicker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
      <mat-form-field [style.width]="'100%'">
        <mat-label class="mat-label-text">{{
          currentLanguageSet?.historyData?.obstetrichistory
            ?.deliverycomplicationtype
        }}</mat-label>
        <mat-select
          class="select-full-width"
          name="deliveryComplication"
          formControlName="deliveryComplication"
          (selectionChange)="resetOtherDeliveryComplication()"
        >
          <mat-option
            *ngFor="let complication of masterData?.deliveryComplicationTypes"
            [value]="complication"
          >
            {{ complication.deliveryComplicationType }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div
      class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box"
      *ngIf="deliveryComplication?.deliveryComplicationType === 'Other'"
    >
      <mat-form-field class="input-full-width">
        <mat-label class="mat-label-text">{{
          currentLanguageSet?.pncData?.others
        }}</mat-label>
        <input
          autocomplete="off"
          matInput
          defaultNull
          maxlength="50"
          name="othersDeliveryComplication"
          formControlName="otherDeliveryComplication"
        />
      </mat-form-field>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
      <mat-form-field [style.width]="'100%'">
        <mat-label class="mat-label-text">{{
          currentLanguageSet?.pncData?.outcomeofpregnancy
        }}</mat-label>
        <mat-select
          class="select-full-width"
          name="outcomeOfPregnancy"
          formControlName="pregOutcome"
        >
          <mat-option
            *ngFor="let outcome of masterData?.pregOutcomes"
            [value]="outcome"
          >
            {{ outcome.pregOutcome }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
      <mat-form-field [style.width]="'100%'">
        <mat-label class="mat-label-text">{{
          currentLanguageSet?.pncData?.postNatalComplication
        }}</mat-label>
        <mat-select
          class="select-full-width"
          name="postNatalComplication"
          formControlName="postNatalComplication"
          (selectionChange)="resetOtherPostNatalComplication()"
        >
          <mat-option
            *ngFor="let complication of masterData?.postNatalComplications"
            [value]="complication"
          >
            {{ complication.complicationValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div
      class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box"
      *ngIf="postNatalComplication?.complicationValue === 'Other'"
    >
      <mat-form-field class="input-full-width">
        <mat-label class="mat-label-text">{{
          currentLanguageSet?.pncData?.others
        }}</mat-label>
        <input
          autocomplete="off"
          matInput
          defaultNull
          maxlength="50"
          name="otherPostNatalComplication"
          formControlName="otherPostNatalComplication"
        />
      </mat-form-field>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
      <mat-form-field [style.width]="'100%'">
        <mat-label class="mat-label-text">{{
          currentLanguageSet?.pncData?.gestationalAgeofNewborn
        }}</mat-label>
        <mat-select
          class="select-full-width"
          name="gestation"
          formControlName="gestationName"
        >
          <mat-option
            *ngFor="let gestation of masterData?.gestation"
            [value]="gestation"
            >{{ gestation.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
      <mat-form-field class="input-full-width">
        <mat-label class="mat-label-text">{{
          currentLanguageSet?.pncData?.birthWeight
        }}</mat-label>
        <input
          autocomplete="off"
          matInput
          defaultNull
          maxlength="4"
          allowText="number"
          name="birthWeightG"
          formControlName="birthWeightOfNewborn"
          allowMax="6000"
          (selectionChange)="checkWeight()"
        />
      </mat-form-field>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
      <mat-form-field [style.width]="'100%'">
        <mat-label class="mat-label-text">{{
          currentLanguageSet?.pncData?.newBornHealthStatus
        }}</mat-label>
        <mat-select
          class="input-full-width"
          name="newBornHealthStatus"
          formControlName="newBornHealthStatus"
        >
          <mat-option
            *ngFor="
              let newBornHealthStatus of masterData?.newbornHealthStatuses
            "
            [value]="newBornHealthStatus"
          >
            {{ newBornHealthStatus.newBornHealthStatus }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</mat-expansion-panel>
