<mat-expansion-panel
  [formGroup]="patientFollowUpImmunizationForm"
  expanded="true"
  *ngIf="
    visitCategory.toLowerCase() ===
      'neonatal and infant health care services' ||
    visitCategory.toLowerCase() === 'childhood & adolescent healthcare services'
  "
>
  <mat-expansion-panel-header>
    <h5>
      <strong>{{ currentLanguageSet?.followUpImmunization }}</strong>
    </h5>
  </mat-expansion-panel-header>
  <div class="m-t-20">
    <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-10">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 alignment">
        {{ currentLanguageSet?.dueDateNextImmunization }}
      </div>
      <div
        class="col-xs-6 col-sm-6 col-md-6 col-lg-6"
        style="padding-left: 0px; width: 300px"
      >
        <mat-form-field class="input-full-width">
          <mat-label class="mat-label-text">
            {{ currentLanguageSet?.dueDateNextImmunization }}
          </mat-label>
          <input
            matInput
            [min]="futureDate"
            [matDatepicker]="dueDateForNextImmunizationpicker"
            formControlName="dueDateForNextImmunization"
            readonly
            class="placeholderLength"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="dueDateForNextImmunizationpicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #dueDateForNextImmunizationpicker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 alignment">
        {{ currentLanguageSet?.nextDueVaccine }}
      </div>

      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <mat-form-field class="input-full-width">
          <mat-label class="mat-label-text">
            {{ currentLanguageSet?.nextDueVaccine }}
          </mat-label>
          <mat-select
            class="input-full-width"
            name="nextDueVaccines"
            formControlName="nextDueVaccines"
            (selectionChange)="onClickOfNextDueVaccine()"
          >
            <mat-option
              *ngFor="let vaccine of dueVaccines"
              [value]="vaccine.name"
              >{{ vaccine.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-10">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 alignment">
        {{ currentLanguageSet?.locationOfNextImmunization }}
      </div>

      <div
        class="col-xs-6 col-sm-6 col-md-4 col-lg-4 dropdown-height"
        style="white-space: nowrap"
      >
        <mat-form-field class="input-full-width">
          <mat-label class="mat-label-text">
            {{ currentLanguageSet?.locationOfNextImmunization }}
          </mat-label>
          <mat-select
            class="input-full-width-location"
            name="locationOfNextImmunization"
            formControlName="locationOfNextImmunization"
            (selectionChange)="onClickOfLocationOfNextImmunization()"
          >
            <mat-option
              *ngFor="let location of nextImmunizationSession"
              [value]="location.name"
              >{{ location.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
</mat-expansion-panel>
