<div class="title">
  <h4>{{ currentLanguageSet?.allergenSearch?.allergenName }}</h4>
  <mat-icon
    mat-icon-button
    matDialogClose
    matTooltip="{{ currentLanguageSet?.common?.close }}"
    class="pull-right exit width-20px"
    >close</mat-icon
  >
</div>
<div class="container-fluid">
  <div class="overlay" *ngIf="showProgressBar">
    <div class="overlay-content">
      <mat-spinner></mat-spinner>
    </div>
  </div>
  <mat-dialog-content>
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- ConceptID Column -->
        <ng-container matColumnDef="ConceptID">
          <th mat-header-cell *matHeaderCellDef>
            {{ currentLanguageSet?.common?.ConceptID }}
          </th>
          <td mat-cell *matCellDef="let element">{{ element.ConceptID }}</td>
        </ng-container>

        <!-- term Column -->
        <ng-container matColumnDef="term">
          <th mat-header-cell *matHeaderCellDef>
            {{ currentLanguageSet?.common?.term }}
          </th>
          <td mat-cell *matCellDef="let element">{{ element.term }}</td>
        </ng-container>

        <!-- action Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <mat-radio-button
              (click)="$event.stopPropagation()"
              (change)="selectComponentName(element?.conceptID, element?.term)"
              [checked]="element?.term === selectedItem"
              value="Yes"
            ></mat-radio-button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 15]"
        showFirstLastButtons
      ></mat-paginator>
    </div>

    <div class="row m-b-20">
      <div class="col-xs-12" *ngIf="components.length !== 0">
        <button
          mat-raised-button
          class="btn btn-primary pull-right button-overall-disabled"
          (click)="submitComponentList()"
          [disabled]="selectedComponent === null"
          color="primary"
        >
          {{ currentLanguageSet?.common?.submit }}
        </button>
      </div>
    </div>
  </mat-dialog-content>
</div>
