<div class="row m-t-10">
  <div class="col-xs-12">
    <label for="upload-file" style="color: gray" *ngIf="!disableFileSelection">
      {{ currentLanguageSet?.uploadFileSizeLimit }} :{{ maxFileSize }}
      {{ currentLanguageSet?.mb }} ,
      {{ currentLanguageSet?.supportedFileFormats }} )</label
    >
    <br />
    <section>
      <button
        class="mat_blue"
        [disabled]="disableFileSelection"
        (click)="triggerLog($event)"
      >
        {{ currentLanguageSet?.nurseData?.visitDetailsForm?.selectFile }}
      </button>
      <span class="span-style">
        <input
          autocomplete="off"
          type="file"
          id="fileUpload"
          #filelist
          style="display: inline-block"
          (change)="uploadFile($event)"
        />
      </span>
      <button
        class="mat_blue pull-right"
        mat-raised-button
        (click)="checkForDuplicateUpload()"
      >
        {{ currentLanguageSet?.nurseData?.visitDetailsForm?.uploadFiles }}
      </button>
      <button
        style="margin-left: 10px"
        *ngIf="disableFileSelection || enableForNCDScreening"
        class="mat_blue"
        (click)="viewNurseSelectedFiles()"
      >
        {{ currentLanguageSet?.nurseData?.visitDetailsForm?.viewFiles }}
      </button>
      <div style="margin: 20px 0px 0px 0px">
        <mat-chip-listbox *ngIf="fileObj.length > 0">
          <mat-chip-option
            *ngFor="let file of fileObj"
            [ngClass]="{ chipEdit: file.isUploaded }"
            >{{ file.fileName }}
            <button
              class="mat_icon_white_green"
              matChipRemove
              *ngIf="!file.isUploaded"
              (click)="remove(file)"
            >
              <mat-icon style="margin-top: 100px; margin-left: -40px"
                >cancel</mat-icon
              >
            </button>
          </mat-chip-option>
        </mat-chip-listbox>
      </div>
    </section>
  </div>
</div>
