<mat-accordion [formGroup]="nurseCancerHistoryForm">
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <h5>
        {{
          currentLanguageSet?.historyData?.cancerScreeningHistory?.familyMedical
            ?.familyMedicalHistory
        }}
      </h5>
    </mat-expansion-panel-header>
    <app-nurse-cancer-family-disease-history
      [mode]="mode"
      [cancerPatientFamilyMedicalHistoryForm]="
        cancerPatientFamilyMedicalHistoryForm
      "
    ></app-nurse-cancer-family-disease-history>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <h5>
        {{
          currentLanguageSet?.historyData?.cancerScreeningHistory?.personal
            ?.personalHistory
        }}
      </h5>
    </mat-expansion-panel-header>
    <app-nurse-cancer-personal-history
      [cancerPatientPerosnalHistoryForm]="cancerPatientPerosnalHistoryForm"
    ></app-nurse-cancer-personal-history>
  </mat-expansion-panel>
  <mat-expansion-panel
    *ngIf="
      (templateBeneficiaryDetails?.genderName === 'Female' &&
        templateBeneficiaryDetails?.ageVal > 19) ||
      (templateBeneficiaryDetails?.genderName === 'Transgender' &&
        templateBeneficiaryDetails?.ageVal > 19)
    "
  >
    <mat-expansion-panel-header>
      <h5>
        {{
          currentLanguageSet?.historyData?.cancerScreeningHistory?.obstetric
            ?.obstetricHistory
        }}
      </h5>
    </mat-expansion-panel-header>
    <app-nurse-cancer-obstetric-history
      [cancerPatientObstetricHistoryForm]="cancerPatientObstetricHistoryForm"
      [ispregnant]="pregnancyStatus"
    ></app-nurse-cancer-obstetric-history>
  </mat-expansion-panel>
</mat-accordion>
