<mat-accordion [formGroup]="patientVisitForm">
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <h5>{{ currentLanguageSet?.nurseData?.visitDetails }}</h5>
    </mat-expansion-panel-header>
    <app-patient-visit-details
      [mode]="mode"
      [patientVisitDetailsForm]="patientVisitDetailsForm"
    >
    </app-patient-visit-details>
  </mat-expansion-panel>

  <mat-expansion-panel
    *ngIf="
      hideAll === true ||
      (showNcdScreeningVisit === true && enableCBACForm === true)
    "
  >
    <mat-expansion-panel-header>
      <h5>{{ currentLanguageSet?.cbacForm }}</h5>
    </mat-expansion-panel-header>
    <app-cbac [mode]="mode" [cbacScreeningForm]="cbacScreeningForm"></app-cbac>
  </mat-expansion-panel>

  <mat-expansion-panel *ngIf="isCovidVaccinationStatusVisible">
    <mat-expansion-panel-header>
      <h5>{{ currentLanguageSet?.covidVaccinationStatus }}</h5>
    </mat-expansion-panel-header>
    <app-covid-vaccination-status
      [covidVaccineStatusForm]="covidVaccineStatusForm"
    ></app-covid-vaccination-status>
  </mat-expansion-panel>

  <mat-expansion-panel
    *ngIf="
      hideAll === true ||
      showANCVisit === true ||
      showPNCVisit === true ||
      showOPD === true ||
      showFamilyPlanning === true ||
      showNeonatalVisit === true ||
      showChildAndAdolescent === true
    "
  >
    <mat-expansion-panel-header>
      <h5>
        {{
          currentLanguageSet?.nurseData?.chiefComplaintsDetails?.chiefComplaints
        }}
      </h5>
    </mat-expansion-panel-header>
    <app-patient-chief-complaints
      [mode]="mode"
      [patientChiefComplaintsForm]="patientChiefComplaintsForm"
    >
    </app-patient-chief-complaints>
  </mat-expansion-panel>

  <mat-expansion-panel *ngIf="visitCategory && isCdssStatus">
    <mat-expansion-panel-header>
      <h5>
        {{ currentLanguageSet?.nurseData?.chiefComplaintsDetails?.cdss }}
      </h5>
    </mat-expansion-panel-header>
    <h5>{{ currentLanguageSet?.previousvisit?.ChiefComplaint104 }}</h5>
    <app-cdss-form [mode]="mode" [cdssForm]="presentChiefComplaintDb">
    </app-cdss-form>
    <h5>
      {{
        currentLanguageSet?.nurseData?.chiefComplaintsDetails?.diseaseSummary
      }}
    </h5>
    <app-disease-summary-form
      [mode]="mode"
      [DiseaseSummaryForm]="diseaseSummaryDb"
    >
    </app-disease-summary-form>
  </mat-expansion-panel>

  <mat-expansion-panel
    *ngIf="
      ((showANCVisit === true ||
        showPNCVisit === true ||
        showOPD === true ||
        showFamilyPlanning === true) &&
        visitReason !== undefined &&
        visitReason !== null &&
        visitReason === 'Follow Up') ||
      hideAll === true ||
      showNCDCare
    "
  >
    <mat-expansion-panel-header>
      <h5>{{ currentLanguageSet?.nurseData?.adherenceDetails?.adherence }}</h5>
    </mat-expansion-panel-header>
    <app-patient-adherence
      [mode]="mode"
      [patientAdherenceForm]="patientAdherenceForm"
    ></app-patient-adherence>
  </mat-expansion-panel>

  <mat-expansion-panel
    *ngIf="hideAll === true || showANCVisit === true || showNCDCare"
  >
    <mat-expansion-panel-header>
      <h5>
        {{
          currentLanguageSet?.nurseData?.investigationsDetails?.investigations
        }}
      </h5>
    </mat-expansion-panel-header>
    <app-patient-investigations
      [mode]="mode"
      [patientInvestigationsForm]="patientInvestigationsForm"
    >
    </app-patient-investigations>
  </mat-expansion-panel>

  <mat-expansion-panel *ngIf="hideAll === true || showCOVID">
    <mat-expansion-panel-header>
      <h5>
        {{
          currentLanguageSet?.ExaminationData?.cancerScreeningExamination
            ?.symptoms?.symptoms
        }}
      </h5>
    </mat-expansion-panel-header>
    <app-symptoms
      [mode]="mode"
      [patientCovidForm]="patientCovidForm"
    ></app-symptoms>
  </mat-expansion-panel>
  <mat-expansion-panel *ngIf="hideAll === true || showCOVID">
    <mat-expansion-panel-header>
      <h5>{{ currentLanguageSet?.contactHistory }}</h5>
    </mat-expansion-panel-header>
    <app-contact-history
      [mode]="mode"
      [patientCovidForm]="patientCovidForm"
    ></app-contact-history>
  </mat-expansion-panel>
  <mat-expansion-panel *ngIf="hideAll === true || showCOVID">
    <mat-expansion-panel-header>
      <h5>{{ currentLanguageSet?.covid?.travelHistory }}</h5>
    </mat-expansion-panel-header>
    <app-travel-history
      [mode]="mode"
      [patientCovidForm]="patientCovidForm"
    ></app-travel-history>
  </mat-expansion-panel>
  <mat-expansion-panel
    *ngIf="hideAll === true || showNcdScreeningVisit === true"
  >
    <mat-expansion-panel-header>
      <h5 *ngIf="enableCBACForm === true">
        {{ currentLanguageSet?.existingNCDDisease }}
      </h5>
      <h5 *ngIf="enableCBACForm === false">
        {{
          currentLanguageSet?.nurseData?.visitDetailsForm?.diseaseConfirmation
        }}
      </h5>
    </mat-expansion-panel-header>
    <app-diseaseconfirmation
      [mode]="mode"
      [idrsOrCbac]="idrsOrCbac"
      [diseaseFormsGroup]="patientDiseaseForm"
    ></app-diseaseconfirmation>
  </mat-expansion-panel>
  <mat-expansion-panel *ngIf="visitCategory">
    <mat-expansion-panel-header>
      <h5>
        {{ currentLanguageSet?.nurseData?.visitDetailsForm?.uploadFiles }}
      </h5>
    </mat-expansion-panel-header>
    <app-patient-upload-files
      [mode]="mode"
      [enableFileSelection]="enableFileSelection"
      [patientFileUploadDetailsForm]="patientFileUploadDetailsForm"
    >
    </app-patient-upload-files>
  </mat-expansion-panel>
</mat-accordion>
