mat-grid-list {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 550px;
    overflow: auto;
}

i {
    margin-top: 18px;
}

.full-width {
    width: 100%;
}

.matCardSonar {
    width: 420px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    padding: 24px;
}

.mat-mdc-card-title {
    font-size: 24px;
    font-weight: 400;
    display: block;
    margin-bottom: 16px;
}

.text-center {
    text-align: center;
}

.button-width {
    width: 158px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    box-sizing: border-box;
    position: relative;
    user-select: none;
    cursor: pointer;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 5px;
    min-width: 88px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 7px;
    transform: translate3d(0,0,0);
    transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
    background-color: #C21F1F !important;
    color:white;
    height: 35px;

}
.button-width-blue {
    width: 158px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    box-sizing: border-box;
    position: relative;
    user-select: none;
    cursor: pointer;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 5px;
    min-width: 88px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 7px;
    transform: translate3d(0,0,0);
    transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
    background-color:#336CFB ;
    color: white;
    height: 35px;

}

.button-width-blue[disabled] {
    width: 158px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    box-sizing: border-box;
    position: relative;
    user-select: none;
    cursor: pointer;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 5px;
    min-width: 88px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 7px;
    transform: translate3d(0,0,0);
    transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
    background-color: #e0e0e0;
    color: rgba(0, 0, 0, 0.38);
    height: 35px;
}