<app-header [showRoles]="false"></app-header>

<mat-grid-list cols="1" (mouseup)="hidePWD()">
  <mat-card class="matCardSonar">
    <mat-card-title>
      <div class="text-center">
        <img src="assets/images/Swasthya.png" alt="Logo" />
      </div>
      <div class="text-center">
        <h4 class="f-s-24" style="margin-top: 20px">Account Support</h4>
        <p
          class=""
          style="font-size: 15px; font-weight: bold; letter-spacing: initial"
        >
          Follow the steps to change/reset the password
        </p>
      </div>
    </mat-card-title>
    <div *ngIf="hideOnGettingQuestions">
      <div class="row">
        <div
          class="col-2"
          style="text-align: center; padding-right: unset; margin-top: 20px"
        >
          <mat-icon matPrefix>account_box</mat-icon>
        </div>
        <div class="col-10" style="padding-left: unset">
          <mat-form-field class="full-width">
            <mat-label class="mat-label-text">Enter User Name</mat-label>
            <input
              autocomplete="off"
              allowText="usernameValidator"
              autocomplete="off"
              matInput
              type="text"
              id="userID"
              [(ngModel)]="userID"
              name="userID"
              minlength="2"
              required
              #uname="ngModel"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="col-12 row" style="margin-left: 0px">
        <div class="col-6">
          <button
            mat-raised-button
            type="button"
            class="button-width"
            [routerLink]="['/']"
          >
            Cancel
          </button>
        </div>
        <div class="col-6">
          <button
            mat-raised-button
            type="button"
            class="button-width-blue"
            color="primary"
            [disabled]="!uname.valid"
            (click)="getQuestions(userID)"
          >
            Next
          </button>
        </div>
      </div>
    </div>
    <mat-card-content *ngIf="showQuestions">
      <div class="row">
        <div class="col-xs-12 col-sm-12">
          <h5>
            <strong
              ><span>{{ bufferQuestion }}</span></strong
            >
          </h5>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <mat-form-field class="full-width">
            <input
              autocomplete="off"
              autocomplete="off"
              allowText="answerValidator"
              matInput
              type="{{ dynamictype }}"
              id="answer"
              placeholder="Enter Answer"
              [(ngModel)]="answer"
              name="answer"
              #answerf="ngModel"
              required
            />
            <mat-icon
              matSuffix
              class="mat-icon material-icons cursorPointer"
              role="img"
              aria-hidden="true"
              mdTooltip="Show Answer"
              (mousedown)="showPWD()"
              >visibility</mat-icon
            >
            <mat-hint>
              <span class="error_text">{{ wrong_answer_msg }}</span>
            </mat-hint>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 m-t-10">
          <button
            mat-raised-button
            type="button"
            style="width: 335px"
            class="button-width-blue"
            [disabled]="!answerf.valid || counter > 1"
            color="primary"
            (click)="nextQuestion()"
          >
            Next
          </button>
          <button
            mat-raised-button
            type="button"
            style="width: 335px"
            class="button-width-blue"
            [disabled]="!answerf.valid || counter < 2"
            color="primary"
            (click)="nextQuestion()"
          >
            Submit
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</mat-grid-list>

<app-footer></app-footer>
