<div class="row title" [ngClass]="{ warn: errorMsg !== undefined }">
  <h4>{{ currentLanguageSet?.common?.bluetoothDevice }}</h4>
  <mat-icon
    class="pull-right exit"
    (click)="stop()"
    matTooltip="{{ currentLanguageSet?.stopTest }}"
    mat-icon-button
    >close</mat-icon
  >
</div>
<div class="container-fluid">
  <mat-dialog-content>
    <div class="table-responsive">
      <p class="msg" *ngIf="!msgCalibration">
        {{
          errorMsg === undefined ? "Please wait. Test in Progress  " : errorMsg
        }}
      </p>
      <p class="msg" *ngIf="msgCalibration && !stripShowMsg">
        {{
          errorMsg === undefined
            ? "Please wait.Calibration Test in Progress  "
            : errorMsg
        }}
      </p>
      <p class="msg" *ngIf="msgCalibration && stripShowMsg">
        {{
          errorMsg === undefined
            ? "Please Insert Calibration Strip to proceed "
            : errorMsg
        }}
      </p>
      <p class="progressMsg">
        {{
          errorMsg === undefined && progressMsg !== undefined ? progressMsg : ""
        }}
      </p>
      <div class="row" *ngIf="msgCalibration && startedCalibration">
        <button
          matTooltip="{{ currentLanguageSet?.common?.startTest }}"
          mat-button
          type="button"
          class="pull-left exit button-overall-disabled"
          [ngClass]="{
            enable: statusCalibration === false,
            disable: statusCalibration === true
          }"
          style="border-radius: 8px; margin-bottom: 5px; margin-left: 30px"
          [disabled]="statusCalibration"
          (click)="getCalibStatus()"
        >
          {{ currentLanguageSet?.coreComponents?.start }}
        </button>
        <button
          matTooltip="{{ currentLanguageSet?.stopTest }}"
          mat-button
          type="button"
          class="pull-right exit button-overall-disabled"
          style="
            border-radius: 8px;
            background-color: red;
            margin-bottom: 5px;
            margin-right: 30px;
          "
          [disabled]="stoppedCalibration"
          (click)="calibStop()"
        >
          {{ currentLanguageSet?.abort }}
        </button>
      </div>
    </div>
  </mat-dialog-content>
</div>
