<div class="row m-t-20" [formGroup]="cardioVascularSystemForm">
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
    <label class="control-label" for="cardioVascularSystem">{{
      current_language_set?.ExaminationData?.ANC_OPD_PNCExamination?.systemic
        ?.cardioForANC_OPD_PNC?.jugularVenousPressure
    }}</label>
    <div class="clearfix"></div>
    <mat-radio-group
      name="jugularVenousPulse_JVP"
      formControlName="jugularVenousPulse_JVP"
    >
      <mat-radio-button color="primary" value="Normal">{{
        current_language_set?.common?.normal
      }}</mat-radio-button>
      <mat-radio-button color="primary" value="Elevated">{{
        current_language_set?.common?.elevated
      }}</mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <mat-form-field class="input-full-width" class="textarea-full-width">
      <mat-label>{{
        current_language_set?.ExaminationData?.ANC_OPD_PNCExamination?.systemic
          ?.cardioForANC_OPD_PNC?.apexBeatLocation
      }}</mat-label>
      <textarea
        matInput
        allowText="textAreaValidator"
        defaultNull
        matTextareaAutosize
        name="apexbeatLocation"
        formControlName="apexbeatLocation"
        maxlength="300"
      ></textarea>
    </mat-form-field>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <mat-form-field class="input-full-width" class="textarea-full-width">
      <mat-label>{{
        current_language_set?.ExaminationData?.ANC_OPD_PNCExamination?.systemic
          ?.cardioForANC_OPD_PNC?.apexBeatType
      }}</mat-label>
      <textarea
        matInput
        allowText="textAreaValidator"
        defaultNull
        matTextareaAutosize
        name="apexbeatType"
        formControlName="apexbeatType"
        maxlength="300"
      ></textarea>
    </mat-form-field>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <mat-form-field class="input-full-width" class="textarea-full-width">
      <mat-label>{{
        current_language_set?.ExaminationData?.ANC_OPD_PNCExamination?.systemic
          ?.cardioForANC_OPD_PNC?.firstHeartSound
      }}</mat-label>
      <textarea
        matInput
        allowText="textAreaValidator"
        defaultNull
        matTextareaAutosize
        name="firstHeartSound_S1"
        formControlName="firstHeartSound_S1"
        maxlength="300"
      ></textarea>
    </mat-form-field>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <mat-form-field class="input-full-width" class="textarea-full-width">
      <mat-label>{{
        current_language_set?.ExaminationData?.ANC_OPD_PNCExamination?.systemic
          ?.cardioForANC_OPD_PNC?.secondHeartSound
      }}</mat-label>
      <textarea
        matInput
        allowText="textAreaValidator"
        defaultNull
        matTextareaAutosize
        name="secondHeartSound_S2"
        formControlName="secondHeartSound_S2"
        maxlength="300"
      ></textarea>
    </mat-form-field>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <mat-form-field class="input-full-width" class="textarea-full-width">
      <mat-label>{{
        current_language_set?.ExaminationData?.ANC_OPD_PNCExamination?.systemic
          ?.cardioForANC_OPD_PNC?.otherHeartSounds
      }}</mat-label>
      <textarea
        matInput
        allowText="textAreaValidator"
        defaultNull
        matTextareaAutosize
        name="additionalHeartSounds"
        formControlName="additionalHeartSounds"
        maxlength="300"
      ></textarea>
    </mat-form-field>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
    <label class="control-label" for="cardioVascularSystem">{{
      current_language_set?.ExaminationData?.ANC_OPD_PNCExamination?.systemic
        ?.cardioForANC_OPD_PNC?.murmurs
    }}</label>
    <div class="clearfix"></div>
    <mat-radio-group name="murmurs" formControlName="murmurs">
      <mat-radio-button color="primary" value="Present">{{
        current_language_set?.common?.present
      }}</mat-radio-button>
      <mat-radio-button color="primary" value="Absent">{{
        current_language_set?.common?.absent
      }}</mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
    <label class="control-label" for="cardioVascularSystem">{{
      current_language_set?.ExaminationData?.ANC_OPD_PNCExamination?.systemic
        ?.cardioForANC_OPD_PNC?.pericardialrub
    }}</label>
    <div class="clearfix"></div>
    <mat-radio-group name="pericardialRub" formControlName="pericardialRub">
      <mat-radio-button color="primary" value="Present">{{
        current_language_set?.common?.present
      }}</mat-radio-button>
      <mat-radio-button color="primary" value="Absent">{{
        current_language_set?.common?.absent
      }}</mat-radio-button>
    </mat-radio-group>
  </div>
</div>
