<button
  type="button"
  class="history-label col-12 mat-icon-button mat_icon_blue"
  id="previousANCPastObstetricHistory"
  color="primary"
  matTooltip="{{ currentLanguageSet?.DurationData?.previousDetails }}"
  (click)="getPreviousObstetricHistory()"
  (keydown.enter)="getPreviousObstetricHistory()"
  (keydown.space)="getPreviousObstetricHistory()"
>
  <mat-icon class="md-18 ms-2">history</mat-icon>
  <span class="previousHistory">
    {{
      currentLanguageSet?.historyData?.obstetrichistory?.previousObstetricHist
    }}
  </span>
</button>

<div class="row" [formGroup]="pastObstericHistoryForm">
  <div class="col-xs-12 col-sm-4 box">
    <mat-form-field class="input-full-width mat_form_field_width_thee">
      <mat-label class="mat-label-text">{{
        currentLanguageSet?.historyData?.opd_NCD_PNCHistory?.obstetric
          ?.totalNumberofPregnancies
      }}</mat-label>
      <input
        autocomplete="off"
        matInput
        defaultNull
        name="totalNoOfPreg "
        allowText="number"
        allowMax="10"
        [readonly]="visitCategory === 'ANC' ? true : false"
        formControlName="totalNoOfPreg"
        (blur)="checkTotalPregnancy(totalNoOfPreg)"
      />
    </mat-form-field>
  </div>

  <div class="col-xs-12 col-sm-6" *ngIf="totalNoOfPreg > 0">
    <p class="control-label">
      {{
        currentLanguageSet?.historyData?.opd_NCD_PNCHistory?.obstetric
          ?.orderofPregnancy
      }}
    </p>
    <div class="clearfix"></div>
    <div class="checkbox-group" formArrayName="complicationPregList">
      <ng-container
        *ngFor="
          let number of getComplicationPregList();
          let i = index;
          trackBy: trackComplication
        "
        [formGroupName]="i"
      >
        <mat-checkbox
          formControlName="value"
          class="checkbox"
          color="primary"
          (change)="togglePastObstericHistory($event, i + 1)"
        >
          {{ i + 1 }}
        </mat-checkbox>
      </ng-container>
    </div>
  </div>

  <div class="col-xs-12" formArrayName="pastObstericHistoryList">
    <mat-card
      class="row"
      *ngFor="
        let pastObstericHistory of getPastObstericHistoryList();
        let i = index
      "
    >
      <ng-container [formGroupName]="i">
        <mat-card-content>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
            <mat-form-field class="input-full-width mat_form_field_width">
              <mat-label class="mat-label-text">{{
                currentLanguageSet?.historyData?.opd_NCD_PNCHistory?.obstetric
                  ?.number
              }}</mat-label>
              <input
                autocomplete="off"
                matInput
                defaultNull
                name="pregOrder"
                formControlName="pregOrder"
                [readonly]="true"
              />
            </mat-form-field>
          </div>

          <div class="row" style="display: flex">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
              <mat-form-field [style.width]="'100%'">
                <mat-label class="mat-label-text">{{
                  currentLanguageSet?.historyData?.opd_NCD_PNCHistory?.obstetric
                    ?.complicationduringPregnancy
                }}</mat-label>
                <mat-select
                  class="select-full-width"
                  name="complicationDuringPregnancy"
                  formControlName="pregComplicationList"
                  (selectionChange)="
                    resetOtherPregnancyComplication(
                      pastObstericHistory,
                      i,
                      true
                    )
                  "
                  multiple
                >
                  <ng-container
                    *ngFor="
                      let complication of masterData?.pregComplicationTypes
                    "
                  >
                    <mat-option
                      [value]="complication"
                      [disabled]="
                        !complicationOptionConstraints[i]
                          .showAllPregComplication &&
                        ((complication?.pregComplicationType === 'None' &&
                          complicationOptionConstraints[i]
                            ?.disableNonePregnancyComplication) ||
                          (complication?.pregComplicationType !== 'None' &&
                            !complicationOptionConstraints[i]
                              .disableNonePregnancyComplication))
                      "
                    >
                      {{ complication.pregComplicationType }}
                    </mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>
            </div>

            <div
              class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box"
              *ngIf="
                complicationOptionConstraints[i]?.showOtherPregnancyComplication
              "
            >
              <mat-form-field class="input-full-width">
                <mat-label class="mat-label-text">{{
                  currentLanguageSet?.historyData?.opd_NCD_PNCHistory?.obstetric
                    ?.others
                }}</mat-label>
                <input
                  autocomplete="off"
                  matInput
                  defaultNull
                  allowText="alphaspace"
                  maxlength="50"
                  name="others"
                  formControlName="otherPregComplication"
                />
              </mat-form-field>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
              <mat-form-field [style.width]="'100%'">
                <mat-label class="mat-label-text">{{
                  currentLanguageSet?.historyData?.opd_NCD_PNCHistory?.obstetric
                    ?.outcomeofpregnancy
                }}</mat-label>
                <mat-select
                  class="select-full-width"
                  name="outcomeOfPregnancy"
                  formControlName="pregOutcome"
                  (selectionChange)="checkPregnancyOutcome(pastObstericHistory)"
                >
                  <mat-option
                    *ngFor="let outcome of masterData?.pregOutcomes"
                    [value]="outcome"
                  >
                    {{ outcome.pregOutcome }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <ng-container
              *ngIf="
                pastObstericHistory.value.pregOutcome?.pregOutcome ===
                'Abortion'
              "
            >
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
                <mat-form-field [style.width]="'100%'">
                  <mat-label class="mat-label-text">{{
                    currentLanguageSet?.historyData?.opd_NCD_PNCHistory
                      ?.obstetric?.typeOfAbortion
                  }}</mat-label>
                  <mat-select
                    class="select-full-width"
                    name="typeOfAbortion"
                    formControlName="abortionType"
                    [required]="
                      pastObstericHistory.value.pregOutcome?.pregOutcome ===
                      'Abortion'
                    "
                  >
                    <mat-option
                      *ngFor="let abortion of masterData?.typeOfAbortion"
                      (click)="
                        onAbortionType(
                          pastObstericHistory,
                          abortion.complicationValue
                        )
                      "
                      [value]="abortion"
                    >
                      {{ abortion.complicationValue }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div
                class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box"
                *ngIf="
                  pastObstericHistory.value.abortionType?.complicationValue ===
                  'Induced'
                "
              >
                <mat-form-field [style.width]="'100%'">
                  <mat-label class="mat-label-text">{{
                    currentLanguageSet?.historyData?.opd_NCD_PNCHistory
                      ?.obstetric?.typeofFacility
                  }}</mat-label>
                  <mat-select
                    class="select-full-width"
                    name="typeofFacility"
                    formControlName="typeofFacility"
                    [required]="
                      pastObstericHistory.value.pregOutcome?.pregOutcome ===
                        'Abortion' &&
                      pastObstericHistory.value.abortionType
                        ?.complicationValue === 'Induced'
                    "
                  >
                    <mat-option
                      *ngFor="let type of masterData?.serviceFacilities"
                      [value]="type"
                    >
                      {{ type.facilityName }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
                <mat-form-field class="input-full-width">
                  <mat-label class="mat-label-text">{{
                    currentLanguageSet?.historyData?.opd_NCD_PNCHistory
                      ?.obstetric?.noOfcompletedWeeks
                  }}</mat-label>
                  <input
                    autocomplete="off"
                    (change)="checkDurationType(pastObstericHistory)"
                    matInput
                    name="durationOfType"
                    allowText="number"
                    formControlName="pregDuration"
                    [required]="
                      pastObstericHistory.value.pregOutcome?.pregOutcome ===
                      'Abortion'
                    "
                  />
                </mat-form-field>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
                <mat-form-field [style.width]="'100%'">
                  <mat-label class="mat-label-text">{{
                    currentLanguageSet?.historyData?.opd_NCD_PNCHistory
                      ?.obstetric?.complicationPostAbortion
                  }}</mat-label>
                  <mat-select
                    class="select-full-width"
                    name="complicationPostAbortion"
                    formControlName="postAbortionComplication"
                    (selectionChange)="
                      resetPostComplicationType(pastObstericHistory, i)
                    "
                    multiple
                    [required]="
                      pastObstericHistory.value.pregOutcome?.pregOutcome ===
                      'Abortion'
                    "
                  >
                    <mat-option
                      *ngFor="
                        let complicationAbortion of masterData?.postAbortionComplications
                      "
                      [disabled]="
                        !complicationOptionConstraints[i]
                          .showAllPostComplication &&
                        ((complicationAbortion?.complicationValue === 'None' &&
                          complicationOptionConstraints[i]
                            ?.disableNonePostComplication) ||
                          (complicationAbortion?.complicationValue !== 'None' &&
                            !complicationOptionConstraints[i]
                              .disableNonePostComplication))
                      "
                      [value]="complicationAbortion"
                    >
                      {{ complicationAbortion.complicationValue }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </ng-container>

            <div
              class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box"
              *ngIf="
                pastObstericHistory.value.pregOutcome?.pregOutcome !==
                'Abortion'
              "
            >
              <mat-form-field [style.width]="'100%'">
                <mat-label class="mat-label-text">{{
                  currentLanguageSet?.historyData?.opd_NCD_PNCHistory?.obstetric
                    ?.durationofPregnancy
                }}</mat-label>
                <mat-select
                  class="select-full-width"
                  name="durationOfPregnancy"
                  formControlName="durationType"
                  (selectionChange)="hrpPastObstetricDetails(true)"
                >
                  <mat-option
                    *ngFor="let duration of masterData?.pregDuration"
                    [value]="duration"
                  >
                    {{ duration.durationType }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <ng-container
              *ngIf="
                pastObstericHistory.value.pregOutcome?.pregOutcome !==
                'Abortion'
              "
            >
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
                <mat-form-field [style.width]="'100%'">
                  <mat-label class="mat-label-text">{{
                    currentLanguageSet?.historyData?.opd_NCD_PNCHistory
                      ?.obstetric?.placeofDelivery
                  }}</mat-label>
                  <mat-select
                    class="select-full-width"
                    name="placeOfDelivery"
                    formControlName="deliveryPlace"
                    (selectionChange)="
                      resetOtherDeliveryPlace(pastObstericHistory)
                    "
                  >
                    <mat-option
                      *ngFor="let place of masterData?.deliveryPlaces"
                      [value]="place"
                    >
                      {{ place.deliveryPlace }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div
                class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box"
                *ngIf="
                  pastObstericHistory.value.deliveryPlace?.deliveryPlace ===
                  'Other'
                "
              >
                <mat-form-field class="input-full-width">
                  <mat-label class="mat-label-text">{{
                    currentLanguageSet?.historyData?.opd_NCD_PNCHistory
                      ?.obstetric?.others
                  }}</mat-label>
                  <input
                    autocomplete="off"
                    matInput
                    defaultNull
                    maxlength="50"
                    allowText="alphaspace"
                    name="otherPlaceOfDelivery"
                    formControlName="otherDeliveryPlace"
                  />
                </mat-form-field>
              </div>
            </ng-container>

            <div
              class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box"
              *ngIf="
                pastObstericHistory.value.pregOutcome?.pregOutcome !==
                'Abortion'
              "
            >
              <mat-form-field [style.width]="'100%'">
                <mat-label class="mat-label-text">{{
                  currentLanguageSet?.historyData?.opd_NCD_PNCHistory?.obstetric
                    ?.deliveryType
                }}</mat-label>
                <mat-select
                  class="select-full-width"
                  name="typeOfDelivery"
                  formControlName="deliveryType"
                  [disabled]="!pastObstericHistory.value.deliveryPlace"
                  (selectionChange)="hrpPastObstetricDetails(true)"
                >
                  <ng-container *ngFor="let type of selectDeliveryTypes">
                    <mat-option [value]="type">
                      {{ type.deliveryType }}
                    </mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>
            </div>

            <ng-container
              *ngIf="
                pastObstericHistory.value.pregOutcome?.pregOutcome !==
                'Abortion'
              "
            >
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
                <mat-form-field [style.width]="'100%'">
                  <mat-label class="mat-label-text">{{
                    currentLanguageSet?.historyData?.opd_NCD_PNCHistory
                      ?.obstetric?.deliveryComplication
                  }}</mat-label>
                  <mat-select
                    class="select-full-width"
                    name="deliveryComplication"
                    formControlName="deliveryComplicationList"
                    (selectionChange)="
                      resetOtherDeliveryComplication(
                        pastObstericHistory,
                        i,
                        true
                      )
                    "
                    multiple
                  >
                    <ng-container
                      *ngFor="
                        let complication of masterData?.deliveryComplicationTypes
                      "
                    >
                      <mat-option
                        class="mat-option"
                        [value]="complication"
                        [disabled]="
                          !complicationOptionConstraints[i]
                            .showAllDeliveryComplication &&
                          ((complication?.deliveryComplicationType === 'None' &&
                            complicationOptionConstraints[i]
                              ?.disableNoneDeliveryComplication) ||
                            (complication?.deliveryComplicationType !==
                              'None' &&
                              !complicationOptionConstraints[i]
                                .disableNoneDeliveryComplication))
                        "
                      >
                        {{ complication.deliveryComplicationType }}
                      </mat-option>
                    </ng-container>
                  </mat-select>
                </mat-form-field>
              </div>

              <div
                class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box"
                *ngIf="
                  complicationOptionConstraints[i]
                    ?.showOtherDeliveryComplication
                "
              >
                <mat-form-field class="input-full-width">
                  <mat-label class="mat-label-text">{{
                    currentLanguageSet?.historyData?.opd_NCD_PNCHistory
                      ?.obstetric?.others
                  }}</mat-label>
                  <input
                    autocomplete="off"
                    matInput
                    defaultNull
                    maxlength="50"
                    allowText="alphaspace"
                    name="othersDeliveryComplication"
                    formControlName="otherDeliveryComplication"
                  />
                </mat-form-field>
              </div>
            </ng-container>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
              <mat-form-field [style.width]="'100%'">
                <mat-label class="mat-label-text">{{
                  currentLanguageSet?.historyData?.opd_NCD_PNCHistory?.obstetric
                    ?.postpartumComplication
                }}</mat-label>
                <mat-select
                  class="select-full-width"
                  name="postpartumComplication"
                  formControlName="postpartumComplicationList"
                  (selectionChange)="
                    resetOtherPostpartumComplicationType(pastObstericHistory, i)
                  "
                  multiple
                >
                  <ng-container
                    *ngFor="
                      let complication of masterData?.postpartumComplicationTypes
                    "
                  >
                    <mat-option
                      class="mat-option"
                      [value]="complication"
                      [disabled]="
                        !complicationOptionConstraints[i]
                          .showAllPostpartumComplication &&
                        ((complication?.postpartumComplicationType === 'None' &&
                          complicationOptionConstraints[i]
                            ?.disableNonePostpartumComplication) ||
                          (complication?.postpartumComplicationType !==
                            'None' &&
                            !complicationOptionConstraints[i]
                              .disableNonePostpartumComplication))
                      "
                    >
                      {{ complication.postpartumComplicationType }}
                    </mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>
            </div>

            <div
              class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box"
              *ngIf="
                complicationOptionConstraints[i]
                  ?.showOtherPostpartumComplication
              "
            >
              <mat-form-field class="input-full-width">
                <mat-label class="mat-label-text">{{
                  currentLanguageSet?.historyData?.opd_NCD_PNCHistory?.obstetric
                    ?.others
                }}</mat-label>
                <input
                  autocomplete="off"
                  matInput
                  defaultNull
                  maxlength="50"
                  allowText="alphaspace"
                  name="otherPostpartumComplication"
                  formControlName="otherPostpartumCompType"
                />
              </mat-form-field>
            </div>

            <div
              class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box"
              *ngIf="
                pastObstericHistory.value.pregOutcome?.pregOutcome ===
                'Live Birth'
              "
            >
              <mat-form-field [style.width]="'100%'">
                <mat-label class="mat-label-text">{{
                  currentLanguageSet?.historyData?.opd_NCD_PNCHistory?.obstetric
                    ?.newBornComplication
                }}</mat-label>
                <mat-select
                  class="select-full-width"
                  name="newBornComplications"
                  formControlName="newBornComplication"
                  (selectionChange)="
                    resetOtherNewBornComplications(pastObstericHistory)
                  "
                >
                  <mat-option
                    *ngFor="
                      let complication of masterData?.newBornComplications
                    "
                    [value]="complication"
                  >
                    {{ complication.complicationValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div
              class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box"
              *ngIf="
                pastObstericHistory.value.newBornComplication
                  ?.complicationValue === 'Other'
              "
            >
              <mat-form-field class="input-full-width">
                <mat-label class="mat-label-text">{{
                  currentLanguageSet?.historyData?.opd_NCD_PNCHistory?.obstetric
                    ?.others
                }}</mat-label>
                <input
                  autocomplete="off"
                  matInput
                  defaultNull
                  maxlength="50"
                  allowText="alphaspace"
                  name="otherNewBornComplication"
                  formControlName="otherNewBornComplication"
                />
              </mat-form-field>
            </div>

            <div
              class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box"
              *ngIf="
                pastObstericHistory.value.pregOutcome?.pregOutcome ===
                'Live Birth'
              "
            >
              <mat-form-field class="input-full-width">
                <mat-label>{{
                  currentLanguageSet?.historyData?.opd_NCD_PNCHistory?.obstetric
                    ?.congenitalAnomalies
                }}</mat-label>
                <input
                  autocomplete="off"
                  matInput
                  defaultNull
                  maxlength="50"
                  allowText="alphaspace"
                  name="congenitalAnomalies"
                  formControlName="congenitalAnomalies"
                  (change)="setCongenitalAnomalies()"
                />
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
      </ng-container>
    </mat-card>
  </div>
</div>
