<ng-container [formGroup]="physicalActivityHistory">
  <div class="col-12" style="text-align: end">
    <button
      type="button"
      mat-icon-button
      matTooltip="{{ currentLanguageSet?.DurationData?.previousDetails }}"
      id="previousANCFamilyHistory"
      class="pull-right hbx"
      color="primary"
      (click)="getPreviousPhysicalActivityHistory()"
    >
      <mat-icon class="md-18">history</mat-icon>
    </button>
    <p class="font-history-label m-t-10">
      {{
        currentLanguageSet?.historyData?.ncdPhysicalActivityHistory
          ?.previousPhysicalActivityHistory
      }}
    </p>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box hbx">
    <label class="control-label" for="physicalActivityType">{{
      currentLanguageSet?.historyData?.ncdPhysicalActivityHistory
        ?.physicalActivityType
    }}</label>
    <div class="clearfix"></div>
    <mat-radio-group formControlName="physicalActivityType">
      <mat-radio-button color="primary" value="Sedentary">{{
        currentLanguageSet?.historyData?.ncdPhysicalActivityHistory?.sedentary
      }}</mat-radio-button>
      <mat-radio-button color="primary" class="radio-button" value="Active">{{
        currentLanguageSet?.historyData?.ncdPhysicalActivityHistory?.active
      }}</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="box col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <mat-form-field [style.width]="'100%'">
      <mat-label class="mat-label-text">{{
        currentLanguageSet?.historyData?.ncdPhysicalActivityHistory
          ?.physcialActivityQuestions
      }}</mat-label>
      <mat-select
        style="width: 100%"
        name="physicalActivitQuestions"
        formControlName="activityType"
        (change)="calculateIDRSScore($event, physicalActivityHistory)"
        [required]="age >= 30"
      >
        <mat-option
          *ngFor="let questions of physicalActivityQuestions"
          [value]="questions.activityType"
        >
          {{ questions.activityType }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </div>
</ng-container>
