<div>
  <div class="title info">
    <h4>{{ currentLanguageSet?.aBHACard }}</h4>
    <button
      class="pull-right close-btn mat_icon_white"
      matTooltip="{{ currentLanguageSet?.common.close }}"
      matDialogClose
      (click)="closeDialog()"
      mat-icon-button
    >
      <mat-icon class="md-24">close</mat-icon>
    </button>
  </div>

  <div class="image-container m-t-15">
    <img
      width="600px"
      height="300px"
      id="imghealthIDCard"
      [src]="transform()"
      alt=""
    />
  </div>

  <div class="row" class="image-container m-t-10">
    <button
      class="mat_blue"
      mat-raised-button
      color="primary"
      (click)="downloadHealthIDCard()"
    >
      {{ currentLanguageSet?.coreComponents?.download }}
    </button>
  </div>
</div>
