<!-- {{ menstrualHistoryForm.value | json }} -->
<div class="row m-t-10 text-right">
  <p class="font-history-label m-t-10">
    {{
      currentLanguageSet?.historyData?.Previousmenstrualhistory
        ?.previousmenstrualhistory
    }}
  </p>
  <button
    type="button"
    mat-icon-button
    matTooltip="{{ currentLanguageSet?.DurationData?.previousDetails }}"
    id="previousANCMenstrualHistory"
    class="pull-right"
    color="primary"
    (click)="getPreviousMenstrualHistory()"
  >
    <mat-icon class="md-18">history</mat-icon>
  </button>
</div>
<div class="row m-t-10" [formGroup]="menstrualHistoryForm">
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
    <mat-select
      class="select-full-width"
      name="menstrualCycleStatus"
      formControlName="menstrualCycleStatus"
      placeholder="{{
        currentLanguageSet?.historyData?.ancHistory?.menstrualHistoryANC
          ?.menstrualCycleStatus
      }}"
      (change)="checkMenstrualCycleStatus()"
    >
      <mat-option
        *ngFor="let status of masterData?.menstrualCycleStatus"
        [value]="status"
        >{{ status.name }}</mat-option
      >
    </mat-select>
  </div>

  <ng-template [ngIf]="menstrualCycleStatus?.name === 'Active'">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
      <label class="control-label" for="regularityOfMenstrualCycles">{{
        currentLanguageSet?.historyData?.opd_NCD_PNCHistory?.menstrual
          ?.regularityofMenstrualCycles
      }}</label>
      <div class="clearfix"></div>
      <mat-radio-group name="regularity" formControlName="regularity">
        <mat-radio-button color="primary" value="Regular">{{
          currentLanguageSet?.common?.regular
        }}</mat-radio-button>
        <mat-radio-button color="primary" value="Irregular">{{
          currentLanguageSet?.common?.irregular
        }}</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
      <mat-select
        class="select-full-width"
        name="cycleLength"
        formControlName="cycleLength"
        placeholder="{{
          currentLanguageSet?.historyData?.opd_NCD_PNCHistory?.menstrual
            ?.lengthofMenstrualCycle
        }}"
      >
        <mat-option
          *ngFor="let cycleLength of masterData?.menstrualCycleLengths"
          [value]="cycleLength"
          >{{ cycleLength.menstrualCycleRange }}</mat-option
        >
      </mat-select>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
      <mat-select
        class="select-full-width"
        name="bloodFlowDuration"
        formControlName="bloodFlowDuration"
        placeholder="{{
          currentLanguageSet?.historyData?.opd_NCD_PNCHistory?.menstrual
            ?.menstrualBloodFlowDuration
        }}"
      >
        <mat-option
          *ngFor="
            let cycleDuration of masterData?.menstrualCycleBloodFlowDuration
          "
          [value]="cycleDuration"
          >{{ cycleDuration.menstrualCycleRange }}</mat-option
        >
      </mat-select>
    </div>
  </ng-template>

  <ng-template
    [ngIf]="
      menstrualCycleStatus?.name === 'Active' ||
      menstrualCycleStatus?.name === 'Amenorrhea'
    "
  >
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
      <mat-select
        multiple
        class="select-full-width"
        name="problemName"
        formControlName="menstrualProblemList"
        placeholder="{{
          currentLanguageSet?.historyData?.opd_NCD_PNCHistory?.menstrual
            ?.menstrualProblems
        }}"
        (change)="resetOtherMenstrualProblems()"
      >
        <mat-option
          [disabled]="
            disableNoneMenstrualProblem !== null &&
            ((problem?.problemName === 'None' &&
              disableNoneMenstrualProblem === false) ||
              (problem?.problemName !== 'None' &&
                disableNoneMenstrualProblem === true))
          "
          *ngFor="let problem of masterData?.menstrualProblem"
          [value]="problem"
          >{{ problem.problemName }}</mat-option
        >
      </mat-select>
    </div>
  </ng-template>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
    <mat-form-field class="fieldAlignment fontStyle">
      <mat-label class="mat-label-text" class="fontStyle"
        >{{
          currentLanguageSet?.historyData?.opdNCDPNCHistory?.menstrual
            ?.lastMenstrualPeriod
        }}
      </mat-label>
      <input
        matInput
        style="width: 100%"
        name="lMPDate"
        formControlName="lMPDate"
        [min]="minimumLMPDate"
        [max]="today"
        [matDatepicker]="lmpPicker"
        [disabled]="visitCategory === 'ANC'"
      />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matSuffix
        [for]="lmpPicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #lmpPicker></mat-datepicker>
    </mat-form-field>
  </div>
</div>
