<button
  type="button"
  class="history-label col-12 mat-icon-button mat_icon_blue"
  id="previousANCMenstrualHistory"
  color="primary"
  matTooltip="{{ currentLanguageSet?.DurationData?.previousDetails }}"
  (click)="getPreviousMenstrualHistory()"
  (keydown.enter)="getPreviousMenstrualHistory()"
  (keydown.space)="getPreviousMenstrualHistory()"
>
  <mat-icon class="md-18 ms-2">history</mat-icon>
  <span class="previousHistory">
    {{
      currentLanguageSet?.historyData?.Previousmenstrualhistory
        ?.previousmenstrualhistory
    }}
  </span>
</button>
<div class="row m-t-10" [formGroup]="menstrualHistoryForm">
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
    <mat-form-field [style.width]="'100%'">
      <mat-label class="mat-label-text">{{
        currentLanguageSet?.historyData?.ancHistory?.menstrualHistoryANC
          ?.menstrualCycleStatus
      }}</mat-label>
      <mat-select
        class="select-full-width"
        name="menstrualCycleStatus"
        formControlName="menstrualCycleStatus"
        (selectionChange)="checkMenstrualCycleStatus()"
      >
        <mat-option
          *ngFor="let status of masterData?.menstrualCycleStatus"
          [value]="status"
          >{{ status.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </div>

  <ng-template [ngIf]="menstrualCycleStatus?.name === 'Active'">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
      <label class="control-label" for="regularityOfMenstrualCycles">{{
        currentLanguageSet?.historyData?.opd_NCD_PNCHistory?.menstrual
          ?.regularityofMenstrualCycles
      }}</label>
      <div class="clearfix"></div>
      <mat-radio-group name="regularity" formControlName="regularity">
        <mat-radio-button color="primary" value="Regular">{{
          currentLanguageSet?.common?.regular
        }}</mat-radio-button>
        <mat-radio-button color="primary" value="Irregular">{{
          currentLanguageSet?.common?.irregular
        }}</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
      <mat-form-field [style.width]="'100%'">
        <mat-label class="mat-label-text">{{
          currentLanguageSet?.historyData?.opd_NCD_PNCHistory?.menstrual
            ?.lengthofMenstrualCycle
        }}</mat-label>
        <mat-select
          class="select-full-width"
          name="cycleLength"
          formControlName="cycleLength"
        >
          <mat-option
            *ngFor="let cycleLength of masterData?.menstrualCycleLengths"
            [value]="cycleLength"
            >{{ cycleLength.menstrualCycleRange }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
      <mat-form-field [style.width]="'100%'">
        <mat-label class="mat-label-text">{{
          currentLanguageSet?.historyData?.opd_NCD_PNCHistory?.menstrual
            ?.menstrualBloodFlowDuration
        }}</mat-label>
        <mat-select
          class="select-full-width"
          name="bloodFlowDuration"
          formControlName="bloodFlowDuration"
        >
          <mat-option
            *ngFor="
              let cycleDuration of masterData?.menstrualCycleBloodFlowDuration
            "
            [value]="cycleDuration"
            >{{ cycleDuration.menstrualCycleRange }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
  </ng-template>

  <ng-template
    [ngIf]="
      menstrualCycleStatus?.name === 'Active' ||
      menstrualCycleStatus?.name === 'Amenorrhea'
    "
  >
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
      <mat-form-field [style.width]="'100%'">
        <mat-label class="mat-label-text">{{
          currentLanguageSet?.historyData?.opd_NCD_PNCHistory?.menstrual
            ?.menstrualProblems
        }}</mat-label>
        <mat-select
          multiple
          class="select-full-width"
          name="problemName"
          formControlName="menstrualProblemList"
          (selectionChange)="resetOtherMenstrualProblems()"
        >
          <mat-option
            [disabled]="
              disableNoneMenstrualProblem !== null &&
              ((problem?.problemName === 'None' &&
                disableNoneMenstrualProblem === false) ||
                (problem?.problemName !== 'None' &&
                  disableNoneMenstrualProblem === true))
            "
            *ngFor="let problem of masterData?.menstrualProblem"
            [value]="problem"
            >{{ problem.problemName }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
  </ng-template>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
    <mat-form-field class="fieldAlignment fontStyle">
      <mat-label class="mat-label-text" class="fontStyle"
        >{{
          currentLanguageSet?.historyData?.opd_NCD_PNCHistory?.menstrual
            ?.lastMenstrualPeriod
        }}
      </mat-label>
      <input
        matInput
        style="width: 100%"
        name="lMPDate"
        formControlName="lMPDate"
        [min]="minimumLMPDate"
        [max]="today"
        [matDatepicker]="lmpPicker"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="lmpPicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #lmpPicker></mat-datepicker>
    </mat-form-field>
  </div>
</div>
