<div class="row m-t-20" [formGroup]="patientVisitDetailsForm">
  <div
    class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box"
    *ngIf="mode?.toLowerCase() === 'view'"
  >
    <mat-form-field class="input-full-width">
      <mat-label class="mat-label-text">{{
        currentLanguageSet?.Reports?.visitcode
      }}</mat-label>
      <input matInput name="visitCode" formControlName="visitCode" />
    </mat-form-field>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
    <mat-form-field class="input-full-width">
      <mat-label class="mat-label-text">{{
        currentLanguageSet?.nurseData?.visitDetailsForm?.reasonForVisit
      }}</mat-label>
      <mat-select
        matInput
        class="input-full-width"
        name="visitReason"
        formControlName="visitReason"
        (selectionChange)="
          reasonSelected(patientVisitDetailsForm.controls['visitReason'].value)
        "
        required
      >
        <mat-option
          *ngFor="let visitReasons of templateVisitReasons"
          [value]="visitReasons.visitReason"
        >
          {{ visitReasons.visitReason }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div
    class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box"
    *ngIf="patientVisitDetailsForm!.controls['visitReason']?.value"
  >
    <mat-form-field class="input-full-width">
      <mat-label class="mat-label-text">{{
        currentLanguageSet?.nurseData?.visitDetailsForm?.visitCategory
      }}</mat-label>
      <mat-select
        class="input-full-width"
        name="visitCategory"
        matInput
        formControlName="visitCategory"
        (selectionChange)="
          checkCategoryDependent(
            patientVisitDetailsForm.controls['visitCategory'].value
          )
        "
        required
      >
        <mat-option
          *ngFor="let VisitCategories of templateFilterVisitCategories"
          [value]="VisitCategories.visitCategory"
        >
          {{ VisitCategories.visitCategory }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div
    class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box"
    *ngIf="
      showPregnancyStatus &&
      patientVisitDetailsForm!.controls['visitCategory']?.value !== null &&
      patientVisitDetailsForm!.controls['visitCategory']?.value !== undefined &&
      patientVisitDetailsForm!.controls['visitCategory']?.value !== 'PNC'
    "
  >
    <mat-label class="mat-label-text">{{
      currentLanguageSet?.nurseData?.visitDetailsForm?.pregnancyStatus
    }}</mat-label>
    <mat-select
      matInput
      class="input-full-width"
      id="pregnancyStatus"
      name="pregnancyStatus"
      formControlName="pregnancyStatus"
      [attr.readonly]="
        patientVisitDetailsForm.controls['visitCategory'].value === 'ANC'
      "
    >
      <mat-option
        *ngFor="let pregnancyStatus of templatePregnancyStatus"
        [value]="pregnancyStatus"
      >
        {{ pregnancyStatus }}
      </mat-option>
    </mat-select>
  </div>

  <div
    class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box"
    *ngIf="
      patientVisitDetailsForm!.controls['pregnancyStatus']?.value &&
      patientVisitDetailsForm!.controls['pregnancyStatus']?.value === 'Yes' &&
      patientVisitDetailsForm!.controls['visitCategory']?.value !== 'PNC'
    "
  >
    <mat-form-field class="input-full-width">
      <mat-label class="mat-label-text">{{
        currentLanguageSet?.nurseData?.visitDetailsForm?.MCTSOrRCHID
      }}</mat-label>
      <input
        matInput
        autocomplete="off"
        matInput
        appDefaultNull
        allowText="number"
        maxlength="20"
        name="rCHID"
        formControlName="rCHID"
      />
    </mat-form-field>
  </div>
</div>
