<div
  class="login-form-container"
  [ngClass]="{ stretch: data && data.masterDowloadFirstTime }"
>
  <mat-icon
    *ngIf="data?.masterDowloadFirstTime || data?.provideAuthorizationToViewTmCS"
    (click)="closeDialog()"
    class="close-button cursorPointer md-24"
    >close</mat-icon
  >
  <mat-card class="m-t-40">
    <mat-card-title class="sync-login-title">
      <h4>
        {{
          current_language_set?.common?.confirmYourIdentityToPerformThisAction
            ? current_language_set?.common
                ?.confirmYourIdentityToPerformThisAction
            : "Confirm your identity to perform this action"
        }}
      </h4>
    </mat-card-title>
    <div class="overlay" *ngIf="showProgressBar">
      <div class="overlay-content">
        <mat-spinner></mat-spinner>
      </div>
    </div>
    <mat-card-content class="m-t-30">
      <form
        [formGroup]="loginForm"
        (ngSubmit)="loginForm.valid && dataSyncLogin()"
      >
        <div class="container-fluid">
          <div class="row no-gutters">
            <div class="col-xs-11 col-md-11 col-sm-11 box">
              <mat-form-field class="full-width">
                <mat-icon matPrefix>account_box</mat-icon>
                <mat-label class="mat-label-text">Enter User Name</mat-label>
                <input
                  matInput
                  allowText="usernameValidator"
                  type="text"
                  id="userID"
                  formControlName="userName"
                  name="userName"
                  #focus
                />
              </mat-form-field>
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col-xs-11 col-md-11 col-sm-11 box">
              <mat-form-field class="full-width">
                <mat-icon matPrefix>lock</mat-icon>
                <mat-label class="mat-label-text">Enter Password</mat-label>
                <input
                  matInput
                  [type]="dynamictype"
                  autocomplete="off"
                  id="password"
                  formControlName="password"
                  name="password"
                />
                <mat-icon
                  matSuffix
                  class="material-icons cursorPointer"
                  matTooltip="{{
                    current_language_set?.common?.showPassword
                      ? current_language_set?.common?.showPassword
                      : 'Show Password'
                  }}"
                  (mousedown)="showPWD()"
                  (mouseup)="hidePWD()"
                  style="color: gray"
                  >visibility</mat-icon
                >
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-12 col-sm-12 box">
              <button
                mat-raised-button
                color="primary"
                type="submit"
                class="full-width-login submit"
              >
                {{
                  current_language_set?.common?.proceed
                    ? current_language_set?.common?.proceed
                    : "Proceed"
                }}
              </button>
            </div>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
