<div class="row m-t-20" [formGroup]="obstetricExaminationForANCForm">
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box m-t-10">
    <mat-form-field [style.width]="'100%'">
      <mat-label>{{
        current_language_set?.ExaminationData?.ANC_OPD_PNCExamination?.systemic
          ?.obstetric?.fundalHeight
      }}</mat-label>
      <mat-select
        class="select-full-width"
        name="fundalHeight"
        formControlName="fundalHeight"
      >
        <mat-option
          *ngFor="let fundalHeight of selectFundalHeight"
          [value]="fundalHeight.name"
        >
          {{ fundalHeight.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box m-t-10">
    <mat-form-field [style.width]="'100%'">
      <mat-label>{{
        current_language_set?.ExaminationData?.ANC_OPD_PNCExamination?.systemic
          ?.obstetric?.fHandPOAStatus
      }}</mat-label>
      <mat-select
        class="select-full-width"
        name="fHAndPOA_Status"
        formControlName="fHAndPOA_Status"
      >
        <mat-option
          *ngFor="let FHPOAStatus of selectFHPOAStatus"
          [value]="FHPOAStatus.name"
        >
          {{ FHPOAStatus.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box m-t-10">
    <mat-form-field [style.width]="'100%'">
      <mat-label>{{
        current_language_set?.ExaminationData?.ANC_OPD_PNCExamination?.systemic
          ?.obstetric?.interpretationFHandPOA
      }}</mat-label>
      <mat-select
        class="select-full-width"
        name="fHAndPOA_Interpretation"
        formControlName="fHAndPOA_Interpretation"
      >
        <mat-option
          *ngFor="let interpretationFHAndPOA of selectInterpretationFHAndPOA"
          [value]="interpretationFHAndPOA.name"
        >
          {{ interpretationFHAndPOA.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box m-t-10">
    <label class="control-label" for="edema">{{
      current_language_set?.ExaminationData?.ANC_OPD_PNCExamination?.systemic
        ?.obstetric?.fetalMovements
    }}</label>
    <div class="clearfix"></div>
    <mat-radio-group
      name="fetalMovements"
      formControlName="fetalMovements"
      required
    >
      <mat-radio-button color="primary" class="radio-btn" value="Present">{{
        current_language_set?.common?.present
      }}</mat-radio-button>
      <mat-radio-button color="primary" class="radio-btn" value="Absent">{{
        current_language_set?.common?.absent
      }}</mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box m-t-10">
    <label class="control-label" for="edema">{{
      current_language_set?.ExaminationData?.ANC_OPD_PNCExamination?.systemic
        ?.obstetric?.fetalHeartsounds
    }}</label>
    <div class="clearfix"></div>
    <mat-radio-group
      name="fetalHeartSounds"
      formControlName="fetalHeartSounds"
      (selectionChange)="resetFetalHeartRate($event)"
    >
      <mat-radio-button color="primary" class="radio-btn" value="Audible">{{
        current_language_set?.common?.audible
      }}</mat-radio-button>
      <mat-radio-button color="primary" class="radio-btn" value="Not Audible">{{
        current_language_set?.common?.notAudible
      }}</mat-radio-button>
    </mat-radio-group>
  </div>

  <div
    class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box m-t-10"
    *ngIf="fetalHeartSounds === 'Audible'"
  >
    <mat-form-field [style.width]="'100%'">
      <mat-label>{{
        current_language_set?.ExaminationData?.ANC_OPD_PNCExamination?.systemic
          ?.obstetric?.fetalHeartRate
      }}</mat-label>
      <mat-select
        class="select-full-width"
        name="fetalHeartRate_BeatsPerMinute"
        formControlName="fetalHeartRate_BeatsPerMinute"
      >
        <mat-option
          *ngFor="let fetalHeartRate of selectFetalHeartRate"
          [value]="fetalHeartRate.name"
        >
          {{ fetalHeartRate.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box m-t-10">
    <mat-form-field [style.width]="'100%'">
      <mat-label>{{
        current_language_set?.ExaminationData?.ANC_OPD_PNCExamination?.systemic
          ?.obstetric?.fetalposition
      }}</mat-label>
      <mat-select
        class="select-full-width"
        name="fetalPositionOrLie"
        formControlName="fetalPositionOrLie"
      >
        <mat-option
          *ngFor="let fetalPositionOrLie of selectFetalPositionOrLie"
          [value]="fetalPositionOrLie.name"
        >
          {{ fetalPositionOrLie.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box m-t-10">
    <mat-form-field [style.width]="'100%'">
      <mat-label>{{
        current_language_set?.ExaminationData?.ANC_OPD_PNCExamination?.systemic
          ?.obstetric?.fetalPresentation
      }}</mat-label>
      <mat-select
        class="select-full-width"
        name="fetalPresentation"
        formControlName="fetalPresentation"
      >
        <mat-option
          *ngFor="let fetalPresentation of selectFetalPresentation"
          [value]="fetalPresentation.name"
        >
          {{ fetalPresentation.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box m-t-10">
    <mat-form-field [style.width]="'100%'">
      <mat-label>{{
        current_language_set?.ExaminationData?.ANC_OPD_PNCExamination?.systemic
          ?.obstetric?.abdominalScars
      }}</mat-label>
      <mat-select
        class="select-full-width"
        name="abdominalScars"
        formControlName="abdominalScars"
      >
        <mat-option
          *ngFor="let abdominalScars of selectAbdominalScars"
          [value]="abdominalScars.name"
        >
          {{ abdominalScars.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div
    class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box"
    style="margin-top: -10px"
  >
    <mat-form-field class="select-full-width">
      <mat-label>{{ current_language_set?.sfhCms }}</mat-label>
      <textarea
        matInput
        matTextareaAutosize
        name="sfh"
        formControlName="sfh"
        allowText="decimal"
        allowMax="100.0"
      ></textarea>
    </mat-form-field>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box m-t-10">
    <mat-label class="control-label">{{
      current_language_set?.malPresentation
    }}</mat-label>
    <div class="clearfix"></div>
    <mat-radio-group
      name="malPresentation"
      formControlName="malPresentation"
      (selectionChange)="checkForHRP()"
      required
    >
      <mat-radio-button color="primary" class="radio-btn" value="true"
        >True</mat-radio-button
      >
      <mat-radio-button color="primary" class="radio-btn" value="false"
        >False</mat-radio-button
      >
    </mat-radio-group>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box m-t-10">
    <mat-label class="control-label">{{
      current_language_set?.lowLyingPlacenta
    }}</mat-label>
    <div class="clearfix"></div>
    <mat-radio-group
      name="lowLyingPlacenta"
      formControlName="lowLyingPlacenta"
      (selectionChange)="checkForHRP()"
      required
    >
      <mat-radio-button color="primary" class="radio-btn" value="true"
        >True</mat-radio-button
      >
      <mat-radio-button color="primary" class="radio-btn" value="false"
        >False</mat-radio-button
      >
    </mat-radio-group>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box m-t-10">
    <mat-label class="control-label">{{
      current_language_set?.vertebralDeformity
    }}</mat-label>
    <div class="clearfix"></div>
    <mat-radio-group
      name="vertebralDeformity"
      formControlName="vertebralDeformity"
      (selectionChange)="checkForHRP()"
      required
    >
      <mat-radio-button color="primary" class="radio-btn" value="true"
        >True</mat-radio-button
      >
      <mat-radio-button color="primary" class="radio-btn" value="false"
        >False</mat-radio-button
      >
    </mat-radio-group>
  </div>

  <div class="col-xs-12 m-t-5">
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 box m-t-15 pull-left">
      <button
        mat-raised-button
        color="primary"
        class="mat_blue"
        (click)="getHRPStatus()"
      >
        {{ current_language_set?.checkHrpStatus }}
      </button>
      <div class="btn-group" *ngFor="let value of fetosenseTestMaster">
        <button
          mat-raised-button
          color="primary"
          [id]="value.foetalMonitorTestId"
          class="button-overall-disabled mat_blue"
          [disabled]="checkTestPrescribed(value.foetalMonitorTestId)"
          (click)="sendTestDetails(value.foetalMonitorTestId, value.testName)"
        >
          {{ value.testName }}
        </button>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 m-t-5 pull-right">
      <div *ngFor="let value of fetosenseTestMaster">
        <p style="text-align: left; color: green">
          <strong>{{
            checkTestPrescribed(value.foetalMonitorTestId) === true
              ? "* " + value.testName + current_language_set?.testIsPrescribed
              : ""
          }}</strong>
        </p>
      </div>
    </div>
  </div>

  <div class="col-xs-12" *ngIf="enableSuspectedHrp">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <mat-label class="option1" style="color: red"
        ><strong>Suspected For High Risk Pregnancy** </strong></mat-label
      >
      <mat-label style="text-decoration: underline"
        ><strong
          ><em>{{ current_language_set?.reasonsForHrp }}: </em></strong
        ></mat-label
      >
      <mat-label
        ><strong> {{ reasonsForHrp }}</strong></mat-label
      >
    </div>
  </div>
</div>
