<div class="row m-t-20" [formGroup]="headToToeExaminationForm">
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 box">
    <div class="form-group">
      <label
        class="control-label"
        style="padding-top: 10px"
        for="headToToeExamination"
        >{{
          current_language_set?.ExaminationData?.ANC_OPD_PNCExamination
            ?.headToToe?.headexamination
        }}</label
      >
      <div class="clearfix"></div>
      <mat-radio-group
        id="headtoToeExam"
        name="headtoToeExam"
        formControlName="headtoToeExam"
        (change)="checkWithHeadToToe()"
      >
        <mat-radio-button color="primary" value="Normal">{{
          current_language_set?.common?.normal
        }}</mat-radio-button>
        <mat-radio-button color="primary" value="Abnormal">{{
          current_language_set?.common?.abnormal
        }}</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <div>
    <div class="row" style="display: flex">
      <div
        class="col-xs-12 col-sm-12 col-md-6 col-lg-6 box"
        *ngIf="headtoToeExam === 'Abnormal'"
      >
        <div class="form-group">
          <mat-form-field class="input-full-width" class="input-full-width">
            <mat-label>{{
              current_language_set?.ExaminationData?.ANC_OPD_PNCExamination
                ?.headToToe?.Head
            }}</mat-label>
            <input
              autocomplete="off"
              matInput
              allowText="textAreaValidator"
              defaultNull
              matTextareaAutosize
              id="head"
              name="head"
              formControlName="head"
              maxlength="50"
            />
          </mat-form-field>
        </div>
      </div>
      <div
        class="col-xs-12 col-sm-12 col-md-6 col-lg-6 box"
        *ngIf="headtoToeExam === 'Abnormal'"
      >
        <div class="form-group">
          <mat-form-field class="input-full-width" class="input-full-width">
            <mat-label>{{
              current_language_set?.ExaminationData?.ANC_OPD_PNCExamination
                ?.headToToe?.Eyes
            }}</mat-label>
            <input
              autocomplete="off"
              matInput
              allowText="textAreaValidator"
              defaultNull
              matTextareaAutosize
              id="eyes"
              name="eyes"
              formControlName="eyes"
              maxlength="50"
            />
          </mat-form-field>
        </div>
      </div>

      <div
        class="col-xs-12 col-sm-12 col-md-6 col-lg-6 box"
        *ngIf="headtoToeExam === 'Abnormal'"
      >
        <div class="form-group">
          <mat-form-field class="input-full-width" class="input-full-width">
            <mat-label>{{
              current_language_set?.ExaminationData?.ANC_OPD_PNCExamination
                ?.headToToe?.Ears
            }}</mat-label>
            <input
              autocomplete="off"
              matInput
              allowText="textAreaValidator"
              defaultNull
              matTextareaAutosize
              id="ears"
              name="ears"
              formControlName="ears"
              maxlength="50"
            />
          </mat-form-field>
        </div>
      </div>

      <div
        class="col-xs-12 col-sm-12 col-md-6 col-lg-6 box"
        *ngIf="headtoToeExam === 'Abnormal'"
      >
        <div class="form-group">
          <mat-form-field class="input-full-width" class="input-full-width">
            <mat-label>{{
              current_language_set?.ExaminationData?.ANC_OPD_PNCExamination
                ?.headToToe?.Nose
            }}</mat-label>
            <input
              autocomplete="off"
              matInput
              allowText="textAreaValidator"
              defaultNull
              matTextareaAutosize
              id="nose"
              name="nose"
              formControlName="nose"
              maxlength="50"
            />
          </mat-form-field>
        </div>
      </div>

      <div
        class="col-xs-12 col-sm-12 col-md-6 col-lg-6 box"
        *ngIf="headtoToeExam === 'Abnormal'"
      >
        <div class="form-group">
          <mat-form-field class="input-full-width" class="input-full-width">
            <mat-label>{{
              current_language_set?.ExaminationData?.ANC_OPD_PNCExamination
                ?.headToToe?.Oralcavity
            }}</mat-label>
            <input
              autocomplete="off"
              matInput
              allowText="textAreaValidator"
              defaultNull
              matTextareaAutosize
              id="oralCavity"
              name="oralCavity"
              formControlName="oralCavity"
              maxlength="50"
            />
          </mat-form-field>
        </div>
      </div>

      <div
        class="col-xs-12 col-sm-12 col-md-6 col-lg-6 box"
        *ngIf="headtoToeExam === 'Abnormal'"
      >
        <div class="form-group">
          <mat-form-field class="input-full-width" class="input-full-width">
            <mat-label>{{
              current_language_set?.ExaminationData?.ANC_OPD_PNCExamination
                ?.headToToe?.Throat
            }}</mat-label>
            <input
              autocomplete="off"
              matInput
              allowText="textAreaValidator"
              defaultNull
              matTextareaAutosize
              id="throat"
              name="throat"
              formControlName="throat"
              maxlength="50"
            />
          </mat-form-field>
        </div>
      </div>
      <div
        class="col-xs-12 col-sm-12 col-md-6 col-lg-6 box"
        *ngIf="headtoToeExam === 'Abnormal'"
      >
        <div class="form-group">
          <mat-form-field class="input-full-width" class="input-full-width">
            <mat-label>{{
              current_language_set?.ExaminationData?.ANC_OPD_PNCExamination
                ?.headToToe?.Breast
            }}</mat-label>
            <input
              autocomplete="off"
              matInput
              allowText="textAreaValidator"
              defaultNull
              matTextareaAutosize
              id="breastAndNipples"
              name="breastAndNipples"
              formControlName="breastAndNipples"
              maxlength="50"
            />
          </mat-form-field>
        </div>
      </div>

      <div
        class="col-xs-12 col-sm-12 col-md-6 col-lg-6 box"
        *ngIf="visitCategory === 'PNC' && headtoToeExam === 'Abnormal'"
      >
        <div class="form-group">
          <mat-form-field class="input-full-width" class="input-full-width">
            <mat-label>{{ current_language_set?.nipples }}</mat-label>
            <input
              autocomplete="off"
              matInput
              allowText="textAreaValidator"
              defaultNull
              matTextareaAutosize
              id="nipples"
              name="nipples"
              formControlName="nipples"
              maxlength="300"
            />
          </mat-form-field>
        </div>
      </div>

      <div
        class="col-xs-12 col-sm-12 col-md-6 col-lg-6 box"
        *ngIf="headtoToeExam === 'Abnormal'"
      >
        <div class="form-group">
          <mat-form-field class="input-full-width" class="input-full-width">
            <mat-label>{{
              current_language_set?.ExaminationData?.ANC_OPD_PNCExamination
                ?.headToToe?.Trunk
            }}</mat-label>
            <input
              autocomplete="off"
              matInput
              allowText="textAreaValidator"
              defaultNull
              matTextareaAutosize
              id="trunk"
              name="trunk"
              formControlName="trunk"
              maxlength="50"
            />
          </mat-form-field>
        </div>
      </div>

      <div
        class="col-xs-12 col-sm-12 col-md-6 col-lg-6 box"
        *ngIf="headtoToeExam === 'Abnormal'"
      >
        <div class="form-group">
          <mat-form-field class="input-full-width" class="input-full-width">
            <mat-label>{{
              current_language_set?.ExaminationData?.ANC_OPD_PNCExamination
                ?.headToToe?.upperlimbs
            }}</mat-label>
            <input
              autocomplete="off"
              matInput
              allowText="textAreaValidator"
              defaultNull
              matTextareaAutosize
              id="upperLimbs"
              name="upperLimbs"
              formControlName="upperLimbs"
              maxlength="50"
            />
          </mat-form-field>
        </div>
      </div>

      <div
        class="col-xs-12 col-sm-12 col-md-6 col-lg-6 box"
        *ngIf="headtoToeExam === 'Abnormal'"
      >
        <div class="form-group">
          <mat-form-field class="input-full-width" class="input-full-width">
            <mat-label>{{
              current_language_set?.ExaminationData?.ANC_OPD_PNCExamination
                ?.headToToe?.lowerlimbs
            }}</mat-label>
            <input
              autocomplete="off"
              matInput
              allowText="textAreaValidator"
              defaultNull
              matTextareaAutosize
              id="lowerLimbs"
              name="lowerLimbs"
              formControlName="lowerLimbs"
              maxlength="50"
            />
          </mat-form-field>
        </div>
      </div>

      <div
        class="col-xs-12 col-sm-12 col-md-6 col-lg-6 box"
        *ngIf="headtoToeExam === 'Abnormal'"
      >
        <div class="form-group">
          <mat-form-field class="input-full-width" class="input-full-width">
            <mat-label>{{
              current_language_set?.ExaminationData?.ANC_OPD_PNCExamination
                ?.headToToe?.Skin
            }}</mat-label>
            <input
              autocomplete="off"
              matInput
              allowText="textAreaValidator"
              defaultNull
              matTextareaAutosize
              id="skin"
              name="skin"
              formControlName="skin"
              maxlength="50"
            />
          </mat-form-field>
        </div>
      </div>

      <div
        class="col-xs-12 col-sm-12 col-md-6 col-lg-6 box"
        *ngIf="headtoToeExam === 'Abnormal'"
      >
        <div class="form-group">
          <mat-form-field class="input-full-width" class="input-full-width">
            <mat-label>{{
              current_language_set?.ExaminationData?.ANC_OPD_PNCExamination
                ?.headToToe?.Hairs
            }}</mat-label>
            <input
              autocomplete="off"
              matInput
              allowText="textAreaValidator"
              defaultNull
              matTextareaAutosize
              id="hair"
              name="hair"
              formControlName="hair"
              maxlength="50"
            />
          </mat-form-field>
        </div>
      </div>

      <div
        class="col-xs-12 col-sm-12 col-md-6 col-lg-6 box"
        *ngIf="headtoToeExam === 'Abnormal'"
      >
        <div class="form-group">
          <mat-form-field class="input-full-width" class="input-full-width">
            <mat-label>{{
              current_language_set?.ExaminationData?.ANC_OPD_PNCExamination
                ?.headToToe?.Nails
            }}</mat-label>
            <input
              autocomplete="off"
              matInput
              allowText="textAreaValidator"
              defaultNull
              matTextareaAutosize
              id="nails"
              name="nails"
              formControlName="nails"
              maxlength="50"
            />
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</div>
