<div class="container-fluid">
  <div class="row m-t-10">
    <div class="col-xs-8 col-sm-6 col-md-4 fit_to_content">
      <div class="sw">
        <input
          type="search"
          class="search"
          autocomplete="off"
          placeholder="{{ current_language_set?.common?.inTableSearch }}"
          name="filterTerm"
          [(ngModel)]="filterTerm"
          (keyup)="filterBeneficiaryList(filterTerm)"
        />
        <button class="go" (click)="filterBeneficiaryList(filterTerm)">
          <span class="material-icons">search</span>
        </button>
      </div>
    </div>
    <div class="col-xs-4 col-sm-6 col-md-8 fit_to_content">
      <button
        mat-raised-button
        id="caseSheetButton"
        style="display: none"
        [disabled]="true"
        class="btn btn-link pull-right button-overall-disabled"
      >
        {{ current_language_set?.bendetails?.emergencyCaseSheet }}
      </button>
      <button
        mat-raised-button
        class="pull-right mat_blue"
        color="primary"
        id="refresh"
        (click)="loadPharmaWorklist()"
      >
        {{ current_language_set?.common?.refresh }}
      </button>
    </div>
  </div>

  <div class="row m-t-10 m-b-40">
    <div class="col-sm-12">
      <mat-card>
        <section class="">
          <table
            mat-table
            class="table table-striped"
            [dataSource]="dataSource"
            aria-describedby="pharmacistWorklist"
          >
            <ng-container matColumnDef="sno">
              <th
                mat-header-cell
                style="border-bottom: none"
                *matHeaderCellDef
                mat-sort-header
              >
                {{ current_language_set?.casesheet?.serialNo }}
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.sno }}
              </td>
            </ng-container>

            <ng-container matColumnDef="beneficiaryID">
              <th
                mat-header-cell
                style="border-bottom: none"
                *matHeaderCellDef
                mat-sort-header
              >
                {{ current_language_set?.bendetails?.beneficiaryID }}
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                (click)="loadPharmaPage(element)"
              >
                {{ element.beneficiaryID }}
              </td>
            </ng-container>

            <ng-container matColumnDef="beneficiaryName">
              <th
                mat-header-cell
                style="border-bottom: none"
                *matHeaderCellDef
                mat-sort-header
              >
                {{ current_language_set?.bendetails?.beneficiaryName }}
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                (click)="loadPharmaPage(element)"
              >
                {{ element?.benName | titlecase }}
              </td>
            </ng-container>

            <ng-container matColumnDef="gender">
              <th
                mat-header-cell
                style="border-bottom: none"
                *matHeaderCellDef
                mat-sort-header
              >
                {{ current_language_set?.bendetails?.gender }}
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                (click)="loadPharmaPage(element)"
              >
                {{ element?.genderName | titlecase }}
              </td>
            </ng-container>

            <ng-container matColumnDef="age">
              <th
                mat-header-cell
                style="border-bottom: none"
                *matHeaderCellDef
                mat-sort-header
              >
                {{ current_language_set?.bendetails?.age }}
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                (click)="loadPharmaPage(element)"
              >
                {{ element?.age }}
              </td>
            </ng-container>

            <ng-container matColumnDef="visitCategory">
              <th
                mat-header-cell
                style="border-bottom: none"
                *matHeaderCellDef
                mat-sort-header
              >
                {{ current_language_set?.bendetails?.visitCategory }}
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                (click)="loadPharmaPage(element)"
              >
                {{ element.VisitCategory }} /
                <span style="color: #a6a6a6">{{ element.benVisitNo }}</span>
              </td>
            </ng-container>

            <ng-container matColumnDef="district">
              <th
                mat-header-cell
                style="border-bottom: none"
                *matHeaderCellDef
                mat-sort-header
              >
                {{ current_language_set?.bendetails?.district }}
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                (click)="loadPharmaPage(element)"
              >
                {{ element.districtName | titlecase }} /
                {{ element.villageName | titlecase }}
              </td>
            </ng-container>

            <ng-container matColumnDef="phoneNo">
              <th
                mat-header-cell
                style="border-bottom: none"
                *matHeaderCellDef
                mat-sort-header
              >
                {{ current_language_set?.bendetails?.phoneNo }}
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                (click)="loadPharmaPage(element)"
              >
                {{ element.preferredPhoneNum }}
              </td>
            </ng-container>

            <ng-container matColumnDef="visitDate">
              <th
                mat-header-cell
                style="border-bottom: none"
                *matHeaderCellDef
                mat-sort-header
              >
                {{ current_language_set?.bendetails?.visitDate }}
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                (click)="loadPharmaPage(element)"
              >
                {{ element.benVisitDate }}
              </td>
            </ng-container>

            <ng-container matColumnDef="image">
              <th
                mat-header-cell
                style="border-bottom: none"
                *matHeaderCellDef
                mat-sort-header
              >
                {{ current_language_set?.bendetails?.image }}
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                (click)="patientImageView(element.beneficiaryRegID)"
                matTooltip="{{ current_language_set?.tc?.image }}"
              >
                <img
                  src="assets/images/Avatar-Profile_30X30.png"
                  alt="profile"
                />
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
          <div
            class="pull-center"
            style="margin-top: 30px; text-align: center"
            [hidden]="dataSource.data.length > 0"
          >
            <strong>{{ current_language_set?.common?.noRecordFound }}</strong>
          </div>
          <mat-paginator
            [hidden]="dataSource.data.length === 0"
            [pageSizeOptions]="[5, 10, 20]"
            [pageSize]="5"
            showFirstLastButtons
            aria-label="Select patient in nurseWorklist"
          >
          </mat-paginator>
        </section>
      </mat-card>
    </div>
  </div>
</div>
