<div class="container-fluid">
  <button
    mat-mini-fab
    class="example-fab"
    color="primary"
    (click)="sideNavModeChange(sidenav)"
  >
    <mat-icon>account_box</mat-icon>
  </button>
  <mat-sidenav-container class="example-sidenav-fab-container">
    <mat-sidenav #sidenav mode="side" opened="true">
      <div class="example-scrolling-content">
        <app-beneficiary-details></app-beneficiary-details>
      </div>
    </mat-sidenav>
    <div>
      <section class="row" style="margin-top: 1%">
        <section class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="row" style="margin-left: 2%">
            <h3 class="modal-title">
              <strong>{{ currentLanguageSet?.familyTagging }}</strong>
            </h3>
          </div>
        </section>
        <section class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <section class="row search-button-container">
            <button
              mat-raised-button
              class="btn btn-default full-width-login background-overall pull-right adv-button"
              (click)="openSearchFamily()"
              data-toggle="modal"
            >
              <!-- {{ currentLanguageSet?.searchFamily }} -->
              SEARCH FAMILY
            </button>

            <button
              class="btn pull-right full-width-logins background-overall"
              (click)="backToRegistration()"
            >
              <!-- {{ currentLanguageSet?.backToRegistration }} -->
              BACK TO REGISTRATION
            </button>

            <button
              mat-raised-button
              class="btn btn-default full-width-login background-overall button-overall-disabled cu-btn-default pull-right adv-button"
              (click)="CreateFamilyDialog()"
              data-toggle="modal"
              [disabled]="benFamilyId !== null && benFamilyId !== undefined"
            >
              {{ currentLanguageSet?.createFamily }}
            </button>
          </section>
        </section>
      </section>

      <div class="row m-t-10 m-b-40">
        <div class="col-sm-12">
          <mat-card>
            <div class="table-responsive" *ngIf="enableFamilyCreateTable">
              <!-- <table class="table table-striped" aria-describedby="newFamilyTag" [md2Data]="createdFamilyList" #md2="md2DataTable" >
        <thead>

          <tr style="text-align:center;">
            <th style="padding-left: 100px;" id="familyID">{{currentLanguageSet?.familyId}}</th>
            <th style="padding-left: 100px;" id="familyName">{{currentLanguageSet?.familyName}}</th>
            <th style="padding-left: 100px;" id="headOfTheFamily">{{currentLanguageSet?.headOfTheFamily}}</th>
            <th style="padding-left: 100px;" id="beneficiaryRelationWithHeadOfFamily">{{currentLanguageSet?.benRelationWithHeadOfFamily}}</th>
          </tr>
        </thead>
        <tbody>
          <ng-template [ngIf]="createdFamilyList.length === 0">
            <tr *ngFor="let row of blankTable">
              <td> &nbsp; </td>
              <td> &nbsp; </td>
              <td> &nbsp; </td>
              <td> &nbsp; </td>
              <td> &nbsp; </td>
              <td> &nbsp; </td>
              <td> &nbsp; </td>
              <td> &nbsp; </td>
              <td> &nbsp; </td>
              <td> &nbsp; </td>
              <td> &nbsp; </td>
            </tr>
          </ng-template>
        
            <tr class="table-striped" *ngFor="let item of md2.data" >
              <td style="padding-left: 100px;">{{item.familyId}}</td>
              <td style="padding-left: 100px;">{{item.familyName | titlecase}}</td>
              <td style="padding-left: 100px;">{{((item.familyHeadName !== undefined && item.familyHeadName !== null) ? item.familyHeadName : "Not Declared") | titlecase}}</td>
              <td style="padding-left: 100px;">{{item.headofFamily_Relation}}</td>
          </tr>  
      </tbody>

      </table> -->

              <table mat-table [dataSource]="createdFamilyList">
                <ng-container matColumnDef="familyId">
                  <th mat-header-cell *matHeaderCellDef>
                    {{ currentLanguageSet?.familyId }}
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.familyId }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="familyName">
                  <th mat-header-cell *matHeaderCellDef>
                    {{ currentLanguageSet?.familyName }}
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.familyName | titlecase }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="headOfTheFamily">
                  <th mat-header-cell *matHeaderCellDef>
                    {{ currentLanguageSet?.headOfTheFamily }}
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{
                      (element.familyHeadName !== undefined &&
                      element.familyHeadName !== null
                        ? element.familyHeadName
                        : "Not Declared"
                      ) | titlecase
                    }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="benRelationWithHeadOfFamily">
                  <th mat-header-cell *matHeaderCellDef>
                    {{ currentLanguageSet?.benRelationWithHeadOfFamily }}
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.headofFamily_Relation }}
                  </td>
                </ng-container>

                <ng-template [ngIf]="createdFamilyList.length === 0">
                  <tr *ngFor="let row of blankTable">
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                </ng-template>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedColumns"
                ></tr>
              </table>
            </div>

            <div class="table-responsive" *ngIf="!enableFamilyCreateTable">
              <!-- <table class="table table-striped" aria-describedby="searchResultFamilyTag" [md2Data]="familySearchList" #md2="md2DataTable" >
        <thead>

          <tr style="text-align:center">
            <th id="sNo">{{currentLanguageSet?.coreComponents?.sno}}</th>
            <th id="familyId">{{currentLanguageSet?.familyId}}</th>
            <th id="headOfTheFamily">{{currentLanguageSet?.headOfTheFamily}}</th>
            <th id="familyName">{{currentLanguageSet?.familyName}}</th> 
            <th id="noOfMembers">{{currentLanguageSet?.members}}</th>
            <th id="action">{{currentLanguageSet?.bendetails?.action}}</th>
          </tr>
        </thead>
        <tbody>
          <ng-template [ngIf]="familySearchList?.length === 0">
            <tr *ngFor="let row of blankTable">
              <td> &nbsp; </td>
              <td> &nbsp; </td>
              <td> &nbsp; </td>
              <td> &nbsp; </td>
              <td> &nbsp; </td>
              <td> &nbsp; </td>
              <td> &nbsp; </td>
              <td> &nbsp; </td>
              <td> &nbsp; </td>
              <td> &nbsp; </td>
              <td> &nbsp; </td>
            </tr>
          </ng-template>
            <tr class="table-hover table-striped" *ngFor="let element of md2.data" >
              <td>{{familySearchList.indexOf(element)+1}}</td>
              <td>{{element.familyId}}</td>
              <td>{{(element.familyHeadName !== undefined && element.familyHeadName !== null && element.familyHeadName !== "" ? element.familyHeadName : "Not Declared") | titlecase}}</td>
              <td>{{element.familyName | titlecase}}</td>
              <td>{{element.noOfmembers}}</td>
              <td>
                <md-icon mdTooltip="Edit" class="mat-icon material-icons" *ngIf="benFamilyId !== null && benFamilyId === element.familyId" (click)="getFamilyMembers(true,element)" role="img" aria-hidden="true" style="cursor: pointer" 
                >edit</md-icon>
                <md-icon mdTooltip="Add Member" class="mat-icon material-icons" *ngIf="benFamilyId === null" (click)="getFamilyMembers(false,element)" role="img" aria-hidden="true" style="cursor: pointer"
                >add</md-icon>
              </td>

          </tr>  
      </tbody>

  <tfoot>
    <tr>
      <td colspan="7" style="text-align:right;">
        <md2-pagination class="colorpagination"></md2-pagination>
      </td>
    </tr>
  </tfoot>
      </table> -->

              <table
                class="table table-striped"
                mat-table
                [dataSource]="familySearchList"
              >
                <ng-container matColumnDef="sno">
                  <th mat-header-cell *matHeaderCellDef>
                    {{ currentLanguageSet?.coreComponents?.sno }}
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ familySearchList.indexOf(element) + 1 }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="familyId">
                  <th mat-header-cell *matHeaderCellDef>
                    {{ currentLanguageSet?.familyId }}
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.familyId }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="headOfTheFamily">
                  <th mat-header-cell *matHeaderCellDef>
                    {{ currentLanguageSet?.headOfTheFamily }}
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{
                      (element.familyHeadName !== undefined &&
                      element.familyHeadName !== null &&
                      element.familyHeadName !== ""
                        ? element.familyHeadName
                        : "Not Declared"
                      ) | titlecase
                    }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="familyName">
                  <th mat-header-cell *matHeaderCellDef>
                    {{ currentLanguageSet?.familyName }}
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.familyName | titlecase }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="members">
                  <th mat-header-cell *matHeaderCellDef>
                    {{ currentLanguageSet?.members }}
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.noOfmembers }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef>
                    {{ currentLanguageSet?.bendetails?.action }}
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <mat-icon
                      matTooltip="Edit"
                      class="mat-icon material-icons"
                      *ngIf="
                        benFamilyId !== null && benFamilyId === element.familyId
                      "
                      (click)="getFamilyMembers(true, element)"
                      role="img"
                      aria-hidden="true"
                      style="cursor: pointer"
                      >edit</mat-icon
                    >
                    <mat-icon
                      matTooltip="Add Member"
                      class="mat-icon material-icons"
                      *ngIf="benFamilyId === null"
                      (click)="getFamilyMembers(false, element)"
                      role="img"
                      aria-hidden="true"
                      style="cursor: pointer"
                      >add</mat-icon
                    >
                  </td>
                </ng-container>
                <ng-template [ngIf]="familySearchList.length === 0">
                  <tr *ngFor="let row of blankTable">
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                </ng-template>

                <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedColumns1"
                ></tr>

                <mat-paginator
                  [hidden]="familySearchList.length === 0"
                  [pageSizeOptions]="[5, 10, 25]"
                  [pageSize]="5"
                  showFirstLastButtons
                ></mat-paginator>
              </table>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-sidenav-container>
</div>
