<div class="row m-t-20" [formGroup]="gastroIntestinalSystemForm">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <mat-form-field class="textarea-full-width">
      <mat-label>{{
        current_language_set?.ExaminationData?.genralOPD_PNC?.Gastro?.inspection
      }}</mat-label>
      <textarea
        matInput
        allowText="textAreaValidator"
        defaultNull
        matTextareaAutosize
        name="inspection"
        formControlName="inspection"
        maxlength="300"
      ></textarea>
    </mat-form-field>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
    <mat-form-field [style.width]="'100%'">
      <mat-label>{{
        current_language_set?.ExaminationData?.genralOPD_PNC?.Gastro
          ?.abdomenTexture
      }}</mat-label>
      <mat-select
        class="select-full-width"
        name="palpation_AbdomenTexture"
        formControlName="palpation_AbdomenTexture"
      >
        <mat-option
          *ngFor="let texture of selectAbdomenTexture"
          [value]="texture.name"
        >
          {{ texture.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
    <mat-form-field [style.width]="'100%'">
      <mat-label>{{
        current_language_set?.ExaminationData?.genralOPD_PNC?.Gastro?.liver
      }}</mat-label>
      <mat-select
        class="select-full-width"
        name="palpation_Liver"
        formControlName="palpation_Liver"
      >
        <mat-option *ngFor="let liver of selectLiver" [value]="liver.name">
          {{ liver.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
    <mat-form-field [style.width]="'100%'">
      <mat-label>{{
        current_language_set?.ExaminationData?.genralOPD_PNC?.Gastro?.spleen
      }}</mat-label>
      <mat-select
        class="select-full-width"
        name="palpation_Spleen"
        formControlName="palpation_Spleen"
      >
        <mat-option *ngFor="let spleen of selectSpleen" [value]="spleen.name">
          {{ spleen.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
    <label class="control-label" for="gastroIntestinalSystem">{{
      current_language_set?.ExaminationData?.genralOPD_PNC?.Gastro?.tenderness
    }}</label>
    <div class="clearfix"></div>
    <mat-radio-group
      name="palpation_Tenderness"
      id="palpation_Tenderness"
      formControlName="palpation_Tenderness"
      (change)="checkWithTenderness()"
    >
      <mat-radio-button color="primary" class="radio-btn" value="Present">{{
        current_language_set?.common?.present
      }}</mat-radio-button>
      <mat-radio-button color="primary" class="radio-btn" value="Absent">{{
        current_language_set?.common?.absent
      }}</mat-radio-button>
    </mat-radio-group>
  </div>

  <div
    class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    *ngIf="palpation_Tenderness === 'Present'"
  >
    <mat-form-field class="input-full-width" class="textarea-full-width">
      <mat-label>{{
        current_language_set?.ExaminationData?.genralOPD_PNC?.Gastro?.location
      }}</mat-label>
      <textarea
        matInput
        allowText="textAreaValidator"
        defaultNull
        matTextareaAutosize
        id="palpation_LocationOfTenderness"
        name="palpation_LocationOfTenderness"
        formControlName="palpation_LocationOfTenderness"
        maxlength="300"
      ></textarea>
    </mat-form-field>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <mat-form-field class="input-full-width" class="textarea-full-width">
      <mat-label>{{
        current_language_set?.ExaminationData?.genralOPD_PNC?.Gastro?.percussion
      }}</mat-label>
      <textarea
        matInput
        allowText="textAreaValidator"
        defaultNull
        matTextareaAutosize
        name="percussion"
        formControlName="percussion"
        maxlength="300"
      ></textarea>
    </mat-form-field>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <mat-form-field class="input-full-width" class="textarea-full-width">
      <mat-label>{{
        current_language_set?.ExaminationData?.genralOPD_PNC?.Gastro
          ?.auscultation
      }}</mat-label>
      <textarea
        matInput
        allowText="textAreaValidator"
        defaultNull
        matTextareaAutosize
        name="auscultation"
        formControlName="auscultation"
        maxlength="300"
      ></textarea>
    </mat-form-field>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <mat-form-field class="input-full-width" class="textarea-full-width">
      <mat-label>{{
        current_language_set?.ExaminationData?.genralOPD_PNC?.Gastro?.analregion
      }}</mat-label>
      <textarea
        matInput
        allowText="textAreaValidator"
        defaultNull
        matTextareaAutosize
        name="analRegion"
        formControlName="analRegion"
        maxlength="300"
      ></textarea>
    </mat-form-field>
  </div>
</div>
