<div class="row m-t-10" [formGroup]="perinatalHistoryForm">
  <button
    type="button"
    class="history-label col-12 mat-icon-button mat_icon_blue"
    id="previousPerinatalHistory"
    color="primary"
    matTooltip="{{ currentLanguageSet?.DurationData?.previousDetails }}"
    (click)="getPreviousPerinatalHistory()"
    (keydown.enter)="getPreviousPerinatalHistory()"
    (keydown.space)="getPreviousPerinatalHistory()"
  >
    <mat-icon class="md-18 ms-2">history</mat-icon>
    <span class="previousHistory">
      {{
        currentLanguageSet?.historyData?.Perinatalhistorydetails
          ?.previousperinatalhistory
      }}
    </span>
  </button>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
      <mat-form-field [style.width]="'100%'">
        <mat-label class="mat-label-text">{{
          currentLanguageSet?.pncData?.placeofDelivery
        }}</mat-label>
        <mat-select
          class="select-full-width"
          name="placeOfDelivery"
          formControlName="placeOfDelivery"
          (selectionChange)="resetOtherPlaceOfDelivery()"
        >
          <mat-option
            *ngFor="let place of masterData?.deliveryPlaces"
            [value]="place"
            >{{ place.deliveryPlace }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>

    <div
      class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box"
      *ngIf="placeOfDelivery?.deliveryPlace === 'Other'"
    >
      <mat-form-field class="input-full-width">
        <mat-label class="mat-label-text">{{
          currentLanguageSet?.historyData?.opd_NCD_PNCHistory?.obstetric?.others
        }}</mat-label>
        <input
          autocomplete="off"
          matInput
          defaultNull
          maxlength="50"
          allowText="alphabet"
          formControlName="otherPlaceOfDelivery"
          name="otherPlaceOfDelivery"
        />
      </mat-form-field>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
      <mat-form-field [style.width]="'100%'">
        <mat-label class="mat-label-text">{{
          currentLanguageSet?.pncData?.typeofDelivery
        }}</mat-label>
        <mat-select
          class="select-full-width"
          name="typeOfDelivery"
          formControlName="typeOfDelivery"
        >
          <mat-option
            *ngFor="let deliveryType of selectDeliveryTypes"
            [value]="deliveryType"
            >{{ deliveryType.deliveryType }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
      <mat-form-field [style.width]="'100%'">
        <mat-label class="mat-label-text">{{
          currentLanguageSet?.historyData?.opd_NCD_PNCHistory?.perinatal_OPD
            ?.complicationatBirth
        }}</mat-label>
        <mat-select
          class="select-full-width"
          name="complicationAtBirth"
          formControlName="complicationAtBirth"
          (selectionChange)="resetOtherComplicationAtBirth()"
        >
          <mat-option
            *ngFor="let birthComplication of masterData?.birthComplications"
            [value]="birthComplication"
            >{{ birthComplication.complicationValue }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>

    <div
      class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box"
      *ngIf="complicationAtBirth?.complicationValue === 'Other'"
    >
      <mat-form-field class="input-full-width">
        <mat-label class="mat-label-text">{{
          currentLanguageSet?.historyData?.opd_NCD_PNCHistory?.obstetric?.others
        }}</mat-label>
        <input
          autocomplete="off"
          matInput
          defaultNull
          maxlength="50"
          allowText="alphaspace"
          name="otherComplicationAtBirth"
          formControlName="otherComplicationAtBirth"
        />
      </mat-form-field>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
      <mat-form-field [style.width]="'100%'">
        <mat-label class="mat-label-text">{{
          currentLanguageSet?.historyData?.opd_NCD_PNCHistory?.perinatal_OPD
            ?.gestation
        }}</mat-label>
        <mat-select
          class="select-full-width"
          name="gestation"
          formControlName="gestation"
        >
          <mat-option
            *ngFor="let gestation of masterData?.gestation"
            [value]="gestation.name"
            >{{ gestation.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
      <mat-form-field class="input-full-width">
        <mat-label class="mat-label-text">{{
          currentLanguageSet?.historyData?.opd_NCD_PNCHistory?.perinatal_OPD
            ?.birthWeight
        }}</mat-label>
        <input
          autocomplete="off"
          matInput
          defaultNull
          maxlength="4"
          allowText="number"
          name="birthWeightG"
          formControlName="birthWeightG"
          allowMax="6000"
          (change)="checkWeight(birthWeightG)"
        />
      </mat-form-field>
    </div>
  </div>
</div>
