<app-header [showRoles]="false"></app-header>
<div class="container" style="margin-top: 8%">
  <section>
    <div class="col-md-12 col-sm-12 col-lg-12">
      <div class="row m-t-20 min-height: 240px">
        <ul
          class="list-unstyled list-inline text-center"
          *ngFor="let service of servicesList"
        >
          <p>
            <span class="welcomeText"> {{ currentLanguageSet?.welcome }} </span>
            <span style="font-size: 18px; font-weight: 550">
              {{ this.fullName }}</span
            >
          </p>

          <div class="note">
            {{ currentLanguageSet?.clickonServiceToProceed }}
          </div>
          <li
            tabindex="{0}"
            class="width310px"
            (click)="selectService(service)"
            (keydown.enter)="selectService(true)"
            (keyup.enter)="selectService(true)"
          >
            <div style="margin-top: 30px">
              <ul class="list-unstyled text-center p-t-15">
                <li class="f-s-20">
                  <div class="p-l-15 line-height-65">
                    <img
                      src="assets/images/TM.png"
                      alt="HWC"
                    />&nbsp;&nbsp;&nbsp; <br />HWC
                  </div>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>

<app-footer></app-footer>
