<div [formGroup]="demographicDetailsForm">
  <div class="panel-body">
    <mat-slide-toggle
      id="demographicsToggle"
      formControlName="checked"
      color="primary"
      class="pull-right"
      [checked]="demographicsEditEnabled"
      (change)="confirmEditDemographics($event)"
      labelPosition="before"
      ><span
        style="
          font-variant-caps: titling-caps;
          color: #14508c;
          font-weight: bold;
        "
        >{{ demographicsEditText }}</span
      ></mat-slide-toggle
    >
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="select-container">
          <mat-form-field [style.width]="'100%'">
            <mat-label class="mat-label-text">{{
              currentLanguageSet?.ro?.locInfo?.state
            }}</mat-label>
            <mat-select
              formControlName="stateID"
              [required]="true"
              (selectionChange)="onStateChange()"
              [disabled]="disableState"
            >
              <mat-option
                *ngFor="let state of statesList"
                [value]="state.stateID"
              >
                {{ state.stateName | titlecase }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="select-container">
          <mat-form-field [style.width]="'100%'">
            <mat-label class="mat-label-text">{{
              currentLanguageSet?.ro?.locInfo?.district_Town_City
            }}</mat-label>
            <mat-select
              [required]="true"
              formControlName="districtID"
              [disabled]="disableDistrict"
              (selectionChange)="onDistrictChange()"
            >
              <mat-option
                *ngFor="let district of districtList"
                [value]="district.districtID"
              >
                {{ district.districtName | titlecase }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="select-container">
          <mat-form-field [style.width]="'100%'">
            <mat-label class="mat-label-text">{{
              currentLanguageSet?.ro?.locInfo?.taluk
            }}</mat-label>
            <mat-select
              [required]="true"
              formControlName="blockID"
              [disabled]="disableSubDistrict"
              (selectionChange)="onSubDistrictChange()"
            >
              <mat-option
                *ngFor="let subDistrict of subDistrictList"
                [value]="subDistrict.blockID"
              >
                {{ subDistrict.blockName | titlecase }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="select-container">
          <mat-form-field [style.width]="'100%'">
            <mat-label class="mat-label-text">{{
              currentLanguageSet?.ro?.locInfo?.street
            }}</mat-label>
            <mat-select
              [required]="true"
              formControlName="villageID"
              [disabled]="patientRevisit && disableSubDistrict"
              (selectionChange)="onVillageChange()"
            >
              <mat-option
                *ngFor="let village of villageList"
                [value]="village.districtBranchID"
              >
                {{ village.villageName | titlecase }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 m-t-20">
        <mat-form-field [style.width]="'100%'">
          <mat-label class="mat-label-text">{{
            currentLanguageSet?.ro?.locInfo?.habitation
          }}</mat-label>
          <input
            autocomplete="off"
            matInput
            allowText="address"
            formControlName="habitation"
            maxlength="50"
          />
        </mat-form-field>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 m-t-20">
        <mat-form-field [style.width]="'100%'">
          <mat-label class="mat-label-text">{{
            currentLanguageSet?.ro?.locInfo?.address1
          }}</mat-label>
          <input
            autocomplete="off"
            matInput
            allowText="address"
            formControlName="addressLine1"
            maxlength="50"
          />
        </mat-form-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 m-t-20">
        <mat-form-field [style.width]="'100%'">
          <mat-label class="mat-label-text">{{
            currentLanguageSet?.ro?.locInfo?.address2
          }}</mat-label>
          <input
            autocomplete="off"
            matInput
            allowText="address"
            formControlName="addressLine2"
            maxlength="50"
          />
        </mat-form-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 m-t-20">
        <mat-form-field [style.width]="'100%'">
          <mat-label class="mat-label-text">{{
            currentLanguageSet?.ro?.locInfo?.address3
          }}</mat-label>
          <input
            autocomplete="off"
            matInput
            allowText="address"
            formControlName="addressLine3"
            maxlength="50"
          />
        </mat-form-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <mat-form-field [style.width]="'100%'">
          <mat-label class="mat-label-text">{{
            currentLanguageSet?.ro?.locInfo?.pincode
          }}</mat-label>
          <input
            autocomplete="off"
            matInput
            allowText="number"
            maxlength="6"
            formControlName="pincode"
          />
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
