.select-full-width {
    width: 100%;
}

.input-full-width {
    width: 100%;
}

.mat-form-field {
    line-height: unset;
}

.box{
    height: 60px;
}
.multi_row_select{
    padding: 10px 0px; 
}
mat-form-field  >>>
.mdc-text-field--filled, .mdc-text-field--focused {
    background-color: #f0f5f5 !important;
}
mat-form-field >>> .mat-mdc-text-field-wrapper {
    height:unset !important;
}