<!-- {{ otherVaccinesForm.value | json }} -->
<div class="row m-t-10" [formGroup]="otherVaccinesForm">
  <div class="col-xs-12" formArrayName="otherVaccines">
    <div class="row text-right">
      <p class="font-history-label m-t-10">
        {{
          currentLanguageSet?.historyData?.Othervaccineshistory
            ?.previousothervaccineshistory
        }}
      </p>
      <button
        type="button"
        mat-icon-button
        matTooltip="{{
          this.currentLanguageSet?.DurationData?.previousDetails
        }}"
        id="previousANCOtherVaccines"
        class="pull-right"
        color="primary"
        (click)="getPreviousOtherVaccineDetails()"
      >
        <mat-icon class="md-18">history</mat-icon>
      </button>
    </div>
    <div
      class="row multi-row-select"
      *ngFor="
        let vaccine of otherVaccinesForm.controls['otherVaccines']['controls'];
        let i = index;
        let isLast = last;
        let isOdd = odd
      "
      [ngClass]="{ odd: !isOdd }"
    >
      <ng-container [formGroupName]="i">
        <div class="col-xs-12 col-sm-6 col-md-3 box">
          <mat-select
            class="select-full-width"
            name="vaccineName"
            formControlName="vaccineName"
            placeholder="{{
              currentLanguageSet?.historyData?.opd_NCD_PNCHistory?.otherVaccine
                ?.nameofVaccine
            }}"
            (change)="filterOtherVaccineList($event.value, i, vaccine)"
          >
            <mat-option
              *ngFor="let vaccine of vaccineSelectList[i]"
              [value]="vaccine"
            >
              {{ vaccine.vaccineName }}
            </mat-option>
          </mat-select>
        </div>

        <div
          class="col-xs-12 col-sm-6 col-md-3 box"
          [hidden]="true"
          *ngIf="vaccine.value.vaccineName?.vaccineName !== 'Other'"
        >
          <mat-form-field class="input-full-width">
            <input
              matInput
              name="sctCode"
              formControlName="sctCode"
              placeholder="
            {{
                currentLanguageSet?.historyData?.opd_NCD_PNCHistory
                  ?.otherVaccine?.vaccineSctCode
              }}"
              readonly
            />
          </mat-form-field>
        </div>

        <div
          class="col-xs-12 col-sm-6 col-md-2 box"
          *ngIf="vaccine.value.vaccineName?.vaccineName === 'Other'"
        >
          <mat-form-field class="input-full-width">
            <input
              autocomplete="off"
              matInput
              defaultNull
              placeholder="{{
                currentLanguageSet?.historyData?.opd_NCD_PNCHistory?.obstetric
                  ?.others
              }}"
              maxlength="50"
              allowText="alphaspace"
              name="otherVaccineName"
              formControlName="otherVaccineName"
            />
          </mat-form-field>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-2 box">
          <mat-form-field class="input-full-width">
            <input
              autocomplete="off"
              matInput
              defaultNull
              placeholder="{{
                currentLanguageSet?.historyData?.opd_NCD_PNCHistory
                  ?.otherVaccine?.ageatReceived
              }}"
              maxlength="5"
              allowText="number"
              name="actualReceivingAge"
              formControlName="actualReceivingAge"
              [disableFormControl]="!vaccine.value.vaccineName"
              (change)="validateAge(vaccine)"
            />
          </mat-form-field>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-2 box">
          <mat-select
            [style.width]="'100%'"
            (change)="onAgeUnitEntered(i, vaccine)"
            placeholder="{{ currentLanguageSet?.ro?.personalInfo?.ageUnit }}"
            formControlName="ageUnit"
            [disableFormControl]="!vaccine.value.vaccineName"
          >
            <mat-option
              *ngFor="let ageUnit of registrarMasterData?.ageUnit"
              [value]="ageUnit.name"
            >
              {{ ageUnit.name | titlecase }}
            </mat-option>
          </mat-select>
        </div>

        <div
          class="col-xs-10 col-sm-4 col-md-2 box"
          *ngIf="
            vaccine.value.actualReceivingAge > 0 &&
            vaccine.value.ageUnit !== null &&
            vaccine.value.ageUnit !== undefined
          "
        >
          <mat-select
            class="select-full-width"
            name="receivedFacilityName"
            formControlName="receivedFacilityName"
            placeholder="{{
              currentLanguageSet?.historyData?.opd_NCD_PNCHistory?.otherVaccine
                ?.facilityName
            }}"
            [disableFormControl]="!vaccine.value.actualReceivingAge"
          >
            <mat-option value="Govt Facility">Govt Facility</mat-option>
            <mat-option value="Pvt Facility">Pvt Facility</mat-option>
            <mat-option value="Other">Other</mat-option>
          </mat-select>
        </div>

        <div class="col-sm-2 col-md-2 box action-btn-container pull-right">
          <button
            mat-mini-fab
            color="warn"
            id="removeOtherVaccine"
            *ngIf="i !== 0 || (i === 0 && vaccine.touched)"
            (click)="removeOtherVaccine(i, vaccine)"
          >
            <mat-icon class="md-18">close</mat-icon>
          </button>
          <button
            mat-mini-fab
            color="primary"
            *ngIf="isLast"
            [disabled]="checkValidity(vaccine)"
            id="addOtherVaccine"
            (click)="addOtherVaccine()"
            class="button-overall-disabled"
          >
            <mat-icon class="md-18">add</mat-icon>
          </button>
        </div>
      </ng-container>
    </div>
  </div>
</div>
