<div class="" [formGroup]="otherVaccinesForm">
  <div class="" formArrayName="otherVaccines">
    <div class="col-12" style="text-align: end">
      <span class="font-history-label">{{
        currentLanguageSet?.historyData?.Othervaccineshistory
          ?.previousothervaccineshistory
      }}</span>
      <button
        type="button"
        mat-icon-button
        matTooltip="{{
          this.currentLanguageSet?.DurationData?.previousDetails
        }}"
        id="previousANCOtherVaccines"
        class="mat_icon_blue"
        color="primary"
        (click)="getPreviousOtherVaccineDetails()"
      >
        <mat-icon class="md-18">history</mat-icon>
      </button>
    </div>
    <div
      class="col-12 row multi_row_select"
      style="margin: 15px 0px 15px 0px; background-color: #f0f5f5"
      *ngFor="
        let vaccine of getOtherVaccines();
        let i = index;
        let isLast = last;
        let isOdd = odd
      "
      [ngClass]="{ odd: !isOdd }"
    >
      <ng-container [formGroupName]="i">
        <div class="col-3 box">
          <mat-form-field>
            <mat-label class="mat-label-text">{{
              currentLanguageSet?.historyData?.opdNCDPNCHistory?.otherVaccine
                ?.nameofVaccine
            }}</mat-label>
            <mat-select
              class="select-full-width"
              name="vaccineName"
              formControlName="vaccineName"
              (change)="filterOtherVaccineList($event, i, vaccine)"
            >
              <mat-option
                *ngFor="let vaccine of vaccineSelectList[i]"
                [value]="vaccine"
              >
                {{ vaccine.vaccineName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div
          class="col-3 box"
          *ngIf="vaccine.value.vaccineName?.vaccineName !== 'Other'"
          [hidden]="true"
        >
          <mat-form-field class="input-full-width">
            <mat-label class="mat-label-text">{{
              currentLanguageSet?.historyData?.opdNCDPNCHistory?.otherVaccine
                ?.vaccineSctCode
            }}</mat-label>
            <input matInput name="sctCode" formControlName="sctCode" readonly />
          </mat-form-field>
        </div>

        <div
          class="col-3 box"
          *ngIf="vaccine.value.vaccineName?.vaccineName === 'Other'"
        >
          <mat-form-field class="input-full-width">
            <mat-label class="mat-label-text">{{
              currentLanguageSet?.historyData?.opdNCDPNCHistory?.obstetric
                ?.others
            }}</mat-label>
            <input
              autocomplete="off"
              matInput
              appDefaultNull
              maxlength="50"
              allowText="alphaspace"
              name="otherVaccineName"
              formControlName="otherVaccineName"
            />
          </mat-form-field>
        </div>

        <div
          class="col-3 box"
          *ngIf="
            vaccine.value.vaccineName !== null &&
            vaccine.value.vaccineName !== ''
          "
        >
          <mat-form-field class="input-full-width">
            <mat-label class="mat-label-text">{{
              currentLanguageSet?.historyData?.opdNCDPNCHistory?.otherVaccine
                ?.ageatReceived
            }}</mat-label>
            <input
              autocomplete="off"
              matInput
              appDefaultNull
              maxlength="2"
              allowText="number"
              name="actualReceivingAge"
              formControlName="actualReceivingAge"
              (change)="validateAge(vaccine)"
            />
          </mat-form-field>
        </div>

        <div
          class="col-3 box"
          *ngIf="
            vaccine?.value?.actualReceivingAge !== null &&
            vaccine?.value?.actualReceivingAge !== '' &&
            vaccine.value.actualReceivingAge > 0
          "
        >
          <mat-form-field>
            <mat-label class="mat-label-text">{{
              currentLanguageSet?.historyData?.opdNCDPNCHistory?.otherVaccine
                ?.facilityName
            }}</mat-label>
            <mat-select
              class="select-full-width"
              name="receivedFacilityName"
              formControlName="receivedFacilityName"
            >
              <mat-option value="Govt Facility">Govt Facility</mat-option>
              <mat-option value="Pvt Facility">Pvt Facility</mat-option>
              <mat-option value="Other">Other</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-3 box action-btn-container" style="text-align: end">
          <button
            md-mini-fab
            color="warn"
            class="mat_warn_circle"
            style="margin-right: 5px"
            id="removeOtherVaccine"
            *ngIf="i !== 0 || (i === 0 && vaccine.touched)"
            (click)="removeOtherVaccine(i, vaccine)"
          >
            <mat-icon class="md-18">close</mat-icon>
          </button>
          <button
            md-mini-fab
            color="primary"
            class="mat_blue_circle"
            *ngIf="isLast"
            [disabled]="checkValidity(vaccine)"
            id="addOtherVaccine"
            (click)="addOtherVaccine()"
          >
            <mat-icon class="md-18">add</mat-icon>
          </button>
        </div>
      </ng-container>
    </div>
  </div>
</div>
