#searchDialog {
    z-index: 998 !important;
}

.mat-dialog-content{
    overflow: hidden !important;
}

.title {
    margin-left: -15px;
    margin-right: -15px;
    padding: 10px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    background: #336CFB !important;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.title h4 {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-top: 10px;
    margin-left: 25px;
}

.close-btn {
    color: white !important;
}

.box{
    /* height: 60px; */
    box-shadow: 1px 1px 4px 5px rgba(0, 0, 0, 0.25);
    background: #E1EAFF !important;
}

.full-width-login {
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    padding: 10px;
}

.textFormat{
    font-weight: 550;
    font-size: 14px;
    letter-spacing: 0.00em;
}