.input-full-width {
    width: 100%;
}

.autocomplete{
    padding: 0px 16px;
    width: 100%;
    border-bottom: 1px solid lightgray;
}

.box{
    height: 60px;
}
.multi_row_select{
    padding: 10px 0px; 
}
.mat_label_fix  >>>
.mdc-text-field--filled, .mdc-text-field--focused {
    background-color: #f0f5f5 !important;
}
.mat_label_fix >>> .mat-mdc-text-field-wrapper {
    height:unset !important;
}