<div class="row m-t-20" *ngIf="complaintList.length >= 1">
  <div
    class="col-xs-12"
    *ngIf="
      visitCategory.toLowerCase() !== 'anc' &&
      visitCategory.toLowerCase() !== 'ncd screening'
    "
  >
    <table
      class="table table-bordered"
      mat-table
      [dataSource]="dataSource"
      aria-describedby="chiefComplaintDetails"
    >
      <ng-container matColumnDef="chiefComplaintsDetails">
        <th
          mat-header-cell
          style="border-bottom: none"
          *matHeaderCellDef
          mat-sort-header
        >
          {{
            current_language_set?.nurseData?.chiefComplaintsDetails
              ?.chiefComplaints
          }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element?.chiefComplaint }}
        </td>
      </ng-container>

      <ng-container matColumnDef="duration">
        <th
          mat-header-cell
          style="border-bottom: none"
          *matHeaderCellDef
          mat-sort-header
        >
          {{
            current_language_set?.nurseData?.chiefComplaintsDetails?.duration
          }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element?.duration }}
        </td>
      </ng-container>

      <ng-container matColumnDef="unitOfDuration">
        <th
          mat-header-cell
          style="border-bottom: none"
          *matHeaderCellDef
          mat-sort-header
        >
          {{
            current_language_set?.nurseData?.chiefComplaintsDetails
              ?.unitOfDuration
          }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{
            element.unitOfDuration === "Hours"
              ? "Hour(s)"
              : element.unitOfDuration === "Days"
                ? "Day(s)"
                : element.unitOfDuration === "Weeks"
                  ? "Week(s)"
                  : element.unitOfDuration === "Months"
                    ? "Month(s)"
                    : element.unitOfDuration === "Years"
                      ? "Year(s)"
                      : element.unitOfDuration
          }}
        </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th
          mat-header-cell
          style="border-bottom: none"
          *matHeaderCellDef
          mat-sort-header
        >
          {{
            current_language_set?.nurseData?.chiefComplaintsDetails?.description
          }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.description }}
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>

<div [formGroup]="generalFindingsForm">
  <div
    class="row m-t-10"
    *ngIf="
      visitCategory.toLowerCase() !== 'anc' &&
      visitCategory.toLowerCase() !== 'ncd screening'
    "
  >
    <div class="col-xs-12" formArrayName="complaints">
      <div
        class="row multi-row-select"
        style="
          padding-bottom: 30px;
          background-color: #f0f5f5;
          margin: 8px 0px 0px 0px;
        "
        *ngFor="
          let complaint of getComplaints();
          let i = index;
          let isLast = last;
          let isOdd = odd
        "
        [ngClass]="{ odd: !isOdd }"
      >
        <ng-container [formGroupName]="i">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
            <mat-form-field class="input-full-width mat_label_fix">
              <mat-label class="mat-label-text">{{
                current_language_set?.nurseData?.chiefComplaintsDetails
                  ?.chiefComplaints
              }}</mat-label>
              <input
                autocomplete="off"
                type="text"
                matInput
                name="chiefComplaint"
                formControlName="chiefComplaint"
                #complaintType
                (keyup)="suggestChiefComplaintList(complaint, i)"
                [matAutocomplete]="auto"
              />
            </mat-form-field>

            <mat-autocomplete
              #auto="matAutocomplete"
              [displayWith]="displayChiefComplaint"
              (optionSelected)="
                filterComplaints($event, i); getSCTid($event, i)
              "
            >
              <mat-option
                *ngFor="let compl of suggestedChiefComplaintList[i]"
                [value]="compl"
              >
                {{ compl.chiefComplaint }}
              </mat-option>
            </mat-autocomplete>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
            <mat-form-field class="input-full-width mat_label_fix">
              <mat-label class="mat-label-text">{{
                current_language_set?.nurseData?.chiefComplaintsDetails
                  ?.duration
              }}</mat-label>
              <input
                autocomplete="off"
                matInput
                defaultNull
                allowText="number"
                maxlength="2"
                name="duration"
                formControlName="duration"
                [disabled]="!complaint.value.chiefComplaint"
                (change)="validateDuration(complaint)"
              />
            </mat-form-field>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
            <mat-form-field class="mat_label_fix" style="width: 260px">
              <mat-label class="mat-label-text">{{
                current_language_set?.nurseData?.chiefComplaintsDetails
                  ?.selectunitOfDuration
              }}</mat-label>
              <mat-select
                class="input-full-width"
                name="unitOfDuration"
                formControlName="unitOfDuration"
                [disabled]="!complaint.value.duration"
                (change)="validateDuration(complaint)"
              >
                <mat-option value="Hours">Hour(s)</mat-option>
                <mat-option value="Days">Day(s)</mat-option>
                <mat-option value="Weeks">Week(s)</mat-option>
                <mat-option value="Months">Month(s)</mat-option>
                <mat-option value="Years">Year(s)</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
            <mat-form-field class="input-full-width mat_label_fix">
              <mat-label class="mat-label-text">{{
                current_language_set?.nurseData?.chiefComplaintsDetails
                  ?.description
              }}</mat-label>
              <textarea
                matInput
                allowText="textAreaValidator"
                defaultNull
                matTextareaAutosize
                name="description"
                [disabled]="!complaint.value.chiefComplaint"
                formControlName="description"
              ></textarea>
            </mat-form-field>
          </div>
          <div
            class="col-xs-12 col-sm-6 col-md-2 col-lg-2 box"
            style="margin-top: 35px"
          >
            <button
              mat-mini-fab
              [id]="'addBtn' + i"
              *ngIf="isLast"
              [disabled]="checkComplaintFormValidity(complaint)"
              (click)="addChiefComplaint()"
              color="primary"
              class="mat-add-btn"
            >
              {{ current_language_set?.common?.add }}
            </button>
            <button
              mat-mini-fab
              [id]="'removeBtn' + i"
              *ngIf="i !== 0 || (i === 0 && complaint.touched)"
              (click)="removeChiefComplaint(i, complaint)"
              color="warn"
              style="margin-right: 15px; margin-top: 25px !important"
              class="mat-remove-btn"
            >
              {{ current_language_set?.common?.remove }}
            </button>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="row m-t-20">
    <ng-container formArrayName="clinicalObservationsList">
      <div
        *ngFor="
          let observations of getClinicalObservationsList();
          let i = index;
          let isLast = last
        "
      >
        <ng-container [formGroupName]="i" class="col-12">
          <div class="row">
            <div class="col-10">
              <mat-form-field class="input-full-width">
                <mat-label>{{
                  current_language_set?.casesheet?.clinicalObs
                }}</mat-label>
                <input
                  matInput
                  allowText="inputFieldValidator"
                  appClinicalObservations
                  [observationsList]="observations"
                  name="viewObservationsProvided"
                  formControlName="clinicalObservationsProvided"
                  maxlength="100"
                  minlength="3"
                  [previousSelected]="
                    generalFindingsForm.value.clinicalObservationsList
                  "
                />
                <mat-icon
                  class="search-btn cursorPointer"
                  matSuffix
                  appClinicalObservations
                  [observationsList]="observations"
                  [previousSelected]="
                    generalFindingsForm.value.clinicalObservationsList
                  "
                  >search</mat-icon
                >
              </mat-form-field>
            </div>

            <div class="col-2" style="margin-top: 10px">
              <button
                mat-mini-fab
                type="button"
                color="primary"
                *ngIf="isLast"
                [disabled]="validateAddedObservations(observations)"
                (click)="addObservations()"
                class="mat-add-btn"
              >
                {{ current_language_set?.common?.add }}
              </button>

              <button
                mat-mini-fab
                type="button"
                class="mat-remove-btn"
                color="warn"
                *ngIf="
                  i !== 0 ||
                  (i === 0 &&
                    generalFindingsForm.get('clinicalObservationsList')?.value
                      .clinicalObservationsProvided !== null &&
                    generalFindingsForm.get('clinicalObservationsList')?.value
                      .clinicalObservationsProvided !== '')
                "
                (click)="removeObservationsFromList(i, observations)"
              >
                {{ current_language_set?.common?.remove }}
              </button>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
  <div class="row m-t-5">
    <ng-container formArrayName="significantFindingsList">
      <div
        *ngFor="
          let findings of getSignificantFindingsList();
          let i = index;
          let isLast = last
        "
      >
        <ng-container [formGroupName]="i" class="col-12">
          <div class="row">
            <div class="col-10">
              <mat-form-field class="input-full-width">
                <mat-label>{{
                  current_language_set?.casesheet?.significantFind
                }}</mat-label>
                <input
                  matInput
                  allowText="inputFieldValidator"
                  appSignificantFindings
                  [findingsList]="findings"
                  name="viewFindingsProvided"
                  formControlName="significantFindingsProvided"
                  maxlength="100"
                  minlength="3"
                  [previousSelected]="
                    generalFindingsForm.value.significantFindingsList
                  "
                  (keyup)="
                    resetFindingsCheckbox(
                      generalFindingsForm.get('significantFindingsList')?.value
                        .significantFindingsProvided
                    )
                  "
                />

                <mat-icon
                  class="search-btn cursorPointer"
                  matSuffix
                  appSignificantFindings
                  [findingsList]="findings"
                  [previousSelected]="
                    generalFindingsForm.value.significantFindingsList
                  "
                  >search</mat-icon
                >
              </mat-form-field>
            </div>

            <div class="col-2" style="margin-top: 10px">
              <button
                mat-mini-fab
                type="button"
                color="primary"
                *ngIf="isLast"
                [disabled]="validateAddedFindings(findings)"
                (click)="addFindings()"
                class="mat-add-btn"
              >
                {{ current_language_set?.common?.add }}
              </button>

              <button
                mat-mini-fab
                type="button"
                color="warn"
                class="mat-remove-btn"
                *ngIf="
                  i !== 0 ||
                  (i === 0 &&
                    generalFindingsForm.get('significantFindingsList')?.value
                      .significantFindingsProvided !== null &&
                    generalFindingsForm.get('significantFindingsList')?.value
                      .significantFindingsProvided !== '')
                "
                (click)="removeFindingsFromList(i, findings)"
              >
                {{ current_language_set?.common?.remove }}
              </button>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
  <div class="row m-t-5">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <mat-form-field class="input-full-width">
        <mat-label class="mat-label-text">{{
          current_language_set?.Find?.otherSymptoms
        }}</mat-label>
        <textarea
          matInput
          allowText="textAreaValidator"
          defaultNull
          matTextareaAutosize
          maxlength="300"
          name="otherSymptoms"
          formControlName="otherSymptoms"
        >
        </textarea>
      </mat-form-field>
    </div>
    <div
      class="col-xs-12 col-sm-6 col-md-6 col-lg-6 m-t-20"
      *ngIf="enableIsHistory"
    >
      <mat-checkbox
        class="control-label"
        checked="checked"
        formControlName="isForHistory"
        [value]="'true'"
        >{{
          current_language_set?.Find?.showThisFindingsOnNextVisit
        }}</mat-checkbox
      >
    </div>
  </div>
</div>
