<div class="row m-t-10" [formGroup]="pastHistoryForm">
  <div>
    <button
      type="button"
      class="history-label col-12 mat-icon-button mat_icon_blue"
      id="previousANCPastHistory"
      color="primary"
      matTooltip="{{ currentLanguageSet?.DurationData?.previousDetails }}"
      (click)="getPreviousPastHistory()"
      (keydown.enter)="getPreviousPastHistory()"
      (keydown.space)="getPreviousPastHistory()"
    >
      <mat-icon class="md-18 ms-2">history</mat-icon>
      <span class="previousHistory">
        {{
          currentLanguageSet?.historyData?.Previousillness
            ?.previousillnessandsurgery
        }}
      </span>
    </button>
    <div class="col-xs-12" formArrayName="pastIllness">
      <header class="description">
        <h4>
          <strong>{{
            currentLanguageSet?.historyData?.ancHistory
              ?.pastIllnessDataANC_OPD_NCD_PNC?.pastIllness
          }}</strong>
        </h4>
      </header>
      <div
        class="row multi-row-select"
        *ngFor="
          let pastIllness of getPastIllness();
          let i = index;
          let isLast = last;
          let isOdd = odd
        "
        [ngClass]="{ odd: !isOdd }"
      >
        <ng-container [formGroupName]="i">
          <div class="col-sm-6 col-md-3 box">
            <mat-form-field [style.width]="'100%'">
              <mat-label>{{
                currentLanguageSet?.historyData?.ancHistory
                  ?.pastIllnessDataANC_OPD_NCD_PNC?.illness
              }}</mat-label>
              <mat-select
                name="pastAcuteIllness"
                formControlName="illnessType"
                (selectionChange)="
                  filterPastIllnessType($event.value, i, pastIllness)
                "
              >
                <mat-option
                  *ngFor="let illness of pastIllnessSelectList[i]"
                  [value]="illness"
                >
                  {{ illness.illnessType }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>

          <div
            class="col-sm-6 col-md-3 box"
            *ngIf="pastIllness.value.illnessType?.illnessType === 'Other'"
          >
            <mat-form-field [style.width]="'100%'">
              <mat-label>{{
                currentLanguageSet?.historyData?.opd_NCD_PNCHistory?.obstetric
                  ?.others
              }}</mat-label>
              <input
                autocomplete="off"
                matInput
                defaultNull
                maxlength="50"
                allowText="alphaspace"
                name="otherIllnessType"
                formControlName="otherIllnessType"
                (blur)="otherIlnessForHrp()"
              />
            </mat-form-field>
          </div>

          <div class="col-sm-6 col-md-2 box">
            <mat-form-field [style.width]="'100%'">
              <mat-label>{{
                currentLanguageSet?.nurseData?.chiefComplaintsDetails?.duration
              }}</mat-label>
              <input
                autocomplete="off"
                matInput
                defaultNull
                allowText="number"
                maxlength="2"
                name="timePeriodAgo"
                formControlName="timePeriodAgo"
                (change)="validateDuration(pastIllness)"
              />
            </mat-form-field>
          </div>

          <div class="col-sm-4 col-md-2 box">
            <mat-form-field [style.width]="'100%'">
              <mat-label>{{
                currentLanguageSet?.DurationData?.timeperiodAgo
              }}</mat-label>
              <mat-select
                name="timePeriodUnit"
                formControlName="timePeriodUnit"
                (selectionChange)="validateDuration(pastIllness)"
              >
                <mat-option value="Days">Day(s)</mat-option>
                <mat-option value="Weeks">Week(s)</mat-option>
                <mat-option value="Months">Month(s)</mat-option>
                <mat-option value="Years">Year(s)</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-sm-2 col-md-2 box action-btn-container pull-right">
            <button
              mat-mini-fab
              color="primary"
              *ngIf="isLast"
              class="mat-add-btn"
              [disabled]="checkIllnessValidity(pastIllness)"
              (click)="addPastIllness()"
            >
              {{ currentLanguageSet?.common?.add }}
            </button>

            <button
              type="button"
              mat-mini-fab
              class="mat-remove-btn"
              style="margin-left: 3px"
              *ngIf="
                i !== 0 ||
                (i === 0 && (pastIllness.touched || pastIllness.dirty))
              "
              (click)="removePastIllness(i, pastIllness)"
              color="warn"
            >
              {{ currentLanguageSet?.common?.remove }}
            </button>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="col-xs-12" formArrayName="pastSurgery">
    <header class="description">
      <h4 style="margin-top: 10px">
        <strong>{{
          currentLanguageSet?.historyData?.ancHistory
            ?.pastHOSurgeryANC_OPD_NCD_PNC?.pastSurgery
        }}</strong>
      </h4>
    </header>
    <div
      class="row multi-row-select"
      *ngFor="
        let pastSurgery of getPastSurgery();
        let i = index;
        let isLast = last;
        let isOdd = odd
      "
      [ngClass]="{ odd: !isOdd }"
    >
      <ng-container [formGroupName]="i">
        <div class="col-sm-6 col-md-3 box">
          <mat-form-field [style.width]="'100%'">
            <mat-label>{{
              currentLanguageSet?.historyData?.ancHistory
                ?.pastHOSurgeryANC_OPD_NCD_PNC?.hoSurgery
            }}</mat-label>
            <mat-select
              formControlName="surgeryType"
              name="surgeryType"
              (selectionChange)="
                filterPastSurgeryType($event.value, i, pastSurgery)
              "
            >
              <mat-option
                *ngFor="let surgery of pastSurgerySelectList[i]"
                [value]="surgery"
                >{{ surgery.surgeryType }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>

        <div
          class="col-sm-6 col-md-3 box"
          *ngIf="pastSurgery.value.surgeryType?.surgeryType === 'Other'"
        >
          <mat-form-field [style.width]="'100%'">
            <mat-label>{{
              currentLanguageSet?.historyData?.opd_NCD_PNCHistory?.obstetric
                ?.others
            }}</mat-label>
            <input
              autocomplete="off"
              matInput
              defaultNull
              maxlength="50"
              allowText="alphaspace"
              name="otherSurgeryType"
              formControlName="otherSurgeryType"
            />
          </mat-form-field>
        </div>

        <div class="col-sm-4 col-md-2 box">
          <mat-form-field [style.width]="'100%'">
            <mat-label>{{
              currentLanguageSet?.nurseData?.chiefComplaintsDetails?.duration
            }}</mat-label>
            <input
              autocomplete="off"
              matInput
              defaultNull
              allowText="number"
              maxlength="2"
              name="timePeriodAgo"
              formControlName="timePeriodAgo"
              (change)="validateDuration(pastSurgery)"
            />
          </mat-form-field>
        </div>

        <div class="col-sm-6 col-md-2 box">
          <mat-form-field [style.width]="'100%'">
            <mat-label>{{
              currentLanguageSet?.DurationData?.timeperiodAgo
            }}</mat-label>
            <mat-select
              formControlName="timePeriodUnit"
              name="timePeriodUnit"
              (change)="validateDuration(pastSurgery)"
            >
              <mat-option value="Days">Day(s)</mat-option>
              <mat-option value="Weeks">Week(s)</mat-option>
              <mat-option value="Months">Month(s)</mat-option>
              <mat-option value="Years">Year(s)</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-sm-2 col-md-2 box action-btn-container pull-right">
          <button
            mat-mini-fab
            color="primary"
            class="mat-add-btn"
            *ngIf="isLast"
            [disabled]="checkSurgeryValidity(pastSurgery)"
            id="addPastSurgery"
            (click)="addPastSurgery()"
          >
            {{ currentLanguageSet?.common?.add }}
          </button>

          <button
            type="button"
            mat-mini-fab
            class="mat-remove-btn"
            style="margin-left: 3px"
            *ngIf="
              i !== 0 || (i === 0 && (pastSurgery.touched || pastSurgery.dirty))
            "
            (click)="removePastSurgery(i, pastSurgery)"
          >
            {{ currentLanguageSet?.common?.remove }}
          </button>
        </div>
      </ng-container>
    </div>
  </div>
</div>
