<!-- {{ pastHistoryForm.value | json}} -->
<div class="row m-t-10" [formGroup]="pastHistoryForm">
  <div>
    <div class="col-12" style="float: right; text-align: end">
      <p class="font-history-label m-t-10">
        {{
          currentLanguageSet?.historyData?.Previousillness
            ?.previousillnessandsurgery
        }}
      </p>
      <button
        type="button"
        mat-icon-button
        matTooltip="{{ currentLanguageSet?.DurationData?.previousDetails }}"
        id="previousANCPastHistory"
        class="mat_icon_blue"
        color="primary"
        (click)="getPreviousPastHistory()"
      >
        <mat-icon class="md-18">history</mat-icon>
      </button>
    </div>
    <div class="col-xs-12" formArrayName="pastIllness">
      <header class="description">
        <h4>
          <strong>{{
            currentLanguageSet?.historyData?.ancHistory
              ?.pastIllnessDataANC_OPD_NCD_PNC?.pastIllness
          }}</strong>
        </h4>
      </header>
      <div
        class="row multi-row-select"
        *ngFor="
          let pastIllness of getPastIllness();
          let i = index;
          let isLast = last;
          let isOdd = odd
        "
        [ngClass]="{ odd: !isOdd }"
      >
        <ng-container [formGroupName]="i">
          <div class="col-sm-6 col-md-3 box">
            <mat-form-field [style.width]="'100%'">
              <mat-label class="mat-label-text">{{
                currentLanguageSet?.historyData?.ancHistory
                  ?.pastIllnessDataANC_OPD_NCD_PNC?.illness
              }}</mat-label>
              <mat-select
                class="select-full-width"
                name="pastAcuteIllness"
                formControlName="illnessType"
                (selectionChange)="
                  filterPastIllnessType($event.value, i, pastIllness)
                "
              >
                <mat-option
                  *ngFor="let illness of pastIllnessSelectList[i]"
                  [value]="illness"
                >
                  {{ illness.illnessType }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>

          <div
            class="col-sm-6 col-md-3 box"
            *ngIf="pastIllness.value.illnessType?.illnessType === 'Other'"
          >
            <mat-form-field class="input-full-width">
              <mat-label class="mat-label-text">{{
                currentLanguageSet?.historyData?.opd_NCD_PNCHistory?.obstetric
                  ?.others
              }}</mat-label>
              <input
                autocomplete="off"
                matInput
                defaultNull
                maxlength="50"
                allowText="alphaspace"
                name="otherIllnessType"
                formControlName="otherIllnessType"
                (blur)="otherIlnessForHrp()"
              />
            </mat-form-field>
          </div>

          <div
            class="col-sm-6 col-md-2 box"
            *ngIf="
              (pastIllness?.value?.illnessType !== null &&
                pastIllness?.value?.illnessType !== '') ||
              pastIllness.value.illnessType?.illnessType === 'Nil' ||
              pastIllness.value.illnessType?.illnessType === 'None'
            "
          >
            <mat-form-field class="input-full-width">
              <mat-label class="mat-label-text">{{
                currentLanguageSet?.nurseData?.chiefComplaintsDetails?.duration
              }}</mat-label>
              <input
                autocomplete="off"
                matInput
                defaultNull
                allowText="number"
                maxlength="2"
                name="timePeriodAgo"
                formControlName="timePeriodAgo"
                (change)="validateDuration(pastIllness)"
              />
            </mat-form-field>
          </div>

          <div
            class="col-sm-4 col-md-2 box"
            *ngIf="
              pastIllness?.value?.timePeriodAgo !== null &&
              pastIllness?.value?.timePeriodAgo !== ''
            "
          >
            <mat-form-field [style.width]="'100%'">
              <mat-label class="mat-label-text">{{
                currentLanguageSet?.DurationData?.timeperiodAgo
              }}</mat-label>
              <mat-select
                class="select-full-width"
                name="timePeriodUnit"
                formControlName="timePeriodUnit"
                (change)="validateDuration(pastIllness)"
              >
                <mat-option value="Days">Day(s)</mat-option>
                <mat-option value="Weeks">Week(s)</mat-option>
                <mat-option value="Months">Month(s)</mat-option>
                <mat-option value="Years">Year(s)</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-sm-2 col-md-2 box action-btn-container pull-right">
            <button
              style="margin-right: 5px"
              mat-mini-fab
              color="warn"
              class="mat_warn_circle"
              *ngIf="
                i !== 0 ||
                (i === 0 && (pastIllness.touched || pastIllness.dirty))
              "
              (click)="removePastIllness(i, pastIllness)"
            >
              <mat-icon class="md-18">close</mat-icon>
            </button>
            <button
              mat-mini-fab
              color="primary"
              *ngIf="isLast"
              class="mat_blue_circle"
              [disabled]="checkIllnessValidity(pastIllness)"
              (click)="addPastIllness()"
              class="button-overall-disabled"
            >
              <mat-icon class="md-18">add</mat-icon>
            </button>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="col-xs-12" formArrayName="pastSurgery">
    <header class="description">
      <h4>
        <strong>{{
          currentLanguageSet?.historyData?.ancHistory
            ?.pastHOSurgeryANC_OPD_NCD_PNC?.pastSurgery
        }}</strong>
      </h4>
    </header>
    <div
      class="row multi-row-select"
      *ngFor="
        let pastSurgery of getPastSurgery();
        let i = index;
        let isLast = last;
        let isOdd = odd
      "
      [ngClass]="{ odd: !isOdd }"
    >
      <ng-container [formGroupName]="i">
        <div class="col-sm-6 col-md-3 box">
          <mat-form-field [style.width]="'100%'">
            <mat-label class="mat-label-text">{{
              currentLanguageSet?.historyData?.ancHistory
                ?.pastHOSurgeryANC_OPD_NCD_PNC?.hoSurgery
            }}</mat-label>
            <mat-select
              class="select-full-width"
              formControlName="surgeryType"
              name="surgeryType"
              (change)="filterPastSurgeryType($event, i, pastSurgery)"
            >
              <mat-option
                *ngFor="let surgery of pastSurgerySelectList[i]"
                [value]="surgery"
                >{{ surgery.surgeryType }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>

        <div
          class="col-sm-6 col-md-3 box"
          *ngIf="pastSurgery.value.surgeryType?.surgeryType === 'Other'"
        >
          <mat-form-field class="input-full-width">
            <mat-label class="mat-label-text">{{
              currentLanguageSet?.historyData?.opd_NCD_PNCHistory?.obstetric
                ?.others
            }}</mat-label>
            <input
              autocomplete="off"
              matInput
              defaultNull
              maxlength="50"
              allowText="alphaspace"
              name="otherSurgeryType"
              formControlName="otherSurgeryType"
            />
          </mat-form-field>
        </div>

        <div
          class="col-sm-6 col-md-2 box"
          *ngIf="
            (pastSurgery?.value?.surgeryType !== null &&
              pastSurgery?.value?.surgeryType !== '') ||
            pastSurgery.value.surgeryType?.surgeryType === 'None' ||
            pastSurgery.value.surgeryType?.surgeryType === 'Nil'
          "
        >
          <mat-form-field class="input-full-width">
            <mat-label class="mat-label-text">{{
              currentLanguageSet?.nurseData?.chiefComplaintsDetails?.duration
            }}</mat-label>
            <input
              autocomplete="off"
              matInput
              defaultNull
              allowText="number"
              maxlength="2"
              name="timePeriodAgo"
              formControlName="timePeriodAgo"
              (change)="validateDuration(pastSurgery)"
            />
          </mat-form-field>
        </div>

        <div
          class="col-sm-4 col-md-2 box"
          *ngIf="
            pastSurgery?.value?.timePeriodAgo !== null &&
            pastSurgery?.value?.timePeriodAgo !== ''
          "
        >
          <mat-form-field [style.width]="'100%'">
            <mat-label class="mat-label-text">{{
              currentLanguageSet?.DurationData?.timeperiodAgo
            }}</mat-label>
            <mat-select
              class="select-full-width"
              formControlName="timePeriodUnit"
              name="timePeriodUnit"
              (change)="validateDuration(pastSurgery)"
            >
              <mat-option value="Days">Day(s)</mat-option>
              <mat-option value="Weeks">Week(s)</mat-option>
              <mat-option value="Months">Month(s)</mat-option>
              <mat-option value="Years">Year(s)</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-sm-2 col-md-2 box action-btn-container pull-right">
          <button
            mat-mini-fab
            color="warn"
            style="margin-right: 5px"
            class="mat_warn_circle"
            id="removePastSurgery"
            *ngIf="
              i !== 0 || (i === 0 && (pastSurgery.touched || pastSurgery.dirty))
            "
            (click)="removePastSurgery(i, pastSurgery)"
          >
            <mat-icon class="md-18">close</mat-icon>
          </button>
          <button
            mat-mini-fab
            color="primary"
            class="mat_blue_circle"
            *ngIf="isLast"
            [disabled]="checkSurgeryValidity(pastSurgery)"
            id="addPastSurgery"
            (click)="addPastSurgery()"
            class="button-overall-disabled"
          >
            <mat-icon class="md-18">add</mat-icon>
          </button>
        </div>
      </ng-container>
    </div>
  </div>
</div>
