<div class="container-fluid">
  <div class="row m-t-10">
    <div class="col-xs-8 col-sm-6 col-md-4 fit_to_content">
      <div class="sw">
        <input
          type="search"
          class="search"
          autocomplete="off"
          placeholder="{{ currentLanguageSet?.common?.inTableSearch }}"
          name="filterTerm"
          [(ngModel)]="filterTerm"
          (keyup)="filterBeneficiaryList(filterTerm)"
        />
        <button class="go" (click)="filterBeneficiaryList(filterTerm)">
          <span class="material-icons">search</span>
        </button>
      </div>
    </div>
    <div class="col-xs-4 col-sm-6 col-md-8 fit_to_content">
      <button
        mat-button
        id="caseSheetButton"
        style="display: none"
        [disabled]="true"
        class="btn btn-link pull-right button-overall-disabled"
      >
        {{ currentLanguageSet?.bendetails?.emergencyCaseSheet }}
      </button>
      <button
        mat-raised-button
        id="refresh"
        color="primary"
        class="full-width-refresh background-overall pull-right btn-green"
        (click)="getNurseWorklist()"
      >
        {{ currentLanguageSet?.common?.refresh }}
      </button>
    </div>
  </div>
  <div class="row m-t-10 m-b-40">
    <div class="col-sm-12">
      <mat-card>
        <section class="">
          <div class="">
            <table
              mat-table
              [dataSource]="dataSource"
              class="table table-striped"
              aria-describedby="nurseWorklist"
            >
              <ng-container matColumnDef="sno">
                <th
                  mat-header-cell
                  style="border-bottom: none"
                  *matHeaderCellDef
                  mat-sort-header
                >
                  {{ currentLanguageSet?.coreComponents?.sno }}
                </th>
                <td
                  mat-cell
                  *matCellDef="let element"
                  [ngClass]="{
                    visitStatus: true,
                    'first-visit': element?.benVisitNo === 1,
                    revisit: element?.benVisitNo !== 1
                  }"
                >
                  {{ element.sno }}
                </td>
              </ng-container>
              <ng-container matColumnDef="beneficiaryID">
                <th
                  mat-header-cell
                  style="border-bottom: none"
                  *matHeaderCellDef
                  mat-sort-header
                >
                  {{ currentLanguageSet?.bendetails?.beneficiaryID }}
                </th>
                <td
                  mat-cell
                  *matCellDef="let element"
                  (click)="loadNursePatientDetails(element)"
                >
                  {{ element?.beneficiaryID }}
                </td>
              </ng-container>
              <ng-container matColumnDef="beneficiaryName">
                <th
                  mat-header-cell
                  style="border-bottom: none"
                  *matHeaderCellDef
                  mat-sort-header
                >
                  {{ currentLanguageSet?.bendetails?.beneficiaryName }}
                </th>
                <td
                  mat-cell
                  *matCellDef="let element"
                  (click)="loadNursePatientDetails(element)"
                >
                  {{ element?.benName | titlecase }}
                </td>
              </ng-container>
              <ng-container matColumnDef="gender">
                <th
                  mat-header-cell
                  style="border-bottom: none"
                  *matHeaderCellDef
                  mat-sort-header
                >
                  {{ currentLanguageSet?.bendetails?.gender }}
                </th>
                <td
                  mat-cell
                  *matCellDef="let element"
                  (click)="loadNursePatientDetails(element)"
                >
                  {{ element.genderName | titlecase }}
                </td>
              </ng-container>
              <ng-container matColumnDef="age">
                <th
                  mat-header-cell
                  style="border-bottom: none"
                  *matHeaderCellDef
                  mat-sort-header
                >
                  {{ currentLanguageSet?.bendetails?.age }}
                </th>
                <td
                  mat-cell
                  *matCellDef="let element"
                  (click)="loadNursePatientDetails(element)"
                >
                  {{ element.age }}
                </td>
              </ng-container>
              <ng-container matColumnDef="status">
                <th
                  mat-header-cell
                  style="border-bottom: none"
                  *matHeaderCellDef
                  mat-sort-header
                >
                  {{ currentLanguageSet?.bendetails?.status }}
                </th>
                <td
                  mat-cell
                  *matCellDef="let element"
                  (click)="loadNursePatientDetails(element)"
                >
                  {{ element.benVisitNo === 1 ? "First visit" : "Revisit" }}
                </td>
              </ng-container>
              <ng-container matColumnDef="fatherName">
                <th
                  mat-header-cell
                  style="border-bottom: none"
                  *matHeaderCellDef
                  mat-sort-header
                >
                  {{ currentLanguageSet?.bendetails?.fatherName }}
                </th>
                <td
                  mat-cell
                  *matCellDef="let element"
                  (click)="loadNursePatientDetails(element)"
                >
                  {{ element.fatherName | titlecase }}
                </td>
              </ng-container>
              <ng-container matColumnDef="district">
                <th
                  mat-header-cell
                  style="border-bottom: none"
                  *matHeaderCellDef
                  mat-sort-header
                >
                  {{ currentLanguageSet?.bendetails?.district }}
                </th>
                <td
                  mat-cell
                  *matCellDef="let element"
                  (click)="loadNursePatientDetails(element)"
                >
                  {{ element.districtName | titlecase }} /
                  {{ element.villageName | titlecase }}
                </td>
              </ng-container>
              <ng-container matColumnDef="phoneNo">
                <th
                  mat-header-cell
                  style="border-bottom: none"
                  *matHeaderCellDef
                  mat-sort-header
                >
                  {{ currentLanguageSet?.bendetails?.phoneNo }}
                </th>
                <td
                  mat-cell
                  *matCellDef="let element"
                  (click)="loadNursePatientDetails(element)"
                >
                  {{ element.preferredPhoneNum }}
                </td>
              </ng-container>
              <ng-container matColumnDef="image">
                <th
                  mat-header-cell
                  style="border-bottom: none"
                  *matHeaderCellDef
                  mat-sort-header
                >
                  {{ currentLanguageSet?.bendetails?.image }}
                </th>
                <td
                  mat-cell
                  *matCellDef="let element"
                  (click)="patientImageView(element.beneficiaryRegID)"
                  matTooltip="{{ currentLanguageSet?.tc?.image }}"
                >
                  <img
                    src="assets/images/Avatar-Profile_30X30.png "
                    alt="image"
                  />
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
          </div>
          <div
            class="pull-center"
            style="margin-top: 35px; text-align: center"
            [hidden]="dataSource.data.length > 0"
          >
            <strong>{{ currentLanguageSet?.common?.noRecordsFound }}</strong>
          </div>
          <div class="col-12 row">
            <td colspan="3">
              <ul class="description" *ngIf="dataSource.data.length > 0">
                <li>
                  <div class="revisit-marker"></div>
                  <p>{{ currentLanguageSet?.common?.TCPending }}</p>
                </li>
              </ul>
            </td>
            <div class="col-6">
              <mat-paginator
                style="display: unset"
                [hidden]="dataSource.data.length === 0"
                [pageSizeOptions]="[5, 10, 20]"
                [pageSize]="5"
                showFirstLastButtons
                aria-label="Select patient in nurseMMUTMReferredWorklist"
              >
              </mat-paginator>
            </div>
          </div>
        </section>
      </mat-card>
    </div>
  </div>
</div>
