<div class="row m-t-10" [formGroup]="comorbidityConcurrentConditionsForm">
  <div class="col-xs-12" formArrayName="comorbidityConcurrentConditionsList">
    <button
      type="button"
      class="history-label col-12 mat-icon-button mat_icon_blue"
      id="previousANCComorbidityHistory"
      color="primary"
      matTooltip="{{ currentLanguageSet?.DurationData?.previousDetails }}"
      (click)="getPreviousComorbidityHistory()"
      (keydown.enter)="getPreviousComorbidityHistory()"
      (keydown.space)="getPreviousComorbidityHistory()"
    >
      <mat-icon class="md-18 ms-2">history</mat-icon>
      <span class="previousHistory">
        {{
          currentLanguageSet?.historyData?.ancHistory?.combordityANC_OPD_NCD_PNC
            ?.PreviousDetails
        }}
      </span>
    </button>

    <div
      class="col-12 row multi-row-select"
      style="margin: 15px 0px 15px 0px; background-color: #f0f5f5"
      *ngFor="
        let comorbidityConcurrentConditions of getcomorbidityConcurrentConditions();
        let i = index;
        let isLast = last;
        let isOdd = odd
      "
      [ngClass]="{ odd: !isOdd }"
    >
      <ng-container [formGroupName]="i">
        <div
          [class]="
            comorbidityConcurrentConditions.value.comorbidConditions
              ?.comorbidCondition === 'Other'
              ? 'col-2 box'
              : 'col-3 box'
          "
        >
          <mat-form-field [style.width]="'100%'">
            <mat-label class="mat-label-text">{{
              currentLanguageSet?.historyData?.ancHistory
                ?.combordityANC_OPD_NCD_PNC?.comorbidConditions
            }}</mat-label>
            <mat-select
              class="select-full-width"
              formControlName="comorbidConditions"
              name="comorbidConditions"
              (selectionChange)="
                filterComorbidityConcurrentConditionsType(
                  $event.value,
                  i,
                  comorbidityConcurrentConditions
                )
              "
              required="{{ ComorbidStatus }}"
            >
              <mat-option
                *ngFor="let comorbidCondition of comorbiditySelectList[i]"
                [value]="comorbidCondition"
                >{{ comorbidCondition.comorbidCondition }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>

        <div
          class="col-2 box"
          *ngIf="
            comorbidityConcurrentConditions.value.comorbidConditions
              ?.comorbidCondition === 'Other'
          "
        >
          <mat-form-field [style.width]="'100%'">
            <mat-label class="mat-label-text">{{
              currentLanguageSet?.historyData?.opd_NCD_PNCHistory?.obstetric
                ?.others
            }}</mat-label>
            <input
              autocomplete="off"
              matInput
              appDefaultNull
              maxlength="50"
              allowText="alphaspace"
              name="otherComorbidCondition"
              formControlName="otherComorbidCondition"
            />
          </mat-form-field>
        </div>

        <div class="col-2 box">
          <mat-form-field [style.width]="'100%'">
            <mat-label class="mat-label-text">{{
              currentLanguageSet?.DurationData?.duration
            }}</mat-label>
            <input
              autocomplete="off"
              matInput
              appDefaultNull
              maxlength="2"
              allowText="number"
              name="timePeriodAgo"
              formControlName="timePeriodAgo"
              (change)="validateDuration(comorbidityConcurrentConditions)"
            />
          </mat-form-field>
        </div>

        <div class="col-2 box">
          <mat-form-field [style.width]="'100%'">
            <mat-label class="mat-label-text">{{
              currentLanguageSet?.DurationData?.durationUnit
            }}</mat-label>
            <mat-select
              class="select-full-width"
              name="timePeriodUnit"
              formControlName="timePeriodUnit"
              (change)="validateDuration(comorbidityConcurrentConditions)"
            >
              <mat-option value="Days">Day(s)</mat-option>
              <mat-option value="Weeks">Week(s)</mat-option>
              <mat-option value="Months">Month(s)</mat-option>
              <mat-option value="Years">Year(s)</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div
          [class]="
            comorbidityConcurrentConditions.value.comorbidConditions
              ?.comorbidCondition === 'Other'
              ? 'col-xs-12 col-sm-6 col-md-2 box checkStyle'
              : 'col-xs-12 col-sm-6 col-md-2 box checkStyle'
          "
        >
          <mat-checkbox
            class="checkbox"
            checked="checked"
            formControlName="isForHistory"
          >
            {{ currentLanguageSet?.inactiveForFutureVisits }}
          </mat-checkbox>
        </div>
        <div class="col-2 box action-btn-container" style="text-align: end">
          <button
            mat-mini-fab
            color="primary"
            *ngIf="isLast"
            class="mat-add-btn"
            [disabled]="checkValidity(comorbidityConcurrentConditions)"
            id="addComorbidityConcurrentConditions"
            (click)="addComorbidityConcurrentConditions()"
          >
            {{ currentLanguageSet?.common?.add }}
          </button>
          <button
            mat-mini-fab
            color="warn"
            class="mat-remove-btn"
            style="margin-left: 3px"
            id="removeComorbidityConcurrentConditions"
            *ngIf="
              i !== 0 ||
              (i === 0 &&
                (comorbidityConcurrentConditions.touched ||
                  comorbidityConcurrentConditions.dirty))
            "
            (click)="
              removeComorbidityConcurrentConditions(
                i,
                comorbidityConcurrentConditions
              )
            "
          >
            {{ currentLanguageSet?.common?.remove }}
          </button>
        </div>
      </ng-container>
    </div>
  </div>
</div>
