<div class="row m-t-10" [formGroup]="medicationHistoryForm">
  <div class="col-xs-12" formArrayName="medicationHistoryList">
    <button
      type="button"
      class="history-label col-12 mat-icon-button mat_icon_blue"
      id="previousANCMedicationHistory"
      color="primary"
      matTooltip="{{ currentLanguageSet?.DurationData?.previousDetails }}"
      (click)="getPreviousMedicationHistory()"
      (keydown.enter)="getPreviousMedicationHistory()"
      (keydown.space)="getPreviousMedicationHistory()"
    >
      <mat-icon class="md-18 ms-2">history</mat-icon>
      <span class="previousHistory">
        {{
          currentLanguageSet?.historyData?.ancHistory?.medicationANC_OPD_NCD_PNC
            ?.PreviousHistory
        }}
      </span>
    </button>

    <div
      class="row multi-row-select"
      *ngFor="
        let medicationHistory of getMedicationHistory();
        let i = index;
        let isLast = last;
        let isOdd = odd
      "
      [ngClass]="{ odd: !isOdd }"
    >
      <ng-container [formGroupName]="i">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <mat-form-field class="input-full-width">
            <mat-label class="mat-label-text">{{
              currentLanguageSet?.historyData?.ancHistory
                ?.medicationANC_OPD_NCD_PNC?.currentMedication
            }}</mat-label>
            <input
              autocomplete="off"
              matInput
              allowText="inputFieldValidator"
              defaultNull
              maxlength="50"
              formControlName="currentMedication"
              (input)="enableDuration(medicationHistory)"
              name="currentMedication"
            />
          </mat-form-field>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">
          <mat-form-field class="input-full-width">
            <mat-label class="mat-label-text">{{
              currentLanguageSet?.nurseData?.chiefComplaintsDetails?.duration
            }}</mat-label>
            <input
              autocomplete="off"
              matInput
              defaultNull
              allowText="number"
              maxlength="2"
              formControlName="timePeriodAgo"
              name="timePeriodAgo"
              (change)="validateDuration(medicationHistory)"
            />
          </mat-form-field>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">
          <mat-form-field [style.width]="'100%'">
            <mat-label class="mat-label-text">{{
              currentLanguageSet?.DurationData?.durationUnit
            }}</mat-label>
            <mat-select
              class="select-full-width"
              formControlName="timePeriodUnit"
              name="timePeriodAgoUnit"
              (selectionChange)="validateDuration(medicationHistory)"
            >
              <mat-option value="Days">Day(s)</mat-option>
              <mat-option value="Weeks">Week(s)</mat-option>
              <mat-option value="Months">Month(s)</mat-option>
              <mat-option value="Years">Year(s)</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-sm-2 col-md-2 box action-btn-container pull-right">
          <button
            mat-mini-fab
            color="warn"
            class="mat_warn_circle"
            style="margin-right: 5px"
            *ngIf="
              i !== 0 ||
              (i === 0 &&
                (medicationHistory.touched || medicationHistory.dirty))
            "
            (click)="removeMedicationHistory(i, medicationHistory)"
          >
            <mat-icon class="md-18">close</mat-icon>
          </button>
          <button
            mat-mini-fab
            color="primary"
            class="mat_blue_circle"
            *ngIf="isLast"
            [disabled]="checkValidity(medicationHistory)"
            (click)="addMedicationHistory()"
          >
            <mat-icon class="md-18">add</mat-icon>
          </button>
        </div>
      </ng-container>
    </div>
  </div>
</div>
