<div class="container-fluid" *ngIf="technicianForm">
  <mat-sidenav-container class="example-sidenav-fab-container">
    <mat-sidenav #sidenav mode="side" opened="true">
      <div class="example-scrolling-content sidenav">
        <app-beneficiary-details></app-beneficiary-details>
      </div>
    </mat-sidenav>
    <div class="example-scrolling-content">
      <form [formGroup]="technicianForm">
        <mat-tab-group>
          <mat-tab
            label="{{
              currentLanguageSet?.labTechnicianData?.laboratoryinformation
            }}"
            *ngIf="labForm"
            style="overflow: hidden"
          >
            <section
              formArrayName="labForm"
              class="container-fluid"
              style="min-height: 400px; overflow: hidden"
            >
              <mat-accordion>
                <div *ngIf="labTechnicianData()">
                  <section
                    class="row"
                    *ngFor="
                      let procedure of labTechnicianData();
                      let i = index;
                      let isLast = last
                    "
                  >
                    <ng-container [formGroupName]="i">
                      <mat-expansion-panel [expanded]="i === 0" #panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title
                            [ngStyle]="{
                              color: panel.expanded ? '#ffffff' : '#000000'
                            }"
                          >
                            {{ procedure.value.procedureName }}&nbsp;
                          </mat-panel-title>
                          <mat-panel-description> </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div
                          formArrayName="compListDetails"
                          class="container-fluid"
                        >
                          <div class="row">
                            <div
                              class="col-sm-4 col-md-4 cl-lg-4"
                              *ngFor="
                                let component of procedure?.controls
                                  .compListDetails?.controls;
                                let j = index;
                                let innerLast = last
                              "
                            >
                              <ng-container [formGroupName]="j">
                                <mat-card style="margin-top: 10px; padding: 0">
                                  <mat-card-title
                                    style="padding: 24px"
                                    class="overlay"
                                  >
                                    {{ component.value.testComponentName }}
                                  </mat-card-title>
                                  <mat-checkbox
                                    color="accent"
                                    formControlName="stripsNotavailable"
                                    name="altNum"
                                    style="padding-left: 4%"
                                    (change)="onStripsCheckBox($event, i, j)"
                                    *ngIf="
                                      procedure.value.procedureName === testName
                                    "
                                  >
                                    {{
                                      currentLanguageSet?.coreComponents
                                        ?.stripsNotAvailable
                                    }}
                                  </mat-checkbox>
                                  <button
                                    matTooltip="{{
                                      currentLanguageSet?.common?.startTest
                                    }}"
                                    mat-button
                                    type="button"
                                    class="btn btn-primary button-style"
                                    *ngIf="
                                      procedure?.value?.procedureStartAPI !==
                                      undefined
                                    "
                                    (click)="
                                      openIOTModal(procedure, i);
                                      $event.stopPropagation()
                                    "
                                  >
                                    {{
                                      currentLanguageSet?.coreComponents?.start
                                    }}
                                  </button>
                                  <mat-panel-description>
                                  </mat-panel-description>
                                  <mat-card-content
                                    style="padding: 0 24px 24px 24px"
                                  >
                                    <section
                                      class="container-fluid"
                                      #textboxChoice
                                      *ngIf="
                                        component.value.inputType === 'TextBox'
                                      "
                                    >
                                      <div
                                        style="text-align: center"
                                        class="row"
                                      >
                                        <mat-form-field
                                          style="
                                            width: 70%;
                                            padding-bottom: 10%;
                                            margin-bottom: 10%;
                                            margin-top: 5%;
                                          "
                                          [ngClass]="{
                                            'mat-input-invalid':
                                              component.value.abnormal,
                                            'mat-form-field-invalid':
                                              component.value.abnormal,
                                            'ng-invalid':
                                              component.value.abnormal,
                                            'ng-valid':
                                              !component.value.abnormal,
                                            'mat-input-valid':
                                              !component.value.abnormal,
                                            'mat-form-field-valid':
                                              !component.value.abnormal
                                          }"
                                        >
                                          <mat-label>
                                            {{
                                              currentLanguageSet?.common?.result
                                            }}
                                          </mat-label>
                                          <input
                                            autocomplete="off"
                                            matInput
                                            formControlName="inputValue"
                                            [allowText]="
                                              component.value.allowText
                                            "
                                            maxLength="50"
                                            (input)="checkNormalRange(i, j)"
                                            (blur)="checkRange(i, j)"
                                            [required]="
                                              procedure.value.isMandatory ===
                                                true &&
                                              procedure.value.procedureName ===
                                                testName &&
                                              stripSelected === true
                                                ? true
                                                : false ||
                                                    (procedure.value
                                                      .procedureName !==
                                                      testName &&
                                                      procedure.value
                                                        .isMandatory === true)
                                                  ? true
                                                  : false
                                            "
                                          />

                                          <mat-hint>
                                            <span
                                              style="
                                                position: absolute;
                                                margin-top: -20px;
                                                font-weight: 700;
                                                right: -25px;
                                              "
                                              >{{
                                                component.value.measurementUnit
                                              }}
                                            </span>
                                            <span
                                              style="
                                                position: absolute;
                                                margin-top: 2px;
                                                width: 100%;
                                                right: 00px;
                                              "
                                            >
                                              {{
                                                currentLanguageSet
                                                  ?.coreComponents?.range
                                              }}
                                              {{ component.value.range_min }}
                                              {{
                                                currentLanguageSet
                                                  ?.coreComponents?.to
                                              }}
                                              {{ component.value.range_max }}
                                            </span>
                                          </mat-hint>
                                        </mat-form-field>
                                      </div>
                                    </section>
                                    <section
                                      #radioChoice
                                      *ngIf="
                                        component.value.inputType ===
                                        'RadioButton'
                                      "
                                    >
                                      <div style="padding-bottom: 10%">
                                        <span
                                          *ngIf="
                                            procedure.value.isMandatory ===
                                              true &&
                                            procedure.value.procedureName ===
                                              testName &&
                                            stripSelected === true
                                              ? true
                                              : false ||
                                                  (procedure.value
                                                    .procedureName !==
                                                    testName &&
                                                    procedure.value
                                                      .isMandatory === true)
                                                ? true
                                                : false
                                          "
                                          ><p style="font-size: 12px">
                                            {{
                                              currentLanguageSet?.coreComponents
                                                ?.mandatory
                                            }}*
                                          </p></span
                                        >
                                        <mat-radio-group
                                          formControlName="compOptSelected"
                                          disableRipple="true"
                                          [required]="
                                            procedure.value.isMandatory ===
                                              true &&
                                            procedure.value.procedureName ===
                                              testName &&
                                            stripSelected === true
                                              ? true
                                              : false ||
                                                  (procedure.value
                                                    .procedureName !==
                                                    testName &&
                                                    procedure.value
                                                      .isMandatory === true)
                                                ? true
                                                : false
                                          "
                                        >
                                          <mat-radio-button
                                            color="primary"
                                            *ngFor="
                                              let radio of component?.controls
                                                .compOpt?.controls
                                            "
                                            class="radio-button"
                                            [value]="radio.value.name"
                                          >
                                            {{ radio.value.name }}
                                          </mat-radio-button>
                                        </mat-radio-group>
                                      </div>
                                    </section>
                                    <section
                                      #dropdownChoice
                                      *ngIf="
                                        component.value.inputType === 'DropDown'
                                      "
                                    >
                                      <div>
                                        <mat-form-field>
                                          <mat-label>{{
                                            currentLanguageSet?.common?.result
                                          }}</mat-label>
                                          <mat-select
                                            [style.width]="'100%'"
                                            formControlName="compOptSelected"
                                            [required]="
                                              procedure.value.isMandatory ===
                                                true &&
                                              procedure.value.procedureName ===
                                                testName &&
                                              stripSelected === true
                                                ? true
                                                : false ||
                                                    (procedure.value
                                                      .procedureName !==
                                                      testName &&
                                                      procedure.value
                                                        .isMandatory === true)
                                                  ? true
                                                  : false
                                            "
                                          >
                                            <mat-option
                                              *ngFor="
                                                let options of component
                                                  ?.controls.compOpt?.controls
                                              "
                                              [value]="options.value.name"
                                              >{{ options.value.name }}
                                            </mat-option>
                                          </mat-select>
                                        </mat-form-field>
                                      </div>
                                    </section>
                                    <div
                                      style="
                                        bottom: -17px;
                                        position: absolute;
                                        width: 90%;
                                        text-align: center;
                                      "
                                      class="row"
                                    >
                                      <mat-form-field [style.width]="'95%'">
                                        <input
                                          autocomplete="off"
                                          matInput
                                          formControlName="remarks"
                                          allowText="alphanumericspace"
                                          maxLength="300"
                                          placeholder="{{
                                            currentLanguageSet?.common?.remarks
                                          }}"
                                        />
                                      </mat-form-field>
                                    </div>
                                  </mat-card-content>
                                </mat-card>
                              </ng-container>
                            </div>
                          </div>
                        </div>
                      </mat-expansion-panel>
                    </ng-container>
                  </section>
                </div>
              </mat-accordion>
            </section>
          </mat-tab>
          <mat-tab
            label="{{
              currentLanguageSet?.labTechnicianData?.radiologyimaging
            }} "
            *ngIf="radiologyForm"
          >
            <section
              formArrayName="radiologyForm"
              class="container-fluid"
              style="min-height: 400px"
            >
              <section class="row" style="margin: 20px">
                <div
                  style="min-width: 55%"
                  class="col-md-6 col-lg-7"
                  style="margin-top: 10px"
                  *ngFor="
                    let procedure of radiologyForm?.controls;
                    let m = index;
                    let isLast = last
                  "
                >
                  <ng-container [formGroupName]="m">
                    <mat-card class="radio_newCard" style="height: 280px">
                      <section class="overlay shade_full">
                        <mat-card-title class="radio_proc_title"
                          >{{ procedure?.value.procedureName | titlecase }}
                        </mat-card-title>
                      </section>
                      <mat-card-content class="shade_full">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                          <label
                            for="upload-file"
                            style="color: gray; margin-left: -25px"
                          >
                            {{ currentLanguageSet?.uploadFileSizeLimit }} :{{
                              maxFileSize
                            }}
                            {{ currentLanguageSet?.mb }} ,
                            {{
                              currentLanguageSet?.SupportedFileFormats
                            }})</label
                          >
                        </div>
                        <section>
                          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <button
                              mat-raised-button
                              color="primary"
                              class="pull-left"
                              (click)="filelist.click()"
                            >
                              {{
                                currentLanguageSet?.nurseData?.visitDetailsForm
                                  ?.selectFile
                              }}
                            </button>
                            <span class="span-style">
                              <input
                                autocomplete="off"
                                type="file"
                                #filelist
                                style="display: inline-block"
                                (change)="
                                  uploadFile(
                                    $event,
                                    procedure?.value.procedureID
                                  )
                                "
                              />
                            </span>
                            <button
                              mat-raised-button
                              color="primary"
                              class="filemargin-style pull-right"
                              *ngIf="
                                fileObj &&
                                (fileObj | json) !== '{}' &&
                                fileObj[procedure?.value.procedureID]
                              "
                              (click)="
                                openToViewFile(procedure?.value.procedureID)
                              "
                            >
                              {{
                                currentLanguageSet?.nurseData?.visitDetailsForm
                                  ?.viewFiles
                              }}
                            </button>
                          </div>
                          <div
                            class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-style"
                          >
                            <button
                              mat-raised-button
                              color="primary"
                              class="pull-right"
                              (click)="
                                saveUploadDetails(procedure?.value.procedureID)
                              "
                            >
                              {{
                                currentLanguageSet?.nurseData?.visitDetailsForm
                                  ?.uploadFiles
                              }}
                            </button>
                          </div>
                        </section>
                        <div
                          style="
                            bottom: 10px;
                            position: absolute;
                            width: 90%;
                            margin: 5px;
                            text-align: center;
                          "
                          class="row"
                        >
                          <mat-form-field [style.width]="'95%'">
                            <input
                              autocomplete="off"
                              matInput
                              [formControl]="
                                procedure.value.compDetails.remarks
                              "
                              allowText="alphanumericspace"
                              maxLength="300"
                              placeholder="{{
                                currentLanguageSet?.common?.remarks
                              }}"
                            />
                          </mat-form-field>
                        </div>
                      </mat-card-content>
                    </mat-card>
                  </ng-container>
                </div>
              </section>
            </section>
          </mat-tab>
          <mat-tab label="External Investigations " *ngIf="externalForm">
            <form [formGroup]="externalForm">
              <section style="min-height: 400px">
                <div class="container">
                  <div class="row">
                    <mat-card>
                      <mat-card-title>
                        {{
                          currentLanguageSet?.coreComponents
                            ?.belowExternalTestRequired
                        }}
                      </mat-card-title>
                      <mat-card-subtitle>
                        {{ externalForm.value.tests }}
                      </mat-card-subtitle>
                    </mat-card>
                  </div>
                </div>
              </section>
            </form>
          </mat-tab>
          <mat-tab
            label="{{ currentLanguageSet?.labTechnicianData?.labResults }}"
            *ngIf="archiveList && archiveList.length"
          >
            <section style="min-height: 400px">
              <mat-card style="min-height: 400px">
                <div *ngIf="filteredLaboratoryData.length > 0">
                  <mat-form-field
                    id="filterbox"
                    class="m-t-20"
                    style="width: 100%"
                  >
                    <input
                      autocomplete="off"
                      matInput
                      placeholder="{{
                        currentLanguageSet?.labTechnicianData?.inTableSearch
                      }}"
                      #filterTerm
                      (keyup)="filterProceduresLab(filterTerm.value)"
                    />
                    <mat-icon matSuffix>search</mat-icon>
                  </mat-form-field>
                </div>
                <div class="clearfix"></div>
                <section class="table-responsive">
                  <mat-table [dataSource]="laboratoryData">
                    <ng-container matColumnDef="date">
                      <mat-header-cell *matHeaderCellDef>{{
                        currentLanguageSet?.common?.date
                      }}</mat-header-cell>
                      <mat-cell *matCellDef="let row">{{
                        row.createdDate | date: "dd/MM/yyyy, h:mm a"
                      }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="testName">
                      <mat-header-cell *matHeaderCellDef>{{
                        currentLanguageSet?.labTechnicianData.testName
                      }}</mat-header-cell>
                      <mat-cell *matCellDef="let row">{{
                        row.procedureName
                      }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="componentName">
                      <mat-header-cell *matHeaderCellDef>{{
                        currentLanguageSet?.labTechnicianData.componentName
                      }}</mat-header-cell>
                      <mat-cell *matCellDef="let row">{{
                        row.componentList[0]?.componentName
                      }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="result">
                      <mat-header-cell *matHeaderCellDef>{{
                        currentLanguageSet?.common?.result
                      }}</mat-header-cell>
                      <mat-cell *matCellDef="let row">{{
                        row.componentList[0]?.testResultValue
                      }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="measurementUnit">
                      <mat-header-cell *matHeaderCellDef>{{
                        currentLanguageSet?.labTechnicianData.measurementUnit
                      }}</mat-header-cell>
                      <mat-cell *matCellDef="let row">{{
                        row.componentList[0]?.testResultUnit
                      }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="remarks">
                      <mat-header-cell *matHeaderCellDef>{{
                        currentLanguageSet?.common?.remarks
                      }}</mat-header-cell>
                      <mat-cell *matCellDef="let row">{{
                        row.componentList[0]?.remarks
                      }}</mat-cell>
                    </ng-container>

                    <mat-header-row
                      *matHeaderRowDef="[
                        'date',
                        'testName',
                        'componentName',
                        'result',
                        'measurementUnit',
                        'remarks'
                      ]"
                    ></mat-header-row>
                    <mat-row
                      *matRowDef="
                        let row;
                        columns: [
                          'date',
                          'testName',
                          'componentName',
                          'result',
                          'measurementUnit',
                          'remarks'
                        ]
                      "
                    ></mat-row>
                  </mat-table>
                  <div *ngIf="laboratoryData?.length === 0">
                    <h3>
                      {{ currentLanguageSet?.Reports?.notestresultsfound }}
                    </h3>
                  </div>
                  <div *ngIf="laboratoryData?.length > 0" class="totalCount">
                    {{ currentLanguageSet?.common?.totalCount }} :
                    {{ laboratoryData?.length }}
                  </div>
                  <mat-paginator
                    [hidden]="laboratoryData?.length > 0"
                    [pageSize]="5"
                    showFirstLastButtons
                  ></mat-paginator>
                </section>
              </mat-card>
            </section>
          </mat-tab>
          <mat-tab
            label="{{
              currentLanguageSet?.labTechnicianData?.radiologyResults
            }}"
            *ngIf="archiveList && archiveList.length"
          >
            <section style="min-height: 400px">
              <mat-card style="min-height: 400px">
                <div *ngIf="filteredRadiologyData.length > 0">
                  <mat-form-field
                    id="filterbox"
                    class="m-t-20"
                    style="width: 100%"
                  >
                    <input
                      autocomplete="off"
                      matInput
                      placeholder="{{
                        currentLanguageSet?.labTechnicianData?.inTableSearch
                      }}"
                      #filterTerm
                      (keyup)="filterProceduresRadiology(filterTerm.value)"
                    />
                    <mat-icon matSuffix>search</mat-icon>
                  </mat-form-field>
                </div>
                <div class="clearfix"></div>
                <section class="table-responsive">
                  <mat-table [dataSource]="radiologyFile">
                    <ng-container matColumnDef="date1">
                      <mat-header-cell *matHeaderCellDef>{{
                        currentLanguageSet?.common?.date
                      }}</mat-header-cell>
                      <mat-cell *matCellDef="let row">{{
                        row.createdDate | date: "dd/MM/yyyy, h:mm a"
                      }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="testName1">
                      <mat-header-cell *matHeaderCellDef>{{
                        currentLanguageSet?.labTechnicianData.testName
                      }}</mat-header-cell>
                      <mat-cell *matCellDef="let row">{{
                        row.procedureName
                      }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="componentName1">
                      <mat-header-cell *matHeaderCellDef>{{
                        currentLanguageSet?.labTechnicianData.componentName
                      }}</mat-header-cell>
                      <mat-cell *matCellDef="let row">{{
                        row.componentList[0]?.componentName
                      }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="result1">
                      <mat-header-cell *matHeaderCellDef>{{
                        currentLanguageSet?.common?.result
                      }}</mat-header-cell>
                      <mat-cell *matCellDef="let row">{{
                        row.componentList[0]?.remarks
                      }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="measurementUnit1">
                      <mat-header-cell *matHeaderCellDef>{{
                        currentLanguageSet?.labTechnicianData.measurementUnit
                      }}</mat-header-cell>
                      <mat-cell *matCellDef="let row"></mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="remarks1">
                      <mat-header-cell *matHeaderCellDef>{{
                        currentLanguageSet?.common?.remarks
                      }}</mat-header-cell>
                      <mat-cell *matCellDef="let row"></mat-cell>
                    </ng-container>

                    <mat-header-row
                      *matHeaderRowDef="[
                        'date1',
                        'testName1',
                        'componentName1',
                        'result1',
                        'measurementUnit1',
                        'remarks1'
                      ]"
                    ></mat-header-row>
                    <mat-row
                      *matRowDef="
                        let row;
                        columns: [
                          'date1',
                          'testName1',
                          'componentName1',
                          'result1',
                          'measurementUnit1',
                          'remarks1'
                        ]
                      "
                    ></mat-row>
                  </mat-table>

                  <div *ngIf="radiologyFile?.length === 0">
                    <h3>
                      {{ currentLanguageSet?.Reports?.noradiologyreportsfound }}
                    </h3>
                  </div>
                  <div *ngIf="radiologyFile?.length > 0" class="totalCount">
                    {{ currentLanguageSet?.common?.totalCount }} :
                    {{ radiologyFile?.length }}
                  </div>
                  <mat-paginator
                    [hidden]="radiologyFile?.length > 0"
                    [pageSize]="5"
                    showFirstLastButtons
                  ></mat-paginator>
                </section>
              </mat-card>
            </section>
          </mat-tab>
        </mat-tab-group>
        <div class="row m-t-20" style="margin-bottom: 30px; margin-top: 50px">
          <div class="col-sm-12 step-btn" style="text-align: right; bottom: 0">
            <button
              mat-raised-button
              id="submitButton"
              class="btn btn-primary button-submit-disabled"
              color="primary"
              (click)="validateSubmit(true)"
              type="submit"
              [disabled]="technicianForm.invalid"
              style="border-radius: 30px; width: 80px"
            >
              {{ currentLanguageSet?.common?.submit }}
            </button>
            <button
              id="resetButton"
              class="btn btn-primary button-reset-disabled"
              [disabled]="!technicianForm.dirty"
              mat-raised-button
              color="primary"
              type="submit"
              (click)="confirmFormReset()"
              style="border-radius: 30px; width: 80px"
            >
              {{ currentLanguageSet?.common?.reset }}
            </button>
          </div>
        </div>
      </form>
    </div>
  </mat-sidenav-container>

  <button
    mat-mini-fab
    class="btn btn-primary example-fab"
    color="primary"
    (click)="sideNavModeChange(sidenav)"
  >
    <mat-icon>account_box</mat-icon>
  </button>
</div>
