<footer class="footer container-fluid">
  <div class="row">
    <div class="col-4 text-left">
      <span
        class="footer-text"
        *ngIf="currentLanguageSet === null || currentLanguageSet === undefined"
        >Powered by: WIPRO</span
      >
      <span
        class="footer-text"
        *ngIf="currentLanguageSet !== null && currentLanguageSet !== undefined"
        >{{ currentLanguageSet?.coreComponents?.poweredByWipro }}</span
      >
    </div>
    <div class="col-4 text-center">
      <p
        class="footer-text"
        *ngIf="currentLanguageSet === null || currentLanguageSet === undefined"
      >
        {{ year }} © PSMRI {{ version }}
      </p>
      <p
        class="footer-text"
        *ngIf="currentLanguageSet !== null && currentLanguageSet !== undefined"
      >
        {{ year }} © {{ currentLanguageSet?.coreComponents?.pSMRI }}
        {{ version }}
      </p>
    </div>
    <div class="col-4 text-end">
      <p class="footer-text">
        <span
          class="footer-text"
          *ngIf="
            currentLanguageSet === null || currentLanguageSet === undefined
          "
          >{{ status ? "Online" : "Offline" }}</span
        >
        <span
          [style.background]="status ? 'green' : 'red'"
          style="
            display: inline-block;
            height: 10px;
            width: 10px;
            border-radius: 50%;
          "
          *ngIf="
            currentLanguageSet !== null && currentLanguageSet !== undefined
          "
        ></span>
        {{
          status
            ? currentLanguageSet?.coreComponents?.online
            : currentLanguageSet?.coreComponents?.offline
        }}&nbsp;
      </p>
    </div>
  </div>
</footer>
