<div class="title" color="primary">
  <h4>{{ currentLanguageSet?.benPreviousVisitDetails }}</h4>
  <button
    class="mat_icon_white pull-right exit"
    [matDialogClose]="false"
    mat-icon-button
  >
    <mat-icon class="md-24">close</mat-icon>
  </button>
</div>

<div class="container-fluid">
  <mat-dialog-content>
    <div class="">
      <table
        class="table table-bordered table-responsive"
        aria-describedby="visitDetailsForm"
      >
        <thead>
          <tr>
            <th style="width: 5%" id="visitno">
              {{ currentLanguageSet?.previousvisit?.visitnommu }}
            </th>
            <th style="width: 5%" id="date">
              {{ currentLanguageSet?.casesheet?.date }}
            </th>
            <th style="width: 5%" id="visitcategory">
              {{ currentLanguageSet?.previousvisit?.visitcategorymmu }}
            </th>
            <th style="width: 15%" id="vitalDetails">Vital Details</th>
            <th style="width: 20%" id="diagnosis">Diagnosis</th>
            <th style="width: 30%" id="investigations">Investigations</th>
            <th style="width: 30%" id="presciption">prescription</th>
          </tr>
        </thead>
        <tbody *ngIf="previousVisitData?.length === 0">
          <tr>
            <td colspan="8">
              <h4 class="norecord" style="text-align: center">
                {{ currentLanguageSet?.common?.noVisitFound }}
              </h4>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="previousVisitData?.length > 0">
          <ng-container
            *ngFor="let visit of previousHistoryPagedList; let i = index"
          >
            <tr>
              <td
                style="
                  width: 300px;
                  max-width: 120px;
                  word-break: normal;
                  vertical-align: middle;
                "
              >
                {{ visit?.benVisitNo }}
              </td>
              <td
                style="
                  width: 300px;
                  max-width: 120px;
                  word-break: normal;
                  vertical-align: middle;
                "
              >
                {{ visit?.benVisitDate | date: "dd/MM/yyyy" }}
              </td>
              <td
                style="width: 150px; word-break: normal; vertical-align: middle"
              >
                {{ visit?.VisitCategory }}
              </td>
              <td
                style="width: 110px; word-break: normal; vertical-align: middle"
              >
                <ng-container *ngIf="visit.benPreviousData">
                  <tr>
                    <ng-container *ngIf="visit.benPreviousData.nurseData">
                      <td>
                        <ng-container
                          *ngIf="
                            visit.benPreviousData.nurseData.vitals
                              .benAnthropometryDetail
                          "
                        >
                          <tr
                            *ngIf="
                              visit.benPreviousData?.nurseData?.vitals
                                ?.benAnthropometryDetail?.height_cm
                            "
                          >
                            <th id="height">Height :</th>
                            <td>
                              {{
                                visit.benPreviousData?.nurseData?.vitals
                                  ?.benAnthropometryDetail?.height_cm
                              }}
                            </td>
                          </tr>
                          <tr
                            *ngIf="
                              visit.benPreviousData?.nurseData?.vitals
                                ?.benAnthropometryDetail?.weight_Kg
                            "
                          >
                            <th id="weight">Weight :</th>
                            <td>
                              {{
                                visit.benPreviousData?.nurseData?.vitals
                                  ?.benAnthropometryDetail?.weight_Kg
                              }}
                            </td>
                          </tr>
                          <tr
                            *ngIf="
                              visit.benPreviousData?.nurseData?.vitals
                                ?.benAnthropometryDetail?.bMI
                            "
                          >
                            <th id="bmi">BMI :</th>
                            <td>
                              {{
                                visit.benPreviousData?.nurseData?.vitals
                                  ?.benAnthropometryDetail?.bMI
                              }}
                            </td>
                          </tr>
                          <tr
                            *ngIf="
                              visit.benPreviousData?.nurseData?.vitals
                                ?.benPhysicalVitalDetail?.temperature
                            "
                          >
                            <th id="temperature">Temperature (F) :</th>
                            <td>
                              {{
                                visit.benPreviousData?.nurseData?.vitals
                                  ?.benPhysicalVitalDetail?.temperature
                              }}
                            </td>
                          </tr>
                          <tr
                            *ngIf="
                              visit.benPreviousData?.nurseData?.vitals
                                ?.benPhysicalVitalDetail?.pulseRate
                            "
                          >
                            <th id="pulseRate">Pulse Rate (bpm) :</th>
                            <td>
                              {{
                                visit.benPreviousData?.nurseData?.vitals
                                  ?.benPhysicalVitalDetail?.pulseRate
                              }}
                            </td>
                          </tr>
                        </ng-container>
                      </td>
                    </ng-container>
                  </tr>
                </ng-container>
              </td>
              <td
                style="width: 110px; word-break: normal; vertical-align: middle"
              >
                <ng-container *ngIf="visit.benPreviousData">
                  <tr>
                    <ng-container *ngIf="visit.benPreviousData.doctorData">
                      <td>
                        <ng-container
                          *ngIf="visit.benPreviousData.doctorData.diagnosis"
                        >
                          <tr>
                            <th id="diagnosisProvided">Diagnosis Provided :</th>
                            <td>
                              {{
                                visit.benPreviousData?.doctorData?.diagnosis
                                  ?.diagnosisProvided || "NA"
                              }}
                            </td>
                          </tr>
                          <tr>
                            <th id="provisionalDiagnosisList">
                              Provisional Diagnosis List :
                            </th>
                            <td>
                              <ng-container
                                *ngIf="
                                  visit.benPreviousData?.doctorData?.diagnosis
                                    ?.provisionalDiagnosisList
                                "
                              >
                                <ng-container
                                  *ngFor="
                                    let provisionalDiagnosis of visit
                                      .benPreviousData?.doctorData?.diagnosis
                                      ?.provisionalDiagnosisList
                                  "
                                >
                                  <ng-container
                                    *ngIf="provisionalDiagnosis.term !== ''"
                                  >
                                    {{ provisionalDiagnosis.term }},
                                  </ng-container>
                                </ng-container>
                                <ng-container
                                  *ngIf="
                                    visit.benPreviousData?.doctorData?.diagnosis
                                      ?.provisionalDiagnosisList.length === 0
                                  "
                                >
                                  NA
                                </ng-container>
                              </ng-container>
                            </td>
                          </tr>
                        </ng-container>
                      </td>
                    </ng-container>
                  </tr>
                </ng-container>
              </td>
              <td
                *ngIf="visit.benPreviousData"
                style="width: 110px; word-break: normal; vertical-align: middle"
              >
                <ng-container *ngIf="visit.benPreviousData.doctorData">
                  <tr>
                    <ng-container
                      *ngIf="visit.benPreviousData.doctorData.LabReport"
                    >
                      <td>
                        <ng-container
                          *ngFor="
                            let investigation of visit.benPreviousData
                              .doctorData.LabReport
                          "
                        >
                          <tr>
                            <strong
                              >{{ investigation?.procedureName }} :
                            </strong>
                            <ng-container
                              *ngFor="
                                let component of investigation.componentList
                              "
                            >
                              <ul>
                                <li>
                                  Component Name :
                                  {{ component?.componentName || "-" }}, Test
                                  Result :
                                  {{ component?.testResultValue || "-" }}
                                  {{ component.testResultUnit }}
                                </li>
                              </ul>
                            </ng-container>
                          </tr>
                        </ng-container>
                      </td>
                    </ng-container>
                  </tr>
                </ng-container>
              </td>
              <td
                style="width: 110px; word-break: normal; vertical-align: middle"
              >
                <ng-container *ngIf="visit.benPreviousData">
                  <tr>
                    <ng-container *ngIf="visit.benPreviousData.doctorData">
                      <td>
                        <ng-container
                          *ngFor="
                            let presciption of visit.benPreviousData?.doctorData
                              ?.prescription
                          "
                        >
                          <tr>
                            <strong
                              >{{ presciption.drugName }}
                              {{ presciption.drugStrength }} :
                            </strong>
                            <ng-container>
                              <ul>
                                <li>Dose : {{ presciption.dose || "-" }}</li>
                                <li>
                                  Frequency : {{ presciption.frequency || "-" }}
                                </li>
                                <li>
                                  Duration : {{ presciption.duration || "-" }} -
                                  {{ presciption.unit || "-" }}
                                </li>
                              </ul>
                            </ng-container>
                          </tr></ng-container
                        >
                      </td>
                    </ng-container>
                  </tr>
                </ng-container>
              </td>
            </tr>
          </ng-container>
        </tbody>
        <tfoot>
          <tr *ngIf="previousHistoryPagedList?.length > 0">
            <td colspan="2">
              <div class="totalCount">
                {{ currentLanguageSet?.common?.totalCount }} :
                {{ previousHistoryPagedList.length }}
              </div>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </mat-dialog-content>
</div>
