<div class="row m-t-20" [formGroup]="patientCovidForm">
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
    <mat-form-field [style.width]="'100%'">
      <mat-label class="mat-label-text">{{
        currentLanguageSet?.ExaminationData?.cancerScreeningExamination
          ?.symptoms?.symptoms
      }}</mat-label>
      <mat-select
        multiple
        (selectionChange)="symptomSelected()"
        id="symptom"
        name="symptom"
        formControlName="symptom"
        required="true"
      >
        <mat-option *ngFor="let symp of symptomsList" [value]="symp">
          {{ symp }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
