<div class="row m-t-20" [formGroup]="patientCovidForm">
  <div class="col-xs-12 col-sm-8 col-md-6 col-lg-5 box" *ngIf="!sympFlag">
    <mat-label class="mat-label-text">{{
      currentLanguageSet?.ExaminationData?.cancerScreeningExamination?.symptoms
        ?.symptoms
    }}</mat-label>
    <mat-select
      [style.width]="'100%'"
      multiple
      (selectionChange)="symptomSelected()"
      id="symptom"
      name="symptom"
      formControlName="symptom"
      required="true"
    >
      <mat-option *ngFor="let symp of symptomsList" [value]="symp">
        {{ symp }}
      </mat-option>
    </mat-select>
  </div>

  <div class="col-xs-12 col-sm-8 col-md-6 col-lg-5 box" *ngIf="sympFlag">
    <mat-form-field class="input-full-width">
      <mat-label class="mat-label-text">{{
        currentLanguageSet?.ExaminationData?.cancerScreeningExamination
          ?.symptoms?.symptoms
      }}</mat-label>
      <input autocomplete="off" matInput value="{{ covidSymptoms }}" disabled />
    </mat-form-field>
  </div>
</div>
