<section id="searchDialog" class="container-fluid" style="overflow: hidden">
  <div class="title info">
    <h4>{{ currentLanguageSet?.common?.advanceBeneficiarySearch }}</h4>
    <mat-icon
      class="pull-right md-24"
      style="cursor: pointer"
      (click)="matDialogRef.close(false)"
      mat-icon-button
      >close</mat-icon
    >
  </div>

  <mat-dialog-content style="overflow: hidden">
    <form [formGroup]="newSearchForm">
      <section class="row m-t-10">
        <div class="col-xs-12 col-sm-6 box">
          <mat-form-field [style.width]="'100%'">
            <mat-label class="mat-label-text">
              {{ currentLanguageSet?.ro?.personalInfo?.firstName }}
            </mat-label>
            <input
              autocomplete="off"
              matInput
              allowText="alphabet"
              required="true"
              name="firstName"
              formControlName="firstName"
              minlength="2"
              maxlength="50"
            />
            <mat-error
              *ngIf="newSearchForm.controls['firstName'].errors?.['required']"
              >{{ currentLanguageSet?.common?.firstNameisrequired }}</mat-error
            >
            <mat-error
              *ngIf="newSearchForm.controls['firstName'].errors?.['minlength']"
              >{{
                currentLanguageSet?.common?.pleaseprovideatleast2character
              }}</mat-error
            >
          </mat-form-field>
        </div>
        <div class="col-xs-12 col-sm-6 box">
          <mat-form-field myName [style.width]="'100%'">
            <mat-label class="mat-label-text">
              {{ currentLanguageSet?.ro?.personalInfo?.lastName }}
            </mat-label>
            <input
              autocomplete="off"
              matInput
              allowText="alphaspace"
              name="lastName"
              formControlName="lastName"
              minlength="1"
              maxlength="50"
            />
          </mat-form-field>
        </div>
        <div class="col-xs-12 col-sm-6 box">
          <mat-form-field [style.width]="'100%'">
            <mat-label class="mat-label-text">
              {{ currentLanguageSet?.ro?.otherInfo?.fatherName }}
            </mat-label>
            <input
              autocomplete="off"
              matInput
              allowText="alphabet"
              name="fatherName"
              formControlName="fatherName"
              minlength="2"
              maxlength="50"
            />
            <mat-error
              *ngIf="newSearchForm.controls['fatherName'].errors?.['minlength']"
              >{{
                currentLanguageSet?.common?.pleaseprovideatleast2character
              }}</mat-error
            >
          </mat-form-field>
        </div>
        <div class="col-xs-12 col-sm-6 box">
          <div class="select-container">
            <mat-form-field [style.width]="'100%'">
              <mat-label class="mat-label-text">
                {{ currentLanguageSet?.ro?.personalInfo?.gender }}
              </mat-label>
              <mat-select
                (selectionChange)="selectGender()"
                required
                [style.width]="'100%'"
                name="gender"
                formControlName="gender"
              >
                <mat-option
                  *ngFor="let gender of masterData?.genderMaster"
                  [value]="gender.genderID"
                  >{{ gender.genderName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 box">
          <mat-form-field class="input-full-width">
            <mat-label class="mat-label-text">
              {{ currentLanguageSet?.dateOfBirth }}
            </mat-label>
            <input
              matInput
              [max]="maxDate"
              [matDatepicker]="picker"
              formControlName="dob"
            />
            <mat-datepicker-toggle
              matPrefix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker [style.width]="'100%'" #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </section>
      <section class="row grayborder">
        <div class="col-xs-12 col-sm-6 box">
          <div class="select-container">
            <mat-form-field [style.width]="'100%'">
              <mat-label class="mat-label-text">
                {{ currentLanguageSet?.ro?.locInfo?.state }}
              </mat-label>
              <mat-select
                class="p-t-12"
                (selectionChange)="onStateChange()"
                [style.width]="'100%'"
                name="state"
                formControlName="stateID"
              >
                <mat-option *ngFor="let state of states" [value]="state.stateID"
                  >{{ state.stateName | titlecase }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 box">
          <div class="select-container">
            <mat-form-field [style.width]="'100%'">
              <mat-label class="mat-label-text">
                {{ currentLanguageSet?.travel?.district }}
              </mat-label>
              <mat-select
                class="p-t-12"
                name="districtID"
                formControlName="districtID"
                (selectionChange)="onDistrictChange()"
              >
                <mat-option
                  *ngFor="let district of districts"
                  [value]="district.districtID"
                  >{{ district.districtName | titlecase }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 box">
          <div class="select-container">
            <mat-form-field [style.width]="'100%'">
              <mat-label class="mat-label-text">
                {{ currentLanguageSet?.block }}
              </mat-label>
              <mat-select
                class="p-t-12"
                (selectionChange)="onBlockChange()"
                name="blockID"
                formControlName="blockID"
              >
                <mat-option
                  *ngFor="let block of blockList"
                  [value]="block.blockID"
                  >{{ block.blockName | titlecase }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 box">
          <div class="select-container">
            <mat-form-field [style.width]="'100%'">
              <mat-label class="mat-label-text">
                {{ currentLanguageSet?.village }}
              </mat-label>
              <mat-select
                class="p-t-12"
                name="villageID"
                formControlName="villageID"
              >
                <mat-option
                  *ngFor="let village of villageList"
                  [value]="village.districtBranchID"
                  >{{ village.villageName | titlecase }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </section>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions class="padding15 margin15 pull-right">
    <button
      class="full-width-login background-overall"
      type="button"
      mat-dialog-close
      (click)="matDialogRef.close(false)"
    >
      {{ currentLanguageSet?.common?.close }}
    </button>
    <button
      class="full-width-login button-reset"
      type="button"
      (click)="resetBeneficiaryForm()"
    >
      {{ currentLanguageSet?.common?.clear }}
    </button>
    <button
      [disabled]="newSearchForm.invalid"
      class="full-width-login background-overall button-search-disabled"
      type="button"
      (click)="getSearchResult(newSearchForm.value)"
    >
      {{ currentLanguageSet?.common?.search }}
    </button>
  </mat-dialog-actions>
  <div class="clearfix"></div>
</section>
