<!-- Enterin Mobile Number for OTP generation-->
<div class="title info">
  <h4>{{ currentLanguageSet?.generateABHA }}</h4>
  <mat-icon
    class="md-24 pull-right close-btn"
    matDialogClose
    (click)="closeDialog()"
    mat-icon-button
    >close</mat-icon
  >
</div>
<div class="overlay" *ngIf="showProgressBar">
  <div class="overlay-content">
    <mat-spinner></mat-spinner>
  </div>
</div>
<br />

<div
  class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
  *ngIf="enablehealthIdOTPForm === false"
>
  <p>
    <strong
      >{{ currentLanguageSet?.registeredContactNumberIs }}
      {{ mobileNumber }}</strong
    >
  </p>
</div>

<div
  class="col-xs-12 col-sm-12"
  [formGroup]="healthIdMobileForm"
  *ngIf="enablehealthIdOTPForm === false"
>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <mat-checkbox (change)="enableMobileNo($event)"
        >{{ currentLanguageSet?.alternateNumber }}
      </mat-checkbox>
    </div>

    <div
      *ngIf="altNum === true"
      class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
    >
      <mat-form-field [style.width]="'100%'">
        <mat-label>
          {{ currentLanguageSet?.mobileNumber }}
        </mat-label>
        <input
          defaultNull
          autocomplete="off"
          allowText="number"
          required
          matInput
          minlength="10"
          maxlength="10"
          [min]="10"
          formControlName="mobileNo"
          required
        />
        <mat-error
          *ngIf="healthIdMobileForm.controls['mobileNo'].errors?.['required']"
        >
          {{ currentLanguageSet?.benDetailsAlert?.mobNoMandatory }}</mat-error
        >
        <mat-error
          *ngIf="healthIdMobileForm.controls['mobileNo'].errors?.['minlength']"
        >
          {{
            currentLanguageSet?.benDetailsAlert?.minDigitsRequired
          }}</mat-error
        >
      </mat-form-field>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <button
        [disabled]="!healthIdMobileForm.valid && altNum"
        (click)="getHealthIdOtp()"
        color="accent"
        class="pull-right font-regular f-s-18 m-t-8 full-width-login background-overall button-overall-disabled"
      >
        {{ currentLanguageSet?.generateOTP }}
      </button>
    </div>
  </div>
</div>
<br />
<!-- Entering OTP for Health ID Generation-->
<div
  *ngIf="enablehealthIdOTPForm === true"
  class="col-xs-12 col-sm-12"
  [formGroup]="healthIdOTPForm"
>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <mat-form-field [style.width]="'100%'">
        <mat-label>
          {{ currentLanguageSet?.enterOTP }}
        </mat-label>
        <input
          defaultNull
          autocomplete="off"
          required
          matInput
          type="text"
          formControlName="otp"
          minlength="6"
          maxlength="6"
          (keypress)="numberOnly($event)"
          required
        />
      </mat-form-field>
    </div>
    <div class="col-sm-12 step-btn m-b-20" style="text-align: right">
      <button
        id="cancelButton"
        mat-raised-button
        type="button"
        style="margin-right: 10px"
        color="primary"
        class="mat_blue"
        (click)="getHealthIdOtp()"
      >
        {{ currentLanguageSet?.resendOTP }}
      </button>
      <button
        id="submitButton"
        mat-raised-button
        class="mat_green"
        style="margin-right: 10px"
        [disabled]="!healthIdOTPForm.valid || !checkOTP()"
        (click)="verifyOTPOnSubmit()"
      >
        {{ currentLanguageSet?.common?.submit }}
      </button>
    </div>
  </div>
</div>
