<div *ngIf="!verify">
  <h3 class="title success">{{ currentLanguageSet?.common?.info }}</h3>
  <div class="message">
    <p>{{ currentLanguageSet?.aBHAGeneratedSuccessfully }}</p>
    <br />
    <p>
      <strong>{{ currentLanguageSet?.aBHA }}:</strong> {{ succdata.healthId }}
    </p>
    <br />
    <p>
      <strong>{{ currentLanguageSet?.aBHANumber }}:</strong>
      {{ succdata.healthIdNumber }}
    </p>
    <br /><br />
    <p class="userConsent">
      {{ currentLanguageSet?.doYouWantToDownloadABHACard }}
    </p>
  </div>
  <div style="text-align: end">
    <button
      style="
        margin-right: 10px;
        border: 1px solid lightgray;
        min-width: 88px !important;
        line-height: 36px !important;
        background-color: white !important;
      "
      mat-dialog-close
    >
      {{ currentLanguageSet?.common?.no }}
    </button>
    <button
      mat-button
      style="
        border: 1px solid lightgray;
        min-width: 88px !important;
        line-height: 36px !important;
        background-color: white !important;
        margin-right: 10px;
      "
      class="background-primary"
      cdkFocusInitial
      (click)="fetchOtp(succdata.healthId, succdata.healthIdNumber)"
    >
      {{ currentLanguageSet?.common?.yes }}
    </button>
  </div>
</div>
<div *ngIf="verify">
  <h3 class="title success">{{ currentLanguageSet?.common?.info }}</h3>
  <div class="messageotp">
    <p>{{ currentLanguageSet?.aBHAValidatedSuccessfully }}</p>
    <br />
    <p>
      <strong>{{ currentLanguageSet?.aBHA }}:</strong
      >{{ succdata.Auth.Patient.Id }}
    </p>
    <br />
    <p>
      <strong>{{ currentLanguageSet?.casesheet?.name }}:</strong>
      {{ succdata.Auth.Patient.Name }}
    </p>
    <br />
    <p>
      <strong>{{ currentLanguageSet?.bendetails?.gender }}:</strong>
      {{ genderName }}
    </p>
    <br /><br />
    <div class="action">
      <button mat-button mat-dialog-close>
        {{ currentLanguageSet?.common?.ok }}
      </button>
    </div>
  </div>
</div>
