h5 {
    font-weight: bold;
}

.mat-expansion-panel-header {
    background: rgba(37, 55, 70, 0.2);
}

.input-full-width {
    width: 100%;
}

.radio-button {
    margin-right: 25px;
}

.control-label {
    font-weight: normal;
}

.mat-form-field {
    line-height: unset;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
mat-form-field >>> .mat-mdc-text-field-wrapper {
    width: 100% !important;
}
mat-form-field >>> .mdc-text-field__input {
    width: 52.6% !important;
}
mat-select >>> .mat-mdc-select-trigger {
    width: 105% !important;
}