/* You can add global styles to this file, and also import other style files */

@import 'css/custom.css';
@import 'css/layout.css';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


@media screen  and (min-width:360px) and (max-width:430px) {
  .mat-mdc-card {
    overflow: auto ;
}
.searchBox {

  width: 360px !important;
}
button, input, optgroup, select, textarea {
 
  font-size: revert !important;
 
}
}

@media screen  and (min-width:768px) and (max-width:1024px) {
  .mat-mdc-card {
    overflow: auto ;
} 
}

.mat-body, .mat-body-2, .mat-typography .mat-body, .mat-typography .mat-body-2, .mat-typography {
 
  overflow-x: hidden !important;
}
.mat-input-placeholder,
.mat-select-placeholder,
.md2-datepicker-placeholder {
  color: #999 !important;
}

.mat-select-placeholder .ng-trigger .ng-trigger-transformPlaceholder .mat-floating-placeholder {
  color: #999 !important;
}

[disabled] .mat-select-placeholder .ng-trigger .ng-trigger-transformPlaceholder .mat-floating-placeholder .mat-input-placeholder,
[aria-disabled=true] .mat-select-placeholder,
.mat-input-placeholder {
  color: #999 !important;
}

.odd {
  background-color: #E1EAFF !important;
  border-bottom: 1px solid #ddd;
}

.action-btn-container {
  padding: 10px;
}

.box {
  height: 60px;
}

.multi-row-select {
  padding: 5px 0px;
}

.no-row {
  margin: 0 !important;
}

.cdk-overlay-container .cdk-global-overlay-wrapper .cdk-overlay-pane .mat-dialog-container {
  padding: 0px;
  overflow: hidden;
}

.cdk-overlay-container .cdk-global-overlay-wrapper .cdk-overlay-pane.preview-casesheet .mat-dialog-container {
  max-width: unset;
}

.cdk-overlay-container .cdk-global-overlay-wrapper .cdk-overlay-pane .mat-snack-bar-container {
  max-width: 240px !important;
  min-width: 180px !important;
}

.cdk-overlay-container .cdk-global-overlay-wrapper #cdk-overlay-0 {
  margin-bottom: 6px !important;
}

#cdk-overlay-0 .btn-green {
  background: green !important;
}

.btn-green:disabled {
  background: grey !important;
  cursor: not-allowed;
}

.mat_blue {
  background-color: #336CFB !important;
  border-color: unset !important;
  color: white;
  border: unset;
  border-radius: 20px;
  line-height: 36px;
  min-width: 88px;
}
.mat_blue:disabled {
  background-color: #e0e0e0 !important;
  border-color: unset !important;
  color: rgba(0, 0, 0, 0.38);
  border: unset;
  border-radius: 20px;
  line-height: 36px;
  min-width: 88px;
}
.mat_green {
  background-color: green !important;
  border-color: unset !important;
  color: white;
  border: unset;
  border-radius: 20px;
  line-height: 36px;
  min-width: 88px;
}
.mat_green:disabled {
  background-color: #e0e0e0 !important;
  border-color: unset !important;
  color: rgba(0, 0, 0, 0.38);
  border: unset;
  border-radius: 20px;
  line-height: 36px;
  min-width: 88px;
}

.mat_gray {
  background-color: #f0f0f0 !important;
  border-color: unset !important;
  color: black;
  border: unset;
  border-radius: 20px;
  line-height: 36px;
  min-width: 88px;
}

.mat_blue_circle {
  background-color: #336CFB;
  min-width: 0;
  border-radius: 50%;
  border-color: unset !important;
  color: white;
  border: unset;
  width: 40px;
  height: 40px;
  padding: 0;
  left: 20px;
  bottom: 50px;
  z-index: 3;
}
.mat_blue_circle:disabled {
  background-color: #336CFB;
  min-width: 0;
  border-radius: 50%;
  border-color: unset !important;
  color: white;
  border: unset;
  width: 40px;
  height: 40px;
  padding: 0;
  left: 20px;
  bottom: 50px;
  z-index: 3;
  opacity: 0.5 ;
}
.mat_gray_circle {
  background-color: rgba(0, 0, 0, 0.12);
  min-width: 0;
  border-radius: 50%;
  border-color: unset !important;
  color:#00000061;
  border: unset;
  width: 40px;
  height: 40px;
  padding: 0;
  left: 20px;
  bottom: 50px;
  z-index: 3;
}
.mat_warn_circle {
  background-color: #C21F1F;
  min-width: 0;
  border-radius: 50%;
  border-color: unset !important;
  color:white ;
  border: unset;
  width: 40px;
  height: 40px;
  padding: 0;
  left: 20px;
  bottom: 50px;
  z-index: 3;
}
.mat_icon_blue{
  background-color: white;
  min-width: 0;
  border-radius: 50%;
  border-color: unset !important;
  color:#336CFB ;
  border: unset;
  width: 40px;
  height: 40px;
  padding: 0;
  left: 20px;
  bottom: 50px;
  z-index: 3;
}
.matIcon-button-style {
  background-color: red;
  color: white;
  border-radius: 5px;
}
.mat_icon_white{
  background-color: #336CFB;
  min-width: 0;
  border-radius: 50%;
  border-color: unset !important;
  color:white ;
  border: unset;
  width: 40px;
  height: 40px;
  padding: 0;
  left: 20px;
  bottom: 50px;
  z-index: 3;
}

.mat-form-field {
  line-height: unset;
}

md2-datepicker {
  top: -7px;
}

hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
}

@media only screen and (max-width: 768px) {
  .registrar-menu.mat-menu-panel {
    max-width: none;
    width: 100vw;
    margin-top: 10px;
  }
  .cdk-overlay-container .cdk-global-overlay-wrapper .cdk-overlay-pane.fit-screen {
    width: 100%;
    height: 100%;
  }
  .cdk-overlay-container .cdk-global-overlay-wrapper .cdk-overlay-pane .mat-dialog-container {
    padding: 0px;
    max-width: 98vw;
    max-height: 95vh;
  }
  .vw100 {
    width: 100vw !important;
  }
}


.sw {
  float: left;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.search {
  flex: 1 1 auto;
  order: 2;
  outline: none;
  border: none;
  border-radius: 0;
  background: #fff;
  padding: 8px;
  font-family: 'Roboto', sans-serif;
  height: 40px;
  transition: all 0.05s ease-in-out;
  -webkit-appearance: none;
}

.go {
  flex: 1 1 auto;
  order: 3;
  max-width: 50px;
  display: inline-block;
  border: none;
  background: #fff;
  color: blue;
  padding-top: 6px;
  height: 40px;
  transition: all 0.05s ease-in-out;
  outline: none;
}

.m-b-40 {
  margin-bottom: 40px;
}

.mat-tab-label {
  opacity: unset !important;
}


.cdk-overlay-container .cdk-global-overlay-wrapper .cdk-overlay-pane.fit-screen {
  width: 98% !important;
  height: 88% !important;
}

.cdk-overlay-container .cdk-global-overlay-wrapper .cdk-overlay-pane.fit-screen .mat-dialog-container {
  max-width: unset;
}

.cdk-overlay-container .cdk-global-overlay-wrapper .backdrop {
  background: darkslategray;
  filter: blur(8px);
}

.cdk-overlay-container {
  position: fixed;
}

.cdk-global-overlay-wrapper {
  display: flex;
  position: absolute;
}

.cdk-overlay-pane {
  position: absolute;
  pointer-events: auto;
  box-sizing: border-box;
}

.cdk-overlay-backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: auto;
  transition: opacity 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
  opacity: 0;
}
 .mdIcon-button-style {
  background-color: red; 
  color: white; 
  border-radius: 5px;
}

.background-overall {
  background-color: #336CFB !important;
  border: 0px;
  color: #ffffff !important;
}

.button-reset {
  background-color: #C21F1F !important;
  border: 0px;
  color: #ffffff !important;
}

.mat-form-field-underline {
  background-color: #336CFB !important;
  background-size: 4px 1px;
  background-repeat: repeat-x;
  background-color: unset;
  position: absolute;
  height: 2px;
  width: 100%;
}

.mat-select-underline {
  background-color: #336CFB !important;
  background-color: unset;
  position: absolute;
  height: 2px;
  width: 100%;
}

.mat-expansion-panel-header.mat-expanded,
.mat-expansion-panel-header.mat-expanded:hover,
.mat-expansion-panel-header.mat-expanded:focus {
  background: #336CFB !important;
  border: 0px;
  color: #ffffff;
}

.mat-dialog-container {
  background: white !important;
}

.mat-expansion-panel-header-description, .mat-expansion-indicator::after {
  color: #ffffff;
}

.mat-expanded md-icon {
  color: #ffffff !important;
}

.mat-expanded .mat-expansion-indicator::after {
  color: #ffffff !important;
}
.mat-select-placeholder {
  position: relative;
  padding: 0 2px;
  transform-origin: left top;
  flex-grow: 1;
  /* line-height: 55px; */
  padding-bottom: 10px;
  margin-bottom: 15px !important;
}

.mat-expansion-panel-header {
  background: #ffffff !important;
  border: 0px;
  color: grey;
}

.mat-select-value {
  color: #52575C !important;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #336CFB !important;
}

.mat-tab-label {
  color: #52575C !important;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  z-index: 3;
  color: #ffffff !important;
  cursor: default;
  background-color: #336CFB !important;
  border-color: #336CFB !important;
}

.pagination>li>a, .pagination>li>span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #336CFB !important;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

.button-ok {
  background-color: #336CFB !important;
  border: 0px;
  color: #ffffff;
}

.mat-step-header .mat-step-icon {
  background-color: #336CFB !important;
  color: white;
}

.mat-step-header .mat-step-icon-not-touched {
  background-color: rgba(0, 0, 0, 0.38);
  color: white;
}

.mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
  background-color: #336CFB !important;
  border-radius: 30px;
  color: white !important;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.first-visit-marker {
  background: #336CFB !important;
  margin-right: 5px !important;
}

.visitStatus.first-visit::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 1px;
  width: 4px;
  background: #336CFB !important;
}

.mat-radio-button.mat-primary.mat-radio-checked .mat-radio-outer-circle {
  border-color: #336CFB !important;
}

.mat-radio-button.mat-primary .mat-radio-inner-circle {
  background-color: #336CFB !important;
}

.mat-expansion-panel-header-title.mat-expanded,
.mat-expansion-panel-header-title.mat-expanded:hover,
.mat-expansion-panel-header-title.mat-expanded:focus {
  background: #336CFB !important;
  border: 0px;
  color: #ffffff;
}

.mat-expansion-panel-header-title {
  border: 0px;
  color: #ffffff;
}

.mat-button:hover .mat-button-focus-overlay {
  opacity: 0 !important;
}

.text-field-color {
  color: #52575C !important;
}

.mat-checkbox-layout .mat-checkbox-label {
  line-height: 24px;
  color: #52575C !important;
}

.button-preview {
  background-color: #336CFB !important;
  border: 0px;
  color: #ffffff;
}

body .mat-menu-content .active {
  border-radius: 0px;
}

.mat-expansion-panel-header h4 {
  font-weight: bold;
  color: #52575C !important;
}

body md-icon.search-btn.cursorPointer.mat-icon.material-icons.ng-star-inserted {
  color: #52575C !important;
}

.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: #E1EAFF;
}

.mat-primary .mat-pseudo-checkbox-checked, .mat-primary .mat-pseudo-checkbox-indeterminate {
  background-color: #336CFB !important;
}

.button-green {
  background-color: green !important;
  border: 0px;
  color: #ffffff;
}

.mat-select-disabled .mat-select-underline {
  background-color: transparent !important;
  background-position: 0 bottom;
}

.mat-select-disabled .mat-select-value, .mat-select-arrow, .mat-select-trigger {
  color: rgba(0, 0, 0, 0.42) !important;
}


.button-overall-disabled[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.md2-pagination {
  display: block;
  color: #336CFB !important;
  user-select: none;
}

.colorpagination li.active {
  background-color: #336CFB !important;
  color: white;
  border-color: #336CFB !important;
  cursor: default;
}

.mat-form-field-underline.mat-disabled {
  background-position: 0;
  background-color: transparent !important;
}

@media (min-width: 1200px) {
  .hidden-lg .hidden-md .hidden-sm {
      display: inline-block !important;
  }
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #ffffff inset !important;
}

.mdc-text-field--filled, .mdc-text-field--focused, .mat-mdc-form-field-focus-overlay, .mat-mdc-form-field:hover .mat-mdc-form-field-focus-overlay, .mat-mdc-form-field.mat-focused .mat-mdc-form-field-focus-overlay .mat-mdc-input-element {
  background-color: unset !important;
}


.mat-mdc-dialog-container .mdc-dialog__surface {
  overflow: hidden !important;
}
.mat-mdc-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-mdc-text-field-wrapper {
  height: 48px;
}
.mat-mdc-form-field-infix {
  min-height: 45px !important;
}
.mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined) .mat-mdc-form-field-infix {
  padding-top: 24px;
  padding-bottom: unset !important;
}

.mat-label-text {
  color: #999 !important;
  font-size: 15px !important;
  font-weight: 700 !important;
  letter-spacing: initial !important;
  font-family: SF-UI-Display-Regular !important;
}
.mat-drawer-inner-container {
 
  background-color: #F2F2F0 !important;
}

.mdc-tab__text-label {
  font-size: 14px !important;
  font-weight: 750 !important;
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
  color: #52575C !important;
  letter-spacing: initial !important;
}
h5{
  font-size: 14px !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
  border-bottom-color:#336CFB !important ;
}
button.mat-button[_ngcontent-c12] {
  font-weight: bold;
}

.mat-mdc-row:hover {
  color: #0277bd !important;
}
.mat-mdc-header-cell {
  border-bottom-color: var(--mat-table-row-item-outline-color, rgba(0, 0, 0, 0.12));
  border-bottom-width: var(--mat-table-row-item-outline-width, 1px);
  border-bottom-style: solid;
  font-weight: revert !important;
  line-height: inherit;
}
.mat-expansion-panel-header-title {
  color: var(--mat-expansion-header-text-color);
  font-size: 15px;
  font-weight: 550;
}

.mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background, .mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background, .mdc-checkbox .mdc-checkbox__native-control[data-indeterminate=true]:enabled~.mdc-checkbox__background {
  border-color: #43a047 !important;
  background-color: #43a047 !important;

}
.mat-accent {
  --mat-option-selected-state-label-text-color: #43a047 !important;
}
/* .mat-mdc-form-field-error {
  margin-top: -20px !important;
} */
.background_color{
  background: #336CFB !important;
}

.mdc-form-field>label {
  font-weight: 700 !important;
}
.mdc-text-field--outlined .mdc-notched-outline {
  height: 40px !important;
}

.mat-mdc-text-field-wrapper {
  padding-left: unset !important;
}
.mdc-text-field--filled.mdc-text-field--disabled .mdc-line-ripple::before {
  border-bottom-color: #336CFB  !important;
  
  border-bottom-style: dotted !important;
  /* background-color: transparent !important;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.42) 0%, rgba(0, 0, 0, 0.42) 33%, transparent 0%) !important;
  */
}
@media only screen and (min-width:768px) and (max-width:1023px) {
	.box{
		height: auto !important;
		}
    .custom-cell{
      height: auto !important;
  }
}

.mat-mdc-checkbox label {
  font-weight: 500 !important;
  cursor: pointer;
}

.mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix{
  padding-top: 8px !important;
  padding-bottom: 15px !important;
  padding-left: 10px !important;
}

.mat-add-btn {
    background-color: #336CFB;
  border-radius: 20px;
  color: white;
  border: unset;
  line-height: 36px;
  min-width: 88px;
  z-index: 3;
}
.mat-add-btn:disabled {
  opacity: 0.5;
}
.mat-remove-btn {
  background-color: #C21F1F;
  min-width: 88px;
  border-radius: 20px;
  border: unset;
  color: white;
  line-height: 36px;
  z-index: 3;
  margin-left: 3px;
}
