<div class="row" [formGroup]="generalDiagnosisForm">
  <div class="col-xs-12 col-sm-6">
    <header class="mat-expansion-panel-header m-t-5">
      <h4
        *ngIf="
          visitCat !== 'FP & Contraceptive Services' &&
          visitCat.toLowerCase() !==
            'neonatal and infant health care services' &&
          visitCat.toLowerCase() !==
            'childhood & adolescent healthcare services'
        "
      >
        {{ current_language_set?.casesheet?.provisionalDiag }}*
      </h4>
      <h4
        *ngIf="
          visitCat === 'FP & Contraceptive Services' ||
          visitCat.toLowerCase() ===
            'neonatal and infant health care services' ||
          visitCat.toLowerCase() ===
            'childhood & adolescent healthcare services'
        "
      >
        {{ current_language_set?.casesheet?.provisionalDiag }}
      </h4>
    </header>
    <ng-container formArrayName="provisionalDiagnosisList">
      <div
        *ngFor="
          let diagnosis of getProvisionalDiagnosisList();
          let i = index;
          let isLast = last
        "
      >
        <ng-container [formGroupName]="i" class="col-12">
          <div class="row">
            <div class="col-6">
              <mat-form-field class="input-full-width">
                <input
                  matInput
                  allowText="inputFieldValidator"
                  appDiagnosisSearch
                  [diagnosisListForm]="diagnosis"
                  required
                  name="viewDiagnosisProvided"
                  formControlName="viewProvisionalDiagnosisProvided"
                  maxlength="100"
                  minlength="3"
                  [previousSelected]="
                    generalDiagnosisForm.value.provisionalDiagnosisList
                  "
                  required
                />
                <mat-icon
                  class="search-btn cursorPointer"
                  *ngIf="
                    !diagnosis.get('viewProvisionalDiagnosisProvided')?.disabled
                  "
                  matSuffix
                  appDiagnosisSearch
                  [diagnosisListForm]="diagnosis"
                  [previousSelected]="
                    generalDiagnosisForm.value.provisionalDiagnosisList
                  "
                  >search</mat-icon
                >
              </mat-form-field>
            </div>
            <div class="col-6 m-t-10" style="padding: 0px">
              <button
                mat-mini-fab
                type="button"
                style="margin-right: 3px"
                color="primary"
                class="mat-add-btn"
                *ngIf="isLast"
                [disabled]="checkProvisionalDiagnosisValidity(diagnosis)"
                (click)="addDiagnosis()"
              >
                {{ current_language_set?.common?.add }}
              </button>
              <button
                mat-mini-fab
                type="button"
                class="mat-remove-btn"
                style="margin-right: 5px"
                color="warn"
                *ngIf="
                  diagnosis.get('provisionalDiagnosisList')?.disabled ||
                  i !== 0 ||
                  (i === 0 &&
                    generalDiagnosisForm.get('provisionalDiagnosisList')?.value
                      .viewProvisionalDiagnosisProvided !== null &&
                    generalDiagnosisForm.get('provisionalDiagnosisList')?.value
                      .viewProvisionalDiagnosisProvided !== '')
                "
                (click)="removeDiagnosisFromList(i, diagnosis)"
              >
                {{ current_language_set?.common?.remove }}
              </button>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>
