<div class="m-t-10" [formGroup]="generalDiagnosisForm">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <header class="mat-expansion-panel-header m-t-5">
        <h4>{{ current_language_set?.casesheet?.provisionalDiag }}*</h4>
      </header>
      <ng-container formArrayName="provisionalDiagnosisList">
        <div
          class="col-12 row"
          *ngFor="
            let diagnosis of getProvisionalDiagnosisList();
            let i = index;
            let isLast = last
          "
        >
          <ng-container [formGroupName]="i">
            <div class="col-6 m-t-10">
              <mat-form-field class="input-full-width">
                <input
                  matInput
                  appOpenModal
                  allowText="inputFieldValidator"
                  [diagnosisListForm]="diagnosis"
                  formControlName="provisionalDiagnosis"
                  name="diagnosisProvided"
                  maxlength="100"
                  minlength="3"
                  [previousSelected]="
                    generalDiagnosisForm.value.provisionalDiagnosisList
                  "
                  required
                />
                <mat-icon
                  class="search-btn"
                  matSuffix
                  appOpenModal
                  [diagnosisListForm]="diagnosis"
                  [previousSelected]="
                    generalDiagnosisForm.value.provisionalDiagnosisList
                  "
                  >search</mat-icon
                >
              </mat-form-field>
            </div>
            <div class="col-6" style="text-align: end; margin-top: 15px">
              <button
                mat-mini-fab
                type="button"
                style="margin-right: 3px"
                *ngIf="isLast"
                [disabled]="checkProvisionalDiagnosisValidity(diagnosis)"
                color="primary"
                class="mat_blue_circle"
                (click)="addDiagnosis()"
              >
                <mat-icon>add</mat-icon>
              </button>
              <button
                mat-mini-fab
                type="button"
                color="warn"
                class="mat_warn_circle"
                *ngIf="
                  diagnosis.get('provisionalDiagnosis')?.disabled ||
                  i !== 0 ||
                  (i === 0 &&
                    generalDiagnosisForm.get('provisionalDiagnosisList')?.value
                      .provisionalDiagnosis !== null &&
                    generalDiagnosisForm.get('provisionalDiagnosisList')?.value
                      .provisionalDiagnosis !== '')
                "
                (click)="deleteDiagnosis(i, diagnosis)"
              >
                <mat-icon>close</mat-icon>
              </button>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
</div>
