<!-- {{ referForm.value | json}} -->
<mat-expansion-panel [formGroup]="referForm" expanded="true">
  <mat-expansion-panel-header>
    <h5>{{ currentLanguageSet?.Referdetails?.revisitAndRefer }}</h5>
  </mat-expansion-panel-header>
  <div class="m-t-20">
    <div class="p-l-10" *ngIf="visitCategory === 'NCD screening'">
      <p
        *ngIf="showMsg > 0 && !healthCareReferred && instituteFlag === true"
        style="color: red"
      >
        *
        {{
          currentLanguageSet?.Referdetails
            ?.pleaseReferthePatientToHigherHealthCareCenter
        }}
      </p>
      <br />
    </div>

    <div
      class="row m-t-5"
      *ngIf="
        referredVisitcode !== 'undefined' &&
        referredVisitcode !== undefined &&
        referredVisitcode !== null
      "
    >
      <div class="col-sm-12 step-btn m-b-10">
        <button
          mat-raised-button
          color="primary"
          class="pull-right"
          (click)="loadMMUReferDeatils()"
        >
          {{ currentLanguageSet?.Referdetails?.mMUReferralDetails }}
        </button>
      </div>
    </div>

    <div *ngIf="visitCategory === 'NCD screening'">
      <div class="row text-right">
        <mat-label class="font-history-label m-t-10">{{
          currentLanguageSet?.Referdetails?.previousReferralHistory
        }}</mat-label>
        <button
          type="button"
          mat-icon-button
          matTooltip="{{ currentLanguageSet?.previousReferredDetails }}"
          id="PreviousReferralHistory"
          class="pull-right"
          color="primary"
          (click)="getPreviousReferralHistory()"
        >
          <mat-icon class="md-18">history</mat-icon>
        </button>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 alignment">
        {{ currentLanguageSet?.Referdetails?.higherhealthcarecenter
        }}{{ showMsg > 0 && instituteFlag === true ? "*" : "" }}
      </div>

      <div class="col-sm-6 col-md-3 box">
        <mat-select
          class="inputFieldWidth"
          placeholder="{{
            currentLanguageSet?.Referdetails?.referredtoinstitute
          }}"
          (ngModelChange)="higherhealthcarecenter($event)"
          name="referredToInstituteName"
          formControlName="referredToInstituteName"
        >
          <mat-option (click)="setInstituteNameValue()" value="select none"
            >Select None</mat-option
          >
          <mat-option
            *ngFor="let center of higherHealthcareCenter"
            [value]="center"
            >{{ center.institutionName }}</mat-option
          >
        </mat-select>
      </div>

      <div
        class="box col-xs-12 col-sm-6 col-md-3 col-lg-3 pull-right"
        *ngIf="
          enableOtherHigherInstitute &&
          visitCategory.toLowerCase() === 'fp & contraceptive services'
        "
      >
        <mat-form-field class="input-full-width">
          <input
            autocomplete="off"
            matInput
            defaultNull
            maxlength="100"
            placeholder="{{ currentLanguageSet?.other }}"
            allowText="alphaspace"
            formControlName="otherReferredToInstituteName"
            name="otherReferredToInstituteName"
          />
        </mat-form-field>
      </div>
    </div>

    <div
      class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
      *ngIf="visitCategory.toLowerCase() !== 'fp & contraceptive services'"
    >
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 alignment">
        {{ currentLanguageSet?.Referdetails?.additionalservices }}
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <mat-select
          class="inputFieldWidth"
          placeholder="{{
            currentLanguageSet?.Referdetails?.additionalservices
          }}"
          (ngModelChange)="additionalservices($event)"
          multiple="true"
          name="refrredToAdditionalServiceList"
          formControlName="refrredToAdditionalServiceList"
        >
          <mat-option
            *ngFor="let service of additionalServices"
            [value]="service.serviceName"
            [disabled]="canDisable(service)"
          >
            {{ service.serviceName }}</mat-option
          >
        </mat-select>
      </div>
    </div>
    <div
      class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
      *ngIf="
        visitCategory.toLowerCase() !== 'fp & contraceptive services' &&
        visitCategory.toLowerCase() !== 'ncd screening'
      "
    >
      <div
        *ngIf="selectValue > 0 || selectValueService > 0; else elseBlock"
        class="col-xs-6 col-sm-6 col-md-6 col-lg-6 alignment"
      >
        {{ currentLanguageSet?.Referdetails?.referralReason }}*
      </div>
      <ng-template #elseBlock>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 alignment">
          {{ currentLanguageSet?.Referdetails?.referralReason }}
        </div>
      </ng-template>
      <div
        *ngIf="selectValue > 0 || selectValueService > 0; else elseBlockText"
        class="col-xs-6 col-sm-6 col-md-6 col-lg-6"
      >
        <mat-input-container class="referreason" class="inputFieldWidth">
          <textarea
            matInput
            allowText="textAreaValidator"
            matTextareaAutosize
            required="true"
            formControlName="referralReason"
            name="Remarks"
            maxLength="300"
          ></textarea>
        </mat-input-container>
      </div>

      <ng-template #elseBlockText>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <mat-input-container class="referreason" style="width: 220px">
            <textarea
              matInput
              allowText="textAreaValidator"
              matTextareaAutosize
              formControlName="referralReason"
              name="Remarks"
              maxLength="300"
            ></textarea>
          </mat-input-container>
        </div>
      </ng-template>
    </div>

    <div
      class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-20"
      *ngIf="
        visitCategory.toLowerCase() === 'fp & contraceptive services' ||
        visitCategory.toLowerCase() === 'ncd screening'
      "
    >
      <div
        *ngIf="selectValue > 0 || selectValueService > 0; else elseBlock"
        class="col-xs-6 col-sm-6 col-md-6 col-lg-6 alignment"
      >
        {{ currentLanguageSet?.Referdetails?.referralReason }}*
      </div>
      <ng-template #elseBlock>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 alignment">
          {{ currentLanguageSet?.Referdetails?.referralReason }}
        </div>
      </ng-template>

      <div
        class="col-xs-6 col-sm-6 col-md-3 col-lg-3"
        *ngIf="selectValue > 0 || selectValueService > 0; else elseBlockText"
      >
        <mat-select
          multiple
          class="inputFieldWidth"
          name="referralReasonList"
          formControlName="referralReasonList"
          (change)="
            checkForOthersOption(referForm.controls.referralReasonList.value)
          "
          placeholder="{{ currentLanguageSet?.Referdetails?.referralReason }}"
          required
        >
          <mat-option *ngFor="let refer of fpReferral" [value]="refer.name">
            {{ refer.name }}
          </mat-option>
        </mat-select>
      </div>
      <ng-template #elseBlockText>
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
          <mat-select
            multiple
            class="inputFieldWidth"
            name="referralReasonList"
            formControlName="referralReasonList"
            (change)="
              checkForOthersOption(referForm.controls.referralReasonList.value)
            "
            placeholder="{{ currentLanguageSet?.Referdetails?.referralReason }}"
          >
            <mat-option
              class="dropdownHeight"
              *ngFor="let refer of fpReferral"
              [value]="refer.name"
            >
              {{ refer.name }}
            </mat-option>
          </mat-select>
        </div>
      </ng-template>

      <div
        class="box col-xs-12 col-sm-6 col-md-3 col-lg-3 pull-right"
        *ngIf="enableOthersReferralTextField"
      >
        <mat-form-field class="input-full-width">
          <input
            autocomplete="off"
            matInput
            defaultNull
            maxlength="100"
            placeholder="{{ currentLanguageSet?.other }}"
            allowText="alphaspace"
            formControlName="otherReferralReason"
            name="otherReferralReason"
          />
        </mat-form-field>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-10">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 alignment">
        {{ currentLanguageSet?.Referdetails?.revisitDate }}
      </div>
      <div
        class="col-xs-6 col-sm-6 col-md-6 col-lg-6"
        style="padding-left: 0px; width: 280px"
      >
        <mat-form-field [style.width]="'100%'">
          <mat-label class="mat-label-text">{{
            currentLanguageSet?.Referdetails?.revisitDate
          }}</mat-label>
          <input
            matInput
            [max]="maxSchedulerDate"
            [matDatepicker]="picker"
            formControlName="revisitDate"
            [min]="tomorrow"
            (change)="checkdate(revisitDate)"
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </div>
</mat-expansion-panel>
