<mat-expansion-panel [formGroup]="referForm" expanded="true">
  <mat-expansion-panel-header>
    <h5>{{ currentLanguageSet?.Referdetails?.revisitAndRefer }}</h5>
  </mat-expansion-panel-header>
  <div class="m-t-20">
    <div *ngIf="visitCategory === 'NCD screening'">
      <mat-label
        class="mat-label-text"
        *ngIf="showMsg > 0 && !healthCareReferred && instituteFlag === true"
        style="color: red"
      >
        *
        {{
          currentLanguageSet?.Referdetails
            ?.pleaseReferthePatientToHigherHealthCareCenter
        }}</mat-label
      ><br />
      <mat-label
        class="mat-label-text"
        *ngIf="tmcSuggested > 0"
        style="color: red"
      >
        *
        {{
          currentLanguageSet?.Referdetails?.teleConsultationIsSuggested
        }}</mat-label
      >
    </div>

    <div *ngIf="visitCategory === 'NCD screening'">
      <div class="col-12" style="text-align: end">
        <mat-label class="mat-label-text" class="font-history-label">{{
          currentLanguageSet?.Referdetails?.previousReferralHistory
        }}</mat-label>
        <button
          type="button"
          mat-icon-button
          matTooltip="{{ currentLanguageSet?.previousReferredDetails }}"
          id="PreviousReferralHistory"
          class="mat_icon_blue"
          color="primary"
          (click)="getPreviousReferralHistory()"
        >
          <mat-icon class="md-18">history</mat-icon>
        </button>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="display: flex">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 alignment">
        {{ currentLanguageSet?.Referdetails?.higherhealthcarecenter }}
        {{ showMsg > 0 && instituteFlag === true ? "*" : "" }}
      </div>
      <div class="col-sm-6 col-md-3 box">
        <mat-form-field [style.width]="'100%'">
          <mat-label class="mat-label-text">{{
            currentLanguageSet?.Referdetails?.referredtoinstitute
          }}</mat-label>
          <mat-select
            style="width: 220px"
            (ngModelChange)="higherhealthcarecenter($event)"
            name="referredToInstituteName"
            formControlName="referredToInstituteName"
          >
            <mat-option
              *ngFor="let center of higherHealthcareCenter"
              [value]="center"
              >{{ center.institutionName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="display: flex">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 alignment">
        {{ currentLanguageSet?.Referdetails?.additionalservices }}
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <mat-form-field [style.width]="'100%'">
          <mat-label class="mat-label-text">{{
            currentLanguageSet?.Referdetails?.additionalservices
          }}</mat-label>
          <mat-select
            style="width: 220px"
            (ngModelChange)="additionalservices($event)"
            multiple="true"
            name="refrredToAdditionalServiceList"
            formControlName="refrredToAdditionalServiceList"
          >
            <mat-option
              *ngFor="let service of additionalServices"
              [value]="service"
              [disabled]="canDisable(service)"
            >
              {{ service.serviceName }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="display: flex">
      <div
        class="col-xs-6 col-sm-6 col-md-6 col-lg-6 alignment"
        *ngIf="selectValue > 0 || selectValueService > 0; else elseBlock"
      >
        {{ currentLanguageSet?.Referdetails?.referralReason }}*
      </div>

      <ng-template #elseBlock>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 alignment">
          {{ currentLanguageSet?.Referdetails?.referralReason }}
        </div>
      </ng-template>
      <div
        class="col-xs-6 col-sm-6 col-md-6 col-lg-6"
        *ngIf="selectValue > 0 || selectValueService > 0; else elseBlockText"
      >
        <mat-form-field [style.width]="'100%'">
          <textarea
            matInput
            allowText="textAreaValidator"
            matTextareaAutosize
            required="true"
            formControlName="referralReason"
            name="Remarks"
            maxLength="300"
          ></textarea>
        </mat-form-field>
      </div>
      <ng-template #elseBlockText>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <mat-form-field [style.width]="'100%'">
            <textarea
              matInput
              allowText="textAreaValidator"
              matTextareaAutosize
              formControlName="referralReason"
              name="Remarks"
              maxLength="300"
            ></textarea>
          </mat-form-field>
        </div>
      </ng-template>
    </div>
    <!--Revisit Date Added-->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="display: flex">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 alignment">
        {{ currentLanguageSet?.Referdetails?.revisitDate }}
      </div>
      <div
        class="col-xs-6 col-sm-6 col-md-6 col-lg-6"
        style="padding-left: 0px; width: 280px"
      >
        <mat-form-field [style.width]="'100%'">
          <mat-label class="mat-label-text">{{
            currentLanguageSet?.Referdetails?.revisitDate
          }}</mat-label>
          <input
            matInput
            [max]="maxSchedulerDate"
            [matDatepicker]="picker"
            formControlName="revisitDate"
            [min]="tomorrow"
            (change)="checkdate(revisitDate)"
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </div>
</mat-expansion-panel>
