<mat-expansion-panel [formGroup]="referForm" expanded="true">
  <mat-expansion-panel-header>
    <h5>{{ currentLanguageSet?.Referdetails?.revisitAndRefer }}</h5>
  </mat-expansion-panel-header>
  <div class="m-t-20">
    <div class="p-l-10" *ngIf="visitCategory === 'NCD screening'">
      <p
        *ngIf="showMsg > 0 && !healthCareReferred && instituteFlag === true"
        style="color: red"
      >
        *
        {{
          currentLanguageSet?.Referdetails
            ?.pleaseReferthePatientToHigherHealthCareCenter
        }}
      </p>
      <br />
    </div>

    <div
      class="row m-t-5"
      *ngIf="
        referredVisitcode !== 'undefined' &&
        referredVisitcode !== undefined &&
        referredVisitcode !== null
      "
    >
      <div class="col-sm-12 step-btn m-b-10">
        <button
          mat-raised-button
          color="primary"
          class="pull-right"
          (click)="loadMMUReferDeatils()"
        >
          {{ currentLanguageSet?.Referdetails?.mMUReferralDetails }}
        </button>
      </div>
    </div>

    <div *ngIf="visitCategory === 'NCD screening'">
      <div class="col-12" style="text-align: end">
        <mat-label class="font-history-label m-t-10 mat-label-text">{{
          currentLanguageSet?.Referdetails?.previousReferralHistory
        }}</mat-label>
        <button
          type="button"
          mat-icon-button
          matTooltip="{{ currentLanguageSet?.previousReferredDetails }}"
          id="PreviousReferralHistory"
          class="mat_icon_blue"
          color="primary"
          (click)="getPreviousReferralHistory()"
        >
          <mat-icon class="md-18">history</mat-icon>
        </button>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="display: flex">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 alignment">
        {{ currentLanguageSet?.Referdetails?.higherhealthcarecenter
        }}{{ showMsg > 0 && instituteFlag === true ? "*" : "" }}
      </div>

      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 box">
        <mat-form-field [style.width]="'50%'">
          <mat-label class="mat-label-text">{{
            currentLanguageSet?.Referdetails?.referredtoinstitute
          }}</mat-label>
          <mat-select
            (ngModelChange)="higherhealthcarecenter($event)"
            name="referredToInstituteName"
            formControlName="referredToInstituteName"
          >
            <mat-option (click)="setInstituteNameValue()" value="select none"
              >Select None</mat-option
            >
            <mat-option
              *ngFor="let center of higherHealthcareCenter"
              [value]="center"
              >{{ center.institutionName }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>

      <div
        class="box col-xs-12 col-sm-6 col-md-3 col-lg-3 pull-right"
        style="display: flex"
        *ngIf="
          enableOtherHigherInstitute &&
          visitCategory.toLowerCase() === 'fp & contraceptive services'
        "
      >
        <mat-form-field [style.width]="'50%'">
          <mat-label>{{ currentLanguageSet?.other }}</mat-label>
          <input
            autocomplete="off"
            matInput
            defaultNull
            maxlength="100"
            allowText="alphaspace"
            formControlName="otherReferredToInstituteName"
            name="otherReferredToInstituteName"
          />
        </mat-form-field>
      </div>
    </div>
    <div
      class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
      style="display: flex"
      *ngIf="
        visitCategory.toLowerCase() !== 'fp & contraceptive services' &&
        visitCategory.toLowerCase() !== 'ncd screening'
      "
    >
      <div
        *ngIf="selectValue > 0 || selectValueService > 0; else elseBlock"
        class="col-xs-6 col-sm-6 col-md-6 col-lg-6 alignment"
      >
        {{ currentLanguageSet?.Referdetails?.referralReason }}*
      </div>
      <ng-template #elseBlock>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 alignment">
          {{ currentLanguageSet?.Referdetails?.referralReason }}
        </div>
      </ng-template>
      <div
        *ngIf="selectValue > 0 || selectValueService > 0; else elseBlockText"
        class="col-xs-6 col-sm-6 col-md-6 col-lg-6"
      >
        <mat-form-field class="referreason" [style.width]="'50%'">
          <textarea
            matInput
            allowText="textAreaValidator"
            matTextareaAutosize
            required="true"
            formControlName="referralReason"
            name="Remarks"
            maxLength="300"
          ></textarea>
        </mat-form-field>
      </div>

      <ng-template #elseBlockText>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <mat-form-field class="referreason" [style.width]="'50%'">
            <textarea
              matInput
              allowText="textAreaValidator"
              matTextareaAutosize
              formControlName="referralReason"
              name="Remarks"
              maxLength="300"
            ></textarea>
          </mat-form-field>
        </div>
      </ng-template>
    </div>

    <div
      class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
      style="display: flex"
      *ngIf="visitCategory.toLowerCase() !== 'fp & contraceptive services'"
    >
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 alignment">
        {{ currentLanguageSet?.Referdetails?.additionalservices }}
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <mat-form-field [style.width]="'50%'">
          <mat-label class="mat-label-text">{{
            currentLanguageSet?.Referdetails?.additionalservices
          }}</mat-label>
          <mat-select
            (ngModelChange)="additionalservices($event)"
            multiple="true"
            name="refrredToAdditionalServiceList"
            formControlName="refrredToAdditionalServiceList"
          >
            <mat-option
              *ngFor="let service of additionalServices"
              [value]="service.serviceName"
              [disabled]="canDisable(service)"
            >
              {{ service.serviceName }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div
      class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-20"
      style="display: flex"
      *ngIf="
        visitCategory.toLowerCase() === 'fp & contraceptive services' ||
        visitCategory.toLowerCase() === 'ncd screening'
      "
    >
      <div
        *ngIf="selectValue > 0 || selectValueService > 0; else elseBlock"
        class="col-xs-6 col-sm-6 col-md-6 col-lg-6 alignment"
      >
        {{ currentLanguageSet?.Referdetails?.referralReason }}*
      </div>
      <ng-template #elseBlock>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 alignment">
          {{ currentLanguageSet?.Referdetails?.referralReason }}
        </div>
      </ng-template>

      <div
        class="col-xs-6 col-sm-6 col-md-3 col-lg-3"
        *ngIf="selectValue > 0 || selectValueService > 0; else elseBlockText"
      >
        <mat-form-field [style.width]="'50%'">
          <mat-label class="mat-label-text">{{
            currentLanguageSet?.Referdetails?.referralReason
          }}</mat-label>
          <mat-select
            multiple
            class="inputFieldWidth"
            name="referralReasonList"
            formControlName="referralReasonList"
            (selectionChange)="
              checkForOthersOption(
                referForm.controls['referralReasonList'].value
              )
            "
            required
          >
            <mat-option *ngFor="let refer of fpReferral" [value]="refer.name">
              {{ refer.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <ng-template #elseBlockText>
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
          <mat-form-field [style.width]="'50%'">
            <mat-label>
              {{ currentLanguageSet?.Referdetails?.referralReason }}</mat-label
            >
            <mat-select
              multiple
              class="inputFieldWidth"
              name="referralReasonList"
              formControlName="referralReasonList"
              (selectionChange)="
                checkForOthersOption(
                  referForm.controls['referralReasonList'].value
                )
              "
            >
              <mat-option
                class="dropdownHeight"
                *ngFor="let refer of fpReferral"
                [value]="refer.name"
              >
                {{ refer.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </ng-template>

      <div
        class="box col-xs-12 col-sm-6 col-md-3 col-lg-3 pull-right"
        *ngIf="enableOthersReferralTextField"
      >
        <mat-form-field [style.width]="'50%'">
          <mat-label>{{ currentLanguageSet?.other }}</mat-label>
          <input
            autocomplete="off"
            matInput
            defaultNull
            maxlength="100"
            allowText="alphaspace"
            formControlName="otherReferralReason"
            name="otherReferralReason"
          />
        </mat-form-field>
      </div>
    </div>

    <div
      class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-10"
      style="display: flex"
    >
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 alignment">
        {{ currentLanguageSet?.Referdetails?.revisitDate }}
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <mat-form-field [style.width]="'50%'">
          <mat-label class="mat-label-text">{{
            currentLanguageSet?.Referdetails?.revisitDate
          }}</mat-label>
          <input
            matInput
            [max]="maxSchedulerDate"
            [matDatepicker]="picker"
            formControlName="revisitDate"
            [min]="tomorrow"
            (dateChange)="checkdate($event.value)"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </div>
</mat-expansion-panel>
