h5{
    font-weight: bold;
}

.mat-expansion-panel-header{
    background: rgba(37,55,70,0.2);
}

.input-full-width {
    width: 100%;
}

.radio-button{
    margin-right : 25px;
}

.control-label{
    font-weight: normal;
}

.mat-form-field {
    line-height: unset;
}

.box {
    height: 60px;
}
.multi_row_select{
    padding: 10px 0px; 
}
mat-form-field  >>>
.mdc-text-field--filled, .mdc-text-field--focused {
    background-color: #f0f5f5 !important;
}
mat-form-field >>> .mat-mdc-text-field-wrapper {
    height:unset !important;
}