<div class="container-fluid">
  <mat-tab-group (focusChange)="tabChanged($event)">
    <mat-tab label="{{ currentLanguageSet?.nurse_tabs?.visit }}">
      <app-nurse-worklist></app-nurse-worklist>
    </mat-tab>
    <mat-tab label="{{ currentLanguageSet?.nurse_tabs?.current }}">
      <app-nurse-tm-worklist></app-nurse-tm-worklist>
    </mat-tab>
    <mat-tab label="{{ currentLanguageSet?.nurse_tabs?.future }}">
      <app-nurse-tm-future-worklist></app-nurse-tm-future-worklist>
    </mat-tab>

    <mat-tab label="{{ currentLanguageSet?.nurse_tabs?.referred }}">
      <app-nurse-mmu-tm-referred-worklist></app-nurse-mmu-tm-referred-worklist>
    </mat-tab>

    <mat-tab label="{{ currentLanguageSet?.nurse104Referred }}">
      <app-nurse-104-reffered-worklist></app-nurse-104-reffered-worklist>
    </mat-tab>
  </mat-tab-group>
</div>
