name: Package
on:
  push:
    branches: [ "develop" ]
    
jobs:
  Package:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write

    strategy:
      fail-fast: false
    steps:
      
    - name: Checkout code
      uses: actions/checkout@v3
      with:
        submodules: true  # Include submodules
        fetch-depth: 0    # Ensure the full history is fetched

    - name: Update submodules
      run: git submodule update --init --recursive
        

    - name: Set up Java
      uses: actions/setup-java@v3
      with:
          java-version: '17'
          distribution: 'adopt'

    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
          node-version: 18      
          
    - name: Build with NPM and Maven
      run: |
            npm config set legacy-peer-deps true
            npm install -g @angular/cli
            npm install typescript@5.1.3 --save-dev
            npm install ng2-smart-table@1.2.1
            npm install node-sass
            npm install --force
            npm run build
        
    - name: Create WAR file 
      run: jar -cvf hwc-ui-next.war -C dist .
      
    - name: Upload WAR file as artifact
      uses: actions/upload-artifact@v2 
      with:
        name: HWC-UI
        path: hwc-ui-next.war 
