<mat-accordion [formGroup]="patientANCForm">
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <h5>{{ current_language_set?.ancData?.ancDetails }}</h5>
    </mat-expansion-panel-header>
    <nurse-anc-details
      [patientANCDetailsForm]="patientANCForm.controls.patientANCDetailsForm"
    ></nurse-anc-details>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <h5>
        {{ current_language_set?.ancData?.obstetricDeatils?.obstetricFormula }}
      </h5>
    </mat-expansion-panel-header>
    <nurse-obstetric-formula
      [gravidaStatus]="gravidaStatus"
      [mode]="mode"
      [obstetricFormulaForm]="patientANCForm.controls.obstetricFormulaForm"
    ></nurse-obstetric-formula>
  </mat-expansion-panel>
  <mat-expansion-panel
    *ngIf="gravidaStatus !== null && gravidaStatus !== undefined"
  >
    <mat-expansion-panel-header>
      <h5>{{ current_language_set?.ancData?.ancImmune?.ancImmunization }}</h5>
    </mat-expansion-panel-header>
    <nurse-anc-immunization
      [gravidaStatus]="gravidaStatus"
      [mode]="mode"
      [patientANCImmunizationForm]="
        patientANCForm.controls.patientANCImmunizationForm
      "
    ></nurse-anc-immunization>
  </mat-expansion-panel>
</mat-accordion>
