<app-header [showRoles]="false"></app-header>

<mat-grid-list cols="1" rowHeight="650px" (mouseup)="hidePWD()">
  <mat-grid-tile>
    <mat-card
      style="
        width: 400px;
        height: 400px;
        margin-left: 10px;
        margin-right: 10px;
        padding: 24px;
      "
    >
      <mat-card-title>
        <div class="text-center">
          <img src="assets/images/Swasthya.png" alt="Logo" />
        </div>
        <div class="text-center">
          <h4 class="f-s-24" style="margin-top: 10px">Account Support</h4>
          <h5 style="font-size: 16px">
            Follow the steps to change/reset the password
          </h5>
        </div>
      </mat-card-title>
      <mat-card-content>
        <div class="row">
          <form #passwordFields="ngForm">
            <div class="row" fxLayoutAlign="start end">
              <div class="col-xs-1 col-md-1 col-sm-1 m-t-15">
                <span class="material-icons" style="color: gray">lock</span>
              </div>
              <div class="col-xs-11 col-md-11 col-sm-11 mat_field">
                <mat-form-field class="full-width">
                  <input
                    autocomplete="off"
                    matInput
                    type="{{ dynamictype }}"
                    id="password"
                    placeholder="New Password"
                    [(ngModel)]="newpwd"
                    name="newpwd"
                    required
                  />
                  <mat-icon
                    matSuffix
                    class="mat-icon material-icons cursorPointer"
                    role="img"
                    aria-hidden="true"
                    mdTooltip="Show Password"
                    (mousedown)="showPWD()"
                    style="color: gray"
                    >visibility</mat-icon
                  >
                </mat-form-field>
              </div>
            </div>

            <div class="row" fxLayoutAlign="start end">
              <div class="col-xs-1 col-md-1 col-sm-1 m-t-15">
                <span class="material-icons" style="color: gray">lock</span>
              </div>
              <div class="col-xs-11 col-md-11 col-sm-11 mat_field">
                <mat-form-field class="full-width">
                  <input
                    autocomplete="off"
                    matInput
                    type="{{ dynamictype }}"
                    id="password"
                    placeholder="Confirm Password"
                    [(ngModel)]="confirmpwd"
                    name="confirmpwd"
                    required
                  />
                  <mat-icon
                    matSuffix
                    class="mat-icon material-icons cursorPointer"
                    role="img"
                    aria-hidden="true"
                    mdTooltip="Show Password"
                    (mousedown)="showPWD()"
                    style="color: gray"
                    >visibility</mat-icon
                  >
                </mat-form-field>
              </div>
            </div>
          </form>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <button
              style="margin: 0px 20px 20px 20px"
              type="button"
              mat-raised-button
              color="accent"
              [disabled]="!passwordFields.valid"
              class="full-width mat_green"
              (click)="updatePassword(newpwd)"
            >
              Change Password
            </button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<app-footer></app-footer>
