.flex-container {
    height: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.logoAlign {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.forgotPassword{
    float: right;
    margin-right: 75px;
    margin-top: 20px;
}

.matCardSonar {
    width: 400px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    margin-top: 50px;
}

.formIcons {
    padding-top: 30px;
    color: gray;
}

form {
    margin-top: 10px;
    font-size: 17px;
}

button {
    font-size: 15px;
}

button.submit {
    background: #336CFB;
}

.forgotBtn {
    margin: 10px;
}


mat-card-title {
    text-align: center;
    font-size: 25px;
}

.full-width {
    margin-top: 10px;
    margin-bottom: 10px;
}

.text-input-fullwidth {
    width: 80%;
}

.errorStyle {
    position: absolute;
    font-size: 12px;
    transition: all .7s;
    color: #F44336;
}

.loader-overlay {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}

.googleBtn {
    background-color: #F44336;
    color: white;
}

.fbBtn {
    background-color: #336CFB;
    color: white;
}


/*for smaller screens*/
@media (min-width: 10px) {
    mat-card {
        top: 30px;
    }
}


/*for Medium screens*/
@media (min-width: 480px) {
    mat-card {
        top: 0px;
    }
}

/*for large screens*/
@media (min-width: 768px) {
    mat-card {
        top: 0px;
    }
}

.btn-center {
    text-align: center;
    margin-top: 20px !important;
}

.full-width-login {
    width: 80%;
    margin-left: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    color: white;
    border: none;
    height: 35px;
    border-radius: 10px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.justify-content-between {
    justify-content: space-between;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #e1eaff inset !important;
    border: unset;
}

input::-ms-reveal,
input::-ms-clear {
    display: none;
}




/* @media screen  and (min-width:768px) and (max-width:1024px) {
    
} */
@media screen  and (min-width:360px) and (max-width:430px) {
    .screen_adjustment {
        width: 100% !important;
        margin-left: -50px !important;
    } 
}

/* .sr-only is a visually hidden class but useful for screen readers */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    white-space: nowrap;
  }


.disabledLoginButton {
    background-color: #ccc !important;
    color: #666 !important;
    cursor: not-allowed;
    box-shadow: none !important;
}